[2017-06-11 21:48] paviro commented on #906
This is not related to the core system. Please head to the forum for further questions.

[2017-06-11 21:55] fewieden commented on #906
looks like a duplicate of https://github.com/fewieden/MMM-voice/issues/12

[2017-06-12 18:28] kenjix95 opened #917 "Black Screen + Error launch MM.... No issue on web"
Hi,

i'm on an Orange PI, i follow all instruction with this link : https://github.com/MichMich/MagicMirror/tree/develop

I launch MM² in the directory with npm start, but juste a Black Screen appear and nothing else...

i saw on the web maybe its the Version of MM², i try to downgrade Node & Npm version with
`

[code]

`

[code]

If somebody have issue or soluce

[2017-06-12 18:55] kenjix95 commented on #917
i solve this

cd MagicMirror/vendor
npm install

i reboot my OPI

a run MagicMirror and TADAM !

but it's in english ^^

I go to find some French module

[2017-06-12 19:29] rejas commented on #917
FYI: if the error logs say something like this:
`{ Error: listen EADDRINUSE :::8080`
be sure that no other instance of MagicMirror (or any other program) is already running and blocking the port 8080. Thats why rebooting might have solved it for you.

[2017-06-12 19:41] kenjix95 commented on #917
i've clean my SD Card,

just i have install vncserver

[2017-06-14 00:29] micherlinman opened #920 "Stretch module to display border"
My display is smaller than my mirror. Between the display border and the module border is a lot of unused space on the display. Is there a way to let the modules float to the display border?

[2017-06-14 08:32] fewieden commented on #920
you have to put the following lines of code into `~/MagicMirror/css/custom.css`

[code]

[2017-06-14 10:53] micherlinman commented on #920
Thanks!

[2017-06-14 16:38] jjedele commented on #914
We are actually having the problem. Set the zoom in config to 2.0, changed it back but it just stayed zoomed. We even used a completely new clone of MagicMirror and the problem persisted, so it might be something in the Electron cache or something.

Setting the zoom in the CSS file worked.

[2017-06-18 14:05] #906 closed

[2017-06-18 17:28] QNimbus opened #922 "Feature: Allow for server to be run remotely instead of on localhost"
As the title says. I would like to make some changes to allow for the node server to be run on a different server/network location than the electron client. Specifying the server ip/hostname would be a configurable option with a default of 'localhost'.

The server would be started by running `npm serveronly` on the remote location. The app (client) will decide if it needs to start the server (e.g.

[2017-06-18 20:16] ezar commented on #922
+1

[2017-06-19 08:44] rejas commented on #922
+1

[2017-06-19 16:37] roramirez commented on #910
Hi @wbleek

Please send a Pull Request with the correction for that.

Thanks

[2017-06-19 16:38] roramirez commented on #920
Hi @micherlinman, Please close the issue.

Thanks.

[2017-06-19 16:43] #920 closed

[2017-06-19 22:50] RamblingGeekUK commented on #839
I was trying to use ical from outlook.com and it didn't work until I replaced the .js files provided by @coderaaron and @DutchDynamics, thanks!

[2017-06-21 14:19] MichMich commented on #922
It might be a good idea to investigate the amount of work that needs to be done before you start this overhaul. If this is doable with a few minor changes, feel free to send a PR.

[2017-06-21 14:20] #917 closed

[2017-06-21 17:14] roramirez commented on #922
Sound good for me +1. Today you can set the address where the server can start. Only I see the part is missing is say to client app (electron) address where to get the data, maybe ws could be hard part of this work.

[2017-06-21 19:04] jukums commented on #914
Ok, got same problem…
Connecting the keyboard and hitting Ctrl+0 to reset zoom seemed to work.
Seems that zoom value is being cached somewhere…

[2017-06-22 06:21] olexs commented on #914
There is a mechanism to cache zoom values per domain in Chrome/Chromium, this might have made its way into some versions of Electron as well and be interfering with MM settings. Could you post the specific versions and system you're running? I'll try and reproduce, since I introduced the zoom feature in the first place I might as well try and fix it :)

[2017-06-23 11:44] QNimbus commented on #922
It will be more work than I had anticipated because the client and server are more intertwined than I had originally thought. However it is possible and I would still like to have a shot at doing this if everyone is on board with this idea/feature.

To get the config from the server to the client (and to prevent having two separate config files) I found a really neat way of using a cookie (that ge

[2017-06-23 16:09] ezar commented on #922
+1

[2017-06-26 09:26] talkinnsmak opened #925 "Perpetually growing array in default Compliments module"
**Platform**: Raspberry Pi 3, Raspbian Jessie

**Node Version**: v6.11.0

**MagicMirror Version**: v2

**Description**: In compliments.js, the complimentArray function:
At the top of the function, var compliments is declared, then assigned to a compliment array based on one of the time of day categories, morning/afternoon/evening. Further down, the "anytime" compliment array is pushed onto the bac

[2017-06-26 09:51] QNimbus commented on #925
For what it's worth, I was able to reproduce the issue you address in the 'master' branch. In the 'develop' branch I'm not able to reproduce it. I will check the changes to the `compliments` module to confirm why or how this was fixed.

On a related note - maybe it's time to release a new version because there have been quite a few issues reported recently that seem to occur in the 'master' (relea

[2017-06-26 10:56] QNimbus commented on #776
This issue has been open quite some time; To me it seems that the `config.timeFormat` config option if given, should be respected over the `config.language` option since it's a specific wish from the user to display the time in a 12 or 24 hour format.

I have created a pull request which I think implements this accordingly.

[2017-06-26 12:25] QNimbus opened #927 "Issue: Alignment of weekday is incorrect when displaying analog clock and calendar"
**Platform**: Raspberry Pi 3 & Windows 10 Chrome 59.0.3071.109 (Official Build) (64-bit)

**Node Version**: Node v6.10.3

**MagicMirror Version**: v2.1.2-dev (`develop` branch)

**Description**: When displaying the analog clock and a calendar in the left sidebar where the calendar has entries longer than a certain amount of characters, it throws the alignment of the date display off. This is due t

[2017-06-26 13:22] QNimbus commented on #910
If believe this can be fixed by using a templated translation string (`de.json`) and making a minor correction to the clock.js module where the translation is invoked. Of course this means that all the other translation files will need to have the same templated string for `WEEK` changed.

[code]

[code]

[2017-06-28 15:46] joeframbach commented on #884
This is still an issue on a new Jessie installation using the install command on https://magicmirror.builders/

[2017-06-28 15:54] wbleek commented on #910
Thanks for the suggestion. I will work on the implementation and send a pull request.

[2017-07-01 03:26] EliteByte commented on #411
Hello, sorry for bumping this thread after so long but I am currently trying to develop a solution to this problem using a Material (material.io) themed website in which people can download a package to their Raspberry Pi and run probably a node server to update and configure their modules.
![magicmirrormodulemanager](https://user-images.githubusercontent.com/14142701/27758772-36384600-5dd2-11e7-9

[2017-07-01 08:09] MichMich commented on #411
My Best guess is to ask it on the forum. There were some users working on it.

[2017-07-01 11:58] fewieden commented on #411
https://github.com/Jopyth/MMM-Remote-Control

[2017-07-02 10:13] QNimbus commented on #927
This issue was fixed in commit '5a2d386976d1866b52bbf3ae04fd824d4a3df77f'

[2017-07-02 10:13] #927 closed

[2017-07-02 10:15] QNimbus commented on #925
@talkinnsmak Can you confirm that this issue is resolved in the new release?

[2017-07-02 10:17] QNimbus commented on #776
@olikami This was fixed in commit [3404ebb](https://github.com/MichMich/MagicMirror/commit/3404ebbbb8bca36d9c2c2cc465345389c1700e1b). If you can confirm that it now works as expected you can close this issue.

[2017-07-03 08:10] olikami commented on #776
Okay, did a quick and dirty test, seems to work.

[2017-07-03 08:10] #776 closed

[2017-07-03 09:21] jjedele commented on #914
In our case it looks like Electron 1.6.11 and MagicMirror 5c41e24b9927e36ba0f7039fd87b9fa5ca82e4a1

[2017-07-03 16:36] BrezhDev opened #932 "npm start issue"
**Platform**: Raspberry 2

**Node Version**: 6.11

**MagicMirror Version**: Last one (07/01)

**Description**:

magicmirror@2.1.2 start /home/pi/MagicMirror
sh run-start.sh

npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "start"
npm ERR! node v6.11.0
npm ERR! npm  v3.10.10
npm ERR! code ELIFECYCLE
npm ERR! magicmirror@2.1.2 start: `sh run-start.sh`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed a

[2017-07-03 18:40] rejas commented on #932
Could you post your npm-debug.log (if it exists in your MagicMirror directory)?

[2017-07-05 17:36] shbatm opened #933 "Commit c15148f breaks analog clock alignment when using position other than "top_left""
**Platform**: RPi 3

**Node Version**: v7.10.0

**MagicMirror Version**: v2.1.2

**Description**: After updating to v2.1.2, the analog face of the clock module is stuck on the left side of the mirror when using both analog and digital face.

**Steps to Reproduce**: Using following config for clock:
[code]

**Expected Results**: Both digital and analog clocks to be centered in screen.

**Actual Res

[2017-07-06 03:28] QNimbus commented on #933
I will have a look at this later this week when I get home; I was responsible for the commit you mentioned and I will try to fix the issue you described along with the allignment issue I tried to address originally.

[2017-07-06 14:35] roramirez commented on #933
The style of anolog clock is a mess ;).  Here there is a previous fix in a similar issue https://github.com/MichMich/MagicMirror/commit/949f7587dc5fbb8975883728872fb6d981ade33f

This maybe can help you

[2017-07-06 15:36] roramirez commented on #884
Hey Guys!, few minutes ago the install command onto the [website](https://magicmirror.builders/) are updated. Please you follow this sentence  👌

[2017-07-06 22:03] mathias1xxX opened #935 "Wrong Time On Calendar"
Hi i'm having a problem i installed magic mirror 2 for the first time and everything works except one problem it's 00:01 when i'm writhing this but my mirror's agenda says is 22:01 and i can't find where to change this.

can someone help me ?

Kind Regards.

[2017-07-07 08:37] apm1007 opened #936 "analog clock position went wrong after update"
hi, today i made an update to the latest version. i use the clock in top_bar. After the update the analog clock jumped to the left side. Any ideas how to fix this? Dunno where there error comes from.
![grafik](https://user-images.githubusercontent.com/11927080/27950076-3b0ba612-6300-11e7-8935-4ccb24b2193e.png)
![grafik](https://user-images.githubusercontent.com/11927080/27950099-50e20a9e-6300-11e7

[2017-07-07 11:16] Moggels commented on #914
@jukums thx for the tip with CTRL+0. That helped :+1:

[2017-07-07 11:45] BismaGhaffar commented on #150
I am continuously getting these errors help me!

C:\Users\Bisma\Desktop\MagicMirror>npm install

npm WARN invalid config loglevel="notice"
up to date in 0.44s

'sh' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! magicmirror@2.1.2 postinstall: `sh installers/postinstall/postinstall.s
h`
npm ERR! Exit status 1

[2017-07-07 12:00] paviro commented on #150
The installer is meant for the Raspberry Pi and can only run on Linux.

[2017-07-07 12:06] BismaGhaffar commented on #150
So,How can I run on my windows

[2017-07-07 12:11] BismaGhaffar commented on #150
Few month ago i run this on my window via npm start command  easily but now i am getting error what is the solution.

[2017-07-07 13:09] paviro commented on #150
Use the manual installation guide as reference :)

[2017-07-07 13:31] fewieden commented on #150
windows cmd cannot run sh by default, take a look here https://forum.magicmirror.builders/topic/2191/won-t-start-on-windows-after-upgrade

[2017-07-07 15:48] zydecat opened #937 "npm start issue"
Can't get mirror to start up since updating to the latest version. It accepts the pm2 start mm.sh command, but wont actually start the application. Here is the debug log...

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'start', 'dev' ]
2 info using npm@3.8.3
3 info using node@v5.10.1
4 verbose config Skipping project config: /home/pi/.npmrc. (mat

[2017-07-07 17:52] fewieden commented on #937
It tries to start the application in `/home/pi`, but it should look in `/home/pi/MagicMirror`

[2017-07-07 17:54] fewieden commented on #935
Did you set the correct timezone on your pi?

[2017-07-07 17:57] fewieden commented on #936
probably related to #933

[2017-07-07 19:49] mathias1xxX commented on #935
the hwtime was off o_O it's fixed thanks :P

[2017-07-07 21:11] QNimbus commented on #936
This is addressed in [Issue 993](https://github.com/MichMich/MagicMirror/issues/933).

[2017-07-07 22:23] #935 closed

[2017-07-08 02:17] garc7481 opened #939 "Screen Resolution and MM"
**Platform**: RPI3

**Node Version**: Latest.

**MagicMirror Version**: Up to date.

**Description**: I will like to make a more compact version of a MM and I have a screen with a resolution of 720x480 (7" Display) MM is running without any issue. The problem is that the modules being display they overlap eachother on the screen. How can I change the resolution of MM so it can work with my screen

[2017-07-08 05:40] zydecat commented on #937
I think that is all working, I have checked my auto start instructions from the main page. Trouble is I run the pm2 start mm.sh command and it responds as if it worked, but the mirror doesnt start up.
![mm](https://user-images.githubusercontent.com/13268539/27982907-8fc0240c-63e2-11e7-88b5-cbf12bf1f20e.JPG)

It was working until last night when I did a git pull. I'm a bit of a noob but I have upda

[2017-07-08 07:38] fewieden commented on #937
Hi Mat, if you get in touch with me on the teamspeak server I might can help you in time. Or send me a pm on the forum.

TeamSpeak Magic Mirror Help @ 173.68.7.240 http://www.teamspeak.com/downloads.html

https://forum.magicmirror.builders/user/strawberry-3-141

[2017-07-08 13:07] mc-landin opened #940 "Calendar times incorrect since update"
Since the update to the latest PI version my calendar times are incorrect. The timezone is set correctly and set to 24H.

Yet, all times after noon are set 12 hours too early.

[2017-07-08 19:36] QNimbus commented on #936
You can probably close this issue since [issue #933](https://github.com/MichMich/MagicMirror/issues/933) already addresses this problem.

[2017-07-09 00:25] abacon118 opened #942 "error with config.js"
I just installed magic mirror and opened index.html and it told me that there was an error with the conifg.js file.  I re-named the file and moved it and still had no luck.  What should i do?

[2017-07-09 08:09] fewieden commented on #942
you have to start the server, you can't just open the html file.

[2017-07-09 08:41] Tuxdiver commented on #940
Problem is in calendar.js:
[code]

should fix the problem

[2017-07-09 09:47] QNimbus commented on #940
You are correct - was sloppy testing on my behalf. The PR should fix this problem. Thanks for reporting!

[2017-07-09 11:09] QNimbus commented on #942
`npm start` should do the trick when run in your MagicMirror folder. Or you can run `node serveronly` and use a browser to open the MagicMirror site.

Let us know if this solved your problem - if it's resolved, please close this issue

[2017-07-09 13:20] cfdresearch opened #944 "installer error"
Try to install MagicMirror using installer and got a bash error (below). HW: Raspberry Pi 3B, system details below.

`curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh | bash`

[PM2] Saving current process list...
[PM2] Successfully saved in /home/pi/.pm2/dump.pm2
bash: line 157: syntax error near unexpected token `fi'
bash: line 157: `fi'

pi@mmirror2p

[2017-07-09 13:31] fewieden commented on #944
This command is deprecated. Use `bash -c "$(curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh)"` instead

[2017-07-09 13:43] cfdresearch commented on #944
Thanks a lot, now it's fine. I just used this tutorial: [https://forum.magicmirror.builders/topic/236/complete-setup-tutorial/6](url). Issue may be closed.

[2017-07-09 13:43] #944 closed

[2017-07-09 17:11] abacon118 commented on #942
When i run npm start from the magic mirror directory i get this.

![mm1](https://user-images.githubusercontent.com/30011386/27996068-f5faf696-64a7-11e7-9291-e1ecc0a9610a.PNG)

[2017-07-09 19:12] rejas commented on #942
So have you node installed? What do you get when you run "node -v"-command in that directory?

[2017-07-09 19:45] QNimbus commented on #942
Maybe you could try upgrading NodeJS to the latest version?

`$ sudo apt update`
`$ sudo apt install nodejs`

[2017-07-10 09:19] stefan-hoffmann commented on #932
Hello,

i have the same Problem. Want to setup complete new and running into this error.
Running on RPI3 with latest Raspbian Lite -> upgraded to PIXEL GUI.
No Errors at Setup via Automatic Installer...

My Log:

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/nodejs', '/usr/bin/npm', 'start' ]
2 info using npm@3.10.10
3 info using node@v6.11.0
4 verbose run-script [ 'prestart', 'sta

[2017-07-10 09:22] stefan-hoffmann commented on #932
Statement: No idea why some text in the log is crossing out, must be a copy/paste problem...

[2017-07-11 01:17] roramirez commented on #942
If are you using the manual installation please follow the steps
https://github.com/MichMich/MagicMirror#manual-installation

After clone the repository
[code]

If not, you can use the automatic installer script
`bash -c "$(curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh)"`

Good luck!

[2017-07-11 15:04] rorypwj commented on #932
Hey, I'm having the same problem same errors, etc. Any luck on solving this?

[2017-07-12 04:34] Reotch2 commented on #914
@FREDSWG in the post above, recommended updating the MagicMirror/css/custom.css file with the following.

 body {
 	zoom: 75%;
 }

It's working great for me until the cache issue gets fixed.

[2017-07-13 09:47] CNYoki opened #945 "Error Installation"
When it is installing dependencies,the Pi keep "fetchMetadata: still mapToRegistry Uri HTTPS xxxxxx" for nearly 2 hours... What's wrong with mine.?

[2017-07-13 11:11] CNYoki opened #946 "npm start ERROR"
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/nodejs', '/usr/bin/npm', 'start' ]
2 info using npm@3.10.10
3 info using node@v6.11.1
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle magicmirror@2.1.2~prestart: magicmirror@2.1.2
6 silly lifecycle magicmirror@2.1.2~prestart: no script for prestart, continuing
7 info lifecycle magicmirror@2.1.2~start: magicmir

[2017-07-13 12:49] casus90 commented on #145
Cheers mates.

Today i tryed to install the MM for the first time.
Jessie installation was good. Configuration like you wrote in you manual ([http://michaelteeuw.nl/post/83188136918/magic-mirror-part-v-installing-the-raspberry-pi](url)).
I got to the point where i used the automatic installer `bash -c "$(curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh

[2017-07-13 16:21] QNimbus commented on #857
I've had this issue too on Ubuntu 16.04 LTS and in my case I was able to solve the issue by upgrading the default NodeJS installation (version 4.x) to the latest NodeJS v8.x. Hope this can help people finding this through Google search.

[2017-07-14 10:39] Jopyth commented on #944
I fixed the link in the mentioned tutorial.

[2017-07-15 13:47] roramirez commented on #857
Yes, NodeJs 4.x is too old and MagicMirror dont have support to work with older version that 5.1.x.

You can find this in https://github.com/MichMich/MagicMirror/blob/master/installers/raspberry.sh#L22 ;)

[2017-07-15 20:48] HawkingJan commented on #868
I installed some general updates and new pageckages (
[code]
)
and now the issue is solved for me. Unfortunately I don't know which change exactly fixed this issue.. Maybe ghost can also update his system to check if also for him the issue is solved.

[2017-07-15 22:01] ImTheBadWolf opened #947 "Powering off monitor, cant connect to X server when powering back ON"
Raspberry pi zero, midori browser

node - 4.2.1

I made a script to power on and off monitor so its not always on. The problem is that when I turn it off and leave it off for a while it then wont turn on again. It gives me error "connection to X server lost"

In script to power off the monitor I have:  "tvservice -o"
And in script for powering it back on I have this:  "tvservice -p" and "xset -dis

[2017-07-16 03:39] shbatm commented on #947
Try using `tvservice --preferred && sudo chvt 6 && sudo chvt 7` as the command to power back on.

[2017-07-16 04:05] shbatm opened #948 "Sharing node_helper resources across multiple mirrors"
**Not a bug: possible feature request**

I started toying with the ability to share a Module's node_helper and socket across multiple instances and devices.  I wanted to share what I've done in case anyone else finds it useful or thinks it could/should be incorporated.

Working code preview is here: https://github.com/shbatm/MagicMirror/commit/ccd958f203636606218e8101c573582397c1fc59

**Usage:**
A

[2017-07-16 07:09] HawkingJan commented on #694
Given the fact that the tutorial "How I got my Magic Mirror working on a Raspberry Pi 0 (zero)" alone has 24.5 k views in the MM forum, I think there are a lot of people using the Pi Zero. I would understand to use the arrow syntax if it would make a huge performance or code readability benefit or if the change would be complicated. However, this seems not to be the case here.
So I'm in favour of

[2017-07-16 11:03] ImTheBadWolf commented on #947
Thank you for help but its not working either

[2017-07-16 18:18] fewieden commented on #948
That's basically what I did three months ago https://github.com/fewieden/MMM-syslog-slave to connect instances to syslog master.

[2017-07-16 20:29] rites1978 opened #949 "error while installing magic mirror"
Please only submit reproducible issues.
/home/pi/MagicMirror/npm-debug.log

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)
Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.builders/category/10/trou

[2017-07-17 05:38] #939 closed

[2017-07-17 12:06] QNimbus opened #950 "Issue: Empty ipWhitelist array does not allow any host to access MM"
When you set `ipWhitelist = []` in the config file, it should allow access from everyone to the MM instance according to the documentation. Instead with an empty whitelist (`express-whitelist` module) it doesn't allow any host to access the MM instance.

I think this could be solved by replacing the following line in `server.js`

`var result = ipfilter(config.ipWhitelist, {mode: "allow", log: fals

[2017-07-17 12:26] QNimbus commented on #950
To prevent some confusion during configuration (users customizing their `config.js` file), I've changed the default `address` which is used to specify addresses/interfaces where the server listens on, to listen on all interfaces by default.

If a user changes the default ipWhitelist (which by default only allows localhost) he/she won't be hampered by the fact that they might not have the `address`

[2017-07-18 18:15] nhubbard commented on #949
@rites1978 Please open an issue in the Magic Mirror Forum at https://forum.magicmirror.builders.

@MichMich close

[2017-07-20 03:22] roramirez commented on #947
For this kind of questions please to [referred on the forum](https://forum.magicmirror.builders/). This is better place to kind of support.

[2017-07-20 03:30] roramirez commented on #948
I like the idea but @MichMich have it the last word of this

[2017-07-20 03:34] roramirez commented on #940
@MichMich Please, close this issue :). Thanks @QNimbus

[2017-07-20 08:31] qistoph commented on #950
From a security perspective I would opt to prevent users from accidentally opening up access to their mirror. Listening only on, or allowing access from localhost woudl be wise from that perspective.

Take a look at [Mirai](https://en.wikipedia.org/wiki/Mirai_(malware)) for example.

Raspberry did a major change regarding these issues, by [disabling SSH by default](https://www.raspberrypi.org/blog

[2017-07-20 11:38] QNimbus commented on #950
I agree with you - I will try to come up with a more elegant solution, and send a PR with reference to this issue.

[2017-07-21 09:38] #940 closed

[2017-07-23 23:01] ryck opened #954 "INDOOR_HUMIDITY notification"
I just implemented the INDOOR_TEMPERATURE notification in one of my modules, and I discover that there is no INDOOR_HUMIDITY notification available. Would that be something interesting to implement or maybe is already too much information on the currentweather module? Temperature and Humidity usually go hand by hand, but, again, maybe that belongs in another module..

I already have a PR ready, bu

[2017-07-24 01:02] roramirez commented on #954
I think a good work can be create a feature to implement these things by configuration instead of the into the code.

[2017-07-24 19:55] QNimbus opened #956 "Change to .gitignore"
Not really a big issue - but I work with 'Visual Studio Code' as my IDE of preference and VSC creates a `.vscode` folder in the project directory to store among other things `launch.json` where the debug config is stored.

I would like to put this folder in `.gitignore`. A PR for this addition is incoming....

[2017-07-25 19:51] FranciscoGomez90 opened #958 "Newsfeed error"
I just installed Magic Mirror and I¡m fooling around with the modules. The sample config give me this error when loading newsfeed.

[code]

My config looks like  this

[code]

Any idea why I get this error? If I remove the nodule:newsleef section everything is working properly.
Besides, I got a similar error when loading the calenda module.

Thank you

[2017-07-26 02:48] cowboysdude commented on #958
Yes it looks like your node_helper file for the news is missing.  Can you check the modules/default/newsfeed directory has a node_helper in it.

[2017-07-26 05:41] FranciscoGomez90 commented on #958
Yes. It has node_helper.js :S

[2017-07-26 17:41] FranciscoGomez90 commented on #958
Nevermind, I just reinstalled Magic Mirror and everything worked just fine :S

[2017-07-27 01:35] roramirez commented on #958
@FranciscoGomez90 Maybe there was missing something `npm install`. Please close the issue.

[2017-07-27 01:36] roramirez commented on #956
@QNimbus We need to be close this. Thanks.

[2017-07-27 05:10] #958 closed

[2017-07-27 09:04] laffey2457 opened #960 "every time i try to run it does not work, this is what i get every time i npm start"
pi@raspberrypi:~/MagicMirror $ npm start

/home/pi/MagicMirror/node_modules/electron/index.js:9
  throw new Error('Electron failed to install correctly, please delete node_modules/electron and try installing again')
  ^

Error: Electron failed to install correctly, please delete node_modules/electron and try installing again
    at Object.<anonymous> (/home/pi/MagicMirror/node_modules/electron/ind

[2017-07-27 12:47] #956 closed

[2017-07-27 12:49] QNimbus commented on #922
I will try to write  some automated tests for this implementation - the feature itself still needs to be tested by users/developers since it's now in the `develop` branch.

Can I close this issue or do we still need this open since it hasn't been properly tested yet?

[2017-07-27 12:51] QNimbus commented on #960
I would suggest deleting the `node_modules` folder inside your `MagicMirror` folder and running `npm install` again.

Can you let us know if this solves your issue?

[2017-07-27 20:38] willfri commented on #960
I got the same error. Installed MM on a clean Raspbian installation.
So I removed `node_modules/electron` and ran `npm install` again. After this I got an new error:

[code]
Due to the new error I found this [issue](https://github.com/electron-userland/electron-prebuilt/issues/263).
After I executed the command from the above issue, I tried `npm start` again and got this:
[code]

[2017-07-28 01:52] roramirez commented on #922
The ideal to me is close this after wrote the tests. Because a new feature with automated tests we be sure will work like as we expected.

[2017-07-28 10:21] fewieden commented on #960
you did some fancy sudo stuff `/root/MagicMirror`.

I recommend to delete the whole magicmirror directory and install the project as pi user to prevent access right issues in the future

open a terminal go to `cd ~` and execute `bash -c "$(curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh)"`

[2017-07-28 11:22] willfri commented on #960
Thank you, now it works. I tried root because on an old Raspbian I got a error with pi user yesterday.

[2017-07-28 15:33] QNimbus opened #961 "Issue: When using 'excludedEvents' these count towards 'maximumEntries'"
**Platform**: Raspberry Pi 3

**Node Version**: node v8.2.1

**MagicMirror Version**: MagicMirror v2.1.3-dev

**Description**:

As the title says. When configuring the calendar module where you define certain events to be excluded, these are counted towards the maximum entries to be shown. This means the calendar will show less than `maximumEntries` even though there are more entries in the range

[2017-07-28 18:59] QNimbus opened #963 "Issue: Calendar setting does not override global setting"
**Platform**: Raspberry Pi 3

**Node Version**: node v8.2.1

**MagicMirror Version**: MagicMirror v2.1.3-dev

**Description**:

In the calendar module documentation it states that the settings `maximumEntries` and `maximumNumberOfDays` override the global setting (defined in the root of the module config). In practice this only works for the `maximumNumberOfDays` setting - the `maximumEntries` doe

[2017-07-31 03:12] dwlyles opened #974 "hangs on launch, CTRL+ C stops the mirror."
pi@raspberrypi:~/MagicMirror $ npm start

Starting MagicMirror: v2.1.2
Loading config ...
Loading module helpers ...
No helper found for module: alert.
Initializing new module helper ...
Module helper loaded: updatenotification
No helper found for module: clock.
Initializing new module helper ...
Module helper loaded: calendar
No helper found for module: compliments.
No helper found for module: cu

[2017-07-31 14:25] Paulismo commented on #573
Hello everybody. I have an issue in the currentweather module, my time is freezing, it starts from 20:xx and stops right there, i haven`t iven a idea about what`s causing this issue and i hope you`ll help me out. I`m working with raspberry pi btw.

[2017-07-31 20:46] fewieden commented on #573
isn't the time in current weather just a disolay for sunset and sunrise?

[2017-07-31 20:57] QNimbus opened #976 "Issue: 12-hour clock format incorrect after midnight"
**Platform**: Windows 10

**Node Version**: v8.2.1

**MagicMirror Version**: v2.1.3-dev

**Description**: When using 12-hour clock format, 00:30 is displayed as 12:30 AM

**Steps to Reproduce**: Set computer clock to somewhere between midnight and 01:00 (AM) and make sure that MM uses the 12-hour clock format to display the time

**Expected Results**: When the time is (for example) 00:25 AM it sho

[2017-08-01 06:07] Paulismo commented on #573
Oh, thank you for support, I just couldn't figure this problem out beckause
lack of information, but anyway you helped me a lot.

31 июля 2017 г. 23:46 пользователь "fewieden" <notifications@github.com>
написал:

[2017-08-01 10:11] QNimbus commented on #976
I just realized after some 'Google' research that while 12:30 AM is technically correct, it is a bit ambiguous. So I will close this issue since the clock seems to be working correctly - I guess it underlines my preference for the 24-hour clock once more ;)

[2017-08-01 10:11] #976 closed

[2017-08-02 13:51] qistoph commented on #963
Commit https://github.com/MichMich/MagicMirror/commit/7bd256c311a47ad552f4c6b4bbafe381c719dd0f introduces another issue with my configuration.

I have a calendar module instance with two calendar sources. After this commit (found using bisect) my calendar shows **20** items even though I use the default `maximumEntries: 10`.

[2017-08-02 16:00] roramirez commented on #976
Maybe create a poll for this cases for our users.

[2017-08-02 16:07] roramirez commented on #963
@qistoph If it reverses the commit works well?. We can create a test for this?

[2017-08-03 07:51] qistoph commented on #963
Reversing the commit makes it the expected 10 items again. That's what [git bisect](https://git-scm.com/docs/git-bisect) helps you with. "*Use binary search to find the commit that introduced a bug*"

We could probably come up with a test to check this.

[2017-08-03 14:51] B4ttleduck commented on #864
Same problem here, not O365 but the regular outlook Calendar.
Replacing the 2 files didn't work :(

[2017-08-04 15:02] MichMich commented on #974
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-08-04 15:02] #974 closed

[2017-08-04 15:02] #961 closed

[2017-08-04 15:04] QNimbus commented on #963
@qistoph I will write a test case to properly test this - in the meantime, can I see the specific part of your config.js file (the calendar part) to see how you configured your calendar? Take care to remove any private/personal URLS.

[2017-08-04 15:59] qistoph commented on #963
Sure and thanks!

[code]

Op 4 aug. 2017 17:04 schreef "Bas" <notifications@github.com>:

[2017-08-04 19:00] qistoph commented on #963
Sure and thanks!

[code]

[2017-08-04 20:16] cschwarz007 opened #980 "2.1.2 calendar not displaying full day events"
2.1.2 calendar does not display any full day events. The error can be reproduced on my RaspberryPi with a full day event in either calendar I am including in config.js:

`		{
			module: 'calendar',
			position: 'top_left',
			config: {
				maximumEntries: 20,
				fadePoint: 0.7,
				maxTitleLength: 27,
				calendars: [
					{
						symbol: 'calendar-plus-o',
						url: 'https://calendar.google.com

[2017-08-05 00:28] roramirez commented on #980
In the other release it is working?

Can you testing in 2.1.1?

[2017-08-06 12:20] cschwarz007 commented on #980
Yes, it used to work in 2.1.1 and 2.1.0

[2017-08-06 15:52] dakoller opened #984 "npm start issue: electron missing"
my npm-debug.log says:

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/nodejs', '/usr/bin/npm', 'start' ]
2 info using npm@3.10.10
3 info using node@v6.11.2
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle magicmirror@2.1.2~prestart: magicmirror@2.1.2
6 silly lifecycle magicmirror@2.1.2~prestart: no script for prestart, continuing
7 info lifecycle magicmirr

[2017-08-06 16:00] dakoller commented on #984
pi@magicmirror:~ $ cd MagicMirror/
pi@magicmirror:~/MagicMirror $ npm install eletron

pi@magicmirror:~/MagicMirror $ npm install electron

magicmirror@2.1.2 /home/pi/MagicMirror
├── electron@1.6.11
└── UNMET PEER DEPENDENCY grunt@1.0.1

npm WARN grunt-yamllint@0.2.0 requires a peer of grunt@~0.4.0 but none was installed.
pi@magicmirror:~/MagicMirror $ npm install grunt
[     .............] | fetc

[2017-08-07 09:06] mueller-ma opened #985 "Feature: Add noon for compliments"
It would be nice to have seperate greetings for noon, e.g. from 11:30 to 12:30

[2017-08-07 13:32] roramirez commented on #985
Are you interested in develop that feature?

For me  it sound nice! ... but instead of created a new type of the part of day should be add a option of range hours like this

[code]

[2017-08-07 13:41] roramirez commented on #980
This can be related with #926

@QNimbus, can you check?

[2017-08-07 15:11] zydecat commented on #937
Hi,
An Update. (after a busy few weeks)

I have finally had the time and got my mirror working again. From what I can gather, when I was forced to update the raspberry pi, I seem to have lost a lot of config (particularly with reference to PM2.) Has anyone else experienced mirror problems after an update to the Pi?

The second thing with the update to the pi was that for whatever reason, the "auto

[2017-08-10 17:17] metalshreds opened #988 "Feature: Change background from black to image/slideshow"
I saw this project (https://dakboard.com/site) which looks to be exactly magic mirror2  the only difference is the interface to customize the modules and the ability to select the background.

I am very interested in finding/creating a module that would allow the ability change background from black to slideshow(dropbox possibly or local). I am also learning javascript, but know some html/css.  Do

[2017-08-10 19:10] ToddKlindt commented on #988
There are several modules that will show photos from various locations. You can see them here, https://github.com/MichMich/MagicMirror/wiki/MagicMirror%C2%B2-Modules#3rd-party-modules. I personally use the MMM-RandomPhoto module and it works really well.

[2017-08-11 01:35] roramirez commented on #988
@metalshreds To me sound and will be nice if we can add a feature like this.

Should be as simplest possible and with a non break change in the core. If you can add and maintenance in the future.

The last word if we can include some like this... comes from @MichMich

[2017-08-11 14:31] qistoph commented on #963
For clarity; I would want to show the first 10 events from the merged calendars. E.g:
Appointment 1
Appointment 2
Birthday 1
Birthday 2
Appointment 3
Appointment 4
Appointment 5
Birthday 2
Appointment 6
Appointment 7

There is no predefined number of Facebook birthdays or Google Calendar events I want to show, but a grand total of 10 max.

Any updates from your side?

[2017-08-12 00:41] metalshreds commented on #988
That would be great if it was added to core. I'd be happy to help but as I said before, I have limited knowledge of JS, just starting to pick it up and figured working on a module would be a good starting place :) I'm still trying to see how all the files are working together.

[2017-08-12 06:57] fewieden commented on #988
I'd prefer to stick with a custom module and not add it to the core

[2017-08-13 03:26] metalshreds commented on #988
Sounds good, I'll take a crack at creating the module. Thanks!

[2017-08-13 16:19] metalshreds commented on #988
In case anybody else is looking for this functionality. I found this module which is working really well!

https://github.com/Ultimatum22/MMM-RandomBackground

[2017-08-13 16:19] #988 closed

[2017-08-13 23:21] maxanier commented on #984
I get the same error message, however, electron is installed

[2017-08-15 15:03] eomisterman commented on #937
Hi Mat,

I'm having the same issue. What exactly did you do to fix this problem? How did you redo the config to reinstall PM2 etc.?

Thanks.

[2017-08-15 17:37] BLoodConstructions commented on #980
Is ist possible to config the calendar that all events from today getting ignored and only show events starting tomorrow? Been tryin around but I couldn´t get that done.
Thanks.

[2017-08-15 23:50] lesajo opened #992 "Black Screen"
Hello.. i have add the config..

/* Magic Mirror Config Sample
 *
 * By Michael Teeuw http://michaelteeuw.nl
 * MIT Licensed.
 *
 * For more information how you can configurate this file
 * See https://github.com/MichMich/MagicMirror#configuration
 *
 */

var config = {
	port: 8080,
	ipWhitelist: ["127.0.0.1", "::ffff:127.0.0.1", "::1"], // Set [] to allow all IP addresses

[2017-08-16 00:21] lesajo commented on #992
so i have make some updates....

sudo apt-get update
sudo apt-get upgrade
sudo apt-get dist-upgrade
sudo apt-get clean
sudo rpi-update

and it works *.*

[2017-08-16 01:35] roramirez commented on #937
@zydecat Can you reproduce the issue?  if not please close this issue.

@eomisterman You can find support for this kind of troubles in https://forum.magicmirror.builders/

[2017-08-16 01:41] roramirez commented on #992
Please close the issue

For other time please use the forum for this kind of question
https://forum.magicmirror.builders/

[2017-08-16 01:58] #992 closed

[2017-08-16 14:39] zydecat commented on #937
Hi @eomisterman and @roramirez,
The issues with the mirror and pm2 not running seem to have been caused by the latest firmware update to the raspberry pi itself. This seemed to remove or mess up aspects of the mirror config. In trying to rectify the problem, I removed everything and tried reinstalling using the "Raspberry Pi Only" auto installing process ([https://github.com/MichMich/MagicMirror#a

[2017-08-17 02:24] KnottyCord opened #994 "Auto config for client."
I'm not good at coding, but I know just a bit to understand some stuff. But since I made my first mirror a lot of people ask me if I could make them one. But the problem is that the one command installation is not user frendly. Like if you want to connect your mirror to a WiFi you need to go in the files a change the variable, with a keyboard.
If there is someone out there willing to create a full

[2017-08-17 18:07] DanielWeeber commented on #914
Same problem here!

[2017-08-18 12:20] QNimbus commented on #963
@qistoph You're correct, I've started writing some test cases to properly test the calendar configuration and the global 'maxEntries' setting is overridden by the calendar specific 'maxEntries' setting.

So at the moment the calendar module is working exactly as documented (with regard to the maxEntries config setting).

I agree with you that it makes more sense to have a total maximum for the cal

[2017-08-19 00:38] lesajo opened #995 "Error: listen EADDRINUSE :::8080"
Hi.. i have a little problem. but it works.

 node serveronly/
Starting MagicMirror: v2.1.2
Loading config ...
Loading module helpers ...
No helper found for module: alert.
Initializing new module helper ...
Module helper loaded: updatenotification
No helper found for module: clock.
Initializing new module helper ...
Module helper loaded: calendar
No helper found for module: compliments.
No helper

[2017-08-19 12:51] fewieden commented on #995
Most likely there is an instance of magicmirror still running on port 8080, which wasn't exited properly.

[2017-08-19 20:42] lesajo commented on #995
Okay. Thx u

[2017-08-19 21:22] roramirez commented on #995
This kind of request as  issue are recurrently. I think we need move this request to the forum, if is not a bug or feature discusión should be move there.

What do you think? cc @fewieden @MichMich

[2017-08-22 08:51] dylono96 opened #1001 "Alexa Display Cards"
is it possible to get the output of the alexa app displayed on the mirror?
I saw that some other guy made something, but that was not build for the magic mirror 2.

[2017-08-22 16:31] roramirez commented on #950
There a log when is open a full ipWhitelist.

[2017-08-22 16:35] #995 closed

[2017-08-22 16:35] #949 closed

[2017-08-22 16:35] #907 closed

[2017-08-24 19:26] VisualTwo opened #1002 "Blank screen when I use module MMM-Wunderlist"
Hello friends,

I tried several times and receive the same errors every time.

When I start with the correctly configured module MMM-Wunderlist, the Magic Mirror blanks.
Here are the pm2 logs:

WARNING! Could not load config file. Starting with default configuration. Error found: Error: Cannot find module 'wunderlist'
App threw an error during load
Error: Cannot find module 'wunderlist'
    at Mod

[2017-08-24 19:29] VisualTwo commented on #1002
Here is the part of the config.js - when I disable it, the screen shows the expected contents:

[code]

[2017-08-24 20:25] roramirez commented on #1002
Please, Refer to [Forum](https://forum.magicmirror.builders) for support and troubleshooting.

cc @MichMich close it.

[2017-08-24 20:32] #1002 closed

[2017-08-25 12:59] ostfilinchen opened #1003 "Calender timeformat"
Hi!

i found an issue in the Calender timeformat display. The wrong entry is in calender.js Line 84.

It says, if timeformat=24 then "hh:mm" but the right format is "HH:mm".

Can u change the Line with the next update?

Regards
Daniel

[2017-08-25 13:27] fewieden commented on #1003
It is fixed since 1.5 months or so https://github.com/MichMich/MagicMirror/commit/db0bd3fa2ded2d4ed22670c304f3b7b0a0264bd9#diff-b26c2d32b9ae09e625122f9ae285d361

So it will be in the next update :)

[2017-08-25 14:30] qistoph commented on #950
@QNimbus, any updates?

@roramirez, what do you mean?

[2017-08-25 14:56] roramirez commented on #950
When you are using a full IpWhitelist, MM alert you with a  warning log entry in console.
https://github.com/MichMich/MagicMirror/blob/develop/js/server.js#L30

[2017-08-25 16:26] qistoph commented on #950
My concern is that the default install & run will leave you with an application listening on all network devices on any IP (include IPv6). Given the increase in IoT devices being abused I think this is something to try and prevent as software developers.

So I think the default install & run should at least prevent one of the two;

- listen only on the localhost interface, or
- listen only on the

[2017-08-25 20:41] roramirez commented on #950
I've done the test and the log is show it.

[code]

[2017-08-25 21:23] onedumbtrucker commented on #839
Fixed it for me :)

[2017-08-25 23:45] Spikeboybebpop opened #1005 "Electron failed to install"
I tried to start the program after going through all the steps on the guides. When I did I got the follow. I also have the debug as well. I tried to look up solutions for electron error but couldn't find anything.

I also have the latest verison of RASPBIAN STRETCH WITH DESKTOP and I used the auto install of Magic mirror.

 Any help is appreciated

pi@raspberrypi:~ $ cd $HOME/MagicMirror
pi@raspbe

[2017-08-27 09:27] Little-John21 commented on #1005
I was having a similar issue where the dependencies wouldn't install but as soon as i got the warnings i hit " -g " enter in terminal and it downloaded them and all was fine.

[2017-08-28 16:13] nhubbard commented on #1005
What kind of Raspberry Pi are you running on? 1, 2, 3 or Zero?

[2017-08-29 14:59] sharmmoh1983 opened #1007 "Npm start failing"
/MagicMirror $ npm start

npm ERR! Linux 4.4.50-v7+
npm ERR! argv "/opt/nodejs/bin/node" "/usr/local/bin/npm" "start"
npm ERR! node v7.2.1
npm ERR! npm  v3.10.10
npm ERR! code ELIFECYCLE
npm ERR! magicmirror@2.1.2 start: `sh run-start.sh`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the magicmirror@2.1.2 start script 'sh run-start.sh'.
npm ERR! Make sure you have the latest version of node.j

[2017-08-30 06:37] ruicky opened #1008 "use language for "zh-cn" , has error."
Hi, coder:
 when i use *language:"zh_cn"* in `config.js` , has a error. clock not translate.
because  `moment.locale()`, use key `zh-cn`, not 'zh_cn'.

hope you can change it.

thank you .

[2017-08-30 06:43] ruicky commented on #1005
I have the same mistake.
I have network restrictions in china. So, I'm using Taobao registory, like ：
`npm i electron  --registry=https://registry.npm.taobao.org`
I hope I can help you。

[2017-08-30 08:02] rhysxevans commented on #1005
Hi

I had the same issue had to change the node version in the script from 6.x to 7.x to get it to work.

so
1) wget https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh
2) edit raspberry.sh  , search for NODE_STABLE_BRANCH="6.x" replace with NODE_STABLE_BRANCH="7.x"
3) save file
4) run raspberry.sh

I am assuming here you have cleaned up and are running from a fre

[2017-08-30 10:07] rhysxevans opened #1009 "Feature Request: Module Schedules"
Hi

Firstly thanks for the project.

I was wondering if it would be possible to a schedule to the module config sections.

What I mean is the following

From 05:00 - 10:00 I would like module X to run at position A
From 10:00 - 15:00 I would like module Y to run at position A

This would allow the screen to "dynamically" update with relevant info based on the time of day (could possibly go further

[2017-08-30 12:33] rhysxevans commented on #1009
Aargh. just found this https://github.com/ianperrin/MMM-ModuleScheduler

Why couldn't I find it before !

Apologies for wasting your time

[2017-08-31 02:28] roramirez commented on #1009
Please close the issue

cc @MichMich

[2017-08-31 06:12] #1009 closed

[2017-08-31 12:19] metalshreds commented on #694
@HawkingJan Is there anything else you changed besides this? I made the replacement you suggested but can't get a remote file from loading, if I revert back to the code using arrow notation everything works as expected.

[2017-08-31 21:38] ivuorinen commented on #1007
Without the contents of that file, debugging and helping you solve the problem will be really hard.
Could you please include it here?

[2017-08-31 22:45] sharmmoh1983 commented on #1007
This is the content of the required file:
0 info it worked if it ends with ok
1 verbose cli [ '/opt/nodejs/bin/node', '/usr/local/bin/npm', 'start' ]
2 info using npm@3.10.10
3 info using node@v7.2.1
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle magicmirror@2.1.2~prestart: magicmirror@2.1.2
6 silly lifecycle magicmirror@2.1.2~prestart: no script for prestart, continuin

[2017-08-31 22:47] sharmmoh1983 commented on #1007
I have been trying very hard to crack this ...but not able to understand the issue

[2017-09-01 00:11] HawkingJan commented on #694
I don't remember making more changes to the code, this is also confirmed by the following difference by git (I don't expect the end of line change to have an effect).

[code]

I can see the compliments on the mirror and if I access the page "remote" from my regular PC.

[2017-09-01 19:33] fewieden commented on #694
the code of @HawkingJan is incorrect, but still works without using a remoteFile, because the critical code doesn't get reached. It should be something like this (untested), as I already mentioned here https://github.com/MichMich/MagicMirror/issues/694#issuecomment-278124676.

[code]

[2017-09-02 02:31] metalshreds commented on #694
@fewieden thanks so much! I can confirm that the code above does indeed load the compliments from the remote file. I commented out all compliments on the compliments.js file, magic mirror starts up as "undefined" and then compliments from the remote file load.

[2017-09-02 10:50] Raspy94 commented on #1007
If someone finds a solution could please post it here?

[2017-09-02 10:59] HawkingJan commented on #694
As I'm not using a remote file, I didn't notice that it creates problems (and it only worked because I got rid of the arrow function). So thanks for pointing this out.  The code proposed by fewieden also works for me. Can somebody check this into the repository?
I don't know if this thread can be closed or if a more general agreement about weather Midori should be supported should be achieved.

[2017-09-02 12:33] D3rpi commented on #1007
I have the same issue. This is the contents of my debug file. I'm still on Jessie.

[2017-09-03 00:49] roramirez commented on #1007
Did you run `npm install`?

[2017-09-03 07:58] fewieden commented on #1007
@D3rpi you should definetly update your node version first, as yours is over 3 years old `3 info using node@v0.10.29`

[2017-09-03 08:08] Raspy94 commented on #1007
I have a similar problem but my npm and node are updated
`root@raspberrypi:/home/pi/MagicMirror# DISPLAY=:0 npm start

No protocol specified
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! magicmirror@2.1.2 start: `sh run-start.sh`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the magicmirror@2.1.2 start script.
npm ERR! This is probably not a problem with npm. There is likely additional l

[2017-09-03 15:28] D3rpi commented on #1007
@fewieden Thanks.
I updated my node and it's working again. I'm not sure what caused the issue because it was working fine until last week when I updated my Pi3(still on jessie).

[2017-09-03 18:29] D3rpi commented on #1001
That's something I have been wanting to do with my set up for a while now but sadly don't know how to do that.
Do you have a link for the thing the guy made?

[2017-09-03 19:27] Terrib1e commented on #994
Sure I'm willing to work with you on that.

[2017-09-04 03:49] roramirez commented on #1007
@fewieden Maybe we need to check the version of Node before to start the electron app, What do you think?

[2017-09-04 14:45] dylono96 commented on #1001
this is the link I first saw it on: https://www.hackster.io/mexitek/magic-mirror-amazon-echo-and-aws-iot-29bba5

[2017-09-05 16:30] sharmmoh1983 commented on #1007
Even after updating node version to 7 still I ma getting this issue

[2017-09-06 03:20] iqra9 opened #1013 "npm is not installing dependencies is missing any help ?"
Please only submit reproducible issues.

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)
Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.builders/category/10/troubleshooting](https://forum.magicmir

[2017-09-06 12:20] MichMich commented on #1013
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-09-06 12:20] #1013 closed

[2017-09-06 12:20] MichMich commented on #1008
Feel free to send a PR.

[2017-09-06 12:21] #561 closed

[2017-09-06 12:22] MichMich commented on #565
Closed due to inactivity. Feel free to reopen.

[2017-09-06 12:22] #565 closed

[2017-09-06 12:22] MichMich commented on #694
Closed due to inactivity. Feel free to reopen.

[2017-09-06 12:22] #694 closed

[2017-09-06 12:23] #732 closed

[2017-09-06 12:23] MichMich commented on #772
Closed due to inactivity. Feel free to reopen.

[2017-09-06 12:23] #772 closed

[2017-09-06 12:23] MichMich commented on #791
Closed due to inactivity. Feel free to reopen.

[2017-09-06 12:23] #791 closed

[2017-09-06 12:24] MichMich commented on #797
@roramirez Can I close this one?

[2017-09-06 12:24] MichMich commented on #807
Closed due to inactivity. Feel free to reopen.

[2017-09-06 12:24] #807 closed

[2017-09-06 12:24] MichMich commented on #839
Closed due to inactivity. Feel free to reopen.

[2017-09-06 12:24] #839 closed

[2017-09-07 15:16] rhodso opened #1017 "Weather forecast module doesn't show up"
**Platform**: Raspberry Pi Model 3b
**Node Version**: Latest
**MagicMirror Version**: Javascript

**Description**:
As discused in: https://forum.magicmirror.builders/topic/4781/problem-with-weather-forecast/16?page=1 , the Weather forecast module doesn't show up. It has never showed up ever since my install 2 days ago

**Steps to Reproduce**: Set up on a Pi using the automatic installer
**Expected

[2017-09-07 21:39] sfmailand commented on #1017
It looks to me like you haven´t put a valid API key into the config, which would cause it to be unable to pull weather (and therefore not be able to display it)

[2017-09-08 08:51] rhodso commented on #1017
Nope, that's not it.
I've tried it with both keys I own and I generated another key.

Config file: https://pastebin.com/xdAwUHnD
WeatherForecast.js file: https://pastebin.com/H6qkhbVg

I verified that all 3 keys I own work by using the Current Weather Module, which shows up evey time I have a valid key

[2017-09-08 09:27] Negendahl commented on #1017
Im having this issue too, i located the problem not being with the API, but the /daily part of the URL.
This is my "original" URL created by weather forecast (dosent work - Invalid API key error)
http://api.openweathermap.org/data/2.5/forecast/daily?id=2613766&units=metric&lang=en&cnt=7&APPID=APIKEY

This URL works (only removed the "/daily" part of the URL):
http://api.openweathermap.org/data/2.5

[2017-09-08 14:54] nhubbard commented on #1017
@MichMich Could you take a look at this? I'm currently inundated with school, so I can't do it.

[2017-09-08 17:21] MichMich commented on #1017
I just did a clean install of the MagicMirror master branch and used @rhodso's config file using my own API key. The weather forecast appears as expected.

Just to be sure:

- Which branch are you running?
- Are you running the latest version? (`git pull` to update).
- Did you try removing the node_modules folder and run `npm install` again?
- Do you see any errors in the Electron console?
- Are y

[2017-09-09 09:25] loctruong96 commented on #864
I am having the exact same problem as you guys are having and replacing the new files update didn't help either. However, I have found a reasonable workaround for this problem.
1. Import office 365 calendar into a google calendar, this will take care of past events
2. go to https://flow.microsoft.com/ and setup a flow trigger that will create a new event in google calendar whenever an event in off

[2017-09-09 18:33] acejacek commented on #1017
Same problem with me. Latest pull from master branch, run in "server only" mode. @MichMich, create a new API key, maybe `forecast/daily` is not available for users with newer key? Or better, test mine key, I'll keep it valid for some time, specially for tests: d3ac9535fb87ec656c8d1ece569b877c

[2017-09-10 08:51] djzwieback commented on #1017
Check out the openweather API description:
https://openweathermap.org/api
For the daily forecast it requires a paid account.

[2017-09-10 10:36] MichMich commented on #1017
@acejacek @djzwieback I think you guys are right. I tried it with both acejacek's API key as well as a newly created one (new account), and both get an unauthorised. I think we need to start looking for an alternative API source.

[2017-09-10 16:52] nhubbard commented on #1017
@MichMich I would suggest using Dark Sky. My account on OpenWeatherMap still works (for now) but might stop randomly working in the future.

[2017-09-10 16:53] nhubbard commented on #1017
@djzwieback Great. They didn't even notify us... I have my email on there, and I didn't even get a notification. :-1:

[2017-09-10 20:41] Nograe opened #1018 "Black Screen Issue"
Hello,
After the setup of config.js and installation of npm and node, I succeed to launch the app but the screen is all black, and same for the index.html

[2017-09-10 22:46] robmcc1983 commented on #1017
My weather forecast isn't working either and as others have said, Api key works with current weather in config but not with forecast.
I just get no weather at all appear when using weather forecast..
Cheers

[2017-09-10 22:51] robmcc1983 commented on #1017
According to openweather 5 day forecast and Ali updates every 2 hours is still available for free users.
As default forecast is set to 7 days.
I'm no expert but could the forecast work if we set our config to 5 day forecast and update interval to 2 hours?

[2017-09-11 08:20] Nograe commented on #1018
Just type npm start in vendor file and voilà !

[2017-09-11 08:20] #1018 closed

[2017-09-11 08:20] Nograe commented on #1018
Just type npm start in vendor file and voilà !

[2017-09-12 05:03] lgreaves commented on #1017
The API endpoint: "api.openweathermap.org/data/2.5/forecast/daily" is restricted for new accounts.  I get code 401 "Invalid API key" for the account I just created.  I've raised a support request with openweathermaps, hopefully it's a provisioning error!!

If your account was created sometime ago (my account was created last year) the endpoint "/forecast/daily" works under the free plan.

It shoul

[2017-09-12 07:07] MichMich commented on #1017
@lgreaves Feel free to send a PR to the develop branche.

[2017-09-13 08:25] sharmmoh1983 opened #1020 "Pass module instance to node_helper"
Hi
I am trying to pass module instance to node_helper using send notification methods but no notification get triggered

If I pass this.config everything works..Please let me know how to use require in module rather than node_helper

[2017-09-13 08:26] MichMich commented on #1020
I don't really understand what you mean. Since this isn't a core bug report, I suggest you use the forum for developer support. http://magicmirror.builders.

[2017-09-13 08:29] sharmmoh1983 commented on #1020
I have tried forum also but there is no response from them .I  am trying following thing:

I am trying to pass module instance to node helper but in that scenario, no communication happens and node helper received notifications never gets triggered
Module:
this.sendSocketNotification(“CONFIG”, this);
Node helper:
socketNotificationReceived: function(notification, moduleInstance) {
if (notification

[2017-09-13 08:30] sharmmoh1983 commented on #1020
Nothing gets triggered while I send the instance. Also I needed some help in using require('sonus') kind of functionality in module . How to achieve it inmodule

[2017-09-13 08:30] MichMich commented on #1020
You can't send a module instance to the node_helper. You can only send JSON objects,

[2017-09-13 08:31] sharmmoh1983 commented on #1020
Then how can make use of require packages in module

[2017-09-13 08:32] MichMich commented on #1020
What do you mean with that? You can just use require in the node helper.

[2017-09-13 08:32] sharmmoh1983 commented on #1020
Please help me in getting this through as no one is responding on forum for a long time

[2017-09-13 08:33] sharmmoh1983 commented on #1020
No I want to use it in the module and not in node_helper. Can I make use of get scripts to get require functionality in modules

[2017-09-13 08:35] MichMich commented on #1020
Yes, thats what the scripts are for. My best advice is to explain it a bit better on the forum. It's unclear what you want to do. Without a good explanation, no-one can help you. Please continue on the forum, since the GitHub issues are specifically for core-bugruports. Thanks!

[2017-09-13 08:35] #1020 closed

[2017-09-13 09:40] rhodso commented on #1017
I've tried replacing the line where the url is built with:

`//var url = this.config.apiBase + this.config.apiVersion + "/" + this.config.forecastEndpoint + `this.getParams();`
`var url = "http://api.openweathermap.org/data/2.5/forecast/daily?q=Stoke-on-Trent,GB&units=" + this.config.units + "&lang=" + this.config.lang + "&APPID=[MYAPI]"`

Does that look right?

[2017-09-13 10:30] rhodso commented on #1017
I've just tried the following:
http://api.openweathermap.org/data/2.5/forecast?q=Stoke-on-Trent,GB&appid=[My API]

And that gives me the weather forecast, but when I try replacing the url with that it still doesn't show up.

I've tried using the default config, then modifying the line as listed in my previous comment, then changing the endpoint to forecast instead of forecast/data

Is there like a

[2017-09-13 11:40] nhubbard commented on #1017
Okay, @MichMich. I figured it out. New accounts on OpenWeatherMap don't get access to the daily endpoint. It is now paid, *but* us original users were silently grandfathered into the ability to use it for free.

For now, it seems like a good idea to start thinking about re-writing the weather widget in Dark Sky. Dark Sky won't make it paid, because they have revenue from outside of the API (their

[2017-09-13 16:05] sharmmoh1983 opened #1021 "Cannot create complex Json structure in module and Logging not working"
Hey

I am trying to create complex json object in module and  pass it one of the script included in get script

const commands = {
  'hello': function () {
    console.log('You will obey');
  },
  '(give me) :flavor ice cream': function (flavor) {
    console.log('Fetching some ' + flavor + ' ice ceam for you sr')
  },
  'turn (the)(lights) :state (the)(lights)': function (state) {
    console.log

[2017-09-13 16:06] sharmmoh1983 commented on #1021
Callbacks in json are getting blank  or not get created

[2017-09-13 16:11] MichMich commented on #1021
Hi @sharmmoh1983, as explained in your previous issue, github issues are here for core bug reports. If you need support building your module, please use the forum. We cannot give support via GitHub issues.

What I can say is what you're trying to do is not possible. Json objects can't contain methods. Please checkout some info on JSON. Google is your friend.

I urge you to not open any other topic

[2017-09-13 16:11] #1021 closed

[2017-09-13 16:11] dylono96 commented on #1001
so i found another thing: https://github.com/joanaz/MirrorMirrorOnTheWallSkill maybe you should give that a try.

[2017-09-13 16:23] sharmmoh1983 commented on #1021
Ok .. Thank buddy

[2017-09-13 20:43] Pretowner commented on #1003
Hi, maybe the same issue: the first entry within the calendar shows up with e.g. 7:00, but it's 19:00 (I'm using 24h settings ( see picture)
btw, can I setup the calendar that the first entry is also shown with the date only (not "friday...)?

Thanks!
![fullsizerender](https://user-images.githubusercontent.com/31937699/30399731-f9bbd44c-98d4-11e7-84d6-9da3cce9cabc.jpg)

[2017-09-13 23:42] nhubbard commented on #1001
@dylono96 You're welcome to build a module with AWS Lambda with an Amazon Echo, but we can't show cards from the Alexa app (it's a private API restricted by a usage agreement).

[2017-09-13 23:43] nhubbard commented on #1001
@MichMich close

[2017-09-13 23:47] nhubbard commented on #994
@KnottyCard Feel free! You could also extend the install script with a WiFi setup option.

[2017-09-14 00:04] KnottyCord commented on #994
@Terrib1e Sure when can we speek? I have a very basic knownledge on programing. HTML5 And css are what im leaning crurently.

[2017-09-14 06:03] dylono96 commented on #1001
So even with acces to that api it isnt possible because it has anotger license?

[2017-09-14 07:36] sharmmoh1983 commented on #1021
Just to update you, above thing is working in node_helper so there is no issue in JSON structure as JSON is just map of keys and values.

But some how in module class, it is getting converted it into some other  object other than JSON which is getting failed in method call

That is why I am updating it as it seems to be bug in your module class

[2017-09-14 07:39] MichMich commented on #1021
In the node module it's a JavaScript object. Not a JSON object. JSON objects can only contain strings, numbers, arrays and objects. Not functions.

[2017-09-14 07:44] sharmmoh1983 commented on #1021
It can take functions also as happening in node_helper, anyways as per your suggestion I have posted detailed requirement on forum

[2017-09-14 07:46] MichMich commented on #1021
In the node helper it's a JavaScript object. Not a JSON object ...

[2017-09-14 21:18] luizcarlosnery commented on #1017
Same personal problem.
Mm2 does not display the Weatherforecast on the screen.

[2017-09-15 07:26] gangarmanan opened #1023 "clock region change"
i am staying in india i changed the clock region but it fail please help

[2017-09-15 12:04] hallo02 commented on #914
Same Problem here!

[2017-09-17 06:46] fewieden commented on #1021
Could you give a reasonable usecase, why someone would need the module instance in the node helper?

[2017-09-17 23:06] sharmmoh1983 commented on #1021
Hi

I am trying to communicate with other modules through node helper rather
than sending notification back to the curent module and then sending
notifications to other modules

On 17 Sep 2017 14:46, "fewieden" <notifications@github.com> wrote:

[2017-09-19 08:44] sharmmoh1983 opened #1026 "Application shuts down in RPI3"
Hi

I hope this one qualifies to be reported in this forum

I am running Magic Mirror on Raspberry Pi and many times it stops itself and reboots the complete Raspberry Pi3 and  also sometimes at calling updateDOM method

There are 5-6 modules in my Magic Mirror

Is anyone facing the same issue  or some hardware/memory constraint?

[2017-09-19 08:45] sharmmoh1983 commented on #1007
It is working now

[2017-09-19 08:45] #1007 closed

[2017-09-19 10:29] sharmmoh1983 opened #1027 "UpdateDOM throwing Error"
Hi
I am trying to show module content on voice command so during start up I am calling
this.hide(0) and in getDOM method checking this.hidden parameter so getDOM does not return anything during startup

start: function() {
Log.info("Starting module: " + this.name);

    requiresVersion: "2.1.0",

    // Set locale.
    this.url = this.getEventsUrl();
    this.event = {};
    this.activeItem = 0;

[2017-09-19 12:14] kmcrawford commented on #1017
The Hack fix worked for me.

https://github.com/roramirez/MagicMirror/commit/58b763e935a469d9912c1953c0a3d0af8d2d67b5

[2017-09-19 12:54] sharmmoh1983 commented on #1027
This is my config file:
modules: [
		{
			module: "alert",
		},
		{
			module: "updatenotification",
			position: "top_bar"
		},

		{
			module: "compliments",
			position: "top_third"
		},

		{
			module: "newsfeed",
			position: "bottom_bar",
			config: {
				feeds: [
					{
						title: "New York Times",
						url: "http://www.nytimes.com/services/xml/rss/nyt/HomePage.xml"
					}
				],
				sho

[2017-09-19 13:15] sharmmoh1983 commented on #1027
There is seems to be some issue with position region getting common like top_left and top centre
which results in this kind of issue

[2017-09-19 13:45] MichMich commented on #1027
@sharmmoh1983 Please, please, please use the forum for these kind of issues. This is a not a confirmed bug, nor did you fill in any of the required Issue details.

Since this is isn't the first time I'm asking you this, please be informed that the next issue which doesn't conform to the issue guidelines will be closed without any response. Thanks!

[2017-09-19 13:45] #1027 closed

[2017-09-19 15:09] sharmmoh1983 commented on #1027
Sorry for the inconvenience but How to know whether it qualifies as bug or not as according to my understanding positions in config if are clashing they are causing updateDOM to throw error which is a potential bug

[2017-09-19 16:33] dylono96 commented on #1001
ok I understand, but could you explain how the MirrorMirrorOnTheWall skill works then?

[2017-09-19 19:51] cschwarz007 commented on #980
I tried to do some debugging. It seems node_helper returns "CALENDAR_EVENTS" but does not fill the payload with any events. Hence, the error must be somewhere in calendarfetcher.js. How can I debug that file?

[2017-09-19 20:59] nhubbard commented on #1001
@dylono96 That skill works as I said (you can only access apps you create) because as part of the setup, you create a skill on AWS Lambda and attach it to your MM.

[2017-09-20 06:47] cschwarz007 commented on #980
I think I found the issue. I have a calendar for birthdays which used to display fine. However, since recently it does not work anymore.

This is an extract from the iCal data:

`  { type: 'VEVENT',
     params: [],
     start: { 1956-09-26T22:00:00.000Z tz: undefined },
     end: { 1956-09-27T22:00:00.000Z tz: undefined },
     rrule:
      RRule {
        _string: null,
        _cache: null,

[2017-09-20 06:51] cschwarz007 commented on #980
Apologies - just found that issue #839 already exists with this topic. Hence, consider this one closed.

[2017-09-20 06:51] #980 closed

[2017-09-20 11:56] nhubbard commented on #980
@cschwarz007 Yeah, it's a restriction of UNIX (and by extension, Linux) because the time system on these OS's starts at 00:00:01 on January 1, 1970. Dates before that are considered invalid because time before then is negative, and the computer knows that time cannot be negative.

[2017-09-24 08:08] jzyee commented on #1005
i have changed the raspberry.sh but still end up with an electron error.

Error: Failed to find Electron v1.7.8

[2017-09-24 13:27] preetv commented on #1017
My weather forecast module doesn't show anything but it only shows up i.e loading. What to do . And why is it not working. Your reply will matter me the most.

[2017-09-24 13:49] hwikene commented on #145
Hi.
Any updates here? i get the same error as casus90.

[2017-09-24 14:30] Sp4M commented on #1017
Hi, the problem was discussed and partially solved in the forum
https://forum.magicmirror.builders/topic/4781/problem-with-weather-forecast/33

[2017-09-24 19:03] hwikene commented on #1005
I have the same issue.. can someone please show a solution that fixes this?

[2017-09-25 13:34] preetv commented on #1017
Ok now if i want to change the clock's time and i want to set the time of my country how is it possible. Also how can i add or run google voice control module?

[2017-09-28 19:58] wbleek commented on #910
Hi, I have made the changes but for some languages I really cannot provide the right text. Should I put the english version into those translation files?
By the way: In many translation files there doesn't exist an entry for WEEK.

[2017-09-28 20:03] MichMich commented on #910
Just leave out the translations you cant add. It will fall back to English. Which is probably why WEEK is missing: it’s the same word in a lot of other languages.

Thanks!

[2017-09-29 11:48] MichMich commented on #1026
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-09-29 11:48] #1026 closed

[2017-09-29 11:48] MichMich commented on #1023
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-09-29 11:48] #1023 closed

[2017-09-29 11:49] MichMich commented on #1017
Fixed: https://github.com/MichMich/MagicMirror/commit/29f3a81666829cab08f24bc49336befc4ae2df15

[2017-09-29 11:49] #1017 closed

[2017-09-29 11:50] MichMich commented on #1008
Closed due to inactivity.

[2017-09-29 11:50] #1008 closed

[2017-09-29 11:51] MichMich commented on #1005
This is more of an NPM or Electron issue. Please refer to those repositories.

[2017-09-29 11:51] #1005 closed

[2017-09-29 11:52] MichMich commented on #1003
Fixe din next release. Feel free to reopen if it doesn't solve the issue.

[2017-09-29 11:52] #1003 closed

[2017-09-29 11:53] MichMich commented on #1001
Please refer to http://forum.magicmirror.builders for support, troubleshooting and module specific discussions.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-09-29 11:53] #1001 closed

[2017-09-29 11:54] MichMich commented on #994
Please continue this discussion on http://forum.magicmirror.builders
I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-09-29 11:54] #994 closed

[2017-09-29 11:55] MichMich commented on #985
Feel free to send a PR. Closed due to inactivity.

[2017-09-29 11:55] #985 closed

[2017-09-29 11:56] MichMich commented on #984
Closed due to inactivity.

[2017-09-29 11:56] #984 closed

[2017-09-29 11:56] MichMich commented on #963
Closed due to inactivity (and since it's not really an issue.) Feel free to reopen.

[2017-09-29 11:56] #963 closed

[2017-09-29 11:57] MichMich commented on #960
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-09-29 11:57] #960 closed

[2017-09-29 11:57] #954 closed

[2017-09-29 11:57] MichMich commented on #950
Fixed in next release.

[2017-09-29 11:57] #950 closed

[2017-09-29 11:59] MichMich commented on #948
Too much of an edge case to do such of an overhaul. I like @fewieden's solution: implementing this feature in a module.

I close this for now. Feel free to reopen is nessecery.

[2017-09-29 11:59] #948 closed

[2017-09-29 12:00] MichMich commented on #946
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-09-29 12:00] #946 closed

[2017-09-29 12:00] MichMich commented on #945
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-09-29 12:00] #945 closed

[2017-09-29 12:00] MichMich commented on #942
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-09-29 12:00] #942 closed

[2017-09-29 12:02] #936 closed

[2017-09-29 12:03] #933 closed

[2017-09-29 12:03] MichMich commented on #932
Closed due to inactivity.

[2017-09-29 12:03] #932 closed

[2017-09-29 12:03] MichMich commented on #925
Fixed in the next release.

[2017-09-29 12:03] #925 closed

[2017-09-29 12:04] MichMich commented on #922
Closed due inactivity (and since it probably already works on the dev branch :))

[2017-09-29 12:04] #922 closed

[2017-09-29 12:07] MichMich commented on #914
This unfortunately is a Electon issue. Not much we can do.

[2017-09-29 12:07] #914 closed

[2017-09-29 12:08] MichMich commented on #868
Closed due to inactivity.

[2017-09-29 12:08] #868 closed

[2017-09-29 12:09] MichMich commented on #847
Closed due to inactivity.

[2017-09-29 12:09] #847 closed

[2017-09-29 12:10] MichMich commented on #797
Closed due to inactivity.

[2017-09-29 12:10] #797 closed

[2017-09-29 12:11] MichMich commented on #937
@nhubbard suggested to close this. Feel free to reopen and kick him in the butt if he's mistaken. ;)

[2017-09-29 12:17] MichMich commented on #864
Great workaround by @loctruong96. We'll add it to the Wiki. If somebody wants to create a real fix, feel free to send a PR. Closing this issue for now.

[2017-09-29 12:17] #864 closed

[2017-09-29 12:25] lakario commented on #1005
@MichMich Do you have any idea what's wrong with the installation of these other components? Myself and several others can't get past the RPI setup script.

[2017-09-29 12:59] lakario commented on #1005
Got it working @MichMich. A thread in the MagicMirror Troubleshooting forum pointed out an incompatibility in the latest version of electron (1.7.8). If your install fails, delete the electron folder from node_modules in MirrorMirror, make sure a newer Electron is not already installled globally, and then run:

`sudo npm install -g electron@1.7.6`

[2017-09-29 14:43] nhubbard commented on #1005
@lakario This appears to be a working solution. Another Electron app I am working on has this same exact issue.

[2017-09-29 15:05] t4rif4ri opened #1036 "ipwhitelist not working"
**Platform**: RPI 3 with newest MM build, installed and updated yesterday.

**Description**:  Until yesterday my mirror was working with an older build version. The mirror was accessable trough the internet via my configured ddns service.
After the update im getting the error, that the ip was blocked.
I tested with ipwhitelist [] but it isnt working. Additionally i entered 0.0.0.0 to adress wo get

[2017-09-29 15:07] MichMich commented on #1036
Are you running the develop branch or the master branch?

[2017-09-29 15:22] t4rif4ri commented on #1036
actual Branch is master

[2017-09-29 15:23] MichMich commented on #1036
Could you give the develop branch a try?

    git checkout develop
    git pull
    npm install

[2017-09-29 16:02] t4rif4ri commented on #1036
Ok, this problem is solved, no blocking anymore in shell console, but cant connect anyway. Browser output: (111) Connection refused

[2017-09-29 18:03] MichMich commented on #1036
So, is it solved? Or isn't it? :D If it isn't solved, what message do you see in your node output when trying to connect?

[2017-09-29 19:03] t4rif4ri commented on #1036
Output is not showing any blocked ips, but the connection got refused when i open the link in the browser. Ports are open, like when it was working.

[2017-09-29 21:28] roramirez commented on #1036
There was  fix into the `develop` branch about this issue. Please, check it out
https://github.com/MichMich/MagicMirror/commit/45d597ac49d52e1728b9d40d95b0a7acf2945cbd

So, this issue is really fixed.

As @MichMich said

[code]

Make sure you can access from the browser and where is running MagicMirror. Are differents IPs?, I mean MM and Browser

[2017-09-30 04:42] t4rif4ri commented on #1036
mirror is accessable from intern network. Also within the mirror itself. From outside i get the connection refused error shown in my browser. Tried different port settings, but cant connect via dyndns from outside. Other ports like webserver on port 80 is still working and accessable from outside.

[2017-09-30 19:30] roramirez commented on #1036
... I presumed this is configuration issue or other not related with MagicMirror itself. Did you set [`address` to `'0.0.0.0'`  in your config.js](https://github.com/MichMich/MagicMirror#configuration)?

What show you the command `netstat -putan` ?

[2017-09-30 23:43] nhubbard commented on #1036
@t4rif4ri We don't (officially) support DynDNS. I would recommend taking your case to the forums.

@MichMich close?

[2017-10-01 09:23] t4rif4ri commented on #1036
Thank you all for your help! After i set 0.0.0.0 to adress its working again. :))

[2017-10-01 12:57] Snake16547 opened #1040 "not starting"
Hi,
i got follwing error after update and restart with "pm2 restart mm"

 /home/pi/MagicMirror/node_modules/electron/index.js:9
0|mm       |   throw new Error('Electron failed to install correctly, please delete node_modules/electron and try installing again')
0|mm       |   ^
0|mm       | Error: Electron failed to install correctly, please delete node_modules/electron and try installing again
0|m

[2017-10-01 14:17] MichMich commented on #1040
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-10-01 14:17] #1040 closed

[2017-10-01 17:01] apm1007 opened #1041 "After updating magic mirror maximum entrys isnt working anymore"
Please only submit reproducible issues.

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)
Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.builders/category/10/troubleshooting](https://forum.magicmir

[2017-10-01 17:01] Wird commented on #1036
Same her, the site was live after adding "address": "0.0.0.0", to the config

[2017-10-01 17:23] MichMich commented on #1041
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-10-01 17:23] #1041 closed

[2017-10-01 19:24] cederstrom opened #1043 "Too many calendar events"
**Platform**: Raspberry Pi 3.

**Node Version**: v6.10.2

**MagicMirror Version**: v2 (commit b7996097492baa57801c30b3d8fe2c2a7b5e3d03)

**Description**: Regarding the default calendar module.
When specifying more than one calendar, the maximum number of events will exceed that specified in `config.maximumEntries`.

**Steps to Reproduce**:
Example:
This config will yield a total of `calendars.leng

[2017-10-01 19:51] MichMich commented on #1043
Fixed in develop.

[2017-10-01 19:51] #1043 closed

[2017-10-02 16:28] Scardaddy opened #1045 "Stock related modules no longer working."
You can try for yourself to install any of the stock related modules.  None of them work.  I know this is important as many people use the Mirror solely, or mostly as a financial indicator.  I will try to fix it, however they are not my modules and the owners are not responding to input.

Regards, and love the Mirror coding Mich and team.

Please only submit reproducible issues.

If you're not sur

[2017-10-03 12:41] MichMich commented on #1045
All stock modules are 3rd party module, please contact the developer of the module.

For further support refer to http://forum.magicmirror.builders.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-10-03 12:41] #1045 closed

[2017-10-03 12:41] #1036 closed

[2017-10-03 12:42] MichMich commented on #910
@wbleek Can I close this issue?

[2017-10-03 18:47] wbleek commented on #910
@MichMich
Well, I did the refactoring locally on a branch. I would love to upload that branch and make a pull request. However, I get "remote: Permission to MichMich/MagicMirror.git denied to wbleek."
Do I need to get permission or am I doing it the wrong way?

[2017-10-03 18:56] nhubbard commented on #910
@wbleek You need to fork (using the button in the top right corner), clone that repository, apply your changes and push to there. Then you create a pull request to the main here.

[2017-10-03 19:02] nhubbard commented on #910
If you need help, go ahead and ask... we love first-time contributors!

[2017-10-03 19:30] wbleek commented on #910
Thanks for the help. I think I managed. First time is always the hardest. If I am successful, maybe I contribute more ;-)

[2017-10-03 19:30] #910 closed

[2017-10-08 08:52] twalenzyk opened #1050 "Unable to install dependencies on installation"
I'm getting this output on running mentioned installation:
[code]

[2017-10-08 16:43] tuddemar commented on #1050
I had the same issue when trying to install Magicmirror on my freshly installer Rpi 3.

[2017-10-08 17:29] MichMich commented on #1050
Which os are you trying? (It would really help if you filled in all the required information when creating an issue. Thanks!)

[2017-10-08 18:48] twalenzyk commented on #1050
Sorry I forgot to mention.
I was using the lates raspbian package, which I donwloaded yesterday.
The Image is called: 2017-09-07-raspbian-stretch.img

I have Installed MagicMirror2 yesterday for a first try and it was working.
After playing around with config it refused working yesterday.
Today I wrote the raspbian image againto the SD Card and tried installing MM, what failed.

[2017-10-08 19:04] MichMich commented on #1050
We got some reports from issues with Electron on "Stretch". You might want to try "Jessie"

[2017-10-08 20:51] twalenzyk commented on #1050
I cannot get Jessie running on my Raspberry 3.

Do you have any rough schedule, when MM will work with Stretch?

[2017-10-09 21:40] WhitePonny commented on #1050
I had the same problem.
Raspberry Pi 2 running Jessie and MagicMirror then upgrade to Stretch and it is still works but Raspberry Pi 3 with Stretch from beginning doesn't wanna run Electron.
I will try installing Jessie and MM before doing the upgrade on my Pi3.

[2017-10-10 13:49] MichMich commented on #1050
Electron needs to be Fixed to run on Stretch. This needs to be done by the Electron team.

[2017-10-10 15:18] #1050 closed

[2017-10-10 20:27] Saurman opened #1052 "Newsfeed module crashing PI 3"
Just bought my first Pi 3 B specifically for this project. Spent whole day banging my head trying to figure this out. Eventually i've got it up and running but i am getting occasional system reboots. The core of those problems lies in newsfeed module, when disabled system is pretty stable.

Here is what i did:
1) common MagicMirror install
2) changed Pi locale to Ukrainian (ua_UTF-8) first via UI,

[2017-10-13 00:11] morozgrafix commented on #1052
I haven't had a chance to attempt to reproduce it, but first link seems like it doesn't validate on W3C RSS validator: https://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Fwww.pravda.com.ua%2Frus%2Frss%2Fview_news%2F

Can you please try it with only second link to see if we can eliminate potentially invalid RSS?

[2017-10-13 00:24] morozgrafix commented on #1052
Just tried it on a local instance (not on a Pi) and inspecting HTTP request on shows that it is encoded with `windows-1251`.  Try this setting and it may work.

[code]

[2017-10-13 03:59] twalenzyk commented on #1050
Hi,

Is the electron team aware of this issue?

BR Thorsten

[2017-10-13 04:58] Saurman commented on #1052
Thanks @morozgrafix, i'll try check

[2017-10-13 18:42] shbatm opened #1056 "No method to gracefully shutdown modules"
I have developed a few modules that spawn other processes and I could not find any existing method to gracefully exit when stopping or restarting the MagicMirror.  Because of the way Electron handles SIGINT commands, it is not as simple as adding a `process.on('SIGINT', function...)` to the node_helper.  Unless you are running `server_only`, this never gets called.

I would like to propose: when e

[2017-10-13 19:07] MichMich commented on #1056
Sounds perfect! Please send a PR which includes documentation. Thanks!

[2017-10-13 19:08] Stromwerk commented on #985
I would like to try my hand at adding this functionality. Should I just submit a PR when I've got it working and passing the tests or is this considered a big enough change that I should discuss my solution first, as stated in the CONTRIBUTING.md ?

[2017-10-13 19:13] MichMich commented on #985
I think it’s good to discuss it first since it would be a change which can be done in a lot of different ways. The idea propped by @roramirez is still pretty limited. Maybe a cron-type of time notation would be better. This way you can also set specific messages for a specific day.

Better yet would be an implementation in which we can use multiple notations. :)

Whatever implementation we choose:

[2017-10-13 21:18] Kugelfang666 opened #1059 "Very bad performance on raspberry pi"
Hi everyone,

i just set up MM on a fresh installed and updated Raspberry Pi3. unfortuately the performance of MM is very slow. Animated content looks as it runs with 10frames per second. Sometimes even the second indicator of the clock just stops and then updates a few seconds at once. The CPU seems not to be loeaded or anything and the actual GUI of the OS runs smooth.

Any idears how to solve t

[2017-10-14 14:55] Saurman commented on #1052
@morozgrafix I can confirm that it works perfectly, thank you very much!

[2017-10-14 14:55] #1052 closed

[2017-10-15 12:44] MichMich commented on #1059
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-10-15 12:44] #1059 closed

[2017-10-16 12:03] MichMich commented on #1056
Merged.

[2017-10-16 12:03] #1056 closed

[2017-10-16 18:26] morozgrafix commented on #1052
Glad it all worked out.

[2017-10-17 19:41] nicho29 opened #1062 "Displaying Icons Based on Current Max Temp"
I am new to the Magic Mirror concept and have a basic understanding of javascript.

I am interested in creating a Magic Mirror for my young kids. One of the things they always want to know is whether they can wear pants of shorts on a given day.

My thought is to reprogram the Current Weather modele to retrieve the temp_max for the current day and when it is above a certain number of degrees for i

[2017-10-17 19:44] nhubbard commented on #1062
I'll think about this.
Just a little note: if you want a code block, use this inside Markdown:
<pre>
[code]
</pre>
It makes it more readable for both you and me :smile:

[2017-10-17 19:51] MichMich commented on #1062
Nice idea! In my idea the best approach would be developing a new module for this which lustend to a current weather notification sent by the weather module. I’m not sure if the weather module currently sends this event, but that would be easy to implement.

[2017-10-17 20:44] AngSupremo opened #1063 "Configure Calendar"
I'm getting my calendar from my Google ical and US-Holidays.  How can I configure the calendar to show something like the sample below?

![image](https://user-images.githubusercontent.com/32427364/31688396-172747a6-b341-11e7-9a03-b0643c238618.png)

[2017-10-17 20:54] MichMich commented on #1063
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-10-17 20:54] #1063 closed

[2017-10-17 22:35] sainiaj opened #1065 "Sort modules by Date"
Hi MichMich/MagicMirror Team
love your mirror have been running for more than an year love It
Thank you

I was wondering if their is anywhere to sort 3rd party modules added by date
reason being every week or so in order to check any new submissions i have to go through all of them because at the moment they are sorted by Name

Thank you once again for the amazing Magic Mirror

[2017-10-18 08:17] MichMich commented on #1065
Sorry, That's currently not possible since it's a simple wiki page. But maybe this is helpfull:
https://github.com/MichMich/MagicMirror/wiki/Home/_history

[2017-10-18 08:17] #1065 closed

[2017-10-18 12:54] MichMich commented on #1062
To keep the Issuelist on GitHub clean, ill close this issue (since it isnt a bugreport).

If you need any support building your module, check out the forum: http://forum.magicmirror.builders or when you need help with the notification change, check out the Slack channel.

[2017-10-18 12:54] #1062 closed

[2017-10-19 07:41] axellejamous commented on #1018
hello @Nograe I'm having the same issue. Tried all of the other suggestions mentioned in other issues that are similar. including the "en" change but nothing seems to be working so my problem must be elsewhere.

What do you mean by vendor file?

[2017-10-19 07:43] MichMich commented on #1018
@axellejamous Please check http://forum.magicmirror.builders for support.

[2017-10-22 10:03] KalleHeuwes opened #1066 "Calendar problem"
**Platform**: Raspberry Pi 3

**Node Version**: 6.11.0

**MagicMirror Version**: 2.1.3

**Description**:
I configured 7 calendars; 6 of these are displayed correctly.
But one of them produces this error:

Whoops! There was an uncaught exception...
Error: dates lower than Thu Jan 01 1970 00:00:00 GMT+0100 (CET) are not supported
    at Object.toOrdinal (/home/pi/MagicMirror/node_modules/rrule-alt/l

[2017-10-22 18:27] wbleek opened #1067 "Calendar List is not limited to maximumEntries"
I have updated to the lates version on master. Since then, the problem occurs.

**Platform**: RaspPI 3, Jesse
**Node Version**: 6.11.3
**MagicMirror Version**: v2

**Description**: I have configures multiple calendars. I have set the config value maximumEntries explicitly to 10. I get a list of more then 30 entries display since the update.

[2017-10-22 18:32] wbleek opened #1068 "News Feed shows "invalid Date" for certain entires"
**Platform**: RaspPi 3, Jesse
**Node Version**: 6.11.3
**MagicMirror Version**: V2

**Description**: Since the update to the newest version on master some newsfeed entries display "invalidDate".
url: "http://www.apotheke-adhoc.de/feed/topnews/"
The newsfeed provides the dates with German text but as far as I remember it did not throw an error beforehand. However, it could be that the newsfeed chan

[2017-10-23 07:07] frankoutch opened #1069 "compliment non actualiser"
Bonjour a tous
voici mon probleme
les compliment ne sont pas actualiser
ils restent fixe sur anytimes
merci pour votre aide !

[2017-10-23 09:58] MichMich commented on #1069
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-10-23 09:58] #1069 closed

[2017-10-23 16:53] oss001 commented on #1067
I am having the same issue.  maximumEntries is having no effect.

[2017-10-23 17:36] morozgrafix commented on #1067
I just tested it and it seems that when you set `maximumEntries` for entire calendar module config you get `maximumEntries` * number of calendars. So if you have 4 calendars and set `maximumEntries: "2"` you will get total of 8 entries. Keep in mind that node server or electron needs to be restarted in order to pickup new setting from the config, as it is read during startup if I'm not mistaken. I

[2017-10-23 17:53] morozgrafix commented on #1068
It looks like that RSS feed is using DIN 1355 date format like `<pubDate>Mo, 23 Okt 2017 14:10:00 +0200</pubDate>` which is invalid for RSS standards where pubDate must be an RFC-822 date-time. When `newsfeed.js` is attempting to convert it into a meaningful date object it chokes and produces invalid date.

[code]

RSS validator:
https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fwww.apothe

[2017-10-23 18:51] FROGGS commented on #1067
This fixes it for me:
[code]

[2017-10-23 19:12] morozgrafix commented on #1067
I think this will work when you specify `maximumEntries` for entire calendar module, but may not work if you want to specify `maximumEntries` per calendar.

[2017-10-23 19:14] FROGGS commented on #1067
Well, then we should only slice the events there *if* maximumEvents is set for the entire calendar.
I only know that the current behaviour does not work at all for my scenario.

[2017-10-23 19:22] morozgrafix commented on #1067
I agree there is some room for improvement. Maybe `maximumEntries` for entire module should be a separate config from `maximumEntries` per calendar.

[2017-10-23 21:33] oss001 commented on #1067
Thanks for posting @FROGGS, that changed it to an overall max limit which was what I had expected.  I agree a separate config entry would be a great idea.  For me, I required an over all limit due to lack of display space but I see value in per calendar as well.  I greatly appreciate all your hard work!!

[2017-10-24 08:53] MichMich commented on #1068
As @morozgrafix notes: only valid rss files are supported.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-10-24 08:53] #1068 closed

[2017-10-24 08:55] MichMich commented on #1067
Feel free to send me a PR to incorporate this in the core.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-10-24 08:55] #1067 closed

[2017-10-24 09:45] wbleek commented on #1068
I just want so say thanks for investigating and pointing it out. I'll get in contact with the feed source.

[2017-10-24 19:53] Txukie opened #1070 "Events from Google Calendar showing at incorrect dates, or not showing at all"
Edited:
I have been using a Google Calendar of birthdays to test this module out. Sometimes events show up but incorrectly, like several months in advance although they seem to show up on the same day, as in an event created for the 25th of March will actually show up as occurring on the 25th of October for example.

[code]

Just FYI, my locales are set as follows:

[code]

[2017-10-24 22:30] mikecebul commented on #1059
This version did not fix the issue with electron overworking the cpu. Downgrading to 2.1.0 and electron 1.4.15 is still the current fix.

[2017-10-24 23:50] morozgrafix commented on #1070
@Txukie it may not be a good idea to post link to your private calendar in a public forum.

[2017-10-25 10:43] Txukie commented on #1070
You're totally right, let me make another account and copy this calendar accross and I will update my report accordingly.

[2017-10-28 23:38] fatcatcgo commented on #995
Ran into this issue when I got a new DHCP assigned IP.  Change the IP in the whitelist for listener.  Where else is the server starting to look for IP.  BTW we b runs but some modules have issue.

Also noted that this only occurs when a node on my net is up with it old IP.

[2017-10-30 14:22] TopperDEL opened #1071 "Filter news entries"
This is not a bug, but a Feature request. I hope this place is still ok.

I would like to see a filter-Attribute for the newsfeed-module. There I would add a list of words and if any of these are found within the tilte of a news entry, the news entry gets ignored.

I want to hide any sport-related news on my mirror as this is of no interest for me. But there is no "normal" newsfeed in Germany with

[2017-10-30 14:24] ToddKlindt commented on #1071
I would love this too. From one of my local newspaper's RSS feed I get headlines about pictures that I can't see, or editorial stuff. It would be great to be able to filter out articles by words in the title.

[2017-11-01 10:56] morozgrafix commented on #1071
Code for this feature has been merged into `develop` branch. Please test it out and let me know if this is something you had in mind. Also please let me know if you think it can be improved in any way.

Thanks.

[2017-11-01 18:16] TopperDEL commented on #1071
I checked it out and tried it. Seems to work exactly as expected - thank you! I have three newsfeed-modules with filter and one without - all work seemlessly.

[2017-11-02 08:08] morozgrafix commented on #1071
@MichMich I think we can close this one.

[2017-11-02 08:09] #1071 closed

[2017-11-05 09:57] mrpetermatyas opened #1073 "Empty black screen in IE 11/Edge"
Dear Developers!

I tried to use on my laptop to check how it goes, but I realized, it works well in Chrome and does not work in IE 11/Edge. It only shows a black blank screen with the page named MagicMirror2.
I'm up to date with MM on a Rasbian with serveronly mode.

Thanks,

Peter

[2017-11-06 15:19] lunaticasylum opened #1074 "two classes in the same module"
Hi,

I haven't found the solution and after a few tries I did not manage to fix my problem.

I would like to have two differents classes "dimned " but also « daytime_scheduler" in the same module.
Is it possible ?

Thanks for your help

Yann

Please only submit reproducible issues.

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmir

[2017-11-06 18:42] MichMich commented on #1074
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-11-06 18:42] #1074 closed

[2017-11-06 18:52] lunaticasylum commented on #1074
Thanks for answer Michael. I click straight away ;). I will let you know.

Yann

[2017-11-06 19:11] MichMich commented on #1073
Hi Peter,

IE & Edge are not officially supported. So I won't be working on a bug fix myself. Of course, anyone is welcome to send a PR which fixes this. I suggest you check out the forum to see if someone has a solution.

Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know

[2017-11-06 19:11] #1073 closed

[2017-11-06 21:36] TobiTobiM opened #1075 "Possible Bug in clientonly/index.js"
First of all, thanks for the project. Makes fun setting up/building the magic mirror.

**Platform Server:** x86_64 Docker Container based on bastilimbach/docker-magicmirror Image
**Plattform Client:** Raspberry PI 3 Raspbian Electron 1.7.9
**Node Version:** 9.0.0
**MagicMirror Version:**: Head Version (Master) both Client and Server

**Description:**: Setup looks like this. To give the small raspi

[2017-11-07 13:45] sureshkocherla opened #1076 "MMM-Swipe module error"
I have installed the module and also configured it. after running the script it is showing the error like this :
**Getting Error 'unknown hardware: "BCM2835"'**

[2017-11-07 19:29] MichMich commented on #1076
This repository focuses on the MagicMirror core.

MMM-Swipe is a third party module. Please contact the developer of the module for support.

Thanks!

[2017-11-07 19:29] #1076 closed

[2017-11-08 09:01] onkararj commented on #215
how can i stop mm from restarting bcoz of pm2. .plz help..

[2017-11-08 09:07] onkararj opened #1077 "how to stop mm from restarting"
my MM keep restarting agin and again. can any one know how to stop it. right now for dev purpose i need it stop.

[2017-11-08 09:27] ToddKlindt commented on #1077
I believe you need to type, 'pm2 stop mm' at a prompt.

[2017-11-08 11:04] MichMich commented on #1077
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-11-08 11:04] #1077 closed

[2017-11-11 22:49] matteos1 commented on #161
here same error on electron

[2017-11-12 07:59] hyd00 commented on #1018
for anyone else, i solved my blank screen issue by

[code]
it will download fonts and icons needed by modules.

then
[code]
and now it shows modules perfectly 💃  ..

[2017-11-13 11:33] matteos1 commented on #145
raspbery pi3 freeze and mm not work

[2017-11-13 14:45] plmokn102030 commented on #1075
I'dont start smart mirror
Give me advice please thanks
Raspberry pi terminal

bash -c "$(curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh)"

[2017-11-17 06:35] makerschwabe opened #1082 "sh run-start.sh fails"
Please only submit reproducible issues.

I tryed to set up magic mirror on a raspberry pi zero with npm v4.1.2

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)
Problems installing or configuring your MagicMirror? Check out: [https://forum.m

[2017-11-17 07:02] Axel-Germany commented on #1082
The file npm-debug.log shows this:

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'start' ]
2 info using npm@4.1.2
3 info using node@v7.7.3
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle magicmirror@2.1.3~prestart: magicmirror@2.1.3
6 silly lifecycle magicmirror@2.1.3~prestart: no script for prestart, continuing
7 info

[2017-11-17 07:03] Axel-Germany commented on #1082
I tryed to run Magic Mirror on a Raspberry Pi Zero W

pi@weberpi:~ $ git clone https://github.com/MichMich/MagicMirror
fatal: destination path 'MagicMirror' already exists and is not an empty directory.
pi@weberpi:~ $ cd ~/MagicMirror
pi@weberpi:~/MagicMirror $
pi@weberpi:~/MagicMirror $ npm install && npm start
ERROR: npm is known not to run on Node.js v4.2.4
Node.js 4 is supported but the specif

[2017-11-17 08:06] MichMich commented on #1082
Thanks @Axel-Germany for solving this issue. Closing it for now.

[2017-11-17 08:06] #1082 closed

[2017-11-17 19:01] Trickx opened #1083 "Calculation issue in calendar module"
**Platform**: raspbian on Raspberry Pi 3
**Node Version**: node -v -> v6.12.0

**MagicMirror Version**: v2

**Description**: Today we have Friday the 17th of November.
There is a full-day (no time slot) entry "XXX Geburtstag" in my iCloud calendar for Monday 20th.
The entry is shown as in 2 days, but it's in three.
Entries for the same day e.g. "Tennis", but with a defined time slot e.g. 4-5 pm, a

[2017-11-18 19:18] nhubbard commented on #1066
Are any of the dates in your calendar before January 1, 1970? This is a hardware limitation that we cannot bypass in any way.

[2017-11-18 19:25] nhubbard opened #1084 "Possible EventEmitter issues with (split) weather modules"
**Platform**: Raspberry Pi 3 Model B

**Node Version**: v6.11.4

**MagicMirror Version**: 2.1.3

**Description**: Eventually, I have started seeing these issues with my Raspberry Pi 3, and this is non-reproducible. I'm getting error messages like this from PM2:
[code]

**Expected Results**: Weather modules appear together.

**Actual Results**: There is a blank, black space with the weather module.

[2017-11-18 21:48] Kugelfang666 commented on #1083
thanks for bringing this up, i have the same issue!

[2017-11-19 14:42] javilandoando commented on #1070
I have same issue.
I don't know why although on google calendar any birthday remind is displayed properly, using this module I get a reminder related to a birthday on a different month although day, 21st for example, is correct.

Does any body find how to correct this?

[2017-11-19 15:10] sebcaps commented on #145
@casus90  i got the same issue, but did not had patince to wait node-gyup rebuild... I just edited package.json to 'update' electron version,  In dependencies section (line 57) , update electron version from ^1.6.10"to '^1.7.9'  and sounds good. (no checked everything but install and start is OK)
(I'm using Rpi 3 on Stretch)

Hope it helps

[2017-11-20 01:05] kypse opened #1085 "Doesn’t work on Raspberry Pi Zero"
Dear Mich,
I got the same error message that MagicMirror doesn’t work at RPI zero.. same error closed on year ago...

[2017-11-21 06:30] yuen33 commented on #1005
I also got exactly this error... Tried the solution from @ruicky that doesn't solve my problem...

[2017-11-21 18:56] balrok opened #1086 "run magicmirror in subfolder - absolute include"
Using the latest version from github socket.io is included by an absolute path:
https://github.com/MichMich/MagicMirror/blob/master/index.html#L40

I run magicmirror with "node serveronly" and put it behind nginx, which maps it to a subfolder.. e.g.:
[code]
Having an absolute path there, it breaks my setup.. all other files seem to include just fine.

Edit: OK this is just the first in multiple bu

[2017-11-22 23:12] Czara commented on #1059
Hello,

I've the same Issue, if I downgrade don't work for me I have this error

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'start' ]
2 info using npm@3.10.10
3 info using node@v6.12.0
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle magicmirror@2.1.0~prestart: magicmirror@2.1.0
6 silly lifecycle magicmirror@2.1.0~prestart: no scr

[2017-11-23 05:46] KalleHeuwes commented on #1066
Hi, Nicholas !

Yes there are (birth ) dates before 19700101 as some of my friends are very
old.
Maybe I should get rid of my old friends ;-)

Kind regards
Kalle

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virenfrei.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=w

[2017-11-23 12:05] MichMich commented on #1086
Hi Balok, this is not a use case we support. Of course you can send a PR so we can include your fix for this, but I don't expect that any of the devs will . Cheers!

[2017-11-23 12:05] #1086 closed

[2017-11-23 12:06] MichMich commented on #1085
The Pi Zero is not officially supported. There are workaround which you can find on the forum.

Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-11-23 12:06] #1085 closed

[2017-11-23 12:08] MichMich commented on #1084
EventEmitter is not something from the MM core. I suspect this has something to do with the Node version or Electron version. Could you try with another node version?

[2017-11-23 12:10] MichMich commented on #1083
Could you check if this is incorrect both in the morning and in the evening? And if not, what si the date and time of the event in your agenda?

[2017-11-23 12:12] MichMich commented on #1075
@TobiTobiM the docker integration is a community contribution, so not something I know a lot about. If you know a solution, could you send a PR?

@plmokn102030  please refer to http://forum.magicmirror.builders for support and troubleshooting.

[2017-11-24 04:18] olivier-nolhan opened #1087 "newsfeed time display"
Hello,

I change the feed rss Newsfeed but it still displays the time in English off I try to put it in french (hey yes I'm french ^^)

Example:

![20171124_051035 1](https://user-images.githubusercontent.com/25808281/33195262-4e3312e0-d0d6-11e7-9864-034bfbe99b8b.jpg)

**Platform**: Raspberry Pi 3

[2017-11-24 05:14] olivier-nolhan commented on #1087
I solved the problem by restarting my raspberry ^^

thanks anyway to all

[2017-11-24 08:12] #1087 closed

[2017-11-25 12:01] nhubbard commented on #1084
Sure.

[2017-11-25 22:57] Kugelfang666 commented on #1083
once I saw that the problem was only occurring after noontime. I’lol check in a few days to veryfy. In my case all the events are full day events as I’m using a set made calendar only comprising birthdays

[2017-11-26 10:26] sebcaps opened #1091 "Error in Newsfeed module"
**Platform**:  raspberry3

**Node Version**: 6.12.0

**MagicMirror Version**: V2

**Description**: error in Feeds module

**Steps to Reproduce**: configure feed module to use [http://rss.liberation.fr/rss/latest/](http://rss.liberation.fr/rss/latest/) source.

**Expected Results**: Data are displayed

**Actual Results**:  error raised at startup
`Whoops! There was an uncaught exception...
TypeErro

[2017-11-26 14:19] caldecy opened #1093 "Magic Mirror server & Webcam server issue"
MagicMirror Version: Javascript version (v2) running on Raspberry Pi 3.

Description: I keep getting the following error message when running my webcam server with the Magic Mirror app.

**Error: listen EADDRINUSE 127.0.0.1:8080
    at Object.exports._errnoException (util.js:1050:11)
    at exports._exceptionWithHostPort (util.js:1073:20)
    at Server.setupListenHandle [as _listen2] (net.js:1263:

[2017-11-26 19:54] MichMich commented on #1091
Fix merged.

[2017-11-26 19:54] #1091 closed

[2017-11-26 19:55] MichMich commented on #1093
Since this is a third party module issue, please refer to http://forum.magicmirror.builders for support and troubleshooting.

Quick pointer in the right direction: configure MagicMirror to use a different post, ie: 8081.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-11-26 19:55] #1093 closed

[2017-11-26 19:56] MichMich commented on #1093
https://github.com/MichMich/MagicMirror#configuration

[2017-11-26 19:57] MichMich commented on #1083
My guess is that moment.js only counts a day when it's 24 hour (or more). 23,5 hours will not count as a day.

[2017-11-27 13:30] caldecy opened #1094 "Issue with displaying rain in weather_forecast module"
**MagicMirror Version**: 2.1.3

**Description**: I cannot get Magic Mirror to display the rain probability for the day in the current_weather display. I changed the _showRainAmount: true_ in the weatherforecast.js but the rain amount does not show in the display.

**Configuration**: Module.register("weatherforecast",{

	// Default module config.
	defaults: {
		location: false,
		locationID: true,

[2017-11-28 01:16] AB-Normal1960 opened #1096 "getting this error with ¨sh run-start.sh"on a fresh install. Before installing MM2,on a fresh Rasbian flashed SD card, I did a sudo apt-get update, then a sudo apt-get upgrade. I had this working great before and sent a copy of my config.js to myself in a gmail email. I got that file from the email and put it in the MagicMirror/Config folder. When I do npm start, it says there was a problem with electron and to report the issues saying there was a problem with sh run-start.sh¨."
Please only submit reproducible issues.

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)
Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.builders/category/10/troubleshooting](https://forum.magicmir

[2017-11-28 01:19] AB-Normal1960 commented on #1096
BTW, I installed MM using this command from a fresh Raspian Stretch SD card after I did the Update and upgrade commands:  bash -c "$(curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh)"

[2017-11-28 05:49] Basanth-kumar-Uppalancha opened #1097 "Help! creation of Icons"
Hi all! Here i am a beginner to this smartMirror things…just tested some modules which i liked the most…but i want to create a clean UI …just like any other os looks…i want few modules to be displaced after booting of my mirror…then there should be some icons for my modules on the initial screen …upon clicking those icon their respective modules should start their function…and after use i should b

[2017-11-28 08:28] MichMich commented on #1097
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-11-28 08:28] #1097 closed

[2017-11-28 08:42] Basanth-kumar-Uppalancha commented on #1097
Thanks! for your reply...same thing posted in modules utilities category of support forum, but havent got any valuable answer ...so i thought better to confirm that from you, if you can suggest anything better ....than that will be going to be a base for my build....any alternatives for this? ?

[2017-11-28 11:31] MichMich commented on #1096
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-11-28 11:31] #1096 closed

[2017-11-28 16:31] Vicvares opened #1098 "Problems loading RSS module"
Hi, I'm currently having an issue with RSS news, here is the information. Thanks!

**Platform**: Raspberry Pi 3

**Node Version**: Version 0.12.13 or later.

**MagicMirror Version**: Latest

**Description**:  When I run the magic mirror, everything works well but RSS is not loading its content,, it stays at Loading...

If I check the terminal this is what I have:

**Steps to Reproduce**: I just ra

[2017-11-28 16:39] Vicvares commented on #1098
The problem was with the RSS server

[2017-11-28 16:39] #1098 closed

[2017-11-29 09:06] kleinmantara commented on #1070
The same problem with me. I also use Google Calendar and all-day entries are displayed at the wrong time.

[2017-11-30 20:14] Kugelfang666 commented on #1083
could be, but why do whole day- appointments vanish form the calendar on the actual day? Two weeks ago i put this post on the MM forum:

[2017-12-02 06:27] disheet opened #1099 "After doing MMM-Assistant, voice recognition is not working"
I've install MMM-Assistant successful but while running the script, It is not working even microphone symbol is not coming to screen.

[2017-12-03 17:38] mattmurf commented on #1070
I'm getting garbled times..  The date is showing correctly.

This was working and broke at some point in the past couple months.

Example:
Quiz blah, Blah, Blah
Today at AMb0oo12/4/2017ut1

[2017-12-04 10:29] MichMich commented on #1099
This is an issue with a third party module, please open an issue in that repository.

Or refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-12-04 10:29] #1099 closed

[2017-12-04 10:29] MichMich commented on #1094
It might have something to do with the "recent" api changes of OpenWeatherMap for new users. Please check the forum.

[2017-12-04 10:30] MichMich commented on #1083
Please run the latest version, and downgrade electron using the following command:

    npm install electron@1.4.15

[2017-12-04 16:14] ColonelMoutarde opened #1100 "Using Roboto Condensed & subset latin-ext"
Hi,
By default using "Using Roboto Condensed" & "subset latin-ext" for improvment specials chars:
é, à, ù ... Using in french

[2017-12-04 16:37] MichMich commented on #1100
Those chars should work with the current font. Are you experiencing issues?

[2017-12-04 17:05] ColonelMoutarde commented on #1100
Without using Roboto Condensed" & "subset latin-ext
look météo...
![screenshot-2017-12-4 magicmirror](https://user-images.githubusercontent.com/4697568/33565404-4b2abae0-d91d-11e7-911e-f9fdc6992b09.png)

if i add in custom.css
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=latin-ext') ;

![screenshot-2017-12-4 magicmirror 1](https://user-images.githubusercontent.com/4

[2017-12-04 17:09] MichMich commented on #1100
Ah, that's weird indeed.

I think we need to mention this in the nam package of the font:
https://github.com/choffmeister/roboto-fontface-bower/issues/44

[2017-12-04 17:24] ColonelMoutarde commented on #1100
the diffrence is subset=latin-ext

[2017-12-07 14:22] nevets2k17 opened #1101 "Electron failed to install correctly, please delete node_modules/electron and try installing again"
**Anyone can help me to fix this problem ?**

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'start' ]
2 info using npm@3.10.10
3 info using node@v6.12.1
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle magicmirror@2.1.3~prestart: magicmirror@2.1.3
6 silly lifecycle magicmirror@2.1.3~prestart: no script for prestart, continuing
7 info

[2017-12-07 20:51] nhubbard commented on #1066
@HalleHeuwes You don't have to get rid of your old friends :) My dad was born before 1970; I changed his birthday to the same date in 1970 and calendar parsing issues disappeared. Could you try that?

[2017-12-07 22:07] nhubbard commented on #1094
@caldecy You have to make the changes in *your* config file (config/config.js), not in the module defaults config. Those are defaults so that those options work when they aren't changed by the user.

[2017-12-08 06:28] KalleHeuwes commented on #1066
Hi, Nicholas!

Thank you for your support.
I don't want fake the birth dates, just to make them fit into mm.
I created a different calendar in google holding all my dates.
The main calendar, which includes the birth dates isn't included in mm anymore.
This works for me.

Kind regards
Kalle

[2017-12-08 07:46] MichMich commented on #1075
Closed due to inactivity. Feel free to reopen.

[2017-12-08 07:46] #1075 closed

[2017-12-08 07:46] MichMich commented on #1101
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-12-08 07:46] #1101 closed

[2017-12-08 07:47] MichMich commented on #1100
@ColonelMoutarde is it possible to set that with the NPM import?

[2017-12-08 07:48] MichMich commented on #1094
Ah, indeed, good catch @nhubbard.

That should solve the issue. Closing it for now. Feel free to reopen.

[2017-12-08 07:48] #1094 closed

[2017-12-08 07:48] MichMich commented on #1084
Closed due to inactivity. Feel free to reopen.

[2017-12-08 07:48] #1084 closed

[2017-12-08 07:49] MichMich commented on #1066
Good workaround. Closing this for now. Feel free to reopen.

[2017-12-08 07:49] #1066 closed

[2017-12-08 08:40] ColonelMoutarde commented on #1100
How to do this with NPM, i'm newbe.

[2017-12-09 14:25] caldecy commented on #1094
Thanks @nhubbard for the advice, however even after changing the config file (config/config.js) and inputting the relevant fields, I still see the weather forecast for 5 days.

My script is as such:

[code]

[2017-12-09 18:16] matthewpmangus commented on #1070
I don't know if it'd work OR IF anything else MIGHT break, but it may be worth trying...

`npm update ical`?

[2017-12-10 11:11] dexterbeng commented on #215
Thanks shivanraptor!

[2017-12-12 09:02] Y0nnyy commented on #932
Why is this closed? Has the issue been resolved? Currently i have the same problem.
```npm start``` running in terminal on the device is working, but ```DISPLAY=:0 npm start``` over ssh does not.

[2017-12-12 09:41] MichMich commented on #932
@Y0nnyy Do you see any errors?

[2017-12-12 09:53] Y0nnyy commented on #932
Yes:
[code]

And the log file:
[code]

[2017-12-12 18:50] nhubbard commented on #1100
@MichMich This is difficult. The package we use doesn't have latin-ext in it. It looks like Google patches the font and hosts it instead. The solution may be using the Google Fonts version for now.

[2017-12-12 18:52] nhubbard commented on #1070
@matthewpmangus If you don't have testing hardware, it works just fine on an Intel/AMD based system. We don't use any special modules.

[2017-12-13 01:10] abacon118 opened #1103 "Error when I run npm start on fresh raspbian stretch install"
When I run npm start on a fresh install on raspbian stretch install i get the following in the debug file.

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/bin/npm', 'start' ]
2 info using npm@3.10.10
3 info using node@v4.2.1
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle magicmirror@2.1.3~prestart: magicmirror@2.1.3
6 silly lifecycle ma

[2017-12-14 23:19] nhubbard commented on #1100
Either that, or we could download the fonts and make our own package.

[2017-12-15 08:34] MichMich commented on #1100
@nhubbard Looking forward to your PR! ;)

[2017-12-16 04:41] cyberdude86 commented on #393
I am experiencing the same blank start issue with my freshly installed rpi3 with mm2.  Is there any current bugs in the master branch?

[2017-12-20 22:18] devinhedge opened #1104 "Uncaught exception in Calendar module"
**Platform**: Place your platform here... give us your web browser/Electron version *and* your hardware (Raspberry Pi 2/3, Windows, Mac, Linux, System V UNIX).

**Platform**:  Raspberry Pi 3

**Node Version**: v6.12.2

**MagicMirror Version**: [2.1.3]

**Description**:

MagicMirror default calendar module throws an exception when loading a calendar with an annual recurring event who's start date i

[2017-12-21 22:11] Kugelfang666 commented on #1083
thanks for the input, I'll give it a try. stupd question however, how do i update my MM to the latest version without having to reinstalla l the plugins?

[2017-12-26 12:33] AWSW2017 opened #1105 "iCAL problem - All upcoming appointments dates wrong - Month value"
Hello there and merry Christmas to you,

I think I have a reproducible problem with the calendar module.

**Platform**: (Raspberry Pi 3, Mac, Recent Linux NOOBS).

**Node Version**: Recent version installed with your automatic install.

**MagicMirror Version**: Recent version installed with your automatic install.

**Description**:

The problem is, that the months are not fetched correctly. Today

[2017-12-28 07:14] mfread commented on #1103
I did a manual install. I got a warning during installation onto my RPi2B with a new install of Raspbian Stretch.

npm WARN deprecated coffee-script@1.10.0: CoffeeScript on NPM has moved to "coffeescript" (no hyphen)
npm WARN prefer global coffee-script@1.10.0 should be installed with -g
npm WARN prefer global jsonlint@1.0.2 should be installed with -g

The installation continued, and after some 5

[2017-12-28 09:09] mfread commented on #215
After some experimentation, I found ctrl-q on my Pi2B with Raspbian Stretch to work.

[2017-12-28 10:02] mfread opened #1106 "default clock module: cannot turn seconds off"
I cannot seem to turn off the seconds display in the default clock module when I add the config item displaySeconds: "false"

snapshot of a section from my ~/MagicMirror/config/config.js file
[code]

I am running Raspian Stretch on a Pi2B. I followed the installation instructions of MagicMirror from the main page of MichMich/MagicMirror on GitHub. MM v2.1.3

[2017-12-28 10:07] yesyesuk commented on #1106
Hi,

one thing I noticed is that you have a single quote in the
following line when it should be a double quote:

showPeriod: 'true"

It is the next parameter after the one you say doesn't work. Could be
that it fails parsing.

Chris

On 2017-12-28 10:02, mfread wrote:

I cannot seem to turn off the seconds display in the default clock
module when I add the config item displaySeconds: "false"

of

[2017-12-28 10:10] mfread commented on #1106
Thanks yesyesuk. That was a typo - corrected now.

[2017-12-28 10:24] mfread commented on #1106
Problem sorted. My fault. Cannot quote true/false values.

[code]

[2017-12-28 10:24] #1106 closed

[2017-12-28 11:26] MichMich commented on #1083
https://github.com/MichMich/MagicMirror#updating-your-magicmirror

Your modules folder and config won't get touched, so don't worry.

[2017-12-29 22:56] pravine commented on #1103
Got same issue with a fresh installation for Rasbian Strech Lite. Any workaround on this issue ?

[2017-12-29 23:22] Kugelfang666 commented on #1083
thanks for the help. Just updated to the most recent version and gave it a shot. Problem still exists: Full-Day events immediately disappear on the actual date of occurance whereas i would expect them to be displayed throughout the day.

[2017-12-30 00:11] fmandal opened #1107 "maximumEntries not working on calendar module"
**Platform**: Raspberry Pi 2 and 3

**Node Version**: 6.12.2

**MagicMirror Version**: JavaScript version (v2).

**Description**: Setting maximumEntries in config.js on calendar module does not work. It works when setting on a per calendar basis, but not on the module.

**Expected Results**: I want the total number of calendar events to be limited to a number.

**Actual Results**: The list goes on

[2017-12-30 08:23] AWSW2017 commented on #1105
Hello,

I think I found the reason for this. All not correctly shown appointments are recurring ones and they have 2 notifications: 1 for the day of the appointment itself and one 1 day before.

Removing the one of the day before of the appointment helped to remove most of the not correctly shown entries in MagicMirror. For the remaining ones I just needed to open and store the appointment again.

[2017-12-30 09:05] fewieden commented on #1107
The global maximum entries setting is currently implemented as you would do the following.

[code]

[2017-12-30 09:22] inversation commented on #1107
I have noticed this behaviour as well. If my 'maximumEntries' is set to '10' (maximumEntries: 10), then it will display the next 10 entries per calendar. So if I have 3 calendars, I will see 3 * 10 = 30 entries.

What I would expect to see is a total of 10 entries, which would consist of entries from any calendar listed. So essentially, the module would pull a bunch of entries from every calendar

[2017-12-30 11:55] VicoLeChips opened #1108 "I have a blank black screen when I start the MagicMirror"
I configured the MagicMirror first and it worked fine.
Then I added some new modules and it worked fine too until I added one module that load me on a black screen everytime. So I decided to delete this new module because it loaded me on a black screen when I started the MagicMirror. And even after deleting it, I still have the same issue : http://prntscr.com/hu5mol
Then when i run the logs that w

[2017-12-30 17:04] rgstephens opened #1109 "Support multiple instances in Calendar"
I'd like to create multiple calendars (a "Today's Calendar" with certain types of calendar items and a "Group Calendar" with upcoming events associated with a group of people, etc.).  I've added a new `instance` configuration option so you can create multiple calendar instances each have a unique instance id.  For example:

[code]

[2017-12-30 18:40] wseme commented on #145
I had the same issue on my Raspberry Pi 2 with a fresh install and after upgrading. Nothing above seemed to work.
Electron kept failing to be installed via the bash command/installer.
/usr/lib/node_modules was root.

I tried running:
[code]

Both failed for me due to permissions issue.
I ran them both as sudo and this corrected the problem. I doubt this is the best way to do this. But hopefully th

[2017-12-30 20:00] MichMich commented on #1108
You have an error somewhere in your config file. Maybe a missing or incorrect `,` or something like that.

Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-12-30 20:00] #1108 closed

[2017-12-30 20:03] MichMich commented on #1109
I fail to understand what the issue is. Why does it need an "instance" identifier? You can just add multiple calendar modules to your config? Could you elaborate?

[2017-12-30 20:06] MichMich commented on #1107
It's not a bug. It's more of a feature request. I agree it would be better if `maximumEntries` was a total number of maximumEntries. And then add an `maximumEntries` per calendar. Fee free to send a PR for this. :)

[2017-12-30 20:08] MichMich commented on #1105
Ah. For now it would be great to add that to the documentation. It would be great if you could send a PR for this. I'll close this for now. Feel free to reopen!

[2017-12-30 20:09] MichMich commented on #1104
Duplicate: https://github.com/MichMich/MagicMirror/issues/1066

[2017-12-30 20:09] #1104 closed

[2017-12-30 20:11] MichMich commented on #1103
Lite is not supported. Please state all the required version numbers to allow us to find an solution. Thanks!

[2017-12-30 20:28] MichMich commented on #1100
@ColonelMoutarde: So, a bit of a slow response, but non the less ...

I wanted to add the correct front, but before I did I wanted to see the issue with my own eyes. So I configured a module with your exact French text, and it appears to show without any issues:

![screen shot 2017-12-30 at 21 26 50](https://user-images.githubusercontent.com/210954/34457142-665d0076-eda8-11e7-8825-39a15f6b27ef.png

[2017-12-30 21:19] VicoLeChips commented on #1108
OMG !
i took some time reviezing the entire config/config.js file and found the error.
Thank you sooo much !!

[2017-12-30 23:41] rgstephens commented on #1109
If I create two calendars, options for the first calendar are over-ridden by the second. For example, if my first calendar specifies `maximumNumberOfDays: 2` and the second calendar doesn't include that option the `maximumNumberOfDays` for the first calendar is not limited to the two day maximum. Using the `instance` setting, the parameters are kept separate.

I've duplicated the issue with the `e

[2017-12-31 01:20] abacon118 commented on #1103
Personally, I am using the full Raspbian Stretch. When I installed I had a fresh install of Stretch.

Thank you,

Andrew Bowman

From: Michael Teeuw
Sent: Saturday, December 30, 2017 3:11 PM
To: MichMich/MagicMirror
Cc: abacon118; Author
Subject: Re: [MichMich/MagicMirror] Error when I run npm start on freshraspbian stretch install (#1103)

Lite is not supported. Please state all the required vers

[2017-12-31 02:46] mfread commented on #1103
I am using the full Raspbian Stretch install too. The mirror is working
fine. I was just curious about the Coffee script warning and thought the
developer should know.

On 31 December 2017 at 12:20, abacon118 <notifications@github.com> wrote:

[2017-12-31 10:57] inversation commented on #1107
Sorry if this is a real dummy question, but.... I've made the changes on my local install and got it all working. I tried to do a pull request and I have absolutely no idea what to do. Is there a github for newbies guide somewhere I can follow? I kinda assumed that pull request would just check-out the code for me to make changes and then check-in.

Would appreciate the help so I can learn =)

[2017-12-31 11:37] MichMich commented on #1109
This is more of a bug than a missing feature. The calendar URL's aren't shared between multiple instances either. So any other configuration  like `maximumNumberOfDays` should remain separate as well. The best approach is to let the frontend module handle the usage of the configuration. The node helper shouldn't do much more than fetching the data. Adding an "instance" configuration to solve it is

[2017-12-31 11:38] MichMich commented on #1103
You can ignore the coffee script warning. So considering the mirror works. Can I close this issue?

[2017-12-31 12:59] mfread commented on #1103
that's a yes from me.

On 31 December 2017 at 22:38, Michael Teeuw <notifications@github.com>
wrote:

[2017-12-31 13:30] abacon118 commented on #1103
No. When i have a chance i will send you a picture of the error message.

Thank you,

Andrew Bowman

On Dec 31, 2017 7:59 AM, "mfread" <notifications@github.com> wrote:

[2017-12-31 15:36] rgstephens commented on #1109
@MichMich Thanks for the pointers.

[2018-01-01 21:41] pkkid commented on #864
To continue this discussion a bit. -- Will the workaround mentioned in @loctruong96's comment work if an even is updated (moved) to a new time?

[2018-01-02 06:43] inversation commented on #1107
This has been addressed in the latest build 2.2.1. I think this is okay to close now.

[2018-01-02 06:45] #1107 closed

[2018-01-02 13:28] ColonelMoutarde commented on #1100
For you, i add my config file
[config-Copie.js.txt](https://github.com/MichMich/MagicMirror/files/1597618/config-Copie.js.txt)

For write an accent you have 2 possibility.
e+` and è
first cas it's 2 chars and second cas is 1 char

[2018-01-02 13:29] ColonelMoutarde commented on #1100
[config-Copie.js.txt](https://github.com/MichMich/MagicMirror/files/1597622/config-Copie.js.txt)

[2018-01-02 13:51] MichMich commented on #1100
If I look at your config file the characters are scrambled too. It might be that your config file is encoded wrong. It the file stored as an utf-8 file?

[2018-01-02 14:19] ColonelMoutarde commented on #1100
the file is in utf-8 without BOM. That's what notepad++ says.

[2018-01-02 16:52] abacon118 commented on #1103
When I run the script to start it, this is what comes out in the debug.log

0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'start' ]
2 info using npm@2.14.7
3 info using node@v4.2.1
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info prestart magicmirror@2.1.3
6 info start magicmirror@2.1.3
7 verbose unsafe-perm in lifecycle true
8 inf

[2018-01-02 16:54] henrikra opened #1117 "Latest package-lock.json is not updated"
With latest version 2.2.1 `package-lock.json` is not commited to latest release. As you can see from the picture (right side) there is lot of added stuff after update
![image](https://user-images.githubusercontent.com/12229968/34491958-42015ae0-efee-11e7-820e-dbbbe5bbdf82.png)

[2018-01-02 17:36] MichMich commented on #1103
Could you try reinstalling MagicMirror? We made some changes to the dependencies. Make sure you backup your config.js file (and modules).

[2018-01-02 17:47] MichMich commented on #1100
Maybe it's the windows environment that causes the issue. Is it possible for you to test your setup in an Raspbian environment?

[2018-01-02 21:23] lordvalium commented on #857
When i try with sudo i get
`Error: EACCES: permission denied, mkdir '/home/pi/MagicMirror/node_modules/spectron/node_modules/electron-chromedriver/.electron'
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! electron-chromedriver@1.7.1 install: `node ./download-chromedriver.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the electron-chromedriver@1.7.1 install script.
`

Idea?

[2018-01-03 09:40] eugenelai commented on #1103
@MichMich,

I've just done a fresh install of MagicMirror and also encountered those errors above.

`0 info it worked if it ends with ok`
`1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'start' ]`
`2 info using npm@5.5.1`
`3 info using node@v9.3.0`
`4 verbose run-script [ 'prestart', 'start', 'poststart' ]`
`5 info lifecycle magicmirror@2.2.2~prestart: magicmirror@2.2.2`
`6 info lifecycle magicm

[2018-01-03 17:43] Hermpi commented on #864
Hey guys,

A couple weeks ago my Raspberry crashed and I had to reinstall everything included MM. The replacing of the two files didn't work anymore. So I did the same as @loctruong96 mentioned. This works great with one major downside! In my phone every events comes up twice....

I just switch jobs so I had to implement my new work calendar (regular outlook agenda). I will look at this in the wee

[2018-01-03 23:00] Txukie commented on #1070
Tried the npm update ical to no avail

[2018-01-04 00:10] tgabben commented on #864
@pkkid - the O365 workflow mentioned serves to create new events on a google calendar only - it has no knowledge of updates/changes, and doesn't alter existing events on the associated google calendar. Any modifications to events have to be made via the google calendar itself.

It's an imperfect workaround, but it seems to be all we've got for the moment.

[2018-01-04 02:29] pkkid commented on #864
FWIW, I made another workaround using the html link o365 provides. Perhaps I can make it a Herkou app or something if there is demand.

Essentially, I used an ajax call from the HTML o365 calendar that returns a list of all events in a given time frame in json format and recurring events denormalized. I wrote a quick passthough on my webserver that reads these events and serves a new ics calendar

[2018-01-04 04:02] lilyangsta opened #1118 "weather forecast max days error"
hi there for some reason the max numOf days shown on my screen is only 5 days but on your default code is 7. I've tried fixing it but didnt really work. maybe i'm doing something wrong?

[2018-01-04 14:25] MichMich commented on #1118
For some regions openWeatherMap doesn't supply enough days. This is not a config error.

Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2018-01-04 14:25] #1118 closed

[2018-01-05 13:38] Caibiy opened #1119 "Chinese abnormality"
![rqp0yydr 9w l0ru07 xk](https://user-images.githubusercontent.com/16449809/34611494-b554652c-f260-11e7-851b-3031762145a6.png)
config: {
	compliments: {
		anytime: [
			"Hey,fuck the world pls!"
		],
		morning: [
			"Good morning, handsome!",
			"Enjoy your day!",
			"How was your sleep?"
		],
		afternoon: [
			"Hello, beauty!",
			"You look sexy!",
			"Looking good today!"
		],
		evening: [
			"晚

[2018-01-05 19:19] rbmsam opened #1120 "Newbe. Followed instructions for Manual Installation of Magic Mirror2 with following message. Failed at the magicmirror@2.2.2 start script 'sh run-start.sh'. npm ERR! Make sure you have the latest version of node.js and npm installed. npm ERR! If you do, this is most likely a problem with the magicmirror package, npm ERR! not with npm itself. npm ERR! Tell the author that this fails on your system: npm ERR! sh run-start.sh. Using Raspberry Pi 3 with Noobs from Pi website."
Please only submit reproducible issues.

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)
Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.builders/category/10/troubleshooting](https://forum.magicmir

[2018-01-05 19:21] MichMich commented on #1120
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

If you do need to open an issue, please enter all requested details.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2018-01-05 19:21] #1120 closed

[2018-01-05 19:22] MichMich commented on #1119
My guess is the font doesn't include the required characters. You could try changing the fonts bij adjusting your css file.

[2018-01-06 03:22] E3V3A commented on #145
Using latest Raspbian Stretch with (`4.9.59-v7+`) , this works great out-of-the-box. No problem anywhere. Just make sure to install and update Node, npm and PM2.

[2018-01-06 08:30] E3V3A commented on #1105
@MichMich
I don't see why you would want to close the issue if there has not been any PR fixing it?
I just found a similar issue reported.

[2018-01-06 12:39] MichMich commented on #1105
@E3V3A Reopened.

[2018-01-06 15:46] Caibiy commented on #1119
No effect
![image](https://user-images.githubusercontent.com/16449809/34641229-cf14c552-f33b-11e7-9532-d53f84bf7cb6.png)

[2018-01-06 16:09] E3V3A opened #1122 "Please reccomend MMM developers to add screenshots"
As **MM is a fantastic project that is highly connected with aesthetics**, it is quite annoying and surprising to see how few MMM module developers actually bother to put a screenshot on their README pages. Instead one has to go search or even make a temp install to find out how it really look. Most of the time a waste of effort as it doesn't suite what I was looking for.

@MichMich
Would you cons

[2018-01-06 17:02] MichMich commented on #1122
It’s an open framework so demanding is not an option (and not the route we want to take). Giving a recommendation is a good idea though. The best place to put this is in the developer documentation and at the top of the 3rd party module listing. Feel free to send a PR for this.

[2018-01-06 18:21] E3V3A commented on #1122
@MichMich
Just updated README as well.
Thanks for your kind support! :) 🥇

[2018-01-06 18:21] #1122 closed

[2018-01-06 18:32] E3V3A commented on #1103
I just did all this yesterday on the **latest  full Raspbian Stretch** on a Rpi3, and it works fine.
However, you must **make sure you have first successfully installed and updated**

- Node.js (v9.3.0)
- NPM (5.6.0)
- PM2 (2.9.1)

Yes, the installation script may need some tweaking for the Stretch...but it shouldn't fail.
If the script fails try installing everything manually. Did you setup your

[2018-01-06 18:52] MichMich commented on #1103
An updated installer script PR is extremely welcome! And would be rewarded with a bunch of internet-hugs!

[2018-01-06 18:52] E3V3A opened #1124 "Inform RPi users that npm install take a long time"
When I installed MM on my Rpi3 last night, I was quite surprised to see how long it took, without any info at all given to the user while waiting. We live in times of impatience, so when the npm native progress indicator disappeared for almost 8 minutes, after 2 minutes of completing many progress bars, I was getting concerned. Especially given that installing the entire OS only took about half th

[2018-01-06 18:55] MichMich commented on #1124
Or we can run NPM in verbose mode.

[2018-01-06 18:58] E3V3A commented on #1124
Ha ha! Yeah, there's always a simpler solution around the corner. :)
I haven't looked at it, but if it's too verbose, that can be annoying too.
Then people start freaking out for seeing too much of what they can't understand anyway. :D

[2018-01-06 19:25] MichMich commented on #1124
An alternative solution is a post install script which echos a warning.

[2018-01-06 19:26] MichMich commented on #1119
Than it might have something todo with the config.js encoding or the encoding used on the page. It could use some experimenting. A pull-request is more than welcome.

[2018-01-06 19:30] E3V3A commented on #1103
@MichMich
Yeah, I've been working on one, but I don't have an ETA yet.

What has been most annoying in the installation process, was to make sure all the node stuff was already installed properly, before running anything else. And that is the more HW and OS (release) dependent aspect of it. There are simply too many contorted (and outdated) descriptions of how to do that out there.

[2018-01-06 21:21] el97 opened #1125 "Problem with npm."
Hi! I have a some issues with npm. I'm trying to start MagicMirror and i got this result. I just re-installed
Raspbian Stretch because i got some problems with other programs. I'm now using the latest version of Raspbian Stretch. So how do i fix this?

`magicmirror@2.2.2 start /home/pi/MagicMirror
 sh run-start.sh

run-start.sh: 4: run-start.sh: electron: not found

npm ERR! Linux 4.9.59-v7+
npm E

[2018-01-07 00:22] #1125 closed

[2018-01-07 01:27] E3V3A commented on #1070
Make sure your locale is set correctly. There is little reason to not use UTF8.
[code]

Also check you time/date settings with:
[code]

[2018-01-07 20:24] woodjamie commented on #857
I too am experiencing the same issue whilst trying to upgrade to the latest version of MM. Have tried upgrading node.js from version 6->8 but still did not work.

[2018-01-07 22:24] leveneg commented on #1103
I too am getting about the same error log on full stretch.

Node.js (v9.3.0)
NPM (5.6.0)
PM2 (2.9.1)

[code]

[2018-01-08 08:27] javilandoando commented on #1070
time/date settings in my case are correct due to if they would be wrong, date will be displayed wrong on magic mirror.

I cannot check currently my locale setting but how does it impact on a time issue?
Does any body solve this problem?

[2018-01-08 14:45] henrikra commented on #1124
Yeah I was surprised on first time it took a long time :D

[2018-01-08 17:18] lordvalium commented on #857
I did a complete reinstall of MM.

[2018-01-09 02:01] Caibiy commented on #1119
thank you..it is worked..

[2018-01-09 06:27] grigrichaminou commented on #395
Hello,

Thank you for your modules.

I have been trying for several days now to understand why there is a one-day delay in all my calendars.

For example, today is January 9,2018:

event on January 10,2018 so in 1 day --> today at 8:00 am
event on January 11,2018 so in 2 days --> tomorrow at 8:00 am

I don't understand I have read a lot and tried it out but nothing works. My time zone is well conf

[2018-01-09 19:37] E3V3A commented on #1105
FWIW:
I recall seeing an ical file that had some additional timezones and multiple entries. Perhaps have a close look at that to rule out bad or confusing ical files.

[2018-01-09 19:42] E3V3A commented on #1103
@leveneg Without seeing the exact command you did before getting this error log, its prety much useless. Also describe and post the exact commands you used for installing/updating.

[2018-01-09 19:49] E3V3A opened #1129 "A better source for example/template iCal *.ics files"
@MichMich

I found a website that allow you download *iCal* formatted `*.ics` files of public/national holidays. They seem better than the one supplied by default. Please have a look and let us know you think.

Browse [countries here](https://www.officeholidays.com/ics/index.php) and select the new URL with the appropriate ISO country code in the link (here Ireland):

[code]

[2018-01-09 23:36] leveneg commented on #1103
@E3V3A my apologies- I thought that had been included. I was running `DISPLAY=:0 npm start`, as specified in the install output.

Initial installation was done on a fresh stretch install via install script.

After that didn't work I reflashed stretch, installed latest node / npm, then installed once again via the installation script with the same result.

[2018-01-10 13:35] MichMich commented on #1119
Good to hear! What did you change? For future users having the same issue ...

[2018-01-10 13:35] #1119 closed

[2018-01-10 18:54] bertwest commented on #1066
Hi all,
I stumbled upon this issue as well. I do not want to have a separate calendar as @KalleHeuwes suggests because I want all this data to be synced automatically and so far this works out nicely family-wide.
And I also don't like the idea to fake the dates.
Would be cool if this topic could fixed some time
Bregards,
Bert

[2018-01-11 05:01] amcolash commented on #1124
Ironic that I was just browsing the issue tracker, I just updated my rpi2 and it took 25+ min! I know npm can be slow (so I was patient), but wow that was a shock.

[2018-01-11 05:06] amcolash opened #1130 "Calendar Module: "The Day After Tomorrow""
So this is an issue for me (english speaker) for the calendar module. I never refer to 2 days ahead as "The Day After Tomorrow", I would just say "in 2 days". Wanted to check with others if this is normal, or if I am not alone with this one.

It would be an easy to locally change my personal install in `MagicMirror/translations/en.json:6`, to whatever I please but updates can always change things

[2018-01-11 05:39] rithunrosh opened #1131 "magicmirror installation problem"
When i am installing the magic mirror program in to my fresh raspberry pi, the following error has been occured.

Installing dependencies ...
npm ERR! Linux 4.9.41-v7+
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "install"
npm ERR! node v6.12.3
npm ERR! npm  v3.10.10

npm ERR! shasum check failed for /tmp/npm-7383-db2c060e/registry.npmjs.org/ajv/-/ajv-5.5.2.tgz
npm ERR! Expected: 73b5eeca3fab653e3

[2018-01-11 18:31] rithunrosh opened #1132 "Time setting"
I just want the Indian time. Is i

[2018-01-11 18:31] #1132 closed

[2018-01-11 18:32] rithunrosh opened #1133 "Time setting"
I just want the Indian time.Is it possible?

[2018-01-11 20:18] jealousofyou commented on #1130
Same here. I also changed the translation to „in 2 days“, also because using „the day after tomorrow“ meant that the module became excessively wide and overlapped with others.

[2018-01-11 23:22] koeeenig opened #1134 "log"
Please only submit reproducible issues.

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)
Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.builders/category/10/troubleshooting](https://forum.magicmir

[2018-01-11 23:23] #1134 closed

[2018-01-12 01:55] Caibiy commented on #1119
Modified config.js encoding

[2018-01-12 03:36] cedcas opened #1135 "Installation Issue"
Trying to install in PI3 and gotten the following error when this command was ran: DISPLAY=:0 npm start

Excerpt of the error:

[code]

[2018-01-12 07:27] Kugelfang666 commented on #1083
So i did some throughout testing, apparently i found the problem! Originally filled the problematic calendar using the apple icloud addon for outlook. The other day i also added an item via my iPhone. I realized that only the full-day items added via outlook exhibited this wired problem with dissappearing at 0:00. I coudl fix all dates by opening them on my iphone and resaving them again. Apparent

[2018-01-12 08:07] E3V3A commented on #1129
It's certainly not important, but it help people locate a working ics for their own country as the original site only seem to have ones available for US and UK (and possibly very few others).

[2018-01-12 14:33] E3V3A commented on #1124
Hmm.. Any ideas?
[code]

[2018-01-14 16:53] iggymorr opened #1138 "clock module in pi zero w isnt working after being changed to analog"
Please only submit reproducible issues.

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)
Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.builders/category/10/troubleshooting](https://forum.magicmir

[2018-01-14 19:12] E3V3A commented on #1130
👍

[2018-01-14 19:22] MichMich commented on #1138
Please enter all requested information when submitting an issue. Without these details we won't be able to help you.

[2018-01-14 19:22] #1138 closed

[2018-01-14 19:22] MichMich commented on #1135
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2018-01-14 19:22] #1135 closed

[2018-01-14 19:22] MichMich commented on #1133
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2018-01-14 19:22] #1133 closed

[2018-01-14 19:22] MichMich commented on #1131
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2018-01-14 19:22] #1131 closed

[2018-01-14 19:25] MichMich commented on #1130
Yeah I agree. The "in 2 days" was added because both German and Dutch have a fairly short word for it ("Overmorgen" in Dutch). In English it doesn't really make sense.

Feel free to send a PR. We might also consider adding a feature to overwrite translations using a custom translation file (just like the custom css file). If anyone wants to add this (in a separate PR), feel free to do so! :)

[2018-01-14 21:55] amcolash commented on #1130
Just made a PR: #1139. The idea of custom translations seems useful, but personally don't have a need for it.

[2018-01-15 03:29] rithunrosh commented on #1133
Ok

[2018-01-15 03:36] ConnorChristie opened #1140 "DOM_OBJECTS_CREATED being fired off too early"
Due to https://github.com/MichMich/MagicMirror/pull/1116 the original `DOM_OBJECTS_CREATED` event is being sent to early causing some existing modules not be able to access DOM objects.

**Affected Modules**:
- MMM-Carousel

Root cause analysis:

[2018-01-15 16:32] SpoturDeal commented on #1129
I have made a Calender.ics with all Dutch holidays (feestdagen)
free to use through the url: http://acentra.nl/feestdagen

[2018-01-15 17:40] faxe1008 opened #1142 "JQuery UI Touch Punch"
**Platform**: Raspbian Jessie Lite, Chromium Webbrowser latest version

**Node Version**: v9.2.1

**MagicMirror Version**:  JavaScript version (v2).

**Description**: I implemented a custom module using http://touchpunch.furf.com/ to make a element which is draggable respond to my interaction with the touchscreen. Problem is that when running the mirror via "npm start" the dragging does not work o

[2018-01-15 17:50] faxe1008 commented on #1142
I created the most basic working example for you to just clone and have a look at it:
[https://github.com/faxe1008/MMM-Issue](https://github.com/faxe1008/MMM-Issue)

[2018-01-16 03:32] shbatm commented on #1140
Thank you for looking into this.

MMM-ip appears to be affected as well.

[2018-01-16 04:10] shbatm commented on #1140
Not sure if this should be a separate issue or not, but it's related to the same commit that originated this bug:
* `this.sendNotification` now fails when called from another module without a `sendTo` parameter:

[code]

[2018-01-17 08:24] MichMich commented on #1140
I merged a pull request yesterday. Did this solve this issue?

[2018-01-17 08:26] MichMich commented on #1142
The issues on GitHub are focussing on the development of the core system.

Please refer to http://forum.magicmirror.builders for support and troubleshooting when building modules.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2018-01-17 08:26] #1142 closed

[2018-01-17 11:53] MichMich commented on #1083
Can I close this issue?

[2018-01-17 13:34] ConnorChristie commented on #1140
If it was the PR by me then it wouldn’t fix this second issue, that seems to be a different problem.

@shbatm Would you be able to look into why it’s throwing that exception with the sendTo added?

[2018-01-17 14:53] shbatm commented on #1140
It doesn't appear to be the `sendTo` parameter causing the issue after further investigation. Something with the change to `for (var module of modules) {` from
[code]
Is causing an extra iteration and an `undefined` module variable which causes the error. Reverting to the old method eliminates the problem.

[2018-01-17 14:56] ConnorChristie commented on #1140
Hmm that is interesting. Would you be willing to submit a PR for that change?

[2018-01-17 14:57] shbatm commented on #1140
Will do when I get back to my computer.

On Jan 17, 2018 8:56 AM, "Connor Christie" <notifications@github.com> wrote:

[2018-01-17 15:22] Kugelfang666 commented on #1083
From my perspective yes as my problem is solved

[2018-01-17 15:57] shbatm commented on #1140
PR created. I did some more investigating, the problem results from having disabled modules in the config file.

[code]
This ES6 method does not behave well with the `modules` array when `config.js` contains disabled modules. It results in an empty `module` variable for every disabled module, which causes an error when the function tries to send a notification to an undefined module.

Reverting ba

[2018-01-19 08:16] MichMich commented on #1140
Is this issue solved?

[2018-01-19 14:50] hesseny2000 commented on #1129
thanks E3V3A

[2018-01-19 15:04] SpoturDeal commented on #1129
@hesseny

(Als Ramadam, Eid Al Fitr (Suikerfeest) and Eid al Adha (Offerfeest) are in the list.
I am currently working on a system that you can also add a birthday list.

[2018-01-19 17:07] #1124 closed

[2018-01-19 17:16] E3V3A commented on #1103
Just FYI, I didn't use the full installation script. I basically went through it manually and skipping things that I had already changed or seemed irrelevant. That's why I can't be of much help here. Especially I recall skipping the part changing the bootup splash screen and themes. These are not ncessary, and seemed suspicious. Instead I just replaced the spalsh image manually later, once MM was

[2018-01-19 19:25] shbatm commented on #1140
I believe so. You can close it.

[2018-01-19 19:28] #1140 closed

[2018-01-19 19:29] #1130 closed

[2018-01-20 11:20] ayeball opened #1144 "MMM-Resrobot issue to install , get it work"
Hej , jag har problem att få mmm resrobot installerat . Har försökt cd/magicmirror https://github.com/Alvinger/MMM-ResRobot.git npm install och även tagit ner filerna och lagt det i modules mappen samt skrivit in i cfg filen med mitt api key samt stationernas id. Inget syns eller funkar . Även skrivit cd/magicmirror/modules https://github.com/Alvinger/MMM-ResRobot.git npm install och den hämtar in

[2018-01-20 11:37] ayeball commented on #1144
I see it on the screen now but i gott error " MMM-ResRobot : Error: got 400 response
Fetching new departure data for module: MMM-ResRobot
MMM-ResRobot : Error: got 400 response"

[2018-01-20 13:24] MichMich commented on #1144
Hi @ayeball this is an issue with the MMM-ResRobot module. I suggest you open an issue in that repository. Thanks!

Please refer to http://forum.magicmirror.builders for any additional support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2018-01-20 13:24] #1144 closed

[2018-01-20 13:25] #1083 closed

[2018-01-20 22:06] momoe75 opened #1145 "Help with magic mirror download on raspberry pi3"
I am new to raspberry and loved everything I read about it.  Thought I give it a try
I just bought a raspberry pi3 which had noobs preloaded.  It allowed me to easily load raspbian.
I updated and upgrade the system based on the instruction that most users used to upload magic mirror.  When it came time to load magic mirror, I input the in the link most used
bash -c "$(curl -sL https://raw.githubus

[2018-01-21 10:33] MichMich commented on #1145
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2018-01-21 10:33] #1145 closed

[2018-01-22 03:23] momoe75 commented on #1145
Thank you for the response

I followed direction as much as I can and when I try to open it, it says no
such file or directory.  What am I missin?

Thank you

On Sun, Jan 21, 2018 at 4:33 AM Michael Teeuw <notifications@github.com>
wrote:

[2018-01-22 03:48] momoe75 commented on #1145
Just figured it out

Thank you for your help

On Sun, Jan 21, 2018 at 4:33 AM Michael Teeuw <notifications@github.com>
wrote:

[2018-01-22 20:58] JamieH1986 commented on #1005
You superstar I was ready for tearing my hair out!

[2018-01-23 11:43] bonaime opened #1148 "currentweather disable windspeed and sunset/sunrise"
Hi,
Is it possible to add the option to disable wind informations and sunset/sunrise ?
Thank you

[2018-01-23 11:46] MichMich commented on #1148
Maybe this works for you:

`onlyTemp: true`

[2018-01-23 11:47] bonaime commented on #1148
I just found it ! Maybe it could be useful to explain that in the documentation :
Show only current Temperature and weather icon without windspeed, sunset and sunrise

[2018-01-23 11:49] MichMich commented on #1148
Feel free to send a PR! :)

https://github.com/MichMich/MagicMirror/edit/develop/modules/default/currentweather/README.md

[2018-01-23 11:52] bonaime commented on #1148
#1149

[2018-01-23 11:52] #1148 closed

[2018-01-24 14:57] SpoturDeal commented on #1070
I have noticed that events that are in the iCal records are without an DTEND will disappear on the actual date it should be visible. Without DTEND they will work in iPhone, Android and Windows.

[code]
But this one works just add an DTEND to the event. (it is a mistake in building the iCal file by the provider.) In this case the city of Uden Netherlands

[code]

[2018-01-26 09:54] MichMich commented on #1100
Closed due to inactivity. Feel free to reopen.

[2018-01-26 09:55] MichMich commented on #1129
Hi Guys, What do you want me to do with the issue? Can I close it, or does it need to stay open? Feel free to send a PR with a new default ical feed.

[2018-01-28 16:31] Mabu2 commented on #1103
Ran into similar problems people are describing here.  Clean install, MM won't run.  Tried re-installing over and over, no results.  Is there some incompatibility with newer pkg versions?

[2018-01-28 16:44] TillWae opened #1160 "Can't Start the App"
I updated the Mirror yesterday.
Since then I can not start the program anymore.

pm2 returns the error

================================================
0|mm       | npm ERR! Tell the author that this fails on your system:
0|mm       | npm ERR!     sh run-start.sh
0|mm       | npm ERR! You can get information on how to open an issue for this project with:
0|mm       | npm ERR!     npm bugs magicmi

[2018-01-28 16:46] TillWae commented on #1160
My .log:

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'bugs', 'magicmirror' ]
2 info using npm@3.10.10
3 info using node@v6.11.5
4 verbose config Skipping project config: /home/pi/.npmrc. (matches userconfig)
5 silly fetchPackageMetaData magicmirror
6 silly fetchNamedPackageData magicmirror
7 silly mapToRegistry name magicmirror
8 silly mapToRegistry using

[2018-01-28 18:02] Mabu2 commented on #1103
Running into similar problems... here's another person with the same issue:

https://www.reddit.com/r/MagicMirror/comments/7ots7j/first_setup_tried_following_a_guide_on_how_to/?st=jcz3d960&sh=4fd69850

[2018-01-28 18:30] Mabu2 commented on #1103
Here's my error log:

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'start' ]
2 info using npm@5.6.0
3 info using node@v6.12.3
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle magicmirror@2.2.2~prestart: magicmirror@2.2.2
6 info lifecycle magicmirror@2.2.2~start: magicmirror@2.2.2
7 verbose lifecycle magicmirror@2.2.2~start: unsafe-p

[2018-01-28 18:41] TillWae commented on #1160
Found the issue.
Java 7 was broken

[2018-01-28 18:41] #1160 closed

[2018-01-28 20:22] Mabu2 commented on #1103
I think one reason why people seem to be having issues is, whether or not they're booting into X or the CLI.

I finally tracked down the problem I was having to trying to start MM without having X running first.   This needs to be made clearer.

[2018-01-29 07:26] aandrew7 commented on #914
Reboot

[2018-01-30 18:50] nhubbard commented on #1103
@MichMich For now, we should tag this issue `cantfix` because it does not come from a problem with our codebase, instead coming from Stretch.

[2018-01-30 18:53] nhubbard commented on #1129
@MichMich We can close this, b/c I don't think a PR ever materialized for this issue.

[2018-01-30 19:31] #1129 closed

[2018-01-30 22:06] leveneg commented on #1103
I got back around to this the other day, and a manual installation on a fresh stretch stretch install _did_ do the job. I was also able to confirm that Mabu2's claim that MM needs to be started with X running first.

At a minimum, it would be nice if README were updated to reflect that the installer problematic on stretch, and that X does in fact need to be running before starting MM.

[2018-01-30 23:08] Mabu2 commented on #1103
Perhaps the start up sequence should check to make sure X is running, and if not throw a specific error?

Another thing is when you're installing the OS, there is the option to boot to CLI or GUI.  If someone installs the boot to CLI option, they may never know why it won't work.  The error messages are ambiguous.

[2018-01-30 23:40] Quarx64 opened #1164 "error in updatenotification node_helper at line 68"
I get an error when MM ist loading third party modules after update to MM 2.2.2

TypeError: Cannot read property 'hash' of null
    at /home/pi/MagicMirror/modules/default/updatenotification/node_helper.js:68:31
    at Git.<anonymous> (/home/pi/MagicMirror/node_modules/simple-git/src/git.js:1482:10)
    at done (/home/pi/MagicMirror/node_modules/simple-git/src/git.js:1354:21)
    at ChildProcess.<

[2018-01-31 02:42] Quarx64 commented on #1164
oh..., no...
correct is
if (data2.latest) {
  data.hash = data2.latest.hash;
  self.sendSocketNotification("STATUS", data);
}
cause there is no err, data2.latest was null

[2018-01-31 07:19] MichMich commented on #1103
I agree, we should add some info to the README and add a check to the nam run start method. If anyone would be willing to send a PR, I would be very grateful. :)

[2018-01-31 07:31] caldecy opened #1165 "Error in updating MagicMirror"
**Description**: I can't seem to update my MagicMirror module due to the error below.

**Steps to Reproduce**: upon running the `git pull && npm install` command

**Actual Results**:
error: Your local changes to the following files would be overwritten by merge:
	css/main.css
	modules/default/calendar/calendar.js
	modules/default/clock/clock.js
	modules/default/currentweather/currentweather.js
	mo

[2018-02-01 07:11] Caibiy opened #1167 "Can I add Chinese translation to this project？"

[2018-02-01 07:22] MichMich commented on #1167
It looks like it’s already available:

	"zh_cn" : "translations/zh_cn.json", // Simplified Chinese
	"zh_tw" : "translations/zh_tw.json", // Traditional Chinese

[2018-02-01 07:45] Caibiy commented on #1167
I mean this is the document README.md

[2018-02-01 08:20] MichMich commented on #1165
You've probably modified some core files.
https://forum.magicmirror.builders/topic/2215/update-says-to-commit-your-changes-or-stash-them-before-you-can-merge/25

Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2018-02-01 08:20] #1165 closed

[2018-02-01 08:22] MichMich commented on #1167
Ah, ok. Since we have regular changes in the README and documentation, I'm not sure if that is a good idea. But of course, you're free to do so. It might be better to put the translation in the Wiki though.

[2018-02-01 08:23] MichMich commented on #1164
Are you sure this is a core issue? Might be a problem with one of the modules. Dit you install all your modules using git?

[2018-02-01 08:46] Quarx64 commented on #1164
I've installed all modules using git. Maybe the attribute -latest is not available on git for the 3rd-party module MMM-Fuel.

[2018-02-01 08:47] MichMich commented on #1164
Could you try removing the `MMM-Fuel` and see if it solves the issue. If you, could you please create an issue in the `MMM-Fuel` repository?

[2018-02-01 09:23] Caibiy commented on #1167
It's free, of course. It's my pleasure

[2018-02-01 09:54] Quarx64 commented on #1164
all modules disabled, only defaults are running. the same error.

[2018-02-01 09:55] MichMich commented on #1164
How did you disable the modules? In this case you need to remove the `MMM-Fuel` folder from you `modules` folder as well.

[2018-02-01 09:59] fewieden commented on #1164
If it is an issue with my module, create an issue as @MichMich said, also check if it is just this module or any 3rd party module

[2018-02-01 10:01] pinsdorf commented on #1105
Another aspect is that the calendar module cannot cope with iCal URLs from Microsoft Live/Hotmail/Outlook calendars. I tried this and got a parsing exception because of start/end times containing timezone information in the date/time string.

Those strings are apparently compliant to the iCal standard, yet, ical.js doesn't parse this: [ical.js issue #76](https://github.com/peterbraden/ical.js/issu

[2018-02-01 10:02] MichMich commented on #1105
@pinsdorf A PR would be EXTREMELY appreciated.

[2018-02-01 10:54] Quarx64 commented on #1164
@fewieden: MMM-Fuel funktioniert.
After inserting
if (!data2.latest) {
  console.log("Error at module: " + data.module);
}
in updatenotification ->node_helper.js, i got  Error at module: default
hmmm, where is the mistake?

[2018-02-01 10:58] MichMich commented on #1164
That's just a bandage for an issue in `MMM-Fuel`. Please open an issue in the `MMM-Fuel` repo. If @fewieden discovers this really is an issue in the Core, he can send a PR to this Repo.

Closing this issue for now.

[2018-02-01 14:45] Quarx64 commented on #1164
02-01-2018 15:07:46 Value for data2.latest in module default found (20823bfc87f387b3d29a30815da9d72e6300c0a9)

02-01-2018 15:10:39 No value for data2.latest in module MMM-WunderGround found (data2.latest is null)
02-01-2018 15:10:39 Value for data2.latest in module MMM-DHT-Sensor found (67036c4acb1d0fa933c3ff5b21c84fadebc2fee9)
02-01-2018 15:10:40 Value for data2.latest in module MMM-SoccerLiveSco

[2018-02-01 14:47] MichMich commented on #1164
Is this in your terminal console or in the web-inspector?

[2018-02-01 14:58] Quarx64 commented on #1164
It's from the terminal console and logged in the pm2 mm-out-0.log.
Could be a git error. No idea. To many requests in a short time?

[2018-02-01 15:00] MichMich commented on #1164
I'm running the new version, and I'm not seeing any issues. I didn't get any other other mentions of this issue since the release of the latest version.

I suggest you backup your config file, custom css file and modules folder and reinstall MM to see if that solves the issue.

[2018-02-02 07:51] E3V3A opened #1168 "calendar: config getRelative and urgency seem to do the same thing"
According to the README description the config options" `getRelative` and `urgency` are doing same thing. While both those things are not very productive friendly.

**What should happen?**

*  Many days (let's say >7) before the event, one would like to see relative times in the form `In 8 days`.
* A few days (let's say <7) before the event, one would like to see relative times in the form `In 6 d

[2018-02-03 08:52] #1167 closed

[2018-02-03 10:43] E3V3A opened #1169 "What is a "lagacy" module and how to avoid or determine the difference"
The wiki page for [Legacy Modules](https://github.com/MichMich/MagicMirror/wiki/legacy-modules) contain a long list of pretty much most modules. But there is not a word on what makes a module `legacy` or not. So since nobody in the world of programming likes the word "legacy", I think we need a clear definition what it means here.

* How to determine if a module is legacy?
* How to avoid writing n

[2018-02-03 11:00] E3V3A opened #1170 "Development Guide: module optimization"
I've noticed that many MMM's are relying upon using large npm packages libraries to do rather trivial tasks. AFAIK, using and running these may take up excessive memory and computation resources that will slow down and hamper (at best) the performance of MM's that are using many MMM's. Possibly even crashing your RPi by overload.

For example, having your module require and rely upon using [moment

[2018-02-03 11:05] E3V3A commented on #1168
@MichMich To make a PR we first need to understand what was intended with those options.

To fix the other details, we can figure that out later/after.

[2018-02-03 14:59] MichMich commented on #1169
Those are not Legacy modules. It's a Legacy list, since there is a new grouped list.
The API did not yet have an API change that killed old modules. So there are no legacy modules.

Feel free to edit the Wiki to make this more clear. Thanks.

[2018-02-03 14:59] #1169 closed

[2018-02-03 15:02] MichMich commented on #1170
No need to over optimise things. That fact that Moment.js is 1.3mb doesn't mean it's running 1.3mb of code. It includes a lot of localisation. This is not something from which the RPi suffers. Let alone crashes.

Please only open GitHub issues for proven problems with the core. If you think things can improve, feel free to discuss on [slack](http://slack.magicmirror.builders).

[2018-02-03 15:02] #1170 closed

[2018-02-03 15:05] MichMich commented on #1168
Ok, let's take a different approach: are you running into issues? Are you getting incorrect calendar notifications. Is it an issue which you can replicate in a small prove of concept. (Try out the two options to see the difference and see how they overlap.)

If so, please fill in the full issue report including all asked questions.

The current description doesn't really explain the issue or the e

[2018-02-03 15:05] MichMich commented on #1164
@Quarx64 Any results?

[2018-02-03 18:35] ccicchitelli opened #1171 "delete"
Never mind, looks like this isn't an issue on Linux, only Windows. Still likely worth an update though...

[2018-02-03 18:41] MichMich commented on #1171
The new electron has issues on the Raspberry Pi. Mainly CPU issues.

Due to the fact that in this project electron is nog loading any remote sites, the risk is less severe than described.

That being said, I agree we need to switch do the new version. But this can only be done when electron solves their issues on the RaspPi platform.

Fyi: the develop branch does run the latest electron version, s

[2018-02-03 20:53] #1171 closed

[2018-02-04 15:14] iggymorr opened #1172 "weatherforecast"
I'm not sure how to change the vertical to horizontal setting for the weatherforest module can you please help

[2018-02-04 15:16] MichMich commented on #1172
Not sure what you mean with vertical setting. But did you check the documentation for all the possible setting?

If so, I’d recommend checking out http://forum.magicmirror.builders for more support.

[2018-02-06 11:20] retroflex commented on #565
Still having this problem with only first deleted event in a series not being shown in MM. Second deleted event is shown. The exdate parameter in ical.js has been changed to an array:

https://github.com/peterbraden/ical.js/blob/master/ical.js

That sounds like a fix to this problem. I tried copying peterbraden/ical.js to my MM and changed to rrule-alt, but that did not solve the problem. Maybe th

[2018-02-06 13:57] pinsdorf commented on #565
I'm currently reworking the calendar module to address issue #1105. I'd assume my fix also covers this issue as I've integrated the ical.js library from Mozilla project to have more robust parsing. However, due to time constraints I need some more days. Stay tuned.

@retroflex, do you have a test case for me to validate your issue? Thanks.

[2018-02-06 15:28] retroflex commented on #565
@pinsdorf I created an event that reoccured 5 times daily, then removed event 2 and 3. In the current master it showed events 1, 3, 4, 5 when it should show 1, 4, 5.

[2018-02-07 04:12] ConnorChristie opened #1174 "Discussion: Bundle MagicMirror package to distribute more easily"
## Summary
Electron provides a nice way to produce executables and packages for modules such as MagicMirror. Some benefits this would provide to users wanting to install MagicMirror are listed below.

## Benefits
- Faster install time (no need to `npm install`)
    - Right now the current install times are ~10 mins on RPi3 and ~25 mins on RPi2
- More user friendly being a bundled "executable" user

[2018-02-07 11:50] MichMich commented on #1174
@ConnorChristie I appreciate your suggestion.

The only issue I have with it, is that it might make the project a bit overcomplicated. The reason I say this, is because I started this project as an ultimate starter project for Raspberry Pi enthousiasts. As a matter of fact, for most of the contributors, the MagicMirror project is the first open source project they ever contributed to. This is one

[2018-02-07 11:51] #1172 closed

[2018-02-07 11:53] MichMich commented on #1070
Since this all has to do with the ical parser, I suggest we continue this issue discussion in: https://github.com/MichMich/MagicMirror/issues/1105

[2018-02-07 11:53] #1070 closed

[2018-02-07 12:04] MichMich commented on #1174
I took the easy route out: https://github.com/MichMich/MagicMirror/tree/develop#manifesto ;)

[2018-02-07 15:15] ConnorChristie commented on #1174
One thing that was the main driver behind this idea is the long time it takes to install MagicMirror on the different platforms. With packaging it, the user wouldn't have to use npms slow way of downloading dependencies.

I also think the benefits would still be there if we were to package it and make it an option for users that may want to set it and forget it. It is truly nice giving everyone th

[2018-02-08 12:11] Quarx64 commented on #1164
After new install, no more errors.

[2018-02-08 12:31] MichMich commented on #1164
Great! Thanks for the feedback!

[2018-02-08 12:31] #1164 closed

[2018-02-09 11:27] E3V3A opened #1175 "Node version not reported: Is this a MM or PM2 issue?"
Minor bug report:

When running MM with PM2, and doing `pm2 info mm`, the Node.js version is shown as `N/A`.
However, when looking in the PM2 logs, it shows correctly.

If this is a problem with PM2, I'd be happy to file an issue with them, but if it is
with MM, we should consider looking into it.

From command line:
[code]

From logs:

[code]

Please let me know what to do, if anything.

[2018-02-09 12:48] MichMich commented on #1175
It's no error, the script you started (/home/pi/MagicMirror/installers/mm.sh) is a bash script. Not a node script. The log entry which includes the node version, is the entry for the PM2 process itself.

[2018-02-09 12:48] #1175 closed

[2018-02-09 20:52] Varguit commented on #284
Hi, I'm trying to increase the font-size of the alert, I want it to fit almost the entire screen.

I've copied the css to custom and modified the font-size that comes at 70% by default, I've tried with 300% and even with 300px but no effect on the size of the text.
Can someone tell me how to? I don't want to modify de original alert.js where the font-size is 30px for the title and 22px for the mes

[2018-02-13 11:53] BenH95 opened #1180 "Magic mirror display wont open following startup command"
Please only submit reproducible issues.

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)
Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.builders/category/10/troubleshooting](https://forum.magicmir

[2018-02-13 11:59] MichMich commented on #1180
Make sure your system is booted in the X environment. Not the CLI environment.

Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2018-02-13 11:59] #1180 closed

[2018-02-13 20:15] E3V3A commented on #1103
Hmm, yeah, IDK why people would try to install MM on a non-gui (no-X) machine, unless they start out from scratch trying to do serveronly install. Two other things:

1. After you do `git clone ...`, the `run-start.sh` script is not executable:
[code]
2. There is no shebang in the script and `electron` is not in the path, unless provided a new PATH before execution.
3. DISPLAY of course is not well

[2018-02-13 20:16] MichMich commented on #1103
Please send a PR.

[2018-02-13 20:46] E3V3A commented on #1103
Hi @MichMich ,
I'm sure you address this to anyone, but this need to be tested by the people having the issues, before posting a PR. First, I'd suggest them to do this:

[code]
then do:
[code]

now, try to re-run the installation.

[2018-02-14 07:37] Joey-1970 commented on #838
Hello!
I'm new at the MagicMirror-Project - but have the same issue. I take a new Raspberry Pi 3b, a new Raspian Stretch Image and try hours and hours to start MagicMirror, but have allways the "npm code ELIFECYCLE"-problem. I found this issue often, but I don't know the right solution. What is it?

Joachim

[2018-02-14 08:49] MichMich commented on #838
Joachim, did you start your Raspberry in X Desktop or in CLI (Command Line Interface)?

[2018-02-14 10:35] Joey-1970 commented on #838
Hello MichMich,

I try both of them. First as CLI, after I read somewhere that use the desktop-option it will work, I do this. But after one successful start - and temporary hapiness - the same as before...

Joachim

[2018-02-14 10:37] MichMich commented on #838
In that case I suggest you post a support question on http://forum.magicmirror.builders.

[2018-02-14 14:39] E3V3A opened #1181 "Documentation: diagrammatic information flow"
The learning curve for implementing new modules for non-developers is quite long, if not steep. Some additional but not too technical documentation for beginners would probably be very helpful.

For example, if someone who have a good understanding of the MM structure, might consider making ~2-3 diagrams and flow charts about how the MM framework is related to its various parts, like the modules,

[2018-02-14 15:17] MichMich commented on #1181
Hi @E3V3A, I absolutely appreciate your contributions, but so far I don't think raising issues like these (and the few others you recently created like the moment.js framework) are having a positive impact on the clarity of the repositories issues list. I generates some cluttering. Suggestions like these are absolutely valuable, but better suited on the forum.

So for future issue, please keep the

[2018-02-14 15:17] #1181 closed

[2018-02-14 17:33] E3V3A commented on #1181
@MichMich  No problem. Roger that.

[2018-02-16 22:03] d-Rickyy-b commented on #1103
I got the same issue on Debian Jessie and Stretch. I tried to install the MagicMirror application as a new user `magicmirror` into the directory `/opt/MagicMirror/`, which didn't work.

Even after installing it ino the `/home/magicmirror` directory it's not possible to run the mirror.

Only after installing it into the ´/home/pi/` directory with user `pi` the installation succeeded and I am able t

[2018-02-17 22:35] rejas commented on #1174
I have no clue on what would have to doon to achiev running mm in an electron app (not familiar with the mm sources nor the electron app).
but looking from a project point of view, asking the both of you from their perspective, would it be possible to have a "sister"-project that pulls in the mm sources and builds an electron app out of it somehow (semi)automatically?

[2018-02-19 10:36] saburishindaria commented on #1103
We tried install npm using npm start command and although it launches the application, the new screen is just a blank black page.

[2018-02-22 14:02] E3V3A commented on #1103
@d-Rickyy-b  Yeah, MM should not be installed in root owned directories! Any directory above `/home/pi/` is considered owned by root, AFAICR. There is absolutely no good reason, I can think of, to run MM as root.

But, this issue is important for people on other machines than RPi's, where default user has a different name and directories have different root permissions.

[2018-02-22 21:04] d-Rickyy-b commented on #1103
@E3V3A That's correct, especially on other machines, or even on the pi where the user goes with a different username (may it be for security reasons or whatsoever), it's not possible to use MM. I would highly appreciate a fix :)

[2018-02-22 21:32] MichMich commented on #1103
Just curious: did any of you try `sudo npm start`?

[2018-02-22 22:41] d-Rickyy-b commented on #1103
@MichMich Yes, and it produces the same outcome for me. If needed I can provide you with the log and command line output, but It's basically the same as in the initial bug report.

[2018-02-23 21:09] CharonBeber commented on #1066
I also had delete all the old dates before 1970. Now works like charm. Especially the birth dates and yearly reminders created a problem.

[2018-02-26 23:53] joncage opened #1187 "Auto install fails to install dependencies"
**Platform**: Raspberry Pi 3

**Node Version**: Make sure it's version 0.12.13 or later.

**MagicMirror Version**: Latest from github as of 26/02/18

**Description**: Fresh install of noobs on a brand new Raspberry Pi 3. Ran the auto install script specified from `readme.md ` and it failed.

**Steps to Reproduce**: Run the auto install command:

[code]

...then wait for the install to fail with th

[2018-02-27 08:03] MichMich commented on #1187
Did you just get those warnings? Or does it fail to start? Because those warnings kan be ignored.

[2018-02-27 09:08] joncage commented on #1187
I did get it to start but the page it displays is completely black with no text so I had assumed something didn't work?

[2018-02-28 21:01] thk4711 opened #1188 "Only black screen"
I am using a PI 3 with a fresh installation of Raspbian. I followed the instructions under Manual Installation. The I copied config/config.js.sample to config/config.js This worked but when I start the software with npm start I only get a black screen. Also when I start the software with node serveronly and use Chrome on a different computer I only get a black screen in the browser. In the console

[2018-02-28 23:04] fewieden commented on #1188
looks like your dependencies didnt got installed correctly, go to the vendor directory and execute npm install

[2018-03-01 01:22] tadeubanzato opened #1189 "Google calendar not loading."
It does not show any error, the curl from the calendar URL is working but the content is not loading into the magic mirror.
Been trying everything without success.

Seems that this started to happen when Google changed it's interface and even setting the calendar to public it doesn't load on the mirror.

[2018-03-01 07:47] E3V3A commented on #1189
Hi! @tadeubanzato Please ask the question with much more details and use the forums.
Details for using various calendar functionality can be found [in the Wiki here](https://github.com/MichMich/MagicMirror/wiki/Apple-Google-MicroSoft-Calendar-Support).

[2018-03-01 11:33] tadeubanzato commented on #1189
Thanks @E3V3A  but that didn't help.
I'm not looking to sync more than one calendar, the issue is that the events from the public calendar from Google itself is not loading on the Magic Mirror.
The public calendar test I'm trying to load on the Mirror is this one:
https://calendar.google.com/calendar/embed?src=83j7tsjdivl1q2mquioftrnqsk%40group.calendar.google.com&ctz=America%2FSao_Paulo

It keeps

[2018-03-02 06:50] E3V3A commented on #1189
Maybe the events are marked as private? Anyway, I've been told to keep these discussion to the forum, so let's do that.

[2018-03-02 18:22] Camicdev opened #1192 "Turning on this plug in breaks showing the height/width of objects"
Please only submit reproducible issues.

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)
Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.builders/category/10/troubleshooting](https://forum.magicmir

[2018-03-02 18:23] MichMich commented on #1192
Which module?

[2018-03-04 12:04] Knurlnheim commented on #1100
Hello !

I have the same issue than @ColonelMoutarde, but I am on lastest Raspbian.
What can I do help investigate the issue ?

[2018-03-05 09:38] E3V3A commented on #1103
To prevent some of the installation "problems". It might help to merge the README file from the developer branch to the very outdated current master README. I would guess that many new MM users don't even know about branches.

And for all of the rest of you, who end up here with problems:
* please don't forget to tell us what exact commands you ran **before** you had errors.
* please use the tripl

[2018-03-05 09:54] E3V3A commented on #1174
@ConnorChristie

That is called commercialization. And from a mass perspective and my own experience, such projects rarely contribute to the FOSS development community, except for getting their own problems solved. They just want to make quick money on other peoples efforts. In fact what you describe, has already been done by a company, who seem to have repackaged this project and turned into a bu

[2018-03-05 09:59] MichMich commented on #1103
April 1st the next master will be released. So if you can just wait a little bit longer ... ;)

[2018-03-05 10:32] d-Rickyy-b commented on #1103
@E3V3A If you're interested in the steps I did before the issue happened:

[code]
Even when I then tried `sudo npm start` it didn't work.
The error message and log message was basically the same as the issue creator posted in his report.

If you need further information, don't hesitate to ask.

PS: I am installing it on my RasPi 3, but would love to use another account (e.g. magicmirror) for it.

[2018-03-05 10:42] MichMich commented on #1103
I think we should just add to the readme that MagicMirror should be installed with the default user (Pi).

[2018-03-05 10:51] d-Rickyy-b commented on #1103
That would be a workaround ofc. May I ask what's the issue with installing it with another user? I mean it shouldn't be different than the default user, should it? Also do other systems need to create a user "pi" when they want to use MM?

[2018-03-05 10:54] MichMich commented on #1103
It works fine on my Mac on my regular user account. I don’t see any reason why it shouldn’t work on an other account on a Raspberry Pi as well.

That being said: I got a few reports like yours. And since it’s an edge case, it doesn’t really make sense to spent a lot of time investigating it (since it’s probably OS related, not mm related). My guess is it has something to do with the user rights of

[2018-03-05 11:07] d-Rickyy-b commented on #1103
I'll try to investigate further. Will report my findings back (if I find any).

[2018-03-05 19:54] ibrahim5alil commented on #1187
please guys every time i try to use the auto installation code its Dosn't take any action how i can solve this

pi@raspberrypi:~ $ curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh | bash
pi@raspberrypi:~ $

[2018-03-05 20:22] fewieden commented on #1187
@ibrahim5alil using a non outdated cmd would be a good start ^^

```bash -c "$(curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh)"```

[2018-03-05 20:33] ibrahim5alil commented on #1187
@fewieden  i'v tried both of the codes and it didn't work
can u explain wt do u mean by using a non outdated cmd please

[2018-03-05 20:36] MichMich commented on #1187
What happens if you leave out the `| bash` in the first command?

[2018-03-05 20:40] ibrahim5alil commented on #1187
@MichMich nothing just no action at all
pi@raspberrypi:~ $bash -c "$(curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh)"
pi@raspberrypi:~ $

[2018-03-05 20:47] MichMich commented on #1187
No, the first one:
`curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh`

[2018-03-05 20:50] ibrahim5alil commented on #1187
pi@raspberrypi:~ $ curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh | bash
pi@raspberrypi:~ $ curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh | bash
pi@raspberrypi:~ $ curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh
pi@raspberrypi:~ $ bash -c "$(curl -sL https

[2018-03-05 20:52] MichMich commented on #1187
are you sure your pi is connected to the internet?

[2018-03-05 20:55] ibrahim5alil commented on #1187
@MichMich  yes i can clone and update i can enter any code except this
![img_8907](https://user-images.githubusercontent.com/37037870/36999243-f4261baa-20d8-11e8-8cb9-2204f3680b1f.jpg)

[2018-03-05 20:56] MichMich commented on #1187
What happens if you run `curl google.com`?

[2018-03-05 20:58] ibrahim5alil commented on #1187
![img_8908](https://user-images.githubusercontent.com/37037870/36999437-842e75bc-20d9-11e8-908c-8818ed7f5d79.jpg)
@MichMich

[2018-03-05 21:00] MichMich commented on #1187
Try `curl https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh`

[2018-03-05 21:03] ibrahim5alil commented on #1187
![img_8909](https://user-images.githubusercontent.com/37037870/36999625-2622154a-20da-11e8-98b2-c319dbddae00.jpg)
@MichMich nothing

[2018-03-05 21:06] MichMich commented on #1187
It appears the your pi cant resolve the GitHub domain name. Which DNS are you using?

[2018-03-05 21:13] ibrahim5alil commented on #1187
![img_8910](https://user-images.githubusercontent.com/37037870/37000076-9b862a28-20db-11e8-8a48-2fe87a50ed64.jpg)
@MichMich

[2018-03-05 21:32] MichMich commented on #1187
That’s your router. You might want to try a direct DNS like googles. 8.8.8.8

Furthermore this isn’t a MagicMirror issue. It’s more a generic Pi issue. I suggest you try to get some help on the forum http://forum.magicmirror.builders

[2018-03-05 21:32] E3V3A commented on #1103
@d-Rickyy-b  IDK why you seem to insist running this as root. Please explain, because earlier you mentioned security concerns with using a default username?? To me running as root seem far more insecure and in addition, **the root environment is totally different** from any other users, including missing environment variables.

[2018-03-05 21:34] ibrahim5alil commented on #1187
thank you @MichMich for you helping me

[2018-03-05 21:38] MichMich commented on #1187
You’re welcome!

[2018-03-05 21:38] #1187 closed

[2018-03-05 21:48] d-Rickyy-b commented on #1103
@E3V3A I don't know where you see that I want to run it as root?! I want to run it as no login and no shell user (e.g. "magicmirror"). If you are asking because I added magicmirror to group sudo, that was for testing purposes.

I agree and know that it's totally insecure running it as root user. I just want another user than "pi". I don't want to use the user "pi" as a user at all - if possible. I

[2018-03-06 07:30] Knurlnheim opened #1195 "Using Roboto Condensed & subset latin-ext (see Issue #1100)"
Hello,

Sorry about the duplicate, you cannot reopen a closed issue.
As I said in issue #1100, I have the same problem with the font and french accented characters.
I'm on a raspberry Pi with latest Raspbian.
Workaround in custom.css doesn't work for me.
What can I do to help solve the issue ?

[2018-03-06 08:38] MichMich commented on #1195
I Reopened #1100

[2018-03-06 08:38] #1195 closed

[2018-03-06 08:38] MichMich commented on #1100
@Knurlnheim Did you check the encoding of your config file? What system are you on?

[2018-03-06 08:39] MichMich commented on #1192
Please open een issue in the module's repository.

[2018-03-06 08:39] #1192 closed

[2018-03-06 08:39] MichMich commented on #1188
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2018-03-06 08:39] #1188 closed

[2018-03-06 08:39] MichMich commented on #1189
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2018-03-06 08:39] #1189 closed

[2018-03-06 09:18] Knurlnheim commented on #1100
System is a Raspian Strech Lite on a Raspberry Pi 2.
config.js is in UTF8.

[2018-03-06 22:57] philipdeng opened #1196 "Calendar and news feed stuck loading under language:"zh_cn""
MM works well under all English environment. But it does not work if calendar or newsfeed contain any Chinese characters
However, after changing to language:"zh_cn" in config file, calendar and newsfeed stuck loading even it could be displayed under language en setting.

![image](https://user-images.githubusercontent.com/22946991/37063719-5ad12888-2168-11e8-93af-796bbd4e5da1.png)
![image](https://