[2020-12-08 15:03] #2174 closed

[2020-12-08 15:04] #2164 closed

[2020-12-08 15:05] MichMich commented on #2173
Of course you can also put a file on a local webserver if that is suits your needs better. Closing this issue since this is not a core bug. Feel free to reopen.

[2020-12-08 15:05] #2173 closed

[2020-12-08 15:14] majdzik84 commented on #2221
I believe the problem should remain open.
It also appears in the main module of magic mirror (weatherforcast). I found that this is not a problem with non-changing icons as they change but only in NIGHT mode. The icons do not switch to DAY. So I always have a moon icon - even at 12.00 when the sun should be.
Could you please check with yourself?

[2020-12-08 15:25] MichMich commented on #2221
The 401 error is caused by the limitation of your (free account) which can be solved by limiting the number of days via the config. Please refer to the forum for more info. The icons seems to work fine here. Are  there more reports by users with the same issue? Is it a confirmed bug?

[2020-12-08 15:33] majdzik84 commented on #2221
I suggest not to look at the error because I have already figured it out.

The icons that do not change (day / night) are a mistake that I confirmed when shopping for 2 people because I asked so many

12:30
![130157057_3826110194090375_8947662787641997918_o](https://user-images.githubusercontent.com/31352476/101503978-fb4b4080-3972-11eb-989a-a8be18142d56.jpg)

14:40
![130157057_3826110194090375_89

[2020-12-08 15:34] MichMich commented on #2221
Reopened.

[2020-12-09 09:48] ashishtank commented on #2221
Hi @majdzik84

You are referring to below icons ? If yes, then I could also reproduce the issue and I know the cause so might also able fix it.
![image](https://user-images.githubusercontent.com/7521477/101613175-baebd100-3a0b-11eb-84aa-b2943dc7b524.png)

PS: Screenshot taken at 10:47 AM in the morning.
--
Ashish

[2020-12-09 10:18] majdzik84 commented on #2221
that's what these icons are all about. We would appreciate the repair.

[2020-12-09 11:14] ashishtank commented on #2221
[Fixed and Created pull request](https://github.com/MichMich/MagicMirror/pull/2224)
Issue was due to locale, Hours comparison with 8-17 hours range was failing.

[2020-12-11 11:51] sdetweil commented on #2173
@ashishtank the file must contain valid json. One can use an online validation tool to check the content.

In json, all strings must be quoted  at least.

[2020-12-11 12:46] sdetweil commented on #2173
@ashishtank correct, as I said, valid json

[2020-12-11 17:23] jlnxaer opened #2227 "Blackscreen after new module (mmm-systemtemperature)"
Hello,

I just tried to "install" a new Module called mmm-systemtemperature.
After inserting the config and rebooting the Mirror I just get a blackscreen.

My PM2 log shows the following:
`0|MagicMir | npm ERR! A complete log of this run can be found in:`
`0|MagicMir | npm ERR!     /home/pi/.npm/_logs/2020-12-10T14_43_28_756Z-debug.log`
`0|MagicMir | npm ERR! code ELIFECYCLE`
`0|MagicMir | npm ERR

[2020-12-11 20:34] sdetweil commented on #2227
I would guess that you didn't run npm install in the module folder. Or it failed

[2020-12-11 20:37] MichMich commented on #2227
I must admit I don't really maintain that module very well. If I'm not mistaken there was a PR merged recently which might be the issue. I didn't check test the module after merging. Might be worth investigating that.

[2020-12-11 23:08] jlnxaer commented on #2227
If it failed, can i just try again and see for any error messages or do I need to deinstall it again? And if I have to deinstall it, how do I do it?

[2020-12-11 23:21] sdetweil commented on #2227
If it failed in the module folder. Just erase the node_modules folder (in the module folder) then run npm install again

[2020-12-11 23:21] sdetweil commented on #2227
There should be a log file in the ~/.npm folder

[2020-12-12 10:42] jlnxaer commented on #2227
So I reinstalled it now and that's the error that I get:
[code]

plus a few vulnerabilities witch I tried to fix and got this error:
[code]

[2020-12-12 12:02] sdetweil commented on #2227
The first are not errors, just warnings.

EAI_AGAIN is a name server error.

I have seen this most often when someone is using an advertising filter like pinhole.

[2020-12-13 14:41] ashishtank opened #2228 "Default Alert Module does not hide black overlay when alert is dismissed manually (by clicking on it)"
## Default Alert Module does not hide black overlay when alert is dismissed manually (by clicking on it)

@contactmike1 reported issue on [forum](https://forum.magicmirror.builders/topic/14226/mm-default-alert-module-overlay-does-not-go-away-when-clicked) and I have confirmed it that Default Alert Module does not hide black overlay when alert is dismissed manually (by clicking on it).

**Steps to

[2020-12-15 13:43] lxz31101 opened #2230 "吴江服务哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)吴江找美女附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)吴江找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:43] lxz31101 opened #2231 "慈溪服务哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)慈溪找美女附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)慈溪找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:44] lxz31101 opened #2232 "绍兴县服务哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)绍兴县找美女附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)绍兴县找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:44] lxz31101 opened #2233 "宜兴哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)宜兴找美女附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)宜兴找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:44] lxz31101 opened #2234 "荣成哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)荣成找美女附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)荣成找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:44] lxz31101 opened #2235 "余姚哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)余姚找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)余姚找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:44] lxz31101 opened #2236 "义乌哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)义乌找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)义乌找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:44] lxz31101 opened #2237 "太仓哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)太仓找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)太仓找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:45] lxz31101 opened #2238 "诸暨哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)诸暨找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)诸暨找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:45] lxz31101 opened #2239 "温岭哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)温岭找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)温岭找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:45] lxz31101 opened #2240 "文登哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)文登找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)文登找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:45] lxz31101 opened #2241 "福清哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)福清找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)福清找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:45] lxz31101 opened #2242 "乐清哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)乐清找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)乐清找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:45] lxz31101 opened #2243 "增城哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)增城找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)增城找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:46] lxz31101 opened #2244 "瑞安哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)瑞安找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)瑞安找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:46] lxz31101 opened #2245 "海宁哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)海宁找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)海宁找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:46] lxz31101 opened #2246 "邹城哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)邹城找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)邹城找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:46] lxz31101 opened #2247 "龙口哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)龙口找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)龙口找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:46] lxz31101 opened #2248 "桐乡哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)桐乡找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)桐乡找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:47] lxz31101 opened #2249 "胶南哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)胶南找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)胶南找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:47] lxz31101 opened #2250 "丹阳哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)丹阳找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)丹阳找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:47] lxz31101 opened #2251 "即墨哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)即墨找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)即墨找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:47] lxz31101 opened #2252 "富阳哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)富阳找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)富阳找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:47] lxz31101 opened #2253 "寿光哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)寿光找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)寿光找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:47] lxz31101 opened #2254 "胶州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)胶州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)胶州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:48] lxz31101 opened #2255 "滕州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)滕州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)滕州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:48] lxz31101 opened #2256 "南安哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)南安找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)南安找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:48] azizdeanda commented on #2249
Real?

Pada tanggal Sel, 15 Des 2020 20.47, lxz31101 <notifications@github.com>
menulis:

[2020-12-15 13:48] lxz31101 opened #2257 "章丘哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)章丘找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)章丘找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:48] lxz31101 opened #2258 "平度哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)平度找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)平度找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:48] lxz31101 opened #2259 "惠安哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)惠安找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)惠安找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:48] lxz31101 opened #2260 "海门哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)海门找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)海门找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:49] lxz31101 opened #2261 "海城哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)海城找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)海城找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:49] lxz31101 opened #2262 "莱州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)莱州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)莱州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:49] lxz31101 opened #2263 "通州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)通州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)通州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:49] lxz31101 opened #2264 "新泰哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)新泰找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)新泰找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:49] lxz31101 opened #2265 "库尔勒哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)库尔勒找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)库尔勒找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:49] lxz31101 opened #2266 "上虞哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)上虞找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)上虞找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:50] lxz31101 opened #2267 "迁安哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)迁安找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)迁安找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:50] lxz31101 opened #2268 "双流哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)双流找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)双流找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:50] lxz31101 opened #2269 "巩义哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)巩义找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)巩义找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:50] lxz31101 opened #2270 "瓦房店哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)瓦房店找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)瓦房店找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:50] lxz31101 opened #2271 "平湖哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)平湖找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)平湖找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:50] lxz31101 opened #2272 "石狮哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)石狮找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)石狮找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:51] lxz31101 opened #2273 "兖州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)兖州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)兖州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:51] lxz31101 opened #2274 "诸城哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)诸城找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)诸城找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:51] lxz31101 opened #2275 "泰兴哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)泰兴找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)泰兴找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:51] lxz31101 opened #2276 "启东哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)启东找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)启东找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:51] lxz31101 opened #2277 "长沙县哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)长沙县找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)长沙县找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:51] lxz31101 opened #2278 "溧阳哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)溧阳找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)溧阳找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:52] lxz31101 opened #2279 "遵化哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)遵化找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)遵化找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:52] lxz31101 opened #2280 "江都哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)江都找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)江都找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:52] lxz31101 opened #2281 "招远哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)招远找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)招远找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:52] lxz31101 opened #2282 "崇明哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)崇明找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)崇明找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:52] lxz31101 opened #2283 "东阳哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)东阳找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)东阳找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:52] lxz31101 opened #2284 "临海哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)临海找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)临海找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:53] lxz31101 opened #2285 "长乐哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)长乐找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)长乐找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:53] lxz31101 opened #2286 "邹平哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)邹平找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)邹平找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:53] lxz31101 opened #2287 "肥城哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)肥城找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)肥城找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:53] lxz31101 opened #2288 "嘉善哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)嘉善找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)嘉善找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:53] lxz31101 opened #2289 "长兴哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)长兴找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)长兴找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:53] lxz31101 opened #2290 "东台哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)东台找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)东台找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:54] lxz31101 opened #2291 "海盐哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)海盐找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)海盐找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:54] lxz31101 opened #2292 "龙海哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)龙海找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)龙海找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:54] lxz31101 opened #2293 "普兰店哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)普兰店找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)普兰店找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:54] lxz31101 opened #2294 "乳山哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)乳山找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)乳山找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:54] lxz31101 opened #2295 "庄河哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)庄河找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)庄河找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:55] lxz31101 opened #2296 "宁海哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)宁海找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)宁海找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:55] lxz31101 opened #2297 "偃师哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)偃师找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)偃师找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:55] lxz31101 opened #2298 "永康哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)永康找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)永康找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:55] lxz31101 opened #2299 "玉环哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)玉环找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)玉环找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:55] lxz31101 opened #2300 "密云哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)密云找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)密云找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:55] lxz31101 opened #2301 "金坛哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)金坛找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)金坛找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:56] lxz31101 opened #2302 "蓬莱哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)蓬莱找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)蓬莱找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:56] lxz31101 opened #2303 "象山哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)象山找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)象山找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:56] lxz31101 opened #2304 "临安哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)临安找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)临安找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:56] lxz31101 opened #2305 "河津哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)河津找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)河津找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:56] lxz31101 opened #2306 "武安哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)武安找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)武安找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:56] lxz31101 opened #2307 "德清哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)德清找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)德清找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:57] lxz31101 opened #2308 "莱西哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)莱西找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)莱西找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:57] lxz31101 opened #2309 "大石桥哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)大石桥找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)大石桥找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:57] lxz31101 opened #2310 "靖江哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)靖江找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)靖江找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:57] lxz31101 opened #2311 "如东哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)如东找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)如东找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:57] lxz31101 opened #2312 "高要哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)高要找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)高要找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:57] lxz31101 opened #2313 "嵊州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)嵊州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)嵊州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:58] lxz31101 opened #2314 "奉化哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)奉化找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)奉化找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:58] lxz31101 opened #2315 "开平哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)开平找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)开平找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:58] lxz31101 opened #2316 "仪征哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)仪征找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)仪征找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:58] lxz31101 opened #2317 "铜山哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)铜山找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)铜山找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:58] lxz31101 opened #2318 "桓台哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)桓台找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)桓台找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:58] lxz31101 opened #2319 "海安哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)海安找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)海安找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:59] lxz31101 opened #2320 "苍南哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)苍南找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)苍南找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:59] lxz31101 opened #2321 "大丰哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)大丰找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)大丰找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:59] lxz31101 opened #2322 "曲阜哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)曲阜找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)曲阜找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:59] lxz31101 opened #2323 "安溪哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)安溪找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)安溪找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:59] lxz31101 opened #2324 "万州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)万州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)万州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 13:59] lxz31101 opened #2325 "塘沽哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)塘沽找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)塘沽找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:00] lxz31101 opened #2326 "北京哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)北京找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)北京找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:00] lxz31101 opened #2327 "上海哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)上海找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)上海找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:00] lxz31101 opened #2328 "天津哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)天津找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)天津找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:00] lxz31101 opened #2329 "重庆哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)重庆找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)重庆找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:00] lxz31101 opened #2330 "南京哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)南京找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)南京找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:00] lxz31101 opened #2331 "连云港哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)连云港找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)连云港找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:01] lxz31101 opened #2332 "徐州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)徐州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)徐州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:01] lxz31101 opened #2333 "宿迁哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)宿迁找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)宿迁找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:01] lxz31101 opened #2334 "淮安哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)淮安找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)淮安找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:01] lxz31101 opened #2335 "盐城哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)盐城找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)盐城找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:01] lxz31101 opened #2336 "泰州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)泰州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)泰州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:01] lxz31101 opened #2337 "扬州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)扬州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)扬州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:02] lxz31101 opened #2338 "镇江哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)镇江找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)镇江找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:02] lxz31101 opened #2339 "南通哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)南通找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)南通找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:02] lxz31101 opened #2340 "常州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)常州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)常州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:02] lxz31101 opened #2341 "无锡哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)无锡找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)无锡找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:02] lxz31101 opened #2342 "苏州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)苏州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)苏州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:02] lxz31101 opened #2343 "杭州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)杭州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)杭州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:03] lxz31101 opened #2344 "萧山哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)萧山找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)萧山找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:03] lxz31101 opened #2345 "湖州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)湖州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)湖州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:03] lxz31101 opened #2346 "嘉兴哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)嘉兴找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)嘉兴找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:03] lxz31101 opened #2347 "绍兴哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)绍兴找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)绍兴找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:03] lxz31101 opened #2348 "舟山哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)舟山找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)舟山找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:04] lxz31101 opened #2349 "宁波哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)宁波找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)宁波找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:04] lxz31101 opened #2350 "金华哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)金华找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)金华找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:04] lxz31101 opened #2351 "衢州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)衢州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)衢州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:04] lxz31101 opened #2352 "台州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)台州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)台州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:04] lxz31101 opened #2353 "丽水哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)丽水找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)丽水找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:04] lxz31101 opened #2354 "温州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)温州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)温州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:05] lxz31101 opened #2355 "广州哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)广州找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)广州找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:05] lxz31101 opened #2356 "番禺哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)番禺找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)番禺找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:05] lxz31101 opened #2357 "韶关哪里有妹子上门联系方式"
【+V芯:１７８９ˇ４８０９岚岚】服务)韶关找附近服务联系方式【+V芯:１７８９ˇ４８０９岚岚】服务)韶关找美女(叫哪有服务上门【+V芯:１７８９ˇ４８０９岚岚】十五分钟就可以送到指定的地方大润发已经开始做起了新零售，并且发展得也越来越好。尤其是近几年，越来越多的投资者将目光盯向了新零售，也衍生了很多基于新零售的行业。例如现在的直播带货，观众通过直播与主播互动，可以清楚直观看到实物，不再是以往美化过的图片。新零售的出现不仅弥补传统电商的痛点，且实体店也不会饱受争议，通过满足客户的真实体验，促进新兴零售的全面转型。

[2020-12-15 14:06] #2338 closed

[2020-12-15 14:06] #2339 closed

[2020-12-15 14:06] #2340 closed

[2020-12-15 14:06] #2341 closed

[2020-12-15 14:06] #2342 closed

[2020-12-15 14:06] #2343 closed

[2020-12-15 14:06] #2344 closed

[2020-12-15 14:06] #2345 closed

[2020-12-15 14:06] #2346 closed

[2020-12-15 14:06] #2347 closed

[2020-12-15 14:06] #2348 closed

[2020-12-15 14:06] #2349 closed

[2020-12-15 14:06] #2350 closed

[2020-12-15 14:06] #2351 closed

[2020-12-15 14:06] #2352 closed

[2020-12-15 14:06] #2353 closed

[2020-12-15 14:06] #2354 closed

[2020-12-15 14:06] #2355 closed

[2020-12-15 14:06] #2356 closed

[2020-12-15 14:06] #2357 closed

[2020-12-15 14:06] #2313 closed

[2020-12-15 14:06] #2314 closed

[2020-12-15 14:06] #2315 closed

[2020-12-15 14:06] #2316 closed

[2020-12-15 14:06] #2317 closed

[2020-12-15 14:06] #2318 closed

[2020-12-15 14:06] #2319 closed

[2020-12-15 14:06] #2320 closed

[2020-12-15 14:06] #2321 closed

[2020-12-15 14:06] #2322 closed

[2020-12-15 14:06] #2323 closed

[2020-12-15 14:06] #2324 closed

[2020-12-15 14:06] #2325 closed

[2020-12-15 14:06] #2326 closed

[2020-12-15 14:06] #2327 closed

[2020-12-15 14:06] #2328 closed

[2020-12-15 14:06] #2329 closed

[2020-12-15 14:06] #2330 closed

[2020-12-15 14:06] #2331 closed

[2020-12-15 14:06] #2332 closed

[2020-12-15 14:06] #2333 closed

[2020-12-15 14:06] #2334 closed

[2020-12-15 14:06] #2335 closed

[2020-12-15 14:06] #2336 closed

[2020-12-15 14:06] #2337 closed

[2020-12-15 14:07] #2288 closed

[2020-12-15 14:07] #2289 closed

[2020-12-15 14:07] #2290 closed

[2020-12-15 14:07] #2291 closed

[2020-12-15 14:07] #2292 closed

[2020-12-15 14:07] #2293 closed

[2020-12-15 14:07] #2294 closed

[2020-12-15 14:07] #2295 closed

[2020-12-15 14:07] #2296 closed

[2020-12-15 14:07] #2297 closed

[2020-12-15 14:07] #2298 closed

[2020-12-15 14:07] #2299 closed

[2020-12-15 14:07] #2300 closed

[2020-12-15 14:07] #2301 closed

[2020-12-15 14:07] #2302 closed

[2020-12-15 14:07] #2303 closed

[2020-12-15 14:07] #2304 closed

[2020-12-15 14:07] #2305 closed

[2020-12-15 14:07] #2306 closed

[2020-12-15 14:07] #2307 closed

[2020-12-15 14:07] #2308 closed

[2020-12-15 14:07] #2309 closed

[2020-12-15 14:07] #2310 closed

[2020-12-15 14:07] #2311 closed

[2020-12-15 14:07] #2312 closed

[2020-12-15 14:07] #2263 closed

[2020-12-15 14:07] #2264 closed

[2020-12-15 14:07] #2265 closed

[2020-12-15 14:07] #2266 closed

[2020-12-15 14:07] #2267 closed

[2020-12-15 14:07] #2268 closed

[2020-12-15 14:07] #2269 closed

[2020-12-15 14:07] #2270 closed

[2020-12-15 14:07] #2271 closed

[2020-12-15 14:07] #2272 closed

[2020-12-15 14:07] #2273 closed

[2020-12-15 14:07] #2275 closed

[2020-12-15 14:07] #2276 closed

[2020-12-15 14:07] #2277 closed

[2020-12-15 14:07] #2278 closed

[2020-12-15 14:07] #2279 closed

[2020-12-15 14:07] #2280 closed

[2020-12-15 14:07] #2281 closed

[2020-12-15 14:07] #2282 closed

[2020-12-15 14:07] #2283 closed

[2020-12-15 14:07] #2284 closed

[2020-12-15 14:07] #2285 closed

[2020-12-15 14:07] #2286 closed

[2020-12-15 14:07] #2287 closed

[2020-12-15 14:07] #2238 closed

[2020-12-15 14:07] #2239 closed

[2020-12-15 14:07] #2240 closed

[2020-12-15 14:07] #2241 closed

[2020-12-15 14:07] #2242 closed

[2020-12-15 14:07] #2243 closed

[2020-12-15 14:07] #2244 closed

[2020-12-15 14:07] #2246 closed

[2020-12-15 14:07] #2247 closed

[2020-12-15 14:07] #2248 closed

[2020-12-15 14:07] #2249 closed

[2020-12-15 14:07] #2250 closed

[2020-12-15 14:07] #2251 closed

[2020-12-15 14:07] #2252 closed

[2020-12-15 14:07] #2253 closed

[2020-12-15 14:07] #2254 closed

[2020-12-15 14:07] #2255 closed

[2020-12-15 14:07] #2256 closed

[2020-12-15 14:07] #2257 closed

[2020-12-15 14:07] #2258 closed

[2020-12-15 14:07] #2259 closed

[2020-12-15 14:07] #2260 closed

[2020-12-15 14:07] #2261 closed

[2020-12-15 14:07] #2262 closed

[2020-12-15 14:08] #2230 closed

[2020-12-15 14:08] #2231 closed

[2020-12-15 14:08] #2232 closed

[2020-12-15 14:08] #2233 closed

[2020-12-15 14:08] #2234 closed

[2020-12-15 14:08] #2235 closed

[2020-12-15 14:08] #2236 closed

[2020-12-15 14:08] #2237 closed

[2020-12-16 14:21] finius04 opened #2358 "How to change modules size"
Hi,
How can I change the size of all of the modules, or effectively make my monitor into a bigger canvas.
Thanks,

[2020-12-16 14:50] ashishtank commented on #2358
@finius04 Did you tried zoom in or zoom out ?

[2020-12-17 09:11] BillyTheKid9588 opened #2359 "Calendar module not respecting urgency or relative flags"
For full day events in two days, the calendar module returns "In 2 days" regardless of the other settings.

I'd like to see all dates in one set format regardless of how far away they are.

This is my config file for the calendar module;

                        module: "calendar",
                        header: "Calendar",
                        position: "top_left",
                        con

[2020-12-18 16:04] sdetweil commented on #2171
@MichMich  should have been closed by the PR..

[2020-12-18 16:05] sdetweil commented on #2223
the calendar gets its timezone from the local system date/time setting

[2020-12-18 16:31] #2171 closed

[2020-12-18 20:45] WorldWideWebDev commented on #1772
I know this is old but recently I had the same problem and it seemed in my case that i was missing a line named "header" in one of the sections , see below.
I added the line(( header: "Current Weather" ))and it showed what i wrote. you can add a header as you wish and it seems to work.

      }
                                ]
                        }
                },
                {

[2020-12-18 21:27] WorldWideWebDev commented on #1772
I have experienced this problem also. I have three MM's and two experience this , obviously because the two are mirrored SD cards with identical operating systems. But i overcame the issue of it displaying "Undefined" by adding a line under the "position line" named " header" copied from some lines below. I added (header: "Current Weather",) which was missing. Note its missing and obviously not re

[2020-12-19 14:41] sdetweil opened #2362 "calendar fetch fails with header size exceeded, breaking node js change"
forum topic
https://forum.magicmirror.builders/topic/14257/overflow-with-calendar

see https://github.com/nodejs/node/issues/24692

node has made the max header size 8000 down from 80,000.  we have some bad servers which are sending the data in the headers too..
[code]

the url above is invalidated(by me)  so it could be posted here.. I can advise someone else the corrected url

the workaround  --

[2020-12-19 22:09] khassel commented on #2362
The downgrade from 80KB to 8KB was made 2 years ago.

running `node --help` v14.15.3 says 16KB:
[code]

Did you try `node --max-http-header-size=80000 ./serveronly`?

[2020-12-19 22:47] sdetweil commented on #2362
no, will try, however  note the failure above at 8264  on node 14.15.3

need to do this on non-serveronly

we are using request in calendar.

[2020-12-20 03:14] sdetweil commented on #2362
@khassel  for node 10.23.0 without the parm , serveronly fails, with the parm does NOT fail.
for 14.15.3 does not fail with or without the parm

so, how do we specify this for the
electron version?

[2020-12-20 11:50] khassel commented on #2362
from the electron docs [this](https://www.electronjs.org/docs/api/environment-variables#node_options) should work.

[2020-12-20 12:59] sdetweil commented on #2362
@khassel  that worked.. i looked thru the electron docs for parameters,  not options

[2020-12-20 18:49] MichMich opened #2363 "URGENT: Looking for an alternative for Travis CI."
Currently we are using Travis for automated testing of all branches and the PR's. Unfortunately, Travis is no longer free and their price plan is pretty steep. Therefor it might be necessary to switch to an alternative solution.

Please let me know if you know (affordable) solution, of know how to solve this using GitHub actions. Any help on this topic is welcome!

Good to know: I prefer to have a

[2020-12-20 18:58] JoshuaShelswell commented on #1664
did you ever figure this out? im noticing the same issue

[2020-12-20 18:58] rejas commented on #2363
I read on travis-ci.org that it is shutting down but didnt read anything more yet.
First came this to my mind, their claim: "Free for open source. We love the Open Source Community, and to show how much we love it, upon validated request placed with our Support Team you may receive free OSS credits for your public builds." So is that a possibility, tell them about MM and if they give you credits f

[2020-12-20 19:00] rejas commented on #1664
Which motion detector module are you using?

[2020-12-20 19:06] JoshuaShelswell commented on #1664
yours actually, been trying to work out the bugs before i present the present to my partners mom lol

[2020-12-20 19:11] MichMich commented on #2363
I quickly whipped up a test using GitHub actions, which runs nicely, but due to electron, it runs into issues:
https://github.com/MichMich/MagicMirror/blob/ci-test/.github/workflows/node-ci.js.yml

It might be a good starting point. Feel free to send a PR to the `ci-test` branch if you have an idea how to solve this.

[2020-12-20 19:11] JoshuaShelswell commented on #1664
I uncommented

hdmi_force_hotplug=1
config_hdmi_boost=4

and added

hdmi_blanking=0

not sure if that resolved the issue but it hasnt done it in the last hour, the screensaver is also disabled

[2020-12-20 22:07] khassel commented on #2363
Fixed with https://github.com/MichMich/MagicMirror/pull/2364.

Additionally the `.travis.yml` should be removed.
And we need the testing on `develop` too (`ci_test` has parent `master`).

[2020-12-20 23:22] khassel commented on #2362
glad to hear this is solved. Do we need a fix in this repo?

I think not, node `v14` is the current lts version and has already 16KB header size. The forum issue was the first after 2 years.
What do you think?

[2020-12-20 23:25] sdetweil commented on #2362
i do not think we need to implement any fixes.
I was waiting til the user confirmed it worked for him. but it worked for me.

and the workaround is easy to do

I appreciate your help

[2020-12-21 03:08] JoshuaShelswell commented on #1664
the added lines seems to have fixed it for now, motion detecting now acting as it should

[2020-12-21 06:17] dwebfan commented on #2363
Is it a good idea to remove dependency of core of magic mirror out of electron. Electron build would be similiar as server-only option. User can choose build mode. It would be also easier from testing point of view

[2020-12-21 07:29] MichMich commented on #2363
Thanks khassel! So anyone knows what the deal is? Are github actions free? Is this a full replacement for Travis?

[2020-12-21 07:30] MichMich commented on #2363
Maybe a good idea to open a separate Issue for this so we can discuss the possibilities.

[2020-12-21 07:37] MichMich commented on #2363
It seems it is:
https://github.blog/2019-08-08-github-actions-now-supports-ci-cd/

🎉

[2020-12-21 07:37] rejas commented on #2363
As far as I know its free for public repos: https://github.com/features/actions#pricing-details

[2020-12-21 07:41] MichMich commented on #2363
Cool. The only thing missing now is the Danger.js integration to check if someone added a changelog. This is available as a GitHub action as well. So we can make that a separate action.

I'll merge the Travis replacement today so we can test it on the open PR's.

[2020-12-21 10:36] MichMich commented on #2363
It looks like the Github Action for testing is working. All open PR's passed. Just to test: could someone send a failing PR so we can test it for sure?

I tried implementing danger, but it turns out danger js can't work in GitHub Actions on a PR: https://github.com/PrismJS/prism/issues/2627

There are a few CHANGELOG enforcing actions available. So Will look into that in the future.

[2020-12-21 11:21] MichMich commented on #2363
Just posted a PR from a secondary account which fails as expected: https://github.com/MichMich/MagicMirror/pull/2368#issuecomment-748921773

🎉

So the only thing missing now is enforcing CHANGELOG.

[2020-12-21 12:09] MichMich commented on #2363
Changelogs are enforced now. Thanks for everyone's help.

[2020-12-21 12:09] #2363 closed

[2020-12-21 12:57] #2221 closed

[2020-12-23 10:25] ashishtank commented on #2228
#2360 solves it.

[2020-12-23 10:25] #2228 closed

[2020-12-23 14:31] sdetweil commented on #2362
user confirmed parameter resolved problem

[2020-12-23 14:31] #2362 closed

[2020-12-23 14:50] sdetweil opened #2371 "upgrade to node-ical 0.12.4 to take advantage of the RRULE= error fix"
node-ical 0.12.4  contains fix for the unexpected RRULE formatting in cal entries

[2020-12-24 15:26] bert269 opened #2373 "How to disable a specific (or group of) modules, when another is activated?"
I'm not sure if this is a bug, but I have the need to disable a specific module, when another gets activated.
I know that recently there was a global variable (disabled: true/false) introduced and I was thinking of disabling the required module(s) with this.
So I defined another global variable, called **_dismod_** with value 0 (maining false) . My plan was when the trigger module gets activated,

[2020-12-24 15:32] sdetweil commented on #2373
when  'hide' a module, it received a call to the is suspend() function.. which is 'like' disable, if the module implemented it.
this is how pages works..

[2020-12-24 15:34] bert269 commented on #2373
Thanks for the quick reply. Let me see where I can find more about this and how to enable it for the specific module(s).

[2020-12-24 16:01] sdetweil commented on #2373
@bert269 I use this in my MMM-SleepWake to blank the screen where can't turn off/on monitor with software

https://github.com/sdetweil/MMM-SleepWake

doc
https://docs.magicmirror.builders/development/core-module-file.html#subclassable-module-methods
https://docs.magicmirror.builders/development/helper-methods.html#module-selection

in my code
[code]

[2020-12-24 16:39] bert269 commented on #2373
Sorry - but I cannot figure this out/get my mind around it.
Thanks for your help anyway.

[2020-12-24 16:58] sdetweil commented on #2373
@bert269  in the modulename.js (the js file whose filename matches the module name) , u can use the  MM.getModules()  function to return a list of all the loaded modules.

u can then operate on their data (module.hidden, module.name, module.identifier)...
https://docs.magicmirror.builders/development/core-module-file.html#available-module-instance-properties

and then call methods on their instanc

[2020-12-24 17:47] MichMich commented on #2373
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2020-12-24 17:47] #2373 closed

[2020-12-24 17:47] #2371 closed

[2020-12-24 17:48] MichMich commented on #2358
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2020-12-24 17:48] #2358 closed

[2020-12-24 17:48] MichMich commented on #2223
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2020-12-24 17:48] #2223 closed

[2020-12-25 11:08] Ajimsutar commented on #1524
I am having same problem if u found solution let me know

[2020-12-25 11:12] rejas commented on #1524
What version are you using? Looks like yours is outdated....

[2020-12-25 11:24] Ajimsutar commented on #1524
I am using Raspberry Pi 3b.can you provide me newer version of magicmirror

On Fri, 25 Dec, 2020, 4:43 PM Veeck, <notifications@github.com> wrote:

[2020-12-25 11:32] rejas commented on #1524
You didnt answer my question: Which version of MagicMirror are you using?

[2020-12-25 11:35] Ajimsutar commented on #1524
I am using this command bash -c "$(curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh)"

[2020-12-25 11:38] rejas commented on #1524
Please take a look at the updated installation isntruction: https://docs.magicmirror.builders/getting-started/installation.html

[2020-12-25 11:53] sdetweil commented on #1524
@Ajimsutar the install script was removed a couple releases ago. I maintain it separately now

see https://github.com/sdetweil/MagicMirror_scripts

[2020-12-25 15:27] Ajimsutar commented on #1524
While installing npm it gives error in cromedriver

On Fri, 25 Dec, 2020, 4:43 PM Veeck, <notifications@github.com> wrote:

[2020-12-25 15:53] sdetweil commented on #1524
@Ajimsutar are u installing on pi0? electron doesn't exist for pi0 , that is just a warning, not a failure

[2020-12-25 16:33] Ajimsutar commented on #1524
I am installing on pi3

On Fri, 25 Dec, 2020, 9:23 PM sam detweiler, <notifications@github.com>
wrote:

[2020-12-25 17:21] sdetweil commented on #1524
if u used my script, email me the ~/install.log
same userid on gmail

[2020-12-26 09:35] Ajimsutar commented on #1524
now its giving error of cromedriver

On Fri, 25 Dec 2020 at 22:51, sam detweiler <notifications@github.com>
wrote:

[2020-12-26 13:20] rejas commented on #2189
Can this be closed now @Sub028 since the PR got merged?

[2020-12-26 13:40] sdetweil commented on #1524
send me the log file

[2020-12-26 13:45] #2189 closed

[2020-12-26 19:02] rejas commented on #2177
so, is this still under progress or can the issue be closed @sdetweil ?

[2020-12-26 19:05] rejas commented on #2200
same here: fixed by the PR or still under work?

[2020-12-26 19:35] sdetweil commented on #2177
should have been closed by pr merge

[2020-12-26 19:36] sdetweil commented on #2200
should have been closed by pr merge

[2020-12-26 20:55] #2177 closed

[2020-12-26 20:57] #2200 closed

[2020-12-27 12:02] majdzik84 commented on #2221
Unfortunately, the problem persists for me. I updated to the latest version but the icons are still night time.

[2020-12-27 15:38] Ajimsutar commented on #1524
This is log file

On Sat, 26 Dec, 2020, 7:10 PM sam detweiler, <notifications@github.com>
wrote:

[2020-12-27 15:41] sdetweil commented on #1524
sorry, I don't see a log file

[2020-12-27 15:43] Ajimsutar commented on #1524
Can you send me email id
On Sun, 27 Dec, 2020, 9:11 PM sam detweiler, <notifications@github.com>
wrote:

[2020-12-27 15:45] sdetweil commented on #1524
its the same id  as I use here at gmail.

[2020-12-27 15:53] Ajimsutar commented on #1524
Actually I couldn't find your email address can you send me please

On Sun, 27 Dec, 2020, 9:15 PM sam detweiler, <notifications@github.com>
wrote:

[2020-12-27 15:55] sdetweil commented on #1524
come on sdetweil at gmail   (you have to finish it).. this way the spam bots don't...

[2020-12-27 15:59] Ajimsutar commented on #1524
Yes I have sent you log file

On Sun, 27 Dec, 2020, 9:25 PM sam detweiler, <notifications@github.com>
wrote:

[2020-12-27 16:16] sdetweil commented on #1524
thanks.. but that wasn't the log I was looking for..

i was looking for the log from my auto install script, which should be located at ~/install.log
the script makes lot of decisions and does updates based on that..

i see the failure you reported, but don't see the rest of the info I was looking for

remove the MagicMirror folder and run the install script from here, one line cut and paste
https

[2020-12-27 19:07] ashishtank commented on #2221
@majdzik84 : can you check if you have below code in your current weather module file ? Looks like you are using https://github.com/jharttech/MMM-weatherforecast and not default current weather module. In https://github.com/jharttech/MMM-weatherforecast pull request is not merged yet.

[code]

[2020-12-27 20:02] majdzik84 commented on #2221
@ashishtank I am using the default module. I have the code you entered in the default weather module.

![image](https://user-images.githubusercontent.com/31352476/103178796-6b6c2880-4886-11eb-9430-03165daf8a96.png)

![dddd](https://user-images.githubusercontent.com/31352476/103178821-b7b76880-4886-11eb-8c09-b52335874173.png)

[2020-12-28 12:01] ashishtank commented on #2221
@majdzik84 Can you check in dev tools if debugger is reaching to below lines ? The line 404 sets the correct icon.

![image](https://user-images.githubusercontent.com/7521477/103210561-44553b80-4906-11eb-8474-3a0ad3b5a2f0.png)

Another option is to check with English language for MM, if that solves the issue then we can confirm that my findings were correct.

[2020-12-28 12:24] majdzik84 commented on #2221
After changing to English, the icons are still in the night mode change. :(

![Uploading image.png…]()

[2020-12-28 13:19] ashishtank commented on #2221
Can you send me JSON data that module is receiving from weather provider ?

[2020-12-28 14:12] sdetweil opened #2378 "new version package.json has electron as hard dependency AND optional.. need only optional"

[2020-12-28 14:23] sdetweil opened #2380 "upgrade node-ical version to 0.12.5 second fix for bad RRULE format"
#2379

[2020-12-28 15:19] majdzik84 commented on #2221
@ashishtank  no problem if you write me how can i get it / where to look?

[2020-12-28 17:10] ashishtank commented on #2221
@majdzik84
1. Write below line in weatherforcast.js processWeather function as shown in image below
2. console.log(JSON.stringify(data));
[code]
3. Open dev tools, refresh the mirror
4. check the dev tools console tab
5. click on copy button as highlighted in image
6. paste it here or share using pastebin.org
7. Also send me your config language

![image](https://user-images.githubusercontent.com/

[2020-12-28 17:15] ezeholz opened #2382 "Tag disabled returns undefined on getModules()"
## I found a bug in MagicMirror

Please make sure to only submit reproducible issues. You can safely remove everything above the dividing line.
When submitting a new issue, please supply the following information:

**Platform**: VM Ubuntu 18.04 and https://github.com/Jopyth/MMM-Remote-Control/issues/242#issuecomment-751563402
Electron installed with MM version.

**Node Version**: v14.15.0

**Magic

[2020-12-28 18:07] #2180 closed

[2020-12-28 18:07] #2216 closed

[2020-12-28 18:08] #2199 closed

[2020-12-28 19:22] sdetweil opened #2383 "updatenotification exception not handled, 2.14-dev"
installed on pi0 today

started with sample config

saw this exception
[code]

does simple-git depend on a particular git version?

[2020-12-28 19:34] sdetweil commented on #2383
we are at simple-git 2.25, 2.31 is latest , testing

[2020-12-28 20:00] khassel commented on #2382
This is caused by [this line](https://github.com/MichMich/MagicMirror/blob/develop/js/main.js#L505) of `main.js`.

For testing I replaced `modules[module.data.index] = module;` with `modules[m] = module;` and this worked for me.

But:
- the modules array started with `1`, with the fix it starts with `0` (we could add 1 to m so it starts again with `1`)
- is there any relation needed between the in

[2020-12-28 20:19] majdzik84 commented on #2221
Thank you for the instructions.

language: "pl",

`{"cod":"200","message":0,"cnt":25,"list":[{"dt":1609189200,"main":{"temp":4.61,"feels_like":-1.32,"temp_min":3.71,"temp_max":4.61,"pressure":989,"sea_level":989,"grnd_level":961,"humidity":68,"temp_kf":0.9},"weather":[{"id":802,"main":"Clouds","description":"rozproszone chmury","icon":"03n"}],"clouds":{"all":32},"wind":{"speed":5.47,"deg":132},"vi

[2020-12-28 22:21] sdetweil commented on #2383
i don't see the error using simplegit 2.31

[2020-12-29 13:52] Ajimsutar commented on #1524
i have send you new log file

On Sun, 27 Dec 2020 at 21:46, sam detweiler <notifications@github.com>
wrote:

[2020-12-29 17:09] ashishtank commented on #2221
@majdzik84 Thanks for the weather data, it helped in getting the root cause. In this data for each day each time slot also have icon with it. we have logic to set the icon from 8 to 17 hours time frame to show as main icon as below.

[code]
But if any last time slot data contains the night time icon then it will display night icon only. In your provided data I noticed the same. for time slot 2020-

[2020-12-29 18:21] MichMich commented on #2221
I don't think it needs to be configurable. The weather app knows which time the sun comes up and goes down. We can use those timestamps (and fallback to 06.00 and 18.00).

[2020-12-29 19:32] ezeholz commented on #2382
@khassel That solution would totally solve the array problem. But there's a more deep problem, that I don't really know if it's designed that way. You can see also in your picture that the fifth module identifier it's missing. That means the MM it's detecting the module and, despite being disabled, it's being loaded and given a identifier.

I believe that disabled modules doesn't even have to be l

[2020-12-29 19:42] sdetweil commented on #2382
i think this is a side effect of how the config data is used..

it is a source file and as such loaded and rendered as a js object... ALL elements of the modules array are rendered.
at a later time this array is used to cause modules to be loaded, if they are not disabled.

at this point the module array of the  config loaded thru require, should be reduced to non-disabled modules

the module sear

[2020-12-29 19:53] khassel commented on #2382
I agree to @sdetweil  that its o.k. to load the config data into objects and then decide to use it or not (if disabled).

But I'm not quite sure, if that solution works without any side effects.
The Coder of this line must have thought something about using the `module.data.index` as array index (?).

May @sdetweil and @MichMich should comment if this fix should be implemented or not or if there i

[2020-12-29 20:00] sdetweil commented on #2382
@khassel

or didn't understand the side effect...
i think your fix is acceptable, does what i wanted a different way..

[2020-12-30 11:35] ashishtank commented on #2221
@MichMich Thanks for the suggestion. I propose below fix.

[code]
note that I have changed condition from hours >= offset to hours > offset (removed =) same for hour < offset. Reason is that when sunset time is 15:47 still open weather return night icon for 15:00 hour slot.

Let me know if this fix is correct, I will send pull request.

CC : @majdzik84

[2020-12-30 11:54] MichMich commented on #2221
Aside from a small typo inside your if statement (dayStart in stead of dayStarts) it looks good.

A PR is welcome. Would be great if you can also add tests to check this feature.

[2020-12-30 13:21] ashishtank commented on #2221
@MichMich Thanks, I also noticed typo after post. I will try to do unit test as well.

[2020-12-30 15:37] sdetweil commented on #1524
status. he had some problem with npm reinstalling npm resolved

[2020-12-30 22:15] MikeBishop opened #2389 "Translator can't substitute empty strings"
**Platform**: Raspberry Pi 4

**Node Version**: 10.23.0

**MagicMirror Version**: 2.13.0

**Description**: In translator.js, the code checks whether a variable is present with the following code:

    return variables[varName] || "{" + varName + "}";

However, when the content of the variable is an empty string, this erroneously substitutes `{varName}` back in.

**Steps to Reproduce**: Call `this.

[2020-12-31 10:05] rejas commented on #2389
Thanks for the report. Would you like to submit a PR for this issue?

[2020-12-31 10:20] MichMich commented on #2389
Could you give an example when this would be usefull?

[2020-12-31 12:21] MikeBishop commented on #2389
I initially used a substitution that contains "{HOURS}{LISTSEP}{MINUTES}", where each element is an empty string if that value is zero, and LISTSEP is `", "` if both are non-zero but `""` if only one is non-zero.  (If both are zero, we won't reach this code.)

There are other ways to build it, of course --  you can insert the string `" "` and let HTML collapse the whitespace, you can pick from mul

[2020-12-31 13:40] MichMich commented on #2389
Makes sense. Feel free to send a PR.

[2020-12-31 13:56] 0m4r opened #2391 "Modules without a remote master branch trigger "[2020-12-31 14:43:37.337] [ERROR] fatal: your current branch 'master' does not have any commits yet""
## I found a bug in MagicMirror
Any module without a "master" branch will give the fatal error
**[ERROR]  fatal: your current branch 'master' does not have any commits yet**

**Platform**:
Raspberrypi 3b+

**Node Version**:
v10.23.0

**MagicMirror Version**:
2.13.0

**Description**:
Any module without a "master" branch will give the fatal error
**[ERROR]  fatal: your current branch 'master' does n

[2020-12-31 14:30] khassel commented on #2391
This works for me on the `develop` branch, looking in [simple-git changelog](https://github.com/steveukx/git-js/blob/cd244a6c99b587ee605cb406c45c1df5dae56e3b/CHANGELOG.md) this was fixed with v2.23.0.

So the new release v2.14.0 of MagicMirror (coming tomorrow) should work with your module.

[2020-12-31 14:40] rejas commented on #2391
So we can say it was fixed with PR https://github.com/MichMich/MagicMirror/pull/2222

[2020-12-31 14:54] sdetweil commented on #2391
is this the same as the cause for #2383 ?

[2020-12-31 14:55] 0m4r commented on #2391
I have just switched to develop, run "npm i" and this error is gone, but now I do get another one:
[code]
simple git is 2.26.0
[code]

[2020-12-31 14:58] sdetweil commented on #2391
@0m4r yeh, reported in #2383
I can't reproduce it

i tested with simple-git@2.31 and didn't see it, but can't cause it again on 2.26

if u can repeat, install simple-git@2.31 and try again

[2020-12-31 15:01] 0m4r commented on #2391
as per #2383, upgrading simple-git to 2.31.0 solves the issue.
As far as I am concerned this one can be closed. thanks for the quick support!
Let me know if I can be of any help!

[2020-12-31 15:07] khassel commented on #2391
at the moment simple-git v2.26.0 is in `package.json`. So should this be updatet to v2.31.0 before the release tomorrow?

[2020-12-31 15:09] 0m4r commented on #2391
I guess that would be a good idea. But I do not know what it takes in terms of effort to update it.
I think you may want/need to go through all your QA process and stuff??

[2020-12-31 15:10] sdetweil commented on #2391
just submitted pr

[2020-12-31 15:30] sdetweil opened #2394 "add text for upgrade to switch back to master"
we have been advising users  to use the develop branch for issues that we have fixes for...

now git pull will not upgrade them to 2.14

SO, we need to add a couple sentences
[code]
then
[code]

[2020-12-31 15:33] MichMich commented on #2394
If you pull on the dev branch they will have the latest as well including some new dev commits when available. Leaving them on the dev branch seems better since that way we have more beta testers.

When can add info in the documentation about the differences and procedures. But I don't think this is a mandatory part of the upgrade process.

[2020-12-31 15:39] sdetweil commented on #2394
hm.. my upgrade script will put them back on master..

[2020-12-31 15:43] MichMich commented on #2394
That's ok.

[2020-12-31 15:50] sdetweil commented on #2394
ok, closing

[2020-12-31 15:50] #2394 closed

[2020-12-31 15:53] #2378 closed

[2020-12-31 15:53] #2380 closed

[2020-12-31 15:53] #2383 closed

[2021-01-01 16:10] Anish2291 opened #2399 "Blank Screen after Reboot"
## I'm not sure if this is a bug

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)

## I'm having troubles installing or configuring MagicMirror

Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.buil

[2021-01-01 16:12] rejas commented on #2399
Hi @Anish2291 could you please provide more information? Please read the issue tempalte before posting an issue....

[2021-01-01 16:12] Anish2291 commented on #2399
[2021-01-01 21:22:56.446] [LOG]    Starting MagicMirror: v2.13.0
[2021-01-01 21:22:56.454] [LOG]    Loading config ...
[2021-01-01 21:22:56.458] [ERROR]  WARNING! Could not validate config file. Starting with default configuration. Please correct syntax errors at or above this line: /home/pi/MagicMirror/config/config.js:76
				roundTemp: true,
				^^^^^^^^^

SyntaxError: Unexpected identifier

[2021-01-01 16:15] Anish2291 commented on #2399
@rejas can you help me?

[2021-01-01 16:23] rejas commented on #2399
There is your error: Your config file is not valid. Please make sure it is valid javascript. You can check it directly for errors by running `npm run config:check` in your MagicMirror directory.

[2021-01-01 16:33] Anish2291 commented on #2399
I used that still it appears blank and give a syntax error on the below line. i cnt understand whats wrong
if (typeof module !== "undefined") {module.exports = config;}

[2021-01-01 16:39] MichMich commented on #2399
Please refer to http://forum.magicmirror.builders for support and troubleshooting. The GitHub issues are ment for core bug reports. Not for support.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2021-01-01 16:39] #2399 closed

[2021-01-03 22:09] shevett opened #2402 "Calendar module is spamming in debug mode"
## I found a bug in MagicMirror

**Platform**: Linux

**Node Version**:
[code]

**MagicMirror Version**: Please let us now which version of MagicMirror you are running. It can be found in the `package.log` file.

This file does not exist:

[code]

Here's git log:
[code]

**Description**: Just did a git pull to the latest version, did an npm install, and restarted.  I've been having problems with t

[2021-01-03 22:17] khassel commented on #2402
you can set logLevel in your config, see https://github.com/MichMich/MagicMirror/blob/master/config/config.js.sample#L31

If no logLevel is set, all entries including DEBUG are displayed.

[2021-01-03 22:28] shevett commented on #2402
That seems a weird default, but you're right, adding hte logLevel block to the config turned off the debug messages (when I left it ou of the array).

Naturally, now the display is showing only 5 entries.  So I guess this one is fixed?   :) :)

[2021-01-03 23:39] sdetweil opened #2403 "2.14 regression, not installed module produces no error"
I was helping user with MMM-WiFiPassword, it just displays a qr code

he had misspelled the name

to recreate
add this to your config.js
[code]
i got
No helper found for module: MMM-WiFiPassword1.

but not failure, because the module was missing

[2021-01-04 09:09] rejas commented on #2402
Thanks for the report @shevett, I just created a PR to set the responsible log level default values.

[2021-01-04 09:19] rejas commented on #2403
What was the behaviour pre-2.14 for this case?

[2021-01-04 12:50] sdetweil commented on #2403
magicMirror could not validate the config file
will not stop.....
(i think) have to go test

[2021-01-04 12:51] MichMich commented on #2403
I think this behavior did not change.

[2021-01-04 14:52] sdetweil commented on #2403
does not fail on 2.11...
should fail

[2021-01-05 08:55] 0m4r commented on #2391
the problem is gone with the new release.
I close the issue.

[2021-01-05 08:55] #2391 closed

[2021-01-05 15:52] rejas commented on #2402
The PR got merged, so this issue can be closed I guess @shevett

[2021-01-05 16:13] shevett commented on #2402
WFM!

[2021-01-06 09:18] rejas opened #2408 "Improve test suite by starting electron only when needed"
Speaking of: the test suite could be so much improved. Currently for every test we start electron, while in most cases we could just "virtually" start the module and test what getDom returns.

_Originally posted by @MichMich in https://github.com/MichMich/MagicMirror/issues/2401#issuecomment-753959303_

[2021-01-06 09:20] MichMich commented on #2408
And while were at it. It might be worth rethinking the test suite we are using. I'm not a specialist on (javascript) testing. But the output of our current test is rather underwhelming. I like the output of [Jest](https://jestjs.io). But maybe there is a better alternative.

[2021-01-06 09:57] fewieden commented on #2408
I had to work with multiple test frameworks for javascript in my company such as mocha, ava, jest, ...

My favorite test framework of all (the ones I used) is definitely Jest.

I used it for the last few days to test one of my modules from 0 to 100% coverage [MMM-soccer](https://github.com/fewieden/MMM-soccer). Since this worked quite nicely I intend to apply this also to my other modules.

The te

[2021-01-06 10:08] MichMich commented on #2408
This sounds so much better than what we currently have. It would also simplify building test, especially if we create some test tools users can use.

[2021-01-06 11:25] rejas commented on #2389
This issue can be closed I guess?

[2021-01-06 11:26] rejas commented on #2382
Can this be closed now since the PR got merged @ezeholz ?

[2021-01-06 11:46] ezeholz commented on #2382
I still thinking that this could be a deeper issue, because of module numeration and all that. I guess that the main problem that I brought was resolved with that PR.

Still, I was waiting until it's merged in master, so this could be close automatically. Haha

[2021-01-06 12:03] #2389 closed

[2021-01-06 12:04] #2382 closed

[2021-01-07 08:28] 0m4r opened #2409 "Calendar Module logs at DEBUG level by default"
## I found a bug in MagicMirror

**Platform**:
 Raspberry 3b+ (but not relevant)

**Node Version**:
v10.23.0 (but not relevant)

**MagicMirror Version**:
2.14.0"

**Description**:
Calendar Module logs at debug level

**Steps to Reproduce**:
Configure the calendar module

**Expected Results**:
no DEBUG logs are reported by default

**Actual Results**:
DEBUG logs are reported by default

**Configura

[2021-01-07 09:19] MichMich commented on #2409
Are you on the `master` branch or on the `develop` branch? If I'm not mistaken this is already fixed on develop.

To try the develop branch, use the following commands:
[code]

[2021-01-07 09:52] 0m4r commented on #2409
I am on the master branch. I'll give it a try with the develop one asap!
thanks for the quick answer. 👍🏻

It could be nice to add a config setting for the log level, it could be useful to debug!

[2021-01-07 10:00] 0m4r commented on #2409
ok, it works on develop, and, I am not sure if it is a bug on master, but on this branch I can also actually see the calendar events.

[2021-01-07 10:00] #2409 closed

[2021-01-07 18:33] khassel commented on #2409
duplicate of #2402

this exists already, see [config sample](https://github.com/MichMich/MagicMirror/blob/master/config/config.js.sample#L31)

[2021-01-08 02:45] sbehrends commented on #2192
I am happy to collaborate on this fix 👍

@doubled136, could you describe a bit how to reproduce the issue?

[2021-01-08 11:35] MichMich opened #2410 "Replace the default weather modules."
A while ago we started the development of the [new weather module](https://docs.magicmirror.builders/modules/weather.html) which is aimed to be the replacement for the current `currentweather` and `weatherforcast` modules.

Currently the `currentweather` and `weatherforcast`modules are still the default modules used in the config sample. Since the new `weather` module is now pretty mature, it migh

[2021-01-08 15:12] fewieden commented on #2410
There is a file called deprecated. I would add support for modules there, currently, it only supports config options.

At start, I would send an alert if the module is active and add a log.

One release later I would replace the module content with a simple div wrapper saying that the module is deprecated and the user should switch to the new module.

[2021-01-08 15:22] fewieden commented on #2410
Also as soon as the modules are deprecated all issues should refer to the new module and only if the issue exists on the new module there should be a fix provided. Same for pull requests.

[2021-01-08 15:27] MichMich commented on #2410
I think that is a bit to harsh. There are a lot of people that don't want to change their config and not all features of the current modules are implemented yet. But stop supporting the old modules might help in people moving over.

I think we can keep merging bug fixing PR's to the old modules for a while but prevent any implementation of new features. Any issue regarding the old modules should r

[2021-01-08 19:53] rejas commented on #2410
Would it be an option to mark the modules deprecated (somehow) and after x month / 1 year move them into a seperate repo like MMM-LegacyCurrentWeather / MMM-LegacyWeatherforecast (working title)

There they could receive updates without being in the main Repo...

[2021-01-08 19:57] MichMich commented on #2410
Yeah, that sounds reasonable. Although we can always look for the best option later. I don't think that's something we have to decide now.

The first step is moving over to the new module in the default config. This won't affect existing users.

Is the new module mature enough to take this step?

[2021-01-09 06:30] fewieden commented on #2410
I'm not sure if this is a big issue. Those people will also not update the mirror as long as it runs without an issue.

But new people and the ones actively playing will switch over.

I think just replacing it in the config sample is not enough as a first step, because this only affects new users, but they don't know about missing features from the old modules. At least we should also add deprecat

[2021-01-10 11:12] buxxi commented on #2410
What features are missing in the new module and have they been skipped intentionally?
I didn't notice any difference when I switched except for one more decimal for precipitation (but I mostly use the features that disables stuff that I don't care about).

The only "issue" I see is that the new weather-module uses fetch-api and promises (which I'm all for) on the client side which wont work for pe

[2021-01-10 15:39] cisnard13 opened #2412 "MMM-CalendarExt2 - Today is not translated"
Hello,
In MMM-CalendarExt2 with the daily view, even if the "locale" is set to "fr-FR", the words "today" and "tomorrow" are not displayed in french. The week day are displayed in french.

Thank you
Best regards
Christophe

[2021-01-10 15:40] MichMich commented on #2412
Please open an issue in the repository of that module. Thanks!

[2021-01-10 15:41] #2412 closed

[2021-01-10 15:50] ashishtank commented on #2221
PR : #2413

[2021-01-10 15:58] ashishtank commented on #2221
One test case is failing, and i am not sure how to fix that.. The test is unrelated to my changes (or at least it looks like)

[2021-01-10 16:56] 0m4r commented on #2409
thank @khassel I know that exists, I was more like a debug level specific for the module :)

[2021-01-10 21:57] rejas commented on #2410
I just came across one feature that I think is missing:
The compliments relies on the CURRENTWEATHER_DATA notification to display the compliments for s specific weather. Only the currentweather module is sending it, not the new one. Or was ist renamed or something and compliments needs to be updated?

[2021-01-12 14:07] rejas commented on #2221
Does the test run fine locally on your branch?

[2021-01-12 14:51] ashishtank commented on #2221
Yes, they are working fine. Also working for another pull request.
![image](https://user-images.githubusercontent.com/7521477/104330017-e58ae700-54ed-11eb-9bd3-73a3ddc7c091.png)

[2021-01-12 15:00] MichMich commented on #2221
I just restarted the tests. Let's see if that helps.

[2021-01-12 15:05] ashishtank commented on #2221
Looks like it works now !

[2021-01-13 15:20] g1gsw opened #2415 "Latest Calendar Module"
I seem to have found a bug in the latest calendar Module in MagicMirror 2.14 the date is always MM/DD/YYY and does not change if I put any other information config.js, calendar.js shows it should be "MMM Do", my config is as below. 2.13 was fine and respected the config.
{
                        module: "calendar",
                        header: "Calendar",
                        position: "top

[2021-01-13 15:21] MichMich commented on #2415
Have you tried the dev branch to see if that solves the issue?

[2021-01-13 15:31] g1gsw commented on #2415
How do I do that on my raspberry pi?
My install script is:-
#!/bin/sh
bash -c  "$(curl -sL https://raw.githubusercontent.com/sdetweil/MagicMirror_scripts/master/raspberry.sh)"

and my update one is:-

#!/bin/sh
bash -c  "$(curl -sL https://raw.githubusercontent.com/sdetweil/MagicMirror_scripts/master/upgrade-script.sh)" apply

[2021-01-13 15:57] roramirez commented on #2408
Hi guys!

The main idea to create the e2e was try the cover all most cases of the principal modules and find and get it  the bug in configuration and start of the app in Electron. At in this time (4 year ago) the tests for new feature/bugfix are 0 and the way most easily to cover from the module to the display in the html render for Electron was build a e2e test.

The unit test are good but we try

[2021-01-13 17:54] g1gsw commented on #2415
Just had another look at it and found if I set the "timeFormat" to absolute or dateheaders then the date is in the correct format.

[2021-01-13 17:56] MichMich commented on #2415
So, can I close this issue?

[2021-01-13 18:00] g1gsw commented on #2415
Yes many thanks.

Colin

[2021-01-13 18:00] #2415 closed

[2021-01-13 19:49] Aikagi000 commented on #2410
I just discovered this module in light of Apple's acquisition of Darksky. So far I like it and I was able to recreate most the the layout I had.

Feature requests:
1) Is it possible to have the hourly forecast setup so that it can show the hourly in increments? So say instead of  1pm, 2pm, 3pm  it can be 1pm, 3pm, 5pm ( or any adjustable increment amount). This way people can get an overview of ho

[2021-01-14 08:01] rejas commented on #2410
Are those 3 requests already in the "old" module? Then maybe we should open an issue with "help wanted" for each one?

[2021-01-14 08:02] rejas opened #2416 "Compliments dont show based on current data from weather module"
The compliments  modulerelies on the CURRENTWEATHER_DATA notification to display the compliments for a specific weather.

Only the currentweather module is sending it, not the new one (simply called weather).

[2021-01-15 08:13] MKS-ARI opened #2418 "Magic Mirror will start with Gray screen only"
I installed Magic mirror on my Raspberry Pi. After installation, I am getting only a Gray screen and my camera turning on and showing camera video in this area.
I am not sure what could be causing this. I took a picture on the startup screen not much conversant with the error EADDRINUSE !

![IMG-5106](https://user-images.githubusercontent.com/77482436/104698403-2c333980-56c6-11eb-8fa9-289b517bd1d0

[2021-01-15 08:38] rejas commented on #2418
yeah, looks like something is already running in that adress/port. Thats why MM cant start.

[2021-01-15 08:44] MichMich commented on #2418
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2021-01-15 08:44] #2418 closed

[2021-01-15 12:42] swvalenti194 opened #2419 "MagicMirror becomes unresponsive"
Running 2.14.0 on Buster desktop and only a restart of pi fixes the issue.  Getting this in the logs...any ideas?

`0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'start' ]
2 info using npm@6.14.8
3 info using node@v10.23.0
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle magicmirror@2.14.0~prestart: magicmirror@2.14.0
6 info lifecycl

[2021-01-15 12:43] swvalenti194 commented on #2419
That looks crappy I attached the logs here
[2021-01-15T12_27_39_323Z-debug.log](https://github.com/MichMich/MagicMirror/files/5820532/2021-01-15T12_27_39_323Z-debug.log)

[2021-01-15 20:05] khassel commented on #2419
AFAIS there is no real error message in the logs.

This can be caused by a module, so disabling one by one until it works is one approach.

[2021-01-16 09:43] buxxi commented on #2410
Don't think any of them are in the old modules and probably should be posted as separate feature requests, but here's my thoughts on it:
1. Seems like a nice addition. But I think the hourly part of the weather provider needs a bit refactoring first (depends on OpenWeatherMap-configuration instead of making it an optional implementation, "fetchWeatherData" is a bit too generic) so I skipped implem

[2021-01-16 20:50] rejas commented on #2410
Those OS arent supported anyway anymore. The js files already contains lots of es6 notations that some iOS dont understand.

[2021-01-16 23:44] uncleLem opened #2424 "Calendar module enhancement: displaying full day events without time"
With relative timeformat, upcoming full day events are displayed like this:

which doesn't make much sense to me. I've tried to look into the documentation and the code, and it seems like there's no way to configure it at the moment.

`calendar()` method from moments.js used in the relative time display can't format without time by default, but does allow using custom calendar formatters. They are

[2021-01-17 17:37] ManuZz80 commented on #2419
Same problem. Nothing useful in the Logs. I know 2 people with the same problem. Crown reboots are the solution atm. Happens since the last update.

[2021-01-17 17:38] swvalenti194 commented on #2419
Glad I am not the only one...

[2021-01-17 19:19] rejas commented on #2419
To maybe find out a little more could you guys and girls post the following:
- platform you are running MM on
- modules that are enabled
?

[2021-01-17 19:44] ManuZz80 commented on #2419
Running on a pi3b+ and sd card
changed pi and sd card --> no improvement

After updating to the latest version of MM - updated modules at the same time were MMM-MotionDetector and MMM-PublicTransportBerlin

Running modules:
default
MMM-AirQuality
MMM-bitcoin
MMM-MoonPhase
MMM-MotionDetector
MMM-PublicTransportBerlin

[2021-01-17 19:48] MichMich commented on #2419
It would be super helpful if you could run it with default modules only to see if it is caused by the core or 3rd party modules.

[2021-01-17 21:50] ManuZz80 commented on #2419
I will, atm I have the previous version with all modules (up to date) running to see if this goes well.
Then I will update it and throw all external modules out.

[2021-01-18 09:50] rejas commented on #2410
Yeah, to me that sounds like overkill :-) I think the parameters are not so complex that a user cannot do the switch himself with some help from a README in the new module and a deprecation notice in the old one.

[2021-01-18 10:27] hangorazvan opened #2425 "mess calendar module"
you higgledy-piggledy the calendar again!

timeFormat: "relative",
![Screenshot (2)](https://user-images.githubusercontent.com/58172000/104903085-42701c80-5988-11eb-97a0-89b8726676eb.png)

timeFormat: "absolute",
![Screenshot (3)](https://user-images.githubusercontent.com/58172000/104903089-43a14980-5988-11eb-88f7-fd0766088baf.png)

[2021-01-18 16:44] buxxi commented on #2410
It wasn't for the complexity I made that suggestion. More of a way to force everyone that uses the old modules to actually try the new one so the old ones could be removed quicker. But I agree, it shouldn't be needed.

Don't really see why we shouldn't be able to get rid of it quickly like this:
- Deprecate the modules in the next release, with logging if used and a notification on the mirror and

[2021-01-18 16:47] KingKalan commented on #2173
Tried everything and still can't get this to work. Doesn't even go to default compliments it just leaves the module blank

[2021-01-18 19:16] rejas commented on #2425
Could you elaborate on what is messed up?

[2021-01-18 19:21] rejas commented on #2173
@KingKalan are you trying to display via remoteFile to oor is your problem worth a new issue ticket?

[2021-01-18 19:36] khassel commented on #2425
looks like relative and absolute are swapped

[2021-01-18 21:24] adamhrastich opened #2426 "problem saying config folder not found"
/* Magic Mirror Config Sample
 *
 * By Michael Teeuw https://michaelteeuw.nl
 * MIT Licensed.
 *
 * For more information on how you can configure this file
 * See https://github.com/MichMich/MagicMirror#configuration
 *
 */

var config = {
	address: "localhost", 	// Address to listen on, can be:
							// - "localhost", "127.0.0.1", "::1" to listen on loopback interface
							// - another specifi

[2021-01-19 09:04] rejas commented on #2426
Hi. Could you give a little more information: Where does the error appear? What else does it report?

[2021-01-19 13:24] hangorazvan commented on #2425
exactly

[2021-01-19 17:35] adamhrastich commented on #2426
When I do the start up it says the config is missing or the code is wrong

[2021-01-19 18:15] rejas commented on #2426
Running config_check on your config file results in this output:

[19.01.2021 19:13.28.793] [ERROR] Your configuration file contains syntax errors :(
[19.01.2021 19:13.28.793] [ERROR] Line 138 column 6: Parsing error: Unexpected token Model

There seems to be a C too much here:

[code]

@MichMich I didnt find any mention on the config:check script. Shouldnt this be added to the README / UI to help

[2021-01-19 18:17] MichMich commented on #2426
Good idea! Feel free to send some PR's.

[2021-01-19 19:39] Aikagi000 commented on #2410
@buxxi Hey thanks for your answers!

I'm gonna check out the css for the weather icons as you mentioned. I do think css stuff should be documented somehow for this so folks can know what to look for when customizing the css. Like maybe a list of the classes and what it relates to on the weather module display itself . I guess even if it's sort of general at least it would be a starting point they

[2021-01-19 23:26] #2426 closed

[2021-01-20 21:50] rejas commented on #2426
PR is submitted :-)

[2021-01-21 01:05] ashishtank commented on #2173
@KingKalan can you post your config ? and url of compliments ? Do you see any error in console or network tab of developer tools of browser ?

[2021-01-21 14:12] MichMich commented on #2425
@hangorazvan Could you send a PR to fix this?

[2021-01-21 14:14] MichMich commented on #2424
If it's not too much work, would you mind creating a PR so we can see your proposed change?

[2021-01-21 14:14] MichMich commented on #2419
Any news on this?

[2021-01-21 14:15] MichMich commented on #2416
Merged.

[2021-01-21 14:15] #2416 closed

[2021-01-21 14:21] MichMich commented on #2410
Sorry for my slow response.

It would be okay to display a deprecated message in the logs. And maybe add some info in the source files: `This module is deprecated. Any additional feature will no longer be merged.` But other then this, I think we shouldn't be spending too much time on this change (skip the proxy idea, and the notification). So my suggestions for now are:

- Update de example config

[2021-01-21 17:21] ManuZz80 commented on #2419
Yes and no. I freshly installed the newest release and startet only with the default modules. All fine. Then I added one after another Module from the third party modules. All fine. The mirror respond as he should. No crashes no nothing.

My guess is now that the error happens only with a updated core, maybe there are files which were not correctly overwritten/merged.
I backed up all third party m

[2021-01-21 17:22] MichMich commented on #2419
Good to hear. Can I close this issue?

[2021-01-21 17:25] ManuZz80 commented on #2419
I would say yes.
thx :)

[2021-01-21 17:47] #2419 closed

[2021-01-21 19:40] goedh452 opened #2429 "sendSocketNotification send twice from node_helper"
Hardware: Raspberry Pi 4
Magic Mirror version: 2.14.0
Node version: 10.23.1

Problem: It seems that the node_helper processes a socket notification twice. This goes for all modules I installed that have a node_helper. I added some logging to the .js of the module itself and to the node_helper. It just sends a socket notification to the helper and the helper sends it back. While the socket notifica

[2021-01-21 20:16] MichMich commented on #2429
Where do you see that `send notification` log? That is client side so should be in your developers tools console, right? The other 2 in your terminal?

[2021-01-21 20:18] goedh452 commented on #2429
That’s correct. I copy pasted them but they come from different places.

[2021-01-21 20:20] MichMich commented on #2429
Ok. Just to be sure: you are sure "send notification" isn't printed twice? Chrome doesnt show multiple logs with the same text. It puts a number (2) in front of it.

I want to be absolutely sure you aren't sending the notification twice.

[2021-01-21 20:22] goedh452 commented on #2429
Yes I’m sure. There is no 2 in front of the log message. Very wise to check! Let me now if I can check anything to help!

[2021-01-21 22:41] khassel commented on #2429
tried to debug this with the `default/newsfeed` module.

Results:
- at the first time loading mm in the browser the event is only logged once in the server logs
- waiting for the next regular reload interval the event is only logged once in the server logs
- refreshing the browser the event is logged twice in the server logs

AFAIK this is expected behaviour because when refreshing the browser the

[2021-01-22 07:35] goedh452 commented on #2429
Thanks for your response! I tested it and in the process found my mistake. Normally I code and test directly on the mirror itself, but the past few days I tested it in a browser on the laptop. However, the mirror itself is also operational, so basically there are 2 clients. Both send 1 notification to the helper and the helper (of course) processes both and thus sends 2 notifications back. Now I r

[2021-01-22 07:35] #2429 closed

[2021-01-22 19:21] ceinc2011 opened #2431 "reddit"
## I'm not sure if this is a bug

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)

## I'm having troubles installing or configuring MagicMirror

Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.buil

[2021-01-22 19:21] #2431 closed

[2021-01-23 12:16] buxxi commented on #2410
I created a pull request for the first three (https://github.com/MichMich/MagicMirror/pull/2433).

[2021-01-23 14:54] uncleLem commented on #2424
Created pull request #2434

Sorry for the failed checks, I can't figure out what's wrong at the moment and I hope I'll be able to check them a bit later this weekend, but I hope that would be enough for now to explain the idea?

[2021-01-23 17:41] #2188 closed

[2021-01-24 08:44] hangorazvan commented on #2425
No, I don’t have fork for PR, I use my own repository

[2021-01-24 13:36] rejas commented on #2425
Did you fix it in there with a commit which we could copy/paste maybe?

[2021-01-24 17:15] hangorazvan commented on #2425
No, for now I use "absolute" for "relative" and vice versa

[2021-01-25 07:11] rejas commented on #2425
I see. Maybe @alvinger can help us out, since he seemed to have touched / refactored that code in November?

[2021-01-25 10:14] Alvinger commented on #2425
@hangorazvan Could you please provide me with the complete configuration for the calendar in question? I do use both absolute and relative extensively without any of the issues you describe.
Once I have the configuration I will take a look!

[2021-01-25 11:52] hangorazvan commented on #2425
{
			module: "calendar",
			position: "top_left",
			header: "Calendar evenimente și aniversări",
			disabled: false,
			config: {
				maximumEntries: 16,
				maximumNumberOfDays: 365,
				limitDays: 0,
				displaySymbol: true,
				defaultSymbol: "calendar",
				showLocation: false,
				displayRepeatingCountTitle: true,
				defaultRepeatingCountTitle: "",
				maxTitleLength: 25,
				maxLocationTit

[2021-01-25 13:27] m1k6 opened #2435 "Calendar - Ongoing repetitions not shown"
## I found a bug in MagicMirror
**Platform**: Linux Debian, Browser: Google Chrome

**Node Version**: v10.23.1

**MagicMirror Version**: 2.14.0

**Description**: Ongoing calendar events won't be shown if the event is a repeating event (but will be shown if it is not a repeating event)

**Steps to Reproduce**: Add a calendar (e.g. https://outlook.live.com/owa/calendar/38ebe31f-8b59-42b5-b738-382766

[2021-01-25 18:12] antoinegv7 opened #2436 "bug with electron the mirror wont start"
when i npm start the MagicMirror i get this:
    '/home/pi/MagicMirror/node_modules/electron/dist/resources/default_app.asar/main.js',
    undefined
  ]
}
[25.01.2021 18:44.25.949] [ERROR] MagicMirror will not quit, but it might be a good idea to check why this happened. Maybe no internet connection?
[25.01.2021 18:44.25.950] [ERROR] If you think this really is an issue, please open an issue on Gi

[2021-01-25 18:28] rejas commented on #2436
Maybe the sd card is defective? Check if something written to it is still there after a reboot.

[2021-01-25 18:49] antoinegv7 commented on #2436
thanks i am going to try that but it is a brand new SanDisk Extreme

[2021-01-25 22:53] Alvinger commented on #2424
@uncleLem you can use the config option **fullDayEventDateFormat** to set the format for full day events. That will allow you to skip the time part.

[2021-01-25 23:13] uncleLem commented on #2424
@Alvinger `fullDayEventDateFormat` is used in absolute time format, and it's just a date format, while "calendars" used by moment.js in relative time format are more complex. So, even though this could be a workaround, it's not exactly what I'm going for, I personally find relative time format more appealing and I believe this aspect can be enhanced.

[2021-01-25 23:56] Alvinger commented on #2424
@uncleLem I agree that there is always room for improvement. I also noticed that moment.js calendar() now has a config option for various formatting options. However, as you say, the options are tricky to implement due to localization. Also, it wouldn't solve your issue as full day events still would be displayed with time.

The way it currently works is "by design" to avoid issues with backward c

[2021-01-26 00:02] Alvinger commented on #2424
@uncleLem I just had a thought:

What if we introduced a new option, let's call it `momentCalendarFormat`, that can contain the formatting options for moment.calendar()? Then we wouldn't have to worry about translation as each user can implement their own language directly in the config.

It is also relatively easy to implement.

[2021-01-26 00:43] uncleLem commented on #2424
@Alvinger Sorry, I am not sure what you mean by that. There are some screenshots in the PR, showing no awkward time markers in full day events in what I'm proposing. Are we talking about the same thing?

If I understand correctly, that would effectively turn relative time format into the absolute one, wouldn't it? I was thinking about further customization of the calendar's `sameElse` parameter wi

[2021-01-26 06:45] antoinegv7 commented on #2436
i've tried with others sd cards and i still have the issue.also i realized that i've made a mistake in the description, it's about the MMM-remotecontrol modules and not screencast, it's when the module is installed that the issue is happening, when y remove this module (and just comment it in the config file) the issue is gone

[2021-01-26 16:03] Mateo193 opened #2437 "MMM-Climacell-Hourly by mykle1. Climacell data..."
Hello i have problem with module MMM-Climacell-Hourly by mykle1
logs:

[Foto and config.js](https://imgur.com/EMNFLP0)

[2021-01-26 16:05] sdetweil commented on #2437
why didnt u.open this issue on his module site? he would look at it there, not a magicmirror problem

[2021-01-26 17:10] #2437 closed

[2021-01-26 18:08] buxxi commented on #2410
I can try to make a pull request for the documentation too this weekend with a deprecation message and migration example for each of the modules.

[2021-01-26 20:29] MichMich commented on #2410
That would be great! Thanks!

[2021-01-27 08:37] rejas commented on #2436
Could you post your config @antoinegv7 so I can take alook myself ?

[2021-01-27 12:13] hangorazvan commented on #2425
@Alvinger Sorry for my frustration but you don't understand, I don't care and I don't want to change "urgency" or "nextDayRelative". I need relative dates, not absolute. Until now I have same settings and display correctly, after update the relative and absolute are switched.

[2021-01-27 12:59] sdetweil commented on #2425
i can only say, i did not change the display side of calendar

look back thru the change log to find it

[2021-01-27 13:45] hangorazvan commented on #2425
It really doesn't matter, I presented the current situation

[2021-01-27 14:28] Alvinger commented on #2425
@hangorazvan @sdetweil I think this discussion should be moved to the forums as it is not an issue but rather a feature request.

_My final words on the matter (although I'm happy to discuss in the forums):_

Even though @sdetweil and I aimed for backwards compatibility while fixing a lot of the bugs in the calendar module, especially relating to recurring events, it is entirely possible that some

[2021-01-27 14:39] Alvinger commented on #2424
@uncleLem I do understand and to some extent agree with you.

But there are considerations to be made: some users might actually *want* the start and end time for a full day event and some users might *want* to know when a full day event finishes. How would they be able to get that with your proposed changes? The calendar module is widely used and backward compatibility is important. One could cha

[2021-01-27 14:53] hangorazvan commented on #2425
I open topic on forum
https://forum.magicmirror.builders/topic/14460/mess-calendar-module/1?_=1611742196667

[2021-01-27 15:09] uncleLem commented on #2424
@Alvinger calendar.js:382 - in current implementation it falls back to default `.calendar()` method if there's no custom calendar available. I can add a config parameter to enforce it.

[2021-01-27 17:38] antoinegv7 commented on #2436
/* Magic Mirror Config Sample
 *
 * By Michael Teeuw https://michaelteeuw.nl
 * MIT Licensed.
 *
 * For more information on how you can configure this file
 * See https://github.com/MichMich/MagicMirror#configuration
 *
 */

var config = {
	//address: "localhost",
	 address: "0.0.0.0",
							// Address to listen on, can be:
							// - "localhost", "127.0.0.1", "::1" to listen on loopback interfa

[2021-01-27 17:47] antoinegv7 commented on #2436
![2021-01-27-184325_1280x1024_scrot](https://user-images.githubusercontent.com/77856094/106031948-25e28b80-60d0-11eb-966a-a69b993514fa.png)
![2021-01-27-184506_1280x1024_scrot](https://user-images.githubusercontent.com/77856094/106031949-267b2200-60d0-11eb-9997-a73aac65c294.png)
[config magic mirror 2.txt](https://github.com/MichMich/MagicMirror/files/5882095/config.magic.mirror.2.txt)
![2021-01-2

[2021-01-27 17:48] antoinegv7 commented on #2436
/* Magic Mirror Config Sample
 *
 * By Michael Teeuw https://michaelteeuw.nl
 * MIT Licensed.
 *
 * For more information on how you can configure this file
 * See https://github.com/MichMich/MagicMirror#configuration
 *
 */

var config = {
	//address: "localhost",
	 address: "0.0.0.0",
							// Address to listen on, can be:
							// - "localhost", "127.0.0.1", "::1" to listen on loopback interfa

[2021-01-27 17:48] rejas commented on #2436
This config  invalid, please run "npm run config:check" in your MagicMirror directory to see the error

[2021-01-27 17:54] antoinegv7 commented on #2436
![2021-01-27-185405_1280x1024_scrot](https://user-images.githubusercontent.com/77856094/106032697-17e13a80-60d1-11eb-89cb-b568d965fc61.png)

[2021-01-27 17:55] khassel commented on #2436
replace `ipWhitelist: ["[]", "[]"], // Set [] to allow all IP addresses` with `ipWhitelist: [],` as already mentioned in the comment of this line.

[2021-01-27 17:56] antoinegv7 commented on #2436
ti loocks like the issue is fixed

[2021-01-27 17:56] antoinegv7 commented on #2436
thanks verry much

[2021-01-27 19:37] hangorazvan commented on #2425
unfortunately no one understood what I want to highlight although I also posted pictures, but instead I understood what you mean, so with absolute time format you can play for relative dates on urgency, but for all time absolute at line 366 in calendar.js instead
`timeWrapper.innerHTML = this.capFirst(moment(event.startDate, "x").calendar());`
must be
`timeWrapper.innerHTML = this.capFirst(moment(

[2021-01-27 19:37] #2425 closed

[2021-01-28 14:32] wrongwaymarv commented on #2192
I was able to reproduce this issue. I have the following set in my config.js for the default calendar module:

[code]
But the calendar on my MagicMirror only shows the start time of events and not the end time. I can confirm that adding the above code works (although for me it was line 312 in calendar.js, not line 273).

[2021-01-29 15:45] sdetweil opened #2441 "forum having trouble. 500 error"
## I'm not sure if this is a bug

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)

## I'm having troubles installing or configuring MagicMirror

Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.buil

[2021-01-29 19:39] memoriasIT commented on #2441
I am able to reach the forum but not the main page.
However, the forum is unusable for the most part.

Console spits out this error:
Firefox can’t establish a connection to the server at wss://forum.magicmirror.builders/socket.io/?EIO=3&transport=websocket&sid=<sid>

[2021-01-30 13:50] antoinegv7 commented on #2436
i've tried but it does not work, also here is my autostart file if it can help
![2021-01-30-144747_1280x1024_scrot](https://user-images.githubusercontent.com/77856094/106358080-3d0cbd80-630a-11eb-8864-0689a0c91d4e.png)
![2021-01-30-144906_1280x1024_scrot](https://user-images.githubusercontent.com/77856094/106358128-6decf280-630a-11eb-9386-5f95ba15e8c4.png)

![2021-01-30-143954_1280x1024_scrot](htt

[2021-01-30 14:16] rejas commented on #2436
Have you run "npm install" in the mmm-pi-sensor directory?

[2021-01-30 17:26] MichMich commented on #2441
Thanks for the report. Could you check if it's any better now (after a refresh)?

[2021-01-30 17:40] memoriasIT commented on #2441
Still not working, and now I can't even reach it. Also getting a error 500.
Also, nginx is leaking the version. I think this should be patched as it can be useful for hackers. The patch is very easy.

[2021-01-30 17:42] MichMich commented on #2441
What is the full url you are trying to load?

[2021-01-30 18:34] antoinegv7 commented on #2436
it's wired,  i still have a black screen with "This device is not allowed to access your mirror.
Please check your config.js or config.js.sample to change this." but here is my startup of the mirror wich looks good:
npm start

[30.01.2021 19:27.54.057] [LOG]   Starting MagicMirror: v2.14.0
[30.01.2021 19:27.54.063] [LOG]   Loading config ...
[30.01.2021 19:27.54.069] [LOG]   Loading module helpers

[2021-01-30 18:36] antoinegv7 commented on #2436
for the pir sensor yes

[2021-01-30 18:42] antoinegv7 commented on #2436
even when i run the sample config file i have this
![image](https://user-images.githubusercontent.com/77856094/106365049-43fbf600-6333-11eb-81c6-7c468c37e4a1.png)

[2021-01-30 19:04] MichMich commented on #2441
Will do some maintenance. But this might mean the forum is down for the coming hour. Hope this will solve the issue afterwards. "ll let you know when it is done.

[2021-01-30 19:47] memoriasIT commented on #2441
Sure, no pressure, I was just trying to help :)

[2021-01-30 21:22] MichMich commented on #2441
I've updated Node & NodeBB. Let me know if it solves the issue.

[2021-01-30 21:56] khassel commented on #2441
Forum is up and running again 👍

[2021-01-31 09:03] antoinegv7 commented on #2436
i think that it comes from the autostart

[2021-01-31 16:29] badshah424 opened #2444 "Is there any way that I can make Spotify to play from the magic mirror itself."

[2021-01-31 16:38] rejas commented on #2444
That question is better asked at the official forum:

https://forum.magicmirror.builders/

[2021-01-31 16:39] rejas commented on #2436
Is there already an instance of MM running that blocks that port?

Anyway, I do think that you can find better help on how to configure your Mirror on the official forum https://forum.magicmirror.builders/

[2021-01-31 16:46] sdetweil commented on #2444
yes  you have to install librespot or raspotify.
libraries outside mm

[2021-01-31 16:53] badshah424 commented on #2444
https://github.com/skuethe/MMM-Spotify
Using the above I modified my code using my premium account and yet the google assistant was not taking my commands to play songs on Spotify.

Can you please help.

Thanks

[2021-01-31 16:57] MichMich commented on #2436
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2021-01-31 16:57] #2436 closed

[2021-01-31 17:24] Mateo193 opened #2445 "Calendar don't shows "It xx days""
Hello, My Calendar module don't show "It xx days" "It xx weeks"
![image](https://user-images.githubusercontent.com/78036250/106392326-8dab1600-63f1-11eb-9451-67bf45d90e4b.png)

My config:

[code]

![image](https://user-images.githubusercontent.com/78036250/106392257-4c1a6b00-63f1-11eb-8278-c437334590ae.png)

[2021-01-31 17:26] MichMich commented on #2445
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2021-01-31 17:27] #2445 closed

[2021-01-31 17:37] antoinegv7 commented on #2436
i cant post any issues, it tels me to login to be able to post but when logged in i cant post there is not any button

[2021-01-31 22:45] sdetweil commented on #2441
different color themes not available. some chats appear to be hung.

[2021-02-01 16:09] ChristianClover7 opened #2446 "Clock Dissapeared"
For some reason my clock has dissapeared. any help would be greatly appreciated!

[2021-02-01 19:34] rejas commented on #2446
Hi @ChristianClover7 thanks for your report. Have you read the issue template while creating yours?

[2021-02-01 22:43] MichMich commented on #2446
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2021-02-02 08:09] MichMich commented on #2441
Themes should now be available again, @sdetweil! Can you give some more info on the chats issue?

[2021-02-02 13:58] sdetweil commented on #2441
dont know for sure. think it might have been themes. couldnt see buttons. looks like its cleared now

[2021-02-02 14:24] MichMich commented on #2441
Good to hear! Can I close this issue for now?

[2021-02-02 15:17] sdetweil commented on #2441
no, sorry, we cant upload pics now, get 'invalid files'

[2021-02-05 19:22] antoinegv7 commented on #2436
!

[2021-02-05 21:12] sdetweil commented on #2441
new user gets error regiatring on forum. see discord support channel. also sound from forum not working. contact mykle1

[2021-02-06 09:02] MichMich commented on #2441
The registration issue is solved. Still working on the image issue.

[2021-02-06 09:28] MichMich commented on #2441
Images are working as well. Any other issues?

[2021-02-06 10:07] buxxi commented on #2410
Created pull request for it (and two others for the documentation) but I guess you actually merge it when releasing new version since the documentation doesn't have develop-branch.

[2021-02-06 10:09] MichMich commented on #2410
Yes, whenever I release a new version I go thought the Doc PR's.

[2021-02-06 10:12] buxxi commented on #1907
Still happens in the current release, the update of simple-git didn't solve it.
[code]

And the only thing running in a container on the server and using node is magicmirror.

[2021-02-06 10:13] MichMich commented on #1907
Maybe we should open een issue on the simple-git repo? Or is this a MagicMirror specific issue?

[2021-02-06 10:14] rejas commented on #1907
Mhhh... So can we assume that it is an issue in the simple-git library? Maybe open a bug report there and see what they say?

[2021-02-06 10:14] rejas commented on #1907
Damn @MichMich beat me by a second :-D

[2021-02-06 10:14] MichMich commented on #1907
Muhahaha

[2021-02-06 10:21] #2446 closed

[2021-02-06 10:21] MichMich commented on #2444
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2021-02-06 10:21] #2444 closed

[2021-02-07 17:33] jdlucke commented on #2174
BAalan92, this module helped me as well .. 1. MMM-Admin Interface – Gives you a very nice looking web app to control you mirror. It’s similar to the Remote control module but a bit more robust.  https://github.com/ItayXD/MMM-Admin-Interface

[2021-02-07 17:37] sdetweil commented on #2174
you would diplicate and modify the position styles in main.css to custom.css... knowing u may mess up other modules

[2021-02-08 03:39] sdetweil commented on #2441
github registration on forum not sending verify email. see discord support

[2021-02-08 04:17] MomentumV commented on #2441
I experienced a lack of verify email when registering with github account. Comments were made in Discord General Channel. I successfully registerd an account by email registration using my same gmail account without the period in it. Not sure if that's relevant.

[2021-02-10 14:43] pierrephi opened #2453 "Enhancement suggestion: Multiple instances of the same module"
Hello,

Not a bug but a feature suggestion, managing several pages (MMM-pages) on my magic mirror, I find the need to have a module behaving differently on the different pages (eg large display on the home screen, compact mode in another)

In the forums, a recurrent solution is to clone the modules to a different module directory with a different name, fiddle with the js/css file name and possibly

[2021-02-10 14:45] MichMich commented on #2453
Afaik this is already possible, but depends on the implementation of MMM-pages (not a core module). You can add the module multiple times to your config with different configs, and use the classes property to assign it to different pages.

[2021-02-10 14:48] MichMich commented on #2453
Try this implementation:
[code]

[2021-02-10 15:08] pierrephi commented on #2453
Thanks for that swift answer @MichMich , looks like exactly what I need, I will check at enhancing MMM-pages then!

[2021-02-10 15:09] MichMich commented on #2453
This should be possible with the current mmm-pages version. You only need to alter your config.

[2021-02-10 15:54] sdetweil commented on #2453
it really is up to the module to implement support for multiple instances. not hard, but does require some coding change

[2021-02-10 16:21] pierrephi commented on #2453
Thanks @michmich was right it work out of the box with classes in MMM-pages I've got it up and running now :)

[2021-02-10 16:41] #2453 closed

[2021-02-10 18:22] axe1OO4 commented on #1267
Hi, im having issues with the schedule in my google calendar connected to the mmm-calendarext. Can someone help me how to show the schedule in the monthly calendar chart? Thanks

[2021-02-10 18:24] MichMich commented on #1267
Please use the forum for support requests: http://forum.magicmirror.builders

[2021-02-12 10:58] CherryChethan opened #2455 "I get error when try to run the magic mirror at first time"
after copy config.js file i get this error
When am give this code npm run start i get the error like this bellow the maic mirror is not open

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! magicmirror@2.14.0 start: `DISPLAY="${DISPLAY:=:0}" ./node_modules/.bin/electron js/electron.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the magicmirror@2.14.0 start script.
npm ERR! This is proba

[2021-02-12 11:26] rejas commented on #2455
Hi @CherryChethanm did you copy the sample config.js?

[2021-02-12 11:28] JaytheMCgamer commented on #2455
hmmm.Looks like the start script is broken.Try re-installing MagicMirror

[2021-02-12 12:39] Smiche commented on #2455
If you're running this on windows remove  `DISPLAY="${DISPLAY:=:0}"` from package.json start script

[2021-02-12 13:13] CherryChethan commented on #2455
@rejas

yes i did that all the steps

[2021-02-12 13:14] CherryChethan commented on #2455
I did this one also and I try a lot of time but it's not working

[2021-02-12 13:17] CherryChethan commented on #2455
no M NOT running on the windows now am flash the sd card again am instaling the raspberry os bellow you are seeing know as the same thing
Raspberry Pi OS with desktop and recommended software
Release date: January 11th 2021
Kernel version: 5.4
Size: 2,863MB
Show SHA256 file integrity hash:

[2021-02-12 13:38] Smiche commented on #2455
Can you provide the contents of  the debug log: /home/pi/.npm/_logs/2021-02-12T10_46_13_145Z-debug.log

[2021-02-12 18:36] sdetweil commented on #2455
what pi is this? pi 0 has no electron version anymore.

the system is running in graphical desktop mode  correct?

is xwindows running, do this command
pgrep Xorg
should return a number

[2021-02-13 04:42] CherryChethan commented on #2455
Where should i run this code

[2021-02-13 04:52] CherryChethan commented on #2455
0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'run', 'start' ]
2 info using npm@6.14.11
3 info using node@v10.23.3
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle magicmirror@2.14.0~prestart: magicmirror@2.14.0
6 info lifecycle magicmirror@2.14.0~start: magicmirror@2.14.0
7 verbose lifecycle magicmirror@2.14.0~start: unsafe-perm in

[2021-02-13 04:54] sdetweil commented on #2455
pgrep Xorg

open a terminal window, or ssh session

same place u would run npm start

[2021-02-13 05:00] CherryChethan commented on #2455
pi@raspberrypi:~ $ cd MagicMirror/
pi@raspberrypi:~/MagicMirror $ pgrep xorg
pi@raspberrypi:~/MagicMirror $ pgrep Xorg
533
pi@raspberrypi:~/MagicMirror $

[2021-02-13 12:43] CherryChethan opened #2456 "I get error in MMM - google Assistance"
@MichMich
Hope all are doing well i get this error can any one help me i as facing this issues from last 4 days i try clear it but i dont know and am fresher to this concept please resolve this

when am run the mmm google assistance i get this error
after complet all steps when am give this cmd

[code]

internal/modules/cjs/loader.js:638
throw err;
^

Error: Cannot find module ‘@bugsounet/google-a

[2021-02-13 12:56] bugsounet commented on #2456
Hi, this issue is not related to MagicMirror but on my GA module

Please open an issue in @bugsounet modules forum [there](http://forum.bugsounet.fr) or in [MagicMirror Forum](https://forum.magicmirror.builders)

Note: i don't help in MagicMirror Forum. Only on my forum

@bugsounet

[2021-02-13 13:09] CherryChethan commented on #2456
It showing some error i already post in that this is the url of that please check and give the solution
[](https://forum.magicmirror.builders/topic/14614/mmm-google-assistant-i-get-error)

@bugsounet

[2021-02-13 13:57] CherryChethan commented on #2456
how can i open the issues in your @bugsounet forum can you send open issues to link please if you don't mine

[2021-02-13 19:39] nishmeht7 commented on #2164
@MichMich @sdetweil I'm running into the same issue, although the proposed soln. doesn't work for me.

Also why was the change reverted in [2165](https://github.com/MichMich/MagicMirror/pull/2165)?

[2021-02-13 19:41] MichMich commented on #2456
As stated this is not a core issue. Closing.

[2021-02-13 19:41] #2456 closed

[2021-02-13 19:44] MichMich commented on #2164
Because it caused an issue. Please supply more info about your issue so we can see if this is the same issue.

[2021-02-13 20:37] codac commented on #466
@kodejak : could you please provide the rest of the source code, then I can change the code and add a pull request.
It's driving me crazy that my personal calendar is not working just because I'm using a self-signed cert....

[2021-02-13 21:43] qistoph commented on #466
I hope the PR will include more than just the current code change.

This one, as stated before, makes MagicMirror accept any certificate and thus effectively disables any https security.

Please at least make this a configurable option instead of default behavior.

In the last couple of years software and browser companies have been trying to work on a safer web, also based on https. Let's try and

[2021-02-16 17:23] mcnahum opened #2459 "Current weather only display sunrise and never sunset"
I had to fully re-install my MagicMirror and I notice that the current Weather module is only displaying the sunrise time and never the sunset one...
in my config I just have the location / location ID / appid
did I forgot something?

[2021-02-16 17:39] MichMich commented on #2459
We will switch to the new weather modules in the next release. Could you check if those solve your issue?

[2021-02-16 17:59] mcnahum commented on #2459
sure, just let me know how to test it

[2021-02-16 18:04] mcnahum opened #2460 "Text in light grey"
I recently had to fully re-install my Magic Mirror and I can see that some of the text is "light grey" so I cannot clear read it.

any way to fix it?

![image](https://user-images.githubusercontent.com/30963862/108103058-ab32dd80-7089-11eb-97fa-8086b56eded6.jpeg)

[2021-02-16 18:41] MichMich commented on #2460
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2021-02-16 18:41] #2460 closed

[2021-02-16 18:43] sdetweil commented on #2460
@mcnahum did u have a custom.css before u reinstalled?  did u put it back

[2021-02-16 23:23] mcnahum commented on #2460
Yes I forgot about it ... and yes put it back it's fixing it
Thanks @sdetweil

[2021-02-20 22:04] prapicault opened #2462 "Add ability to hide time in clock module"
Hi, I would like for the clock module to have the ability to hide the time (so it only displays the date). I have already changed the code in my installation but it makes keeping up with master a bit annoying.
Would you be interested in a contribution that would add a `showTime` configuration option to the default clock module? This option when set to `false` would not render the time at all.

[2021-02-20 23:02] sdetweil commented on #2462
you could use css to turn off the time by overriding the class set to disolay:none;

[2021-02-20 23:05] prapicault commented on #2462
I probably could (though tbh, it did not even occur to be me try) but it does not seem to be as discoverable as a configuration for other users.

[2021-02-23 13:20] MichMich commented on #2462
Feel free to send a PR. 👍🏻

[2021-02-27 18:13] poltrian opened #2467 "How can i add my Nextcloud Calendars?"
Nowadays it's good to have your data at home and not on Google or Apple. That's why I have a Nextcloud at home. How can I display the appointments in Magic Mirror?

[2021-02-27 19:54] sdetweil commented on #2467
you will have to download them to a local file...
lots of folks do this..
i know the forums have people doing this..
https://forum.magicmirror.builders

[2021-02-27 22:45] poltrian commented on #2467
I tried these, put the local path in the cinfig file, but the ics would not be shown. Most online calendars have no ics, most you gent a link like http:zztztt.com/caldav.php/user/8787765654 or http:zztztt.com/caldav.php/user/calendarname

No other solution possible?

[2021-02-27 22:48] sdetweil commented on #2467
local path must be in MagicMirror folder tree.

mm web server root is the mm foldr  so /modules...... whereever.. it works..

of fike:///....

[2021-02-27 23:14] khassel opened #2468 "replace request"
The `request` package is deprecated, see https://www.npmjs.com/package/request

So we should replace it with e.g. `node-fetch`.

It is used in
- calendarfetcher.js
- newsfeedfetcher.js
- and several e2e tests

Can submit a PR, but want to discuss this before if this is wanted and if `node-fetch` is the right replacement.

[2021-02-27 23:37] poltrian commented on #2467
Thanks, these is working very well

url: "https://nextcloud.MYDOMAIN.xyz/remote.php/dav/calendars/USER/personal/?export",
user: "USER",
pass: "PASSW",
method: "basic",

[2021-02-28 22:31] khassel opened #2469 "is ical still needed?"
Found no require in the code, but comments in changelog that `ical` is replaced by `node-ical`. So can this be removed?

It produces some vulnerabilities (last release is older than 1 year).

[2021-02-28 23:13] sdetweil commented on #2469
yes, we left it in case there was a module that needed it

[2021-03-01 07:39] fewieden commented on #2468
I also started moving my modules to `node-fetch` a while ago

[2021-03-01 07:40] MichMich commented on #2468
That sounds like a good idea!

[2021-03-01 13:50] MystaraTheGreat opened #2470 "Feature request: Module config option- hidden"
MM provides built-in javascript functions for showing and hiding modules.  But there doesn't seem to be an easy way to actually set a module as hidden by default.

It would be handy if a standard module configuration option were available to request that a module be hidden once it has loaded.  Or in the alternative, some kind of generic configuration option to allow javascript to be freely execute

[2021-03-01 13:57] hangorazvan commented on #2470
[code]

[2021-03-01 14:17] Mystara2002 commented on #2470
Hi,

Thanks.  I tried this, but it seems that if the module is disabled then it cannot be loaded at a later time (e.g. by voice or by a button).  I'm looking for something similar to 'disabled' that loads the module, but doesn't make it visible (or at the very least, makes it visible and then hide()s it).

[2021-03-01 16:55] hangorazvan commented on #2470
Then the easy way still remain the js function hide() show() or make your own fuction

[2021-03-01 16:58] Mystara2002 commented on #2470
Correct.
So what I'm suggesting is a new configuration option to specifically call hide() on a module after that module has loaded.

[2021-03-01 16:59] Mystara2002 commented on #2470
Unless there's already some way to do this without modifying the module itself?

[2021-03-01 18:35] khassel commented on #2469
hmm, shouldn't modules install the needed dependencies on their own?

Or do you mean such things `const ical = require("../../node_modules/ical/ical.js");`?

Was removed in v2.13.0, may we should set an end date to get rid of it?

[2021-03-01 18:36] khassel commented on #2468
thanks, will start working on this.

[2021-03-01 20:36] Legion2 opened #2471 "The Docker image project is currently unmaintained"
The docker image project is now over 6 months unmaintained, see https://github.com/bastilimbach/docker-MagicMirror/issues/48. @sthuber90, @khassel and I want to discuss the future of the docker image project and find new maintainers for the project. We think here (github issue) is the best place to discuss this.

[2021-03-01 21:37] khassel commented on #2471
Its really strange, the owner did some merges concerning the docs, but is ignoring useful PR's since July.

[2021-03-03 00:33] chase-cromwell commented on #2470
@Mystara2002 Not totally sure I understand. Can you not just make (or edit a module) to call a js hide() on load until further action is taken? Why would there need to be a config option for this?

[2021-03-03 09:16] Mystara2002 commented on #2470
Editing the modules is possible, but not really practical because in my case they're a bunch (15 or so) of third party modules.

Making my own module to call js.hide() on each of the modules is possible, of course.  But I thought that having a standard configuration option of 'hidden' was such a fundamentally useful thing to have (with several requests for such standard functionality in the forums

[2021-03-03 09:42] MichMich commented on #2470
I agree a short term solution is creating your own module. This can be very generic if you just use one common class to select the modules on boot.

But I agree this can be a nice simple addon. feel free to send a PR which adds a `hiddenOnStartup` boolean to the module object (outside of the config).

[2021-03-03 09:45] MichMich commented on #2471
Not sure if you already opened a forum topic for this, but if you want I can make it sticky.

[2021-03-03 09:46] MichMich commented on #2469
I have no problem with just removing it ... a module can easily add it. And for users there is a super simple fix if it affects their installation.

[2021-03-03 09:46] MichMich commented on #2467
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2021-03-03 09:46] #2467 closed

[2021-03-03 19:14] khassel commented on #2471
It was my idea to discuss this here, because the most technical contributors are here, not in the forum. There are several ideas to solve this problem e.g. forking the current repo or using my docker setup, but before we continue to discuss this there should be a decision from @MichMich to abandon the current one  - or if not, how to continue.

[2021-03-04 08:31] rejas commented on #2403
Tried as far as v2.7.0 (below wouldnt start anymore on my Ubuntu). No warnings or error besides the " No helper found for module: MMM-WiFiPassword1. "

So not sure when / or if it was changed. But maybe something worth discussing: Shouldnt there be a more obvious warnin/error log that you have a config entry for a module that isnt there?

[2021-03-04 13:29] #2441 closed

[2021-03-04 22:38] MystaraTheGreat commented on #2470
Okay, I'm a bit of a noob to MM, but I'll give this a go shortly.  There's another bug I'm trying to figure out at the moment :)

[2021-03-05 19:39] khassel commented on #2468
after looking into `package-lock.json` I realised that some dependencies are also still using `request`. These are
- `node-ical`
- `spectron` (only dev dependency)
- `jsdom` (only dev dependency)

So I can send my PR but instead of removing dependeny count we would get 4 more. Any suggestions?

[2021-03-05 19:51] rejas commented on #2468
I would still go for it. Having it replaced here is helpful. Waiting for the other libraries to remove it would take too much time.

Maybe one could look if one can help the libraries (especially node-ical since it is the only non.dev dependency) to replace request?

[2021-03-05 22:09] ykuzmycz commented on #2097
@sdetweil - apologies for going into an old thread with a quick "how-to".  Just trying to troubleshoot a few things before raising a bug.  I'm using your install script and pointing to the development branch.  How do I correctly shift to the master branch to check if the issue has to do with dev branch?  Basically kick off the above but "point back" to master.  Thanks (and again sorry about going

[2021-03-06 12:31] buxxi commented on #1907
Since my bug report the dev of simple-git (git-js) has added the possibility to set timeout for the git commands (see https://github.com/steveukx/git-js/blob/main/docs/PLUGIN-TIMEOUT.md) in v.2.36.

Is there anything stopping us from using async/await in the node_helper?

[2021-03-06 12:35] rejas commented on #1907
Only the question if we loose support for some browsers: https://caniuse.com/async-functions
ios10 is the only questionable here though I think

[2021-03-06 12:39] buxxi commented on #2471
Couldn't we just update the docs to add the other docker image by @khassel too?
Since the documentation says this:
"The following installation methods are not maintained by the MagicMirror² core team. Use these scripts and methods at your own risk."

What are the differences between the one by @khassel and @bastilimbach?

[2021-03-06 12:41] buxxi commented on #1907
But node_helper isn't run on the client?

[2021-03-06 12:46] sdetweil commented on #2097
git checkout master
npm install

[2021-03-06 13:26] rejas commented on #1907
Then there is no reason for me to object :-) So, you want to go for a PR then?

[2021-03-06 14:02] ykuzmycz commented on #2097
Much appreciated!  Going back to master broke the calendar again (and didn't solve my module issue) so I reverted to dev with an updated calendarfetcher.  Shrug, seems I know what I'm doing this weekend!

[2021-03-06 14:06] sdetweil commented on #2097
@ykuzmycz   >and didn't solve my module issue

what module problem is that?

note that develop NOW is 2.14 +
a new electron,
a rewrite of calendarfetcher
a rewrite of weather & currentweather
and a whole lot more...

[2021-03-06 14:10] ykuzmycz commented on #2097
MMM-Unsplash.  Totally stopped working this week so I'm slowly going through the "what could have changed" options as well as the logs.

Heads up, I repointed to dev first without new calendarfetcher this morning.  It did not pick up my first calendar entry.  I had to rewrite with your version to get the first entry.

[2021-03-06 14:16] sdetweil commented on #2097
after switch branches you MUST npm install again.. right?  maybe erase package-lock.json too before

[2021-03-06 14:26] ykuzmycz commented on #2097
Yup, I did exactly what you commented:

git checkout master
npm install

I very much had to grab the old calendarfetcher when shifting from master back to dev.  Shrug.  I did have to execute git checkout master -f though.

[2021-03-06 14:26] sdetweil commented on #2097
hm.. i don't see an apikey with unsplash

[2021-03-06 14:28] ykuzmycz commented on #2097
I've got one from ages ago.  It has to be something silly - was working on my mm just this week.  Everything else working except the background.  So time to step through it.  May have to go into the "webpage" itself remotely and inspect each div.  Groan.

[2021-03-06 19:26] khassel commented on #2471
The images of @bastilimbach are only for the `server only` setup. Years ago I asked him to support running on raspi with electron too, but he declined. So I decided to do this on my own.

Comparison (size = compressed size on docker hub):

IMAGE     | TAG                | OS/ARCH     | RASPI WITH ELECTRON | SIZE IN MB | DESCRIPTION
------------ | ------------------ | ----------- | -------- | -----

[2021-03-08 15:44] chase-cromwell opened #2476 "Can't post in the forum?"
I feel dumb at the moment, but I'm logged into the forum and don't see any buttons that let me create a post or even respond to recent ones? I'm definitely logged in. Do I need to do something to upgrade my role/permissions on the site?

[2021-03-08 15:52] sdetweil commented on #2476
did u confirm your login?

[2021-03-10 12:22] aidynme commented on #2455
the same problem,
any info?

[2021-03-13 11:24] buxxi commented on #1907
Hopefully the PR I made will solve this, kinda hard to know without running the application for weeks.

[2021-03-13 11:37] buxxi commented on #2471
I'm a bit of a beginner with docker but I tried to tinker a bit with your alpine image and eventually got it running, but as it is for now I'll stay with the unmaintained image.

It just seems so much easier to `docker pull...` and then `docker run...` than having to pull a git repo, copy files, start with a different command than the few other containers I run, enter the container for module inst

[2021-03-13 12:03] khassel commented on #2471
I think you are talking about the use of `docker-compose`?

This has the advantage, that the `docker run ...` command is saved as a yml-File and you don't have to save this lengthly command-line somewhere else.

The `copy files` is only needed because of the different use cases which means the `docker run ...` commands are different.

I can add the corresponding `docker run ...` commands to the re

[2021-03-13 12:17] buxxi commented on #2471
Ok, thanks. Will try it later.

Should probably be in the Readme if it's a use case you're supporting :) (or at least in a "migrating from the unmaintained image" wiki page).

[2021-03-13 12:30] khassel commented on #2471
yeah, the Readme is not the best, I'm always struggling with english ...

I missed 2 things:
- I decided to copy always the original `default` modules to the host because it makes no sense to use old versions which were copied by the first start of the container (may years ago). If this is unwanted you can add `--env MM_OVERRIDE_DEFAULT_MODULES="false"` to the docker run command
- the container is

[2021-03-13 16:35] buxxi commented on #2471
Documetation is boring ;)

Sounds reasonable to copy the default-folder, optimally it shouldn't even be exposed to the host.
Maybe something can be done in MagicMirror to make that cleaner:
- env-property for path to 3rd-party-modules?
- look for modules deeper in the folder structure?
- an optional folder `thirdparty` under `modules` which is also checked if it exists?

[2021-03-13 18:02] khassel commented on #2471
problem is that the `default` folder and the 3rd-party folders are both under `modules`.

With docker we need one folder which contains the 3rd-party modules so we can mount it to the host, at the moment this is `modules` which contains also `default`.

Changing this structure e.g. using a 3rd-party-folder beside `default` would solve this problem, but would also be a breaking change for all mm us

[2021-03-13 18:24] MichMich commented on #2470
Merged! Closing this. Thanks for your contribution!

[2021-03-13 18:24] #2470 closed

[2021-03-13 18:24] #2469 closed

[2021-03-13 18:24] MichMich commented on #2468
Closing this since it's merged. Let me know if I need to reopen.

[2021-03-13 18:24] #2468 closed

[2021-03-13 18:25] MichMich commented on #2455
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2021-03-13 18:25] #2455 closed

[2021-03-13 18:26] buxxi commented on #2471
Yes I understood the problem and all of the suggestions should be able to be done compatible without breaking for previous users.

Haven't really got the time to mess with my setup this weekend, will try the alpine image next weekend.

[2021-03-16 20:09] sdetweil opened #2483 "calendar date displayed wrong when distant recurring start date (1950)"
## I found a bug in MagicMirror

Please make sure to only submit reproducible issues. You can safely remove everything above the dividing line.
When submitting a new issue, please supply the following information:

**Platform**: Place your platform here... give us your web browser/Electron version _and_ your hardware (Raspberry Pi 2/3, Windows, Mac, Linux, System V UNIX).
any

**Node Version**: Ma

[2021-03-16 23:42] Bernard-h opened #2485 "Newsfeed shows description, newsfeed displays loading regardless of hideLoading: true."
![Schermafbeelding 2021-03-17 om 00 41 26](https://user-images.githubusercontent.com/60395872/111393833-d07f2f80-86b9-11eb-9a72-496150d3790d.png)
Hi my newsfeed module worked brilliantly for the last two years. I just updated my MagicMirror without editing the config.js and now I bump into problems....

Setup: Mirror has 2 newsfeed bars (one for MAJOR events in my case NL-alert and amber-alert. Th

[2021-03-17 14:15] rejas commented on #2485
Hi, what version of the Mm are you using now?

[2021-03-17 15:18] Bernard-h commented on #2485
Hi Rejas, I was installing MMM-pages and it seems some depreciations in dependancies caused this problem. I restored my old backup and now everything works again (except for MMMpages which I cant seem to get running , I have on open issue there). Its not a core problem of the mirror. So closing this topic. but thanks for the intended help.

[2021-03-17 15:18] #2485 closed

[2021-03-17 19:46] MikeBishop opened #2487 "Async node_helper start()"
If a node_helper uses an async method for start(), it appears that MagicMirror declares the system ready as soon as the function returns the initial Promise.  It would be nice if MM would collect the promises from the various modules, then `await Promise.all(...)` of them.

**Steps to Reproduce**: Use the async/await pattern within a node_helper's start() method

**Expected Results**: Initializati

[2021-03-17 21:52] rejas commented on #2487
Is there a module you can point to that uses async start?

[2021-03-19 15:27] sdetweil opened #2488 "calendar date displayed wrong for west of UTC"
## I found a bug in MagicMirror

**MagicMirror Version**: Please let us now which version of MagicMirror you are running. It can be found in the `package.log` file.

2.14.0/2.15-develop

**Description**: Provide a detailed description about the issue and include specific details to help us understand the problem. Adding screenshots will help describing the problem.

when recurring event start time

[2021-03-19 15:53] buxxi commented on #2471
Changed my mirror to run your alpine image now, seems to be no problem for now. I'll let you know if I run into any issues.

What kind of hardcoded things did you find in the modules, relative paths to node-modules?

[2021-03-19 17:07] khassel commented on #2471
Thanks for the feedback.

some modules use own html sites, e.g. MMM-Remote-Control or MMM-Strava and in these cases they have direct references in their html sites such as `<link rel="stylesheet" type="text/css" href="/modules/MMM-Strava/MMM-Strava.css">`.

So every module with such references would not work in a docker setup which would use another module path. Thats too much, I don't want to hav

[2021-03-19 17:24] MichMich commented on #2471
In this case it would be possible @khassel ... the `/modules` endpoint is fed by the MagicMirror²'s webserver. The `/modules` endpoint can point to a different folder. It's not coupled to a location on disk.

[2021-03-19 17:47] khassel commented on #2471
thanks, will test this ...

[2021-03-19 18:58] sdetweil commented on #2471
this assumes all file access is via the web server, which is not the case.

as this.file() doesn't work in the helper  we all have created our own methods of getting the path to our files

[2021-03-19 20:18] buxxi commented on #2471
Well, this kinda side tracked a bit... maybe create a new issue for this as a feature request instead?

As for the original issue can't we just add the image from @khassel in the documentation too and if the previous stops working for a new release then remove it if it's actually abandoned?

[2021-03-19 20:52] khassel commented on #2471
yes, further comments please [here](https://github.com/MichMich/MagicMirror/pull/2480) ...

o.k. from my side

[2021-03-19 22:52] matze6486 opened #2490 "Problems with server-mode"
Hey,

I've got a problem with epoll in server mode with the modules "MMM-Navigate" and "MMM-Buttons".
In "non-server-mode" it works very nice

I tried the following things:
- reinstall the modules
- update npm / node.js / electron
But this doesn't work.
Than i reinstalled the Mirror software, which doen't work, too.

Here you can see the error message:
[https://pastebin.com/WN2bYMnk](url)

Finally

[2021-03-19 22:59] khassel commented on #2490
both modules needs electron, they will never work in serveronly mode.

[2021-03-19 23:09] matze6486 commented on #2490
allright. thx.
so, when i want to debug another modules in server mode, i only have to uncomment both modules?

[2021-03-19 23:18] khassel commented on #2490
yes, you must uncomment or remove them from your `config.js`

[2021-03-20 11:32] sdetweil commented on #2490
epoll is written in cc and only runs in the node helper, so why should this need electron?
node-gyp should compile in node only I think.

[2021-03-20 18:16] sdetweil commented on #2490
see my update. should have posted a new message

[2021-03-20 22:20] matze6486 commented on #2490
I‘ll try it on monday. Thx

[2021-03-21 21:13] matze6486 commented on #2490
This worked! I can Start the Mirror in server Mode!

But after doing this rebuild the non-Server Mode does not start and more :-/
The error than is the same than before the rebuild.
I can fix this this with npm install, but than i have the same Problem with the Server Mode...

[2021-03-21 22:26] sdetweil commented on #2490
@matze6486 yes, it's one or the other.

electron-rebuild will fix that way.
u could use a script to start and rebuild epoll before launching

[2021-03-22 13:26] MarvinPAF commented on #2483
Hi,
I see the same error, if the start year is 1940, but not, if it is 1941.

It looks like the date calculation is incorrect when on an annually repeating date
- the start date is <1941
- it is an all-day appointment,
The date is then moved back one day in the calendar module.
I have attached an .ics file with sample data, their display in Thunderbird and the screen clipping from MM.
Start-Date .

[2021-03-22 13:52] sdetweil commented on #2483
@MarvinPAF current version or develop?

grep version package.json
if 2.14, the do
[code]

[2021-03-22 13:56] sdetweil opened #2496 "forum appears to be down. cannot reach server"
## I'm not sure if this is a bug

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)

## I'm having troubles installing or configuring MagicMirror

Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.buil

[2021-03-22 13:56] sdetweil commented on #2496
now back

[2021-03-22 13:56] #2496 closed

[2021-03-22 15:10] matze6486 commented on #2490
Ok, Than i‘ll prefer the first Solution and uncomment the two modules, when i need to debug in Server mode
Thx a lot

[2021-03-22 15:27] shgtjgh opened #2497 "app.js folder"
LS,
I changed something in the app.js file. and now the magicmirror won't start up anymore.
what is the default last sentence  wher it begins with " module.exports"
please help!

[2021-03-22 15:31] rejas commented on #2497
Assuming that you are using the latest release from MM (and that you might not have git skills) you can just copy the contents of this file:
https://raw.githubusercontent.com/MichMich/MagicMirror/master/js/app.js

[2021-03-22 15:42] shgtjgh commented on #2497
YES! thx very much!! I'm in again.

[2021-03-22 15:48] shgtjgh commented on #2497
Can I ask you another question what started this mishapp in the first place?
I run PM2 in the background but the refresh time is 3 seconds. Where can I change this? I thought it was in the app.js file, but nothing happened when i changed 3000 in 10000ms in process.on SIGINT and SIGTERM

[2021-03-22 16:35] MarvinPAF commented on #2483
It is the current version 2.0.1.
I have changed to develop, after install and start. There where no changes at the dates. The error is still there.
Package.json has version 2.0.1

[2021-03-22 16:48] sdetweil commented on #2483
I don't see the ics file..
if should be a text file
[code]
only need one event

[2021-03-22 16:59] MarvinPAF commented on #2483
Sorry, I have had not seen the error message. .ics is not supported.
[MMM-calendar1.ics.txt](https://github.com/MichMich/MagicMirror/files/6183954/MMM-calendar1.ics.txt)

[2021-03-22 17:09] rejas commented on #2497
PM2 is not part of the MM code, so there wont be anything in app.js that will change that.
From the top of my head I dont know how to change that so I suggest you ask that question in the official forums http://forum.magicmirror.builders (thats the place for support and troubleshooting).

[2021-03-22 17:16] MarvinPAF commented on #2483
I have changed a date from DTSTART 19400330 to DTEND 19400331
into DTSTART 19400330T000000 to DTEND 19400330T235900
then the date is ok. May be the error is near line 335.

[2021-03-22 18:13] sdetweil commented on #2483
ok, want to try this
[calendarutils.js.txt](https://github.com/MichMich/MagicMirror/files/6184439/calendarutils.js.txt)
save and replace the modules/default/calendar/calendarutils.js

put the dates back without the time on them  (should be the same either way now)

[2021-03-22 20:28] shgtjgh commented on #2497
Thx I will do that.

Verstuurd vanaf mijn iPhone

[2021-03-22 21:40] sdetweil commented on #2497
@shgtjgh what refresh time are u talking about?
mm is live, no delay. pm2 also has no delay. it is triggered by commands, file changes or some possible system interrupts... come to the forums so we can discuss your issue

[2021-03-22 22:07] MarvinPAF commented on #2483
I have done so and everything seems to be ok. Thank you for this fast and proper response.

[2021-03-22 22:35] sdetweil commented on #2483
@MarvinPAF great, thanks. I will submit the changes.

[2021-03-23 09:38] hangorazvan opened #2499 "Some errors after latest merged commits"
I found a bug in MagicMirror (maybe)
Platform: Windows 10
Node Version: 10.
MagicMirror Version: 2.15.0-develop

[2021-03-23 11:26:21.665] [ERROR] (node:3964) UnhandledPromiseRejectionWarning:
TypeError: this.broadcastEvents is not a function
    at E:\OneDrive\MagicMirror\modules\default\calendar\calendarfetcher.js:94:10
    at process._tickCallback (internal/process/next_tick.js:68:7)
[2021-03-2

[2021-03-23 09:39] MichMich commented on #2499
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2021-03-23 09:39] #2499 closed

[2021-03-23 09:40] rejas commented on #2497
Can this be closed now @shgtjgh ?

[2021-03-23 09:44] hangorazvan commented on #2499
OK, sorry and thank you!

[2021-03-23 13:56] sdetweil commented on #2403
@rejas > Shouldnt there be a more obvious warnin/error log that you have a config entry for a module that isnt there?

thats my opinion...   users coming from windows make mistakes on letter casing and nothing works.. but they don't know why..

[2021-03-23 18:49] MikeBishop commented on #2487
I've been trying to use it in my own module, MMM-Powerwall.  I borrowed logic from MMM-RemoteControl that reads config files off the disk, and I'd already used the async file access methods elsewhere.

[2021-03-23 19:43] sdetweil commented on #2487
but u only need to use async functions if u intend to use await. which  is similar to using sync calls.
there are a few different approaches to using async and await without doing it with start.
you can start a timer, or use the notification  call from module to node helper.

[2021-03-24 06:46] ismarslomic opened #2501 "loader.js is requesting none existing stylesheet custom.css"
## I found a bug in MagicMirror

**Platform**:  Raspberry Pi 4, Raspberry Pi Os Buster

**Node Version**: 10

**MagicMirror Version**: 2.14.0

**Description**: `loader.js` is requesting non existing stylesheet file `custom.css`, see https://github.com/MichMich/MagicMirror/blob/3dbe8bfbbf538931e0a9c1e0c147e7d48ba42bc0/js/loader.js#L36. I see the following error message in the browser console: "Refu

[2021-03-24 06:48] MichMich commented on #2501
That's correct. The custom.css is not mandatory. Of course we could built in a check in the server to see if it is available, but other than not showing this error, this won't change anything.

Feel free to send a PR for a clean solution.

[2021-03-24 06:56] ismarslomic commented on #2501
This issue doesn't impact user experience in any way, but its just annoying seeing the error message in the browser console as developer, and I like keeping things clear. It can also be somewhat confusing error for non-developers while developing new modules. Handling this server side could be nice, or try to catch the error gracefully in `loader.js` and avoid injecting the response as Stylesheet

[2021-03-24 11:28] sdetweil commented on #2501
@ismarslomic if u had used my automated  (alternative) install, it would have setup an empty custom.css

it does this for two reasons
1  many new linux users don't know how to create a file
2  to eliminate the eroor you see

[2021-03-24 14:19] ismarslomic commented on #2501
Good point @sdetweil! Maybe the easiest solution might be to just include empty `custom.css` file in this repo then?

[2021-03-24 14:21] sdetweil commented on #2501
@ismarslomic  it used to be, but then git pull would fail because users updated it..

so it was removed and no longer tracked.. it doesn't hurt anything and most users never open the dev console window

[2021-03-24 14:29] ismarslomic commented on #2501
I see. So by fixing one problem for users with lack of Linux and git experience another where introduced for developers. I agree that this is really not a big issue, but I used some time to understand why I got this error in the console and didn't know if it was my module or MagicMirror itself that caused it. Anyway, I can easily solve this in my own setup scripts, but I'm thinking on other develo

[2021-03-24 14:36] sdetweil commented on #2501
and again, if u used the linked to 'alternative' install script, this would have been handled
https://docs.magicmirror.builders/getting-started/installation.html#alternative-installation-methods

[2021-03-24 14:41] MichMich commented on #2501
Closing since this is not a bug. Thanks for your time @ismarslomic.

[2021-03-24 14:41] #2501 closed

[2021-03-24 14:41] ismarslomic commented on #2501
I got it, but that wasn't clear for me initially. And the reason for not using automated script is because of this notification in official documentation:

[2021-03-24 14:44] sdetweil commented on #2501
yeh, i know.. pretty shi... considering everything I do/have done

[2021-03-24 14:52] MichMich commented on #2501
@sdetweil, not sure if this issue is the appropriate issue to discuss this, but of course the "at your own risk" part is not specifically targeted at your install script. It's just good to make a distinction between core code, and third party code. Third party code always is a liability and thus this is mentioned.

Of we should change it in "Use these scripts and methods at your own risk ... excep

[2021-03-24 15:00] sdetweil commented on #2501
alternatively  one could have said,

These are supported in their own github repositories

without the at your own risk

[2021-03-24 15:05] MichMich commented on #2501
Piping an installation script trough bash is a huge potential security risk. I think it is not a bad idea to make people aware of the fact that installation scripts come with a risk.

[2021-03-24 15:07] MichMich commented on #2501
But as said, this might not be the appropriate issue to discuss this. Feel free to open an issue if you feel this issue should be discussed. Last thing I want is that you somehow feel harmed by this.

[2021-03-24 15:09] sdetweil commented on #2501
your content. do whatever u want.
I am trying to onboard new users  and reduce repeated problems in the forums.

[2021-03-24 15:12] MichMich commented on #2501
And I appreciate that! I hope I convey that well.

[2021-03-24 20:09] sdetweil opened #2502 "newsreader rewrite has wrong test for content wrap.. (should be if not)"
## I found a bug in MagicMirror 2.15-develop

**MagicMirror Version**: Please let us now which version of MagicMirror you are running. It can be found in the `package.log` file.
2.15-develop

**Description**: Provide a detailed description about the issue and include specific details to help us understand the problem. Adding screenshots will help describing the problem.
old code says (!this.config

[2021-03-26 13:43] sdetweil opened #2505 "new and old weather module timing problem."
## I found a bug in MagicMirror

Please make sure to only submit reproducible issues. You can safely remove everything above the dividing line.
When submitting a new issue, please supply the following information:

**Platform**: Place your platform here... give us your web browser/Electron version _and_ your hardware (Raspberry Pi 2/3, Windows, Mac, Linux, System V UNIX).

**Node Version**: Make s

[2021-03-29 14:42] sdetweil opened #2507 "how does MM set the require path to include the module node_modules? (per module)"
##  this is not a bug, it is informational

I have a require that is failing, but I thought it would be resolved by the node_modules in my module folder....
the required submodule IS there

[2021-03-29 15:23] rejas commented on #2507
Is there some code we can take a look at in github für your module?

[2021-03-29 15:46] sdetweil commented on #2507
not that I am ready to share...

but during runtime, I need to use a function from one of my dependencies(hardly ever needed) and I do the typical require('library_name')
my module npm install put this library in the node_modules of my module (as expected)

but the require fails, unable to locate  (so it seems to be searching the root node_modules folder)

I see ways to change the path dynamically

[2021-03-29 16:54] rejas commented on #2507
Normally what you describe should work: requiring your modules library in the node_module. I dont do it in my modules but looking at https://github.com/deg0nz/MMM-PublicTransportBerlin it doesnt require anything special... Maybe some typo?

[2021-03-29 17:30] sdetweil commented on #2507
which node_modukes?

no  adding the path to it works,  but worries me

[2021-03-30 07:36] rejas commented on #2507
Weird, I cloned your repository, did the "npm install" and your module works.... What is the error you get?

[2021-03-30 11:33] sdetweil commented on #2507
that was just an example module.  why/how does it work?

[2021-03-30 11:42] rejas commented on #2507
the node js on the server side resolves that. you can go into your modules directory and start the node runtime (`node`) and issues this command in it to see where it looks:
`module.paths`

[2021-03-30 11:48] sdetweil commented on #2507
but we are not in the module folder during mm execution, we are in the mm folder. if I write a file with no pathname, it is located in the mm folder

[2021-03-30 11:52] rejas commented on #2507
See: https://www.freecodecamp.org/news/requiring-modules-in-node-js-everything-you-need-to-know-e7fbd119be8/
"The paths list is basically a list of node_modules directories under every directory from the current directory to the root directory."

[2021-03-30 12:01] sdetweil commented on #2507
yes, but the 'current' directory is mm. , NOT the module folder
AND the current directory doesn't change during mm execution

[2021-03-30 12:09] rejas commented on #2507
Mh..... I guess its some node magic or @MichMich knows it :-)

[2021-03-30 21:41] sdetweil commented on #2507
@khassel  yes, it has a setPath, but what has that got to do with it?

[2021-03-31 07:28] rejas commented on #2507
I think that path has nothing to do with the node_modules. Still, I can only imagine its some node.js magic that happens here....

[2021-03-31 07:34] MichMich commented on #2507
Node looks in any `node_modules` folder relative to the script that includes the `require` call.

This is the same situation: node looks in any `node_modules` folder relative to the script that includes the `require` call.

This is the same situation: node looks in any `node_modules` folder relative to the script that includes the `require` call.

I think this only impacts which path comes first.

[2021-03-31 07:36] MichMich commented on #2507
(Closed accidentally. Reopened.)

[2021-03-31 19:25] sdetweil commented on #2507
ok, maybe this is the explanation  that makes sense except for a few words
https://nodejs.org/api/modules.html#modules_loading_from_node_modules_folders

quoted test
Loading from node_modules folders#
If the module identifier passed to require() is not a core module, and does not begin with '/', '../', or './', then Node.js starts at the parent directory of the current module, and adds /node_modul

[2021-04-01 11:08] sdetweil opened #2509 "ms custom timezone causes problems"
ms custom timezone zone:Custom Zone

causes parsing errors, and stops calendar processing

[2021-04-01 18:34] sdetweil commented on #2509
fixed by node-ical 0.13.0

[2021-04-01 18:35] sdetweil commented on #2490
i think this issue can be closed

[2021-04-01 19:51] #2490 closed

[2021-04-02 16:16] earlman opened #2513 "Proposal: CSS Custom Properties to make styling more accessible"
This solution greatly improves clarity and allows beginners to make basic aesthetic changes without having to search for selectors, go into dev tools, etc. I've read the manifesto in the docs, and I think this would be helpful for generating early positive feedback for new users getting their feet wet with programming.

Example:
These is currently how we set the colors:
[code]
With custom properti

[2021-04-02 18:24] rejas commented on #2513
I like this idea, especially since I had that planned too (https://github.com/MichMich/MagicMirror/compare/master...rejas:custom_properties) But didnt follow it through with not enough time these days, so I'd be happy to see someone else code it  ;-)

Anyway, I am in favor of this. Like you wrote, it is easier for beginner to change the looks of MM. Plus it would be nice if Module developers would

[2021-04-02 18:47] sdetweil commented on #2513
but it can't be custom.css or any file owned my MM in the live path   we already went thru overlaying the users custom.css file...
(sample is good, but another file people wont see)

[2021-04-03 06:53] MichMich commented on #2513
It sounds like a good idea. I'm all in favor of the css changes.

Regarding the `custom.css`: we had an issue where it was part of the repo which resulted in conflicts when users modified it.

We ended up removing it from the repo and adding it into the `.gitignore` list.

What could be an option though is adding a check to the startup sequence of the mirror to see if the `custom.css` file exists.

[2021-04-03 07:18] rejas commented on #2513
I guess the OP didnt know about the custom.css history ;-)IBut he has made a good propoal:

That is the more sensible idea and fits indeed nicely the other sample MM has.

[2021-04-03 10:56] rejas commented on #2513
Are you planning on making this customaziable too? 'cause I think font size and colors seems reasonable and managable for a first PR, but grid-gap and other padding/margins would (if at all) better fit in a later PR once we get a hang of these.

[2021-04-03 11:04] MichMich commented on #2513
Agree on the grid gap. Lets take it step by step.

[2021-04-03 11:43] earlman commented on #2513
Yep yep, will save layout changes for later. Not super comfortable with building a startup sequence so I’ll let somebody take that one on. Thanks all 🙂

[2021-04-03 15:03] rejas commented on #2513
I think you can ignore that startup sequence idea anyway, right @MichMich ?

[2021-04-03 15:11] MichMich commented on #2513
Yeah that's ok.

[2021-04-04 12:06] jupadin commented on #2513
Regarding the check in the start up sequence:

- Shall we just generate an empty _custom.css_ file if there does not exist one ?
- And in case the mirror gets restarted - we then just use the (maybe empty) generated file from the previous start, right ?

Currently the console of the browser console reports that the MM can not find the _custom.css_ file, since the reason mentioned above, right ?

O

[2021-04-04 12:12] sdetweil commented on #2513
if u used the automated installer it will create custom.css
https://github.com/sdetweil/MagicMirror_scripts#install-magicmirror

[2021-04-04 12:15] jupadin commented on #2513
Oh okay, cool!
This might be the reason... I followed the manual installation guide given here:
https://docs.magicmirror.builders/getting-started/installation.html#manual-installation

[2021-04-04 12:21] sdetweil commented on #2513
the alternative install tools  are listed after manual install

[2021-04-04 13:57] sdetweil commented on #2507
i guess I answered my own question again!...

[2021-04-04 13:57] #2507 closed

[2021-04-05 11:41] jaydubelew opened #2516 "silly question. is it just the black reflection? what am i doing wrong?"
I installed and ran MagicMirror successfully without any issues. So I see the weather and all the other cool stuff.

However - the background of the screen is just black. Is the background of the screen supposed to change into something that shows a more mirror-type reflection, or is it that the black of the screen and the faint reflection you see is the mirror? I was expecting something that lite

[2021-04-05 11:47] sdetweil commented on #2516
that's just the  tv screen reflection. mm doesnt provide any background other than black. there are extension modules that show pictures.

[2021-04-05 11:49] rejas commented on #2516
Or you modify your screen with a foil that turns it into a two way mirror. See the wiki entry here: https://github.com/MichMich/MagicMirror/wiki/Two-way-Mirror-Vendors

[2021-04-05 13:14] jaydubelew commented on #2516
- thank you! knew I was missing something!

[2021-04-08 06:37] oemel09 opened #2517 "Hide newsfeed description setting ignored"
## I found a bug in MagicMirror

I'm using the latest master version on a Raspberri Pi. After the upgrade the showDescription setting is ignored for the newsfeed module.

[2021-04-08 19:20] Binog opened #2519 "After upgrade MM crashes on all of my systems."
## I'm sure it is a bug

## I'm having troubles installing or configuring MagicMirror

After a global update of all my modules and apt the system, I get the following error an all of my MM (3x)

PM2            | App [MagicMirror:0] exited with code [0] via signal [SIGINT]
PM2            | App [MagicMirror:0] starting in -fork mode-
PM2            | App [MagicMirror:0] online
0|MagicMirror  | [2021

[2021-04-08 19:23] #2519 closed

[2021-04-08 19:25] sdetweil commented on #2519
@Binog did u do an npm install after the git pull...

did u try with just npm start ?

[2021-04-09 15:46] Binog commented on #2519
Used non install and non start. In first try after installation it worked. Second try did not work.

[2021-04-09 17:36] sdetweil commented on #2519
sorry, , does this 'Used non install and non start. ' mean

no , you did not do npm install in the module folder
   the instructions say 'git pull && npm install'

and no, you didnt use npm start ?
what did you use to start MM?
pm2?

[2021-04-10 08:15] ezeholz opened #2522 "[Alert Module] Multiple Alerts doesn't show as expected"
## I found a bug in MagicMirror

Please make sure to only submit reproducible issues. You can safely remove everything above the dividing line.
When submitting a new issue, please supply the following information:

**Platform**: Hyper-V Ubuntu

**Node Version**: v14.15.5

**MagicMirror Version**: 2.15.0

**Description**: According to issue https://github.com/Jopyth/MMM-Remote-Control/issues/256, w

[2021-04-10 08:17] MichMich commented on #2522
Feel free to send a PR!

[2021-04-10 12:53] Luc3as opened #2523 "Docker 2.15 could not start"
## I found a bug in MagicMirror

Please make sure to only submit reproducible issues. You can safely remove everything above the dividing line.
When submitting a new issue, please supply the following information:

**Platform**: Raspberry Pi 4, MagicMirror OS).

**Node Version**: v12.22.1

**MagicMirror Version**: 2.15

**Description**: So I was using Magic Mirror OS on raspi 4 for long time, it w

[2021-04-10 12:55] MichMich commented on #2523
Docker is not part of the core of MagicMirror², please open an issue in the mm docker repo, since this is not a core issue. Thanks!

[2021-04-10 12:55] #2523 closed

[2021-04-10 13:29] B1gG opened #2524 "cc"
## I'm  sure if this is a bug
### Fix wrong treatment of appendLocationNameToHeader when using ukmetofficedatahub
in the ukmetofficedatahub module you have
[code]
you should remove the if ... and leave just:
[code]
this will allow `appendLocationNameToHeader` parameter at weather.js to resolve if include or not in the header (title).

[2021-04-10 15:15] mdissel opened #2525 "newsfeed, showDescription is ignored"
The setting showDescription is not used in the njk file. After the recent change, the description is always shown.

https://github.com/MichMich/MagicMirror/blob/491f5aa7769a12de7f20f201de0078704c158a8d/modules/default/newsfeed/newsfeed.njk#L16

[2021-04-10 15:15] #2525 closed

[2021-04-10 15:15] mdissel commented on #2525
Duplicate isse

[2021-04-10 18:40] MichMich opened #2528 "Codecov makes tests fail."
It's great to have some feedback on code coverage, but in some (useless) cases it makes the tests fail, marking the PR's as failed.

IMHO CodeCov should just give some feedback as an insentive to add tests. But shouldn't have any effect on the status of a PR.

A PR to fix this would be great, since I have no idea how to change this. (Haven't checked the docs yet, either. ;))

[2021-04-10 18:57] rejas commented on #2528
Agree. I opened an issue over there to ask if thats possible: https://github.com/codecov/codecov-action/issues/274

[2021-04-10 19:06] rejas commented on #2522
Could you provide that custom.menu json so that I can take alook too? Or what do I ahve to do to get that exmaple gif recreated on my MM?

[2021-04-10 20:03] ezeholz commented on #2522
@rejas Actually, the custommenu.json isn't important. You can reproduce it by using the Remote Control alert menu. I set the timer to 60, and click multiple times the send button.

[2021-04-10 20:13] rejas commented on #2522
Noob question: How do I see the RemoteCOntrol alert menu?

[2021-04-10 21:12] waldmeisterx opened #2529 "Calendar: end date missing for multi day events (like holidays)"
## I found a bug in MagicMirror

**Platform**: Raspberry Pi 3, current OS
uname -r: 5.10.17-v7+

**Node Version**: what is this? how do I get this info?

**MagicMirror Version**: 2.15.0 (problem occured after upgrading from 2.13.0).

**Description**: I show holidays with end dates. The shown config worked well with 2.13.0, after upgrading to 2.15.0 the end date disappeared. Now, only the current d

[2021-04-10 21:49] KristjanESPERANTO opened #2530 "[Weather Module] decimalSymbol has no effect"
I set the `decimalSymbol` in the config of the new weather module to `,`, but that has no effect. The values still have points. I saw that the PR #1510 should have fix that, but it doesn't work (anymore?).

I noticed this with a just freshly installed MagicMirror instance.

Or am I doing something wrong in my config?

[code]

[2021-04-11 10:08] oemel09 commented on #2517
Fixed in #2518

[2021-04-11 10:08] #2517 closed

[2021-04-11 19:20] rejas commented on #2530
Hi @KristjanESPERANTO I dont think you are doing somethign wrong. I took a quick look at the code and it seems to me the decimal point isnt used (yet) in the forecast part (only in the current weather part) of the module.

Maybe you want to write a fix for it? ;-)

[2021-04-11 19:31] rejas commented on #2530
Nevermind, I think I can fix that if you give me a day :-)

[2021-04-11 20:13] KristjanESPERANTO commented on #2530
I'm on it :slightly_smiling_face:

[2021-04-11 20:47] rejas commented on #2530
Nice. So lets see if your PR fixes my tests :-D

[2021-04-12 14:14] Binog commented on #2519
Sorry,. autocowrect... I did used npm install and npm start. And I tried pm2 start MagicMirror, and in the logs it was crashed

[2021-04-12 14:14] Binog commented on #2519
ah,. it directly crashed, no module was loaeded

[2021-04-12 14:21] sdetweil commented on #2519
@Binog

what does 'crashed' mean.. can u post to the forum?
https://forum.magicmirror.builders/

[2021-04-12 21:15] B1gG commented on #2524
Thanks guys

[2021-04-14 12:14] codac commented on #466
Although testing was successfull, with the new release 2.15.0 of MagicMirror, even with the "selfSignedCert" Switch set in the config.js I now get the error "UNABLE_TO_VERIFY_LEAF_SIGNATURE". It seems that setting the User Agent Option "rejectUnauthorized: false" doesn't work. Maybe it has something to do with the new change in this version "Removed ical which was substituted by node-ical in relea

[2021-04-14 16:15] #2522 closed

[2021-04-14 19:55] khassel commented on #466
I have no setup to test this. In `modules/default/calendar/calendarfetcher.js` is already this part included

[code]

You can add another line and test if this works

[code]

By the way these options are disabling (more or less) ssl, so I don't see any advantage in using that over http.

[2021-04-15 13:09] codac commented on #466
It seems that the above mentioned code wasnt the problem.
Adding strictSSL: false didn't help.

There was a wrong option "httpsAgent" used in the fetch instead of the correct option "agent".

[2021-04-15 14:17] #2497 closed

[2021-04-15 14:17] MichMich commented on #2513
Merged!

[2021-04-15 14:18] #2513 closed

[2021-04-15 14:18] #2516 closed

[2021-04-15 14:18] MichMich commented on #2524
Merged. Closing.

[2021-04-15 14:18] #2524 closed

[2021-04-16 11:05] B1gG opened #2539 "open up discussions tab - please"
GitHub has been supporting a discussions tab for some time now (basically issues but in a forum like a layout) and now it is also possible to transfer existing issues to discussions, to easy separate Q&A from code related topics.
I think this could be beneficial so you can have a central point to check all, also because it will enable an easy way to ask questions and discuss about features (I need

[2021-04-16 11:07] MichMich commented on #2539
We have the existing forum for this: http://forum.magicmirror.builders

[2021-04-16 16:00] buxxi commented on #1907
Bah, been running the new version since release and logged in to my mirror today and was greeted with this:
`=> There are 13 zombie processes.`

And all of those are still like this:
`11487 ?        Z      0:00 [git-remote-http] <defunct>`

Annoying...

[2021-04-16 17:32] rejas commented on #1907
Annyoing indeed. How does one get that output to check on his own mirror?

[2021-04-16 17:34] rejas commented on #2539
Maybe add an explicit link to the core related part of the forum (https://forum.magicmirror.builders/category/11/core-system) to the README would be a start so that people who come to Github for technical stuff (maybe) find that?

[2021-04-16 18:51] B1gG commented on #2539
Thanks, let me go over there

[2021-04-16 18:51] #2539 closed

[2021-04-17 11:08] buxxi commented on #1907
The first output is from MOTD when I log in to my Ubuntu server, so I don't really know how to reproduce that on a RPi.

But all zombie processes can easily be found by:
[code]
To see where the process belongs to you can make this command:
[code]
To see that it's node that spawning the process that becomes a zombie, the node process belongs to a container which is started by systemd in my case.

[2021-04-17 13:51] MichMich commented on #2528
Closed thank you @rejas' awesome detective work. :)

[2021-04-17 13:51] #2528 closed

[2021-04-17 18:53] rejas commented on #2459
Hi @mcnahum sorry for the late response. You can use the new weather modules for the current weather with a config like this:

		{
			module: "weather",
			position: "top_left",
			config: {
				type: "current",
				location: "Berlin",
				locationID: "xxxxxxxxxx",  //ID from http://www.openweathermap.org/help/city_list.txt
				apiKey: "xxxxxx"
			}
		}

Have you upgraded to v2.15 yet?

[2021-04-17 18:57] rejas commented on #2530
Did you have the time to test the latest develop branch to see if it fixes your problem for good now? So that we can close this ticekt?

[2021-04-17 19:16] khassel commented on #1907
I can now confirm these zombie processes.

In the logs I found:
[code]

I had 8 zombie processes so may this is a 1:1 relation to the above logs.

The message `block timeout reached` is coming from [this line](https://github.com/steveukx/git-js/blob/256acf3179f916c8a369492de6dea44691d03f63/test/integration/timeout-plugin.spec.ts#L22).

[2021-04-17 19:33] KristjanESPERANTO commented on #2530
Yes, with the develop branch it works fine. Thank you :slightly_smiling_face:

[2021-04-17 19:33] #2530 closed

[2021-04-17 20:29] GoudekettingRM commented on #2485
I actually am facing the same problem on a clean install of MM. Cloned it earlier tonight, but the feed descriptions seem to always show, regardless of adding the `showDescription` explicitly or just using the default.

Config:
[code]

MMM Version: 2.15.0

[2021-04-17 20:37] khassel commented on #1907
I could reproduce this error for the mm-repo with every restart.

This is may caused by the default timout=1000 which seems to low.

I'm running now with timeout=15000 and it works (the error after start is gone), will see if it occours later.

One explanation for this is may that I´m using my docker setup where the mm-git-repo is cloned with `git clone --depth 1 -b "${BuildRef}" --single-branch "

[2021-04-18 07:28] rejas commented on #2502
So this issue can be closed now @sdetweil ?

[2021-04-18 07:36] rejas commented on #2462
I looked into the clock module to see if hiding the time was possible.
Yes it is, but the module is loaded with different options for all kind of things which made me think if it could be reworked a little. But then one or two options might change so I wanted forst to ask @MichMich what the official stance on removing / chaning options in the default module is?

[2021-04-18 07:36] rejas commented on #2410
This forum post probably needs to be updated to: https://forum.magicmirror.builders/topic/343/default-modules

[2021-04-18 07:38] MichMich commented on #2462
I don't think we should overbloat the clock module (I think it already is a bit). If someone really wants super specific features, it's better to opt for a third party module.

I'm not a big fan for removing options and essentially introducing breaking changes.

[2021-04-18 07:40] rejas commented on #2485
Hi @GoudekettingRM this got fixed with #2518 which is currently only in the develop branch (if you want to test that one out) and will be officially released with v2.16

[2021-04-18 07:54] GoudekettingRM commented on #2485
@rejas Thanks for the quick reply. Develop seems to work perfectly. Thanks! Any idea when 2.16 will be officially released? My dad would also want this upgrade but he is not so tech savvy, so I don't want to put him on the develop branch temporarily.

[2021-04-18 07:55] MichMich commented on #2485
July 1st.

[2021-04-18 07:58] GoudekettingRM commented on #2485
@MichMich thanks for the quick reply! And noted.

[2021-04-18 10:42] B1gG opened #2543 "Aminated icons for the standard Weather module"
Hi,
I have been working on incorporating aminated icons to the standard Weather module, also I am proposing a mapping CSS file so we can have multiple icons set.
As per the contributions rules, I would like to check with you if this could be of interest so I can submit a PR? A fully functional PoC can be found in the Develop branch of my fork for MagicMirror, just added a config parameter `showAni

[2021-04-18 11:31] #2502 closed

[2021-04-18 19:41] rejas commented on #2543
Could you add a little image / gif to this issue to see directly what you have in mind / done in your branch? Thx in advance

[2021-04-18 19:49] B1gG commented on #2543
Here you go:
<img width="344" alt="Screenshot 2021-04-18 at 20 45 46" src="https://user-images.githubusercontent.com/13992414/115158667-39761080-a087-11eb-960d-d5164f921a6f.png">
I am using icons from [@basmilius](https://github.com/basmilius/weather-icons)

[2021-04-19 07:28] rejas commented on #2543
I like those icons, they look nice and clean without too much animation. Adding those gets a +1 from me.

As for mapping iconsets that sounds quite nice too, but maybe that can be a sperate PR? Even one that gets merged first so that we dont have a new parameter "showAnimatedIcon" and then later a mapping parameter, but only the later one? As @michael5r stated, we shouldnt start adding too many pa

[2021-04-19 09:13] MichMich commented on #2543
Hi @B1gG, thank you so much for your work and your proposal.

I like te icons, but I have two issues with this change:
- The icons are pretty detailed (thin hairlines), which will probably be hard to see with a super glossy mirror in front of it. Especially since most (if not all) mirrors don't use a retina screen.
- The icons use colours. The basic design of the MagicMirror² is B&W to prevent to

[2021-04-19 10:37] B1gG commented on #2543
Thanks, guys I really appreciate your feedback.
I thought it was better to ask as it is a quiet change, and as a brand, you need to keep a kind of same design (having icons in the weather but not in the calendar) Also, there are some extra icons I would like to have like the humidity and calendar (I like them because are SVG and not JS animations). I will keep this for myself for now.

Now said th

[2021-04-20 05:47] rejas opened #2545 "Proposal: Wiki Restructure"
Good morning

the WIKI could in my opinion use a little spring cleaning. All pages are on the same level without any structure.

In a first step I grouped them in three categories: Develop / Installation / Modules.

Then I created a custom sidebar with https://github.com/adriantanasa/github-wiki-sidebar/wiki so that those groups are in a tree structure.

I wouldnt and couldnt push such a change id

[2021-04-20 22:23] khassel commented on #1907
After increasing the timeout the zombie processes are gone.

@buxxi can you test this too?

If you can confirm this we should increase the default timeout [here](https://github.com/MichMich/MagicMirror/blob/develop/modules/default/updatenotification/updatenotification.js#L13).

[2021-04-21 08:22] MichMich commented on #2545
I think most of the content of the Wiki can be moved to the docs website. The 3rd Party Modules list is probably the only one that needs to remain in the Wiki and Mirror Vendor List, since this is a community driven list.

For all other aspects (installation, faq, etc) it makes more sense to put that all in one spot: the documentation page.

Whats your thought about that?

[2021-04-21 08:34] MichMich commented on #2543
Honestly, the MagicMirror² really focusses on the mirror aspects. For all other use cases it can be used, but we won't adapt the code to that. I think it's best to be great in one specific market, than mediocre in a lot of markets.

Also note that it is pretty simple to create a module which works as a skin/theme engine. We don't need to incorporate that into the core.

I agree with you that Tailw

[2021-04-21 08:55] B1gG commented on #2543
Thanks for taking the time to elaborate in your response, can only say I respect your position.
As the goal is to encourage newcomers and make it easy for them to customise, the focus should be on documentation and recipes to achieve from basic to complex task.
Thanks for your effort and what you have put together.

[2021-04-21 08:55] #2543 closed

[2021-04-21 09:01] MichMich commented on #2543
Thanks for your reply. Glad you understand! :)

[2021-04-21 11:27] hangorazvan commented on #2124
@JimHutchins Can you share with me your code please? New weather module It lacks a lot of information given by onecall

[2021-04-21 14:09] rejas commented on #2545
Yes, only the modules list (and the hw vendors) is something that has a real place here since they need to (and will) be updated often. So for the moduels maybe just seperate the one big page into subpages like finance etc, just like the voice modules already have a page?

Module development is a prime candidate for the docs indeed.

I wasnt very sure about the tips / tricks for installation, Some

[2021-04-21 16:07] lbalogh opened #2547 "Calendar module : reccuring annual events appear every month"
Hi,

Annualy reccuring events in Google Calendar appears every month in the calendar module.

See the ICS file bellow, taken directly from Google : it has 1 event that occurs 25 March of each year. But the calendar module display the event on 25 of every month.

**Platform** : Raspberry Pi 3
**MagicMirror Version** : 2.15.0

`BEGIN:VCALENDAR
PRODID:-//Google Inc//Google Calendar 70.9054//EN
VERSIO

[2021-04-21 18:02] luwol03 commented on #2545
how about managing the modules in a json file in the repo and then include them into the docs with a very good customizable search which uses the json from the repo?

[2021-04-22 00:31] blackthroat commented on #1907
@khassel I recently upgraded to MagicMirror: v2.15.0 and was digging in the log files as a 3rd party module was preventing it from loading. I noticed that I was also receiving `Error: block timeout reached` for each of my modules on startup. After adjusting the timeout from `1000` to `15000`, it no longer threw that error.

[2021-04-22 07:50] hangorazvan opened #2549 "New Weather module"
It may be worth improving the openweathermap current onecall mode with options like: pressure, dew_point, uvi, visibility and description

**For now the current and daily type not working with onecall.**

Also for forecast with max days for paid users must add the line in openweathermap.js on getParams()
[code]
and maybe change this
[code]
https://forum.magicmirror.builders/topic/14972/new-weather

[2021-04-22 08:09] rejas commented on #2545
That sounds nice but would require
a) someone to build something like this (could you?)
b) that MichMich would have to approve and merge an PR for every change.  Not sure if he would like that (or would delegate that work).

[2021-04-22 10:55] MichMich commented on #2545
I once built a search engine for modules. The idea was that the community would help maintaining it. But in the end it was just yet one other thing for me to maintain and service. For now I prefer to just manage it in the Wiki.

[2021-04-22 15:27] rejas commented on #2547
I dont have much knowledge about the ics format, but I tried exporting a yearly date from my google calendar and the RRULE line was like this only:
`RRULE:FREQ=YEARLY`
and everythin looked fine on my MM.

In your ICS file the line is
`RRULE:FREQ=YEARLY;WKST=MO;INTERVAL=1;`

so probably something in there tells ical/rrule to create more events than you want. MagicMirror itself relies on that and sh

[2021-04-23 02:22] sdetweil opened #2550 "2.15 using address:"0.0.0.0" on windows causes black screen"
windows 10, install 2.15

start up , works
change the config.js to
[code]

restart MM.. black screen, looking at the browser dev window.. nothing is loaded
u can get to the url from another browser and it works..

u can also set the actual ip address (from ipconfig /all) and that works

this was running in a vmware workstation virtual machine

[2021-04-23 07:07] lbalogh commented on #2547
Well, I don't have much knowledge of the ics format either, but I did some tests :

- If I create a new event in Google Calendar, it only has `RRULE:FREQ=YEARLY` and displays correctly on MM
- If I copy the "problematic" event from my girlfirend's (Google) calendar to my own (also Google) calendar, the copied version looks like `RRULE:FREQ=YEARLY;WKST=MO` and shows correctly on MM

So I don't know

[2021-04-23 08:11] lbalogh commented on #2547
Again, after looking more carefully, the RRULE I posted originally (which is taken DIRECTLY from Google Calendar sharing URL) is :

`RRULE:FREQ=YEARLY;WKST=MO;INTERVAL=1;BYMONTHDAY=25`

So the problem is : `BYMONTHDAY=25`

I don't know why Google Calendar's export contain this... anyway, the simplest thing to do is asking my gf the recreate these events

[2021-04-23 08:12] rejas commented on #2547
Yeah, saw that too and was wondering. Anyway, good luck with recreating it. Can this be closed then?

[2021-04-23 08:16] Canguingo opened #2551 "MM freezes every 20 hours"
Hi there,

I have MM already for a year (so pretty new with this) and since the last update I noticed that the MM started to suddenly stop. I thought was the auto start that due to the update was deleted. So I reinstalled it again, just in case.

But now the MM freezes every 20 hours. Meaning that after 20 hours (every day around 5:28 a.m.) it freezes. when typing alt+q it takes like 5 minutes to

[2021-04-23 08:22] lbalogh commented on #2547
Yes this can be closed because it's unrelated to MM

[2021-04-23 08:22] #2547 closed

[2021-04-23 09:51] rejas commented on #2551
Hi @Canguingo could you post your config.js (but beware that you dont personal inforamtion / passwords in it). And: What version of MagicMirror are you using? The latest version 2.15 or the develop brnach?

[2021-04-23 13:14] Canguingo commented on #2551
Hi @rejas thanks for your quick reaction. How can I see which version am I using? I'll check in the mean time how to paste the config.js here. My pc is not connected to the MM.

[2021-04-23 13:20] Canguingo commented on #2551
Hi @rejas version is 2.14.0

can't find how to update it again

[2021-04-23 14:06] Canguingo commented on #2551
All right. I am trying to upgrade to the new version (i thought it was done automatically) with the code from https://github.com/sdetweil/MagicMirror_scripts

i'm gonna check everything is all right. in the meantime i'll try to paste here the config.js

i'll come back tomorrow on this. thanks!

[2021-04-23 14:17] Canguingo commented on #2551
And here the config.js (I believe I have changed all sensitive info with XXXX

/* Magic Mirror Config Sample
 *
 * By Michael Teeuw http://michaelteeuw.nl
 * MIT Licensed.
 *
 * For more information how you can configurate this file
 * See https://github.com/MichMich/MagicMirror#configuration
 *
 */

var config = {
	address: "localhost", // Address to listen on, can be:
	                      // -

[2021-04-23 14:30] luwol03 commented on #2551
could you please put this into a codeblock and maybe even in a summary tag?

[2021-04-24 08:52] rejas commented on #2545
If only it would be easy to build a pipeline like https://tiny-helpers.dev/ has... Not that I wouldnt find that a tempting task but I surely dont have the time for that :-D

[2021-04-24 16:48] buxxi commented on #1907
Well, increasing the timeout just makes it less likely to happen (and sure 1000 was a bit low as default). I had this issue a few times when there was no timeout at all.
This just means the timeout-handling isn't working as it should and the process probably needs to be killed since it can't quit by itself.