[2016-09-29 19:29] MichMich commented on #458
Do you see any error or messages in your browser's console?

[2016-09-30 17:21] Ariffhakimy11 opened #459 "when i insert location, location id and openweather app id and save the configuration...."
Please only submit reproducible issues.

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)
Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.builders/category/10/troubleshooting](https://forum.magicmir

[2016-09-30 17:23] MichMich commented on #459
For support, please use http://forum.magicmirror.builders

[2016-09-30 17:23] #459 closed

[2016-09-30 17:23] Ariffhakimy11 commented on #459
when i insert location name, location id and openweather appid and save the config.
when i started the npm start,it show npm error.
Please help me :(

[2016-09-30 17:33] Ariffhakimy11 opened #460 "Npm error"
when i insert location name, location id and openweather appid and save the config.
when i started the npm start,it show npm error.
Please help me :(

[2016-09-30 17:44] MichMich commented on #460
As said in the [previous issue](https://github.com/MichMich/MagicMirror/issues/459), please use the forum for support: http://forum.magicmirror.builders.

[2016-09-30 17:44] #460 closed

[2016-10-01 11:20] justme-1968 opened #463 "magic mirror does not pick up the correct screen size"
magic mirror does not pick up the correct screen size but uses only the top left corner of my screen.

any ideas how to fix this?

[2016-10-01 11:28] MichMich commented on #463
Please use http://forum.magicmirror.builders for support. Closing this issue.

[2016-10-01 11:28] #463 closed

[2016-10-01 11:45] justme-1968 commented on #463
ok. will do.

please add autoHideMenuBar: true in js/electron.js also for kioskmode

[2016-10-01 12:10] MichMich commented on #458
For further support, please visit http://forum.magicmirror.builders.

[2016-10-01 12:10] #458 closed

[2016-10-01 12:11] MichMich commented on #421
Can you show some examples using screenshots. Also make sure you're running the latest version.

[2016-10-05 04:28] neelrahul opened #465 "There seems to be an issue with the Kiosk mode and going to fullscreen with Electron."
**Platform**: Raspberry Pi 3

**Node Version**: node --version  v6.7.0

**MagicMirror Version**: newer JavaScript version (v2).

**Description**:  Not getting full screen in "kioskmode" Instead I am getting the toolbar.

**Steps to Reproduce**: I set kioskmode: 'true' in the config.js. but electron would not set the window to kiosk mode, I still get the tool bar on the top and have to manually cli

[2016-10-05 18:24] MichMich commented on #465
The kiosk mode is not necessary when you're running on the PI. Is there a special reason why you're running in Kiosk Mode?

[2016-10-05 19:00] neelrahul commented on #465
Probably my lack of knowledge :). I was under the assumption that Kiosk Mode was if I didnt want any windows to popup on top of the MM screen.

[2016-10-05 19:00] #465 closed

[2016-10-09 23:11] kodejak opened #466 "Default calendar with https and self signed certificates"
Hello,
I'm new to MagicMirror and tried to get my calendar of a self hosted owncloud / nextcloud instance with self signed certificate.
It doesn't work out-of-the-box. So I decided to test this.

I had to change three files to get this work. Additional to pass a new calendar config entry from `calendars: []` to the call chain (parameters), I had to edit the file "calendarfetcher.js":

After line 2

[2016-10-11 21:33] MichMich commented on #466
Since this is an edge case, I will probably won't change this in the near future. Feel free to send a well documented pull request.

[2016-10-13 15:27] k9586kk opened #467 "mp3 play and notification"
i want mp3 music  play when i open magic mirror.
and I want to add a notification to the Magic Mirror.
please tell me method or advice.
i really want this function.
thanks for reading
have a nice day!

[2016-10-13 15:28] MichMich commented on #467
For support on the development of modules, please check: http://forum.magicmirror.builders.

[2016-10-13 15:28] #467 closed

[2016-10-13 18:13] BoxSo commented on #161
I ran into the same problem. Fresh install on rpi3 on latest raspbian. Is there any workaround available?

[2016-10-14 07:59] Jopyth commented on #161
In the meanwhile you could try using an older [version](https://github.com/electron/electron/releases) of electron, which does not have this bug? I.e. `npm install electron@1.3.1`.

[2016-10-16 18:29] NilanjPatel opened #471 "npm is not working"
![screen shot 2016-10-16 at 11 59 04 pm](https://cloud.githubusercontent.com/assets/8639339/19419781/9c65d398-93fc-11e6-92ef-92d138406473.png)

[2016-10-16 18:37] MikhaelGerbet commented on #471
Hi, when you do npm install, you is in your MagicMirror dir ?

[2016-10-16 18:39] MikhaelGerbet commented on #471
Try this :

    Cd MagicMirror && npm install

[2016-10-17 03:31] NilanjPatel commented on #471
oky... got it. i thought it's a same software package like others so i go in main directory and than try to install.  thanks buddy

[2016-10-17 03:59] thale13 opened #472 "Error: Invalid UNTIL value: 20160524T000000"
Not sure if this is just me or something else, but I am trying to connect a MagicMirror to my Cozi calendar (cozi.com) and I get that error with a Java stack trace.

Whoops! There was an uncaught exception...
Error: Invalid UNTIL value: 20160524T000000
    at Object.untilStringToDate (/home/pi/MagicMirror/node_modules/rrule/lib/rrule.js:210:19)
    at Function.RRule.parseString (/home/pi/MagicMirr

[2016-10-17 14:53] MikhaelGerbet commented on #471
no problème ;) close issue if it's resolved for you ;)

[2016-10-17 14:56] MichMich commented on #472
It has something to do with the "Until" date one of the events has. If you want me to take al look at it, could you send me the calendar feed? michael [at] xonay.com

[2016-10-17 15:17] MichMich commented on #471
I suspect this solves the issue, so I close it. Feel free to reopen.

[2016-10-17 15:17] #471 closed

[2016-10-19 13:11] Phil795 opened #473 "Socket.IO missing"
Hi,

after downloading the master branch, I get some Socket.IO exceptions.

It look like you forget to include the socket.io folder.

[2016-10-19 13:12] MichMich commented on #473
Did you run NPM install?

[2016-10-19 13:16] Phil795 commented on #473
Yes of course

[2016-10-19 13:17] MichMich commented on #473
Can you show me the console output when you run npm start?

[2016-10-19 13:21] Phil795 commented on #473
This is a complete and fresh copy of the project.

I am running npm in version 3.10.3

On Ubuntu 15.10

philipp@UBUNTU:~/Workspace$ git clone https://github.com/MichMich/MagicMirror MagicMirrorCopy
Klone nach 'MagicMirrorCopy' ...
remote: Counting objects: 4302, done.
remote: Compressing objects: 100% (17/17), done.
remote: Total 4302 (delta 4), reused 0 (delta 0), pack-reused 4285
Empfange Objekt

[2016-10-19 13:40] Phil795 commented on #473
I think the problem is grunt 1.*

Socket.IO. requires grunt ~0.4.0

[2016-10-19 13:42] MichMich commented on #473
Why are you using the php command?

[2016-10-19 13:43] MichMich commented on #473
Just start the app with: `npm start`. This application does not use php.

[2016-10-19 13:44] Phil795 commented on #473
Ahhh. Thanks man!

Im new in NodeJS, sorry

[2016-10-19 13:45] MichMich commented on #473
Enjoy. For further support, please use https://forum.magicmirror.builders

[2016-10-19 13:45] #473 closed

[2016-10-19 15:10] zydecat opened #474 "Weather config enhancements"
I would like to suggest a couple of minor enhancements that are configurable.

Firstly, with the Current Weather module, there is the option to display Beaufort Scale wind speeds, or the default data from openweather, which is in metres per second. Would it be possible to add a config option showing wind speed as kilometres per hour? I have forced the change on my mirror on occasion by changing th

[2016-10-19 15:12] MichMich commented on #474
Hi @zydecat, if you make these changes yourself and make them configurable, you can send a Pull Request so I can incorporate it in the next version.

[2016-10-19 15:32] zydecat commented on #474
Ok I will give that a go. Thanks!

[2016-10-19 21:26] berlincount commented on #270
Right now, I'm lacking a Confirmation Email to be able to use the Forum, after registering via Github.

Hmm.

I'm in Berlin with a 42" FullHD MagicTouchMirror, but would want a slightly different setup to what I've seen - I'd rather want to have something in the borders and corners instead of using screen real estate in the middle ...

[2016-10-20 03:27] Serubin commented on #145
Any update on the issue in the op? Seems the thread got a bit sidetracked ;)

[2016-10-20 07:07] MichMich commented on #145
Yeah the OP is solved a while ago. Had something to do with an older Electron version. Not relevant anymore.

[2016-10-20 07:10] Jopyth commented on #270
It probably sends the confirmation Email to your non-reply github email.

[2016-10-20 07:12] MichMich commented on #270
@berlincount I've manually validated your account.

[2016-10-21 06:33] gzpywei opened #476 "About the calendar"
in the config.js

                                calendars: [
                                        {
                                                symbol: 'calendar-check-o ',
                                                url: 'webcal://www.calendarlabs.com/templates/ical/US-Holidays.ics'
                                        }
                                ]
i want to use local "ics"

[2016-10-21 07:15] MichMich commented on #476
Local ics files are currently not supported. There are workarounds available. Please check https://forum.magicmirror.builders

[2016-10-21 07:15] #476 closed

[2016-10-22 17:32] blindarrow commented on #145
Still getting the issue on a Raspberry Pi 3. The auto-install script happens to mention this as well:

[code]

I then ran...

[code]
pi@raspberrypi:~/MagicMirror $ npm start

npm ERR! Linux 4.4.26-v7+
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "start"
npm ERR! node v6.9.1
npm ERR! npm  v3.10.8
npm ERR! code ELIFECYCLE
npm ERR! magicmirror@2.0.0 start: `electron js/electron.js`
npm ERR! Exit st

[2016-10-22 18:29] MichMich commented on #145
Could you give this repo a try to see if electron works at all? https://github.com/electron/electron-quick-start

[2016-10-22 22:34] blindarrow commented on #145
Same results it looks like:

[code]

Results from the npm-debug.log:

[code]

[2016-10-24 07:38] gzpywei opened #477 "about the newsfeed"
my XML file is use encoding gb2312 , so it display garbled
how to fix it
thanks

[2016-10-24 08:43] MichMich commented on #477
Read the newsfeed module documentation. You can specify the encoding.

[2016-10-24 08:43] #477 closed

[2016-10-24 18:29] paviro commented on #270
This thread is about the forum not the magic mirror software! If you need help go to said forum :) http://forum.magicmirror.builders

[2016-10-24 18:29] #270 closed

[2016-10-25 04:08] 136111394 opened #480 "how to change the greetings"
hello ,can you tell me how to change the greetings

hello beauty
you look sexy!
........

[2016-10-25 04:10] k9586kk opened #481 "how to show mouse"
i wnat see mouse and use the mouse
do you know method?

[2016-10-25 07:17] Sillec123 commented on #145
I have the same error with:
Pi2
electron-v1.4.4

npm ERR! node v6.9.1
npm ERR! npm  v3.10.8

node serveronly is running but PM2 not.

[STREAMING] Now streaming realtime logs for [all] processes
0|mm       | 2016-10-25T07:16:04.470Z INFO no settings file found, will only use default settings
0|mm       | 2016-10-25T07:16:05.644Z INFO Presets loaded: { example:
0|mm       |    { players:
0|mm

[2016-10-25 09:36] MichMich commented on #145
@blindarrow Please open an issue in the electron repository.
@Sillec123 Did you try? https://github.com/electron/electron-quick-start if not, please open an issue in the electron repository.

[2016-10-25 09:36] MichMich commented on #481
For support, please visit http://forum.magicmirror.builders.

[2016-10-25 09:36] #481 closed

[2016-10-25 09:37] MichMich commented on #480
For support, please visit http://forum.magicmirror.builders.

[2016-10-25 09:37] #480 closed

[2016-10-26 20:19] DeenABL opened #487 "Mobile app instead of raspberry pie"
Hey guys! can anyone please help me and tell me how can i run this code on a mobile instead of raspberry pie ?!

[2016-10-26 20:24] DeenABL commented on #487
Hey guys! can anyone please help me and tell me how can i run this code on a mobile instead of raspberry pie ?!

[2016-10-26 20:24] DeenABL commented on #487
@MichMich can  you please help me and tell me how can i run this code on a mobile instead of raspberry pie ?!

[2016-10-27 06:29] #487 closed

[2016-10-27 06:30] MichMich commented on #487
For support please visit https://forum.magicmirror.builders. Thanks!

[2016-10-28 19:13] baba-123 commented on #364
Thank you for you help. I was able to build my own magic mirror...Additionally I add a sensor to control the monitor, which will save power and also not overheat the system...

much appreciated..attached are some pictures

![img_20161028_080456](https://cloud.githubusercontent.com/assets/20071186/19819084/d405c970-9d07-11e6-9eae-5cf4918ba0e9.jpg)
![img_20161028_080509](https://cloud.githubusercont

[2016-10-29 15:12] leojoker opened #490 "Insert new modules in config.js"
Before I would like to thank you for excellent work! I'm from Brazil and maybe this translation is wrong ... I searched the forums but did not. I am unable to do any work module. Follow the instructions but seems to have something wrong. When you turn the program appears to set the screen file, config. js

[2016-10-29 15:16] MichMich commented on #490
For support please use: http://forum.magicmirror.builders

Thanks!

[2016-10-29 15:16] #490 closed

[2016-10-30 03:11] Tajno commented on #145
I've got the same issues, fresh installed OS, cloned your repo - but electonr does not work. Also the quick-start. I've receive the same messages like above.

Think we have to wait for a fix by electron.

[2016-10-30 07:18] Sillec123 commented on #145
It was a permission problem. Now everything works

[2016-10-30 14:10] Tajno commented on #145
Allright, I will have look at this. Do you have a hint which permissions caused the error? Thanks anyway for your feedback.

[2016-10-31 15:30] orff commented on #233
Instead f re-inventing the wheel, how about supporting http://masonjs.com

[2016-10-31 22:25] nigel-daniels commented on #472
I see the same issue with an iCloud calendar but I don not get a stack trace, the result I get is:

...
Whoops! There was an uncaught exception...
[Error: Invalid UNTIL value: 20160730T115959]
...

I can share my calendar URI if it helps, just let me know a DM route.

[2016-11-01 07:32] MichMich commented on #472
It's not a stack trace. It's a date which somehow doesn't work for the iCal Library. (20160730T115959)

You can send the calendar URI to michael [at] xonaymedia [dot] nl. Unfortunately I can't give you an estimation on when I can work on this issue, since I currently don't have much time.

[2016-11-01 16:21] nigel-daniels commented on #472
Ok, np this has been an issue for a while so no hurry.  If you prefer I can open the issue on the iCal library, I just did not realise it was the source of the defect.

[2016-11-01 17:38] gtg089x opened #493 "News Feed"
I was trying to change the rss from the default NYT. I made changes to the config.js, and the newsfeed.js module. Now in the magic mirror screen I am showing:

newsfeed
module_6_newsfeed

Tried reverting back to the default in both .js files, but still showing the same issue. Help appreciated!

[2016-11-01 17:42] MichMich commented on #493
For support please visit http://forum.magicmirror.builders

[2016-11-01 17:42] #493 closed

[2016-11-03 18:14] derbergbordesholm opened #496 "Weather won´t load"
Currentweather is always in Staus "loading" ... dont know why

 config: {

                                location: 'New York',
                                locationID: '2946321',  //ID from http://www.openweathermap.org
                                appid: 'YOUR_OPENWEATHER_API_KEY'
        }

[2016-11-03 19:12] #496 closed

[2016-11-05 07:02] titusece opened #499 "Black screen for copy of hellowold module"
Hello,
I have tried to create a new module in MM, for that I have copied helloworld module from "modules/defauls/helloworld" to "modules/Titus", I just renamed to 'Titus' as a module.

Then I changed the config.js file for a new Titus module.

I am getting black screen now for the Titus module, but just work fine for helloworld.
Why ? Any help ?
Just today I'm started to work on MM.

//Worked
/*

[2016-11-05 07:30] MichMich commented on #499
For support please visit http://forum.magicmirror.builders. Thanks.

[2016-11-05 07:30] #499 closed

[2016-11-05 14:29] titusece commented on #499
Thank you, sure.

[2016-11-06 17:08] Serubin opened #501 "Turning off Screen Blank Timeout"
Hi,
I've followed the instructions to disable screen blanking. But on the Pi Pixel image (using a pi2) it doesn't seem to disable properly.

Anyone find a solution?

[2016-11-06 17:19] MichMich commented on #501
Please use http://forum.magicmirror.builders for support. Thanks.

[2016-11-06 17:19] #501 closed

[2016-11-07 15:51] LukeSkywalker92 opened #502 "Disable screensaver - Wiki"
**Platform**: Raspberry Pi 2

**Description**: In the Wiki at [Raspberry Pi Configuration](https://github.com/MichMich/MagicMirror/wiki/Configuring-the-Raspberry-Pi) the line
`sudo nano /etc/xdg/lxsession/LXDE-pi/autostart`
should be changed to
`sudo nano ~/.config/lxsession/LXDE-pi/autostart`
to disable screensaver.

**Expected Results**: disable screensaver on Raspberry Pi 2

[2016-11-07 16:06] MichMich commented on #502
For support Please visit http://forum.magicmirror.builders   Thanks!

[2016-11-07 16:06] #502 closed

[2016-11-07 16:32] MichMich commented on #502
Fixed! For future issue: you can just edit the Wiki yourself. Thanks.

[2016-11-08 17:59] #474 closed

[2016-11-08 17:59] #421 closed

[2016-11-11 19:00] LukeSkywalker92 opened #511 "CSS-issue for third party modules"
**Platform**: all

**MagicMirror Version**: v2

**Description**: When a third party module defines a css-class, which is already defined in a default module, the default module uses the class of the third-party module (maybe it depends on which module comes first in the config.js file)

**Steps to Reproduce**: Example: define a .title class in a third party module -> default calendars title is aff

[2016-11-11 19:43] MichMich commented on #511
This is just the way css works. The best approach is to use namens like: `.mymodule-title`

[2016-11-11 19:43] #511 closed

[2016-11-15 18:34] StefanBols commented on #466
Hi @kodejak

You can't push code directly to this repo, without having developer privileges. Just fork the repo and make your changes and then submit a pull request:-)
If you want a quick and simple crash course, just say the word.

[2016-11-16 11:06] lolobyte opened #517 "New Function: Tageschau in 100 Sekunden"
please develop a new module to display in the middle of the magicmirror a stream from Tagesschau in 100 Sekunden by pressing a switch.

[2016-11-16 12:09] StefanBols commented on #517
Hi @lolobyte

Submit that request on the forum :-)

[2016-11-16 12:16] MichMich commented on #517
As said, support an feature request can be posted on http://forum.magicmirror.builders

Thanks!

[2016-11-16 12:16] #517 closed

[2016-11-16 17:27] paviro commented on #233
We would need jquerry and @MichMich is all for use the least dependencies possible, right? :D

[2016-11-16 18:07] MichMich commented on #233
Yeah, or at least stay away from jQuery. ;)

But honestly, I don't think this is worth the effort. If we put energy in something like this, i'd prefer implementing a templating system which would also solve this issue.

Implementing such a system makes it more difficult to learn, and harder to maintain.. So unless we find a simple and powerfull solution, I don't think this is something we should c

[2016-11-17 00:53] nhubbard opened #520 "Electron Prebuilt now named just "Electron""
The `electron-prebuilt` package is now named `electron`. Should we change it?

Source: http://electron.atom.io/blog/2016/08/16/npm-install-electron

[2016-11-17 00:59] nhubbard commented on #520
I will probably create a pull request to fix it.

[2016-11-17 01:05] nhubbard commented on #520
I'll reopen it for comments.

[2016-11-17 01:20] nhubbard opened #522 "Bots, Bots and More Bots"
I've been going through a lot of repositories lately. Quite a few of them had services enabled that made their contributors lives easier. Would any of these work for us?

* **[HoundCI](https://houndci.com/)** Uses the code review process to make sure that we can nip issues in the bud by commenting when something is non-compliant.

* **[Greenkeeper](https://greenkeeper.io/)** Checks the dependencie

[2016-11-17 01:21] nhubbard commented on #522
Also, @MichMich, I know that I already suggested Backstroke, but I think it's better now.

[2016-11-17 07:41] MichMich commented on #520
Not sure but I think it's already changed in the develop branch. If not please send a PR.

[2016-11-20 21:07] LionheartedLogan opened #531 ""DISPLAY=:0 npm start" error, MagicMirror 2 won't start."
Please only submit reproducible issues.

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)
Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.builders/category/10/troubleshooting](https://forum.magicmir

[2016-11-21 02:46] dgonano commented on #395
@MichMich, My calendar updates the days (3 days -> 2 days) at 12pm (midday) instead of 12am (midnight) for all-day events. Is it supposed to work like this?

[2016-11-21 04:30] jcbriones opened #534 "Calendar recurring events not showing up."
**Platform**: Raspberry Pi 2/3, Mac, Linux

**Node Version**: 6.9

**MagicMirror Version**: v2

**Description**: Calendar recurring events not showing up but instead just the first event when the day its held.

**Steps to Reproduce**: I'm using the iCloud calendar. Haven't tried google nor microsoft calendars.

**Expected Results**: Should show all the recurring events not only the first one

**Ac

[2016-11-21 10:00] MichMich commented on #534
Hi There, thanks for your report: please check the forum or open a topic to see if other run into a similar issue. If this is a reproducible issue by multiple users, we kan look into it.

http://forum.magicmirror.builders

Thanks!

[2016-11-21 10:00] #534 closed

[2016-11-21 10:01] MichMich commented on #395
@dgonano Honestly, I don't know ... :) You could check the moment.js documentation.

[2016-11-23 01:34] carruthjr opened #538 "Electron Won't load"
Hi. I've been working on the magic mirror and I finally got my RPi today. Then while I was working through the steps, the configuration confused me. I did
` cp config.js.sample config.js`
then
` mv config.js config`
Then when I tried to run electron it told me I had an error with the package.
Help?

[2016-11-23 03:21] carruthjr commented on #538
Basically, how do I move the config files on my Pi in order to make the mirror work?

[2016-11-23 08:24] MichMich commented on #538
The last step wasn't nessecery. You only have to do:
[code]

If you have any further questions, please visit the forum for support. http://forum.magicmirror.builders

[2016-11-23 08:24] #538 closed

[2016-11-23 08:25] #520 closed

[2016-11-23 15:50] carruthjr commented on #538
Thanks

[2016-11-27 04:13] shivanraptor commented on #215
As of the latest version on Raspbian Jessie on Raspberry Pi 3 , **Ctrl-Q** did the trick.

[2016-11-28 02:39] VikramTiwari opened #544 "Customizable Timezone"
Please only submit reproducible issues.

The time is derived using `moment-with-locale` which uses system default time. This results in proper time during development, but as soon as this code is uploaded to raspberry pi the system default (GMT) kicks in, and hence incorrect (to end user) time.

To fix this, we can use 'moment-timezone' which allows us to use moment and specify timezones as well.

[2016-11-30 15:16] chrisfoerg commented on #145
I also have the same problem on the current jessie lite and raspi 3.

I am working on a Mac with El Capitan and XQuartz as Xserver. If I am using ssh -X .... it is running without any problems. Maybe this helps.

[2016-12-01 16:32] alexiri opened #549 "Automatically reloading MM"
While developing a module, I wanted to be able to automatically reload the server and the browser when I made changes to the code. This was actually pretty easy to achieve, the changes to the code are really simple: https://github.com/alexiri/MagicMirror/compare/master...alexiri:reload

With that done, you can install [supervisor](https://github.com/petruisfan/node-supervisor) and then just run th

[2016-12-01 17:08] nhubbard commented on #549
@alexiri I like it. It would be fairly useful in development. Not sure if it would be useful in production, but it would be nice to work with it.

[2016-12-02 08:28] Jopyth commented on #549
This might be useful for development, but would be bad for production in my opinion. Therefore it should definitely be opt-in.

I am currently writing a modification tool for the `config.js`, (another use case is updating modules), and if the user changes the config.js or updates a module, it might not be expected for them, that the whole app restarts immediately (also this would render the GUI it

[2016-12-02 08:30] alexiri commented on #549
@Jopyth I agree, that's why I added a configuration parameter and set it to false by default.

[2016-12-02 08:42] MichMich commented on #549
I think the auto restarting should not be part of MM, for this there are perfect solutions like `supervisor`, `pm2` or `nodemon`. What might be interesting though, is to let the frontend automatically reload whenever the backend restarts. This way you can just run a monitored `serveronly` instance, and the frontend will automatically reflect the changed.

This can be easily achieved using the sock

[2016-12-02 09:08] alexiri commented on #549
I agree, and this is exactly what this commit does. The [reload](https://www.npmjs.com/package/reload) module lets the frontend detect when the backend has restarted and triggers a page reload.

I also suggested ```supervisor``` as the tool to restart MM, but that's independent of this change.

[2016-12-06 14:31] #522 closed

[2016-12-06 14:33] nhubbard commented on #544
@MichMich I believe we can close this issue.

[2016-12-07 14:10] nhubbard commented on #246
@KirAsh4 @MichMich Have we fixed this issue?

[2016-12-07 14:29] nhubbard commented on #233
@paviro @MichMich It would be slower anyway, yes? This idea would add more modules to the core, which would slow the system down... my mirror is slow as it is with all the modules on it, and it's running on a RPi3 that's overclocked!

[2016-12-08 00:12] D3rpi opened #557 "MM2 Crashes bluetooth audio"
**Platform**: Raspberry PI3

**Node Version**: 6.9.1

**MagicMirror Version**: V2

**Description**:  Running MM2 in server mode or normal mode crashes bluetooth audio. The bluetooth speaker will randomly stop playing while still being connected. The bluetooth module on the Pi will then become unusable until a reboot. I am using the inbuilt Pi3 bluetooth.

**Steps to Reproduce**: 1. Connect bluetoo

[2016-12-08 00:54] nhubbard commented on #557
@D3rpi This is leading me to believe that the amount of RAM in use is at fault. Could you try reducing the amount of modules running in your config file?

cc @MichMich

[2016-12-08 14:30] MichMich commented on #557
The modules don't use too much memory. It's probably Electron that uses a lot of mem.

@D3rpi Could you try running your Pi without MagicMirror for a few hours to check if it's MM related at all?

How did you configure your memory?

[2016-12-08 14:50] MichMich commented on #246
Not that i know...

[2016-12-08 15:20] D3rpi commented on #557
@michmich @nhubbard
I've had this issue for some time now. At first I thought it was something to do with pulseaudio/ bluez timing out the bluetooth speaker. Then I started with a new sd card and had a stable connection without disconnects. I've had the speaker stay connected for more than 24 hours without disconnects, but once I run MM2 the problem comes back.
Can someone with a bluetooth speaker

[2016-12-09 00:13] nhubbard commented on #557
@D3rpi I actually tried to do something like this. I eventually abandoned it due to the same issues that you were having: Bluetooth was routinely falling asleep.

[2016-12-10 20:41] berlincount commented on #472
ical.js seems to be pretty incomple, i.e. RRULE support doesn't implement UNTIL and the like properly. Maybe moving over to https://github.com/tritech/node-icalendar might be sensible?

[2016-12-11 15:03] yequnsong opened #561 "Cannot display Chinese charactors"
Platform: Raspberry Pi 2, Linux raspberrypi 4.4.36-v7+
Nodejs: 6.9.1-1nodes
MagicMirror: JavaScript version (V2)

Everything is ok except the Newsfeed. I configured a Chinese rss feed:
http://news.baidu.com/n?cmd=1&class=technnews&tn=rss
Then the news are displayed with messy code. Looks like now the MM  only support English language. I tried the encoding = 'UTF-8' and 'ISO-8859-1', both of them a

[2016-12-11 15:59] stantang986 commented on #561
It's not MM problem -- 百度rss的问题
Change other feeds, chinese will be ok for displaying

[2016-12-11 18:44] aschulz90 opened #562 "Differences between modules default values in the readme and the script file in branch develop"
There are some discrepancies between documented default values in the readme and the actual script file for some modules in the develop-branch (maybe master too, haven't checked):

### calendar:

Config Value | Readme | Script-File
------------- | -------- | ----------
Urgency | 0 | 7
titleReplace | None | `{"De verjaardag van ": "",	"'s birthday": ""}`

### alert

Config Value | Readme | Script-F

[2016-12-11 23:12] nhubbard commented on #562
@aschulz90 If you wish to address this, go ahead! I await your pull request. My recommendation is that you make the README values equal to the script file values. 👍

[2016-12-11 23:27] nhubbard commented on #561
@yequnsong I am able to replicate the issue. I *do* get the question mark characters, but even changing the language of the mirror or adding another locale does not change the fact that the characters are not shown properly.

Any thoughts, @MichMich? I'm out of ideas on how to fix this. Could it be our RSS parser?

[2016-12-12 23:25] berlincount opened #565 "Broken, unmaintained upstream "rrule" fails parsing calendar EXDATEs and UNTIL correctly"
MagicMitch² develop, Electron, Node 6.9.1, Ubuntu

When having a recurring Google Calendar event, e.g. 3 times daily repeat:

BEGIN:VEVENT
DTSTART;TZID=Europe/Berlin:20161213T060000
DTEND;TZID=Europe/Berlin:20161213T070000
RRULE:FREQ=DAILY;COUNT=3
DTSTAMP:20161212T231711Z
UID:0sjm1ra23qcop8taelg1fttu1k@google.com
CREATED:20161212T231602Z
DESCRIPTION:
LAST-MODIFIED:20161212T231624Z
LOCATION:
SEQUEN

[2016-12-13 01:46] D3rpi commented on #557
I logged by ram usage and didn't see a spike when the issue occured.

[2016-12-13 11:57] MichMich commented on #561
It's probably the font that doesn't have the right characters. Or it's an encoding thing. A bit of research is needed to fix this, preferably by a chinese native.

A PR is welcome! :)

[2016-12-13 12:00] MichMich commented on #472
Does node-icalendar also support calendars that are not apple? (google, exchange, etc ... ?)

[2016-12-13 12:27] berlincount commented on #472
"iCalendar" in this case means the RFC 5545, not the Apple product - so my educated guess is yes.

[2016-12-13 12:30] MichMich commented on #472
Ok, this might be interesting in the future. Feel free to send a PR.

[2016-12-13 14:16] MichMich opened #567 "NPM warnings when running npm install."
When installing the node dependencies, the installer ends with a warning:

[code]

This resulted in a lot of people thinking they were unable to install the application.

@nhubbard  Since this is a direct result of the linters, is this something you can look into? A PR solving this issue would be very welcome. (And I'd like to include this fix in the release of 2.1.0)

Thanks!

[2016-12-13 17:47] chamaeleon82 opened #568 "wrong age in calendar module..."
hi,

I´ve created google calendar as a birthday calendar. Birthday is created as an appointment (whole day, repeat every year). Start date is the birthday and year of birth.
My problem is that the display of age is a year less. So instead of 35 years old only 34 is displayed (E.g. March 22th.).
![wrong_age_calendar_module](https://cloud.githubusercontent.com/assets/21147588/21152593/3f5a3426-c167-

[2016-12-13 21:50] berlincount commented on #472
Costed through a lot of the rrule code and forks, and it's a mess. Reasonably simple ical.js using a horribly complex library.

[2016-12-13 22:58] berlincount commented on #565
This issue might be specific to Google Calendar. Hmmm. Still, the format gets parsed wrong, it seems.

[2016-12-13 23:16] nhubbard commented on #567
@MichMich This is a slight concern of mine. From what it appears, the packages have peer dependencies, which npm versions greater than 2 will warn you about. To fix this issue, all our npm install commands need to have the `--loglevel error` flag on them, which according to [here](https://docs.npmjs.com/misc/config) implies that only errors will trigger logging. Either that, or we can add an insta

[2016-12-14 09:06] MichMich commented on #568
That's odd. I suggest discussing this issue on the forum: http://forum.magicmirror.builders

[2016-12-14 09:09] MichMich commented on #567
Send me a PR with your personal favourite ;) The loglevel seems like a good idea. For most users, the warnings are unimportant.

[2016-12-15 01:00] nhubbard commented on #562
@MichMich @aschulz90 Should we close this issue now?

[2016-12-15 01:04] nhubbard commented on #557
@D3rpi Yeah, I looked at my notes, and PulseAudio was routinely setting the Bluetooth sink to sleep even if told explicitly not to. I eventually stopped trying after pulling all my hair out and then some (ouch). If you want an alternative, you can use the PiMusicBox distribution to put an interface for audio on top of the MM. It doesn't have Bluetooth, but it *does* have TuneIn Radio. The RPi just

[2016-12-15 01:06] nhubbard commented on #557
@D3rpi Also, the RPi 3 Bluetooth works, so PulseAudio seems to be the only connected factor.

[2016-12-16 02:47] nhubbard opened #570 "Mirror Freezing"
**Platform**:
* **Electron** Latest
* **Node** Latest
* **Raspberry Pi 3**

**MagicMirror Version**: Version 2

**Description**: Over a small amount of time after starting, the mirror will work fine until seemingly random intervals of time occur, in which the mirror freezes, along with the host OS. This also disallows SSH until the system is hard reset.

**Steps to Reproduce**: Using a stock Raspb

[2016-12-16 13:54] nhubbard commented on #246
@MichMich @KirAsh4 I looked at my mirror (it is up to date) and the time changed accordingly. I think this can be closed.

[2016-12-16 13:58] nhubbard commented on #570
I have checked the snow module, and it does still freeze without it.

[2016-12-16 14:33] roramirez commented on #570
Hi @nhubbard

What is snow module?

[2016-12-16 15:11] Jopyth commented on #570
@roramirez Can be found here: https://github.com/nhubbard/MagicPlugins/tree/master/snow

[2016-12-17 18:41] mrvanes opened #571 "Can't access module public folder"
I've created a copy of HelloWorld module called pvoutput and created a sub directory public in which I created a file test.txt. I assumed this file would be available on localhost:8080/pvoutput/test.txt but all I get is a "Cannot GET /pvoutput/test.txt".

[2016-12-18 00:17] fry0815 opened #573 "Module CurrentWeather"
The module is not loading, if the given temperature from openweather.org is zero (0).
The problem is the check in line 221:
[code]
If `data.main.temp` is 0, it goes to `return`. Yeah you are right, it needs a better check. :)

For example i fixed the problem like this:
[code]

I hope this will help you.

[2016-12-18 12:17] Jopyth commented on #571
Try `localhost:8080/modules/pvoutput/test.txt` or `localhost:8080/modules/pvoutput/public/test.txt`.

Also for development support, a thread in [the forum section for development](https://forum.magicmirror.builders/category/6/development) instead of an issue on github might be better.

[2016-12-18 16:08] roramirez commented on #573
@fry0815  Why dont send a Pull Request fixed this situation?.

The new contributions are welcome :)

[2016-12-18 16:53] jakovalck opened #574 "Birthday Calendar"
I would like to add custom birthdays to the calendar module like I could in the first magic mirror. Ive tried a couple things and cant get it to work. Is there a certain place that i need to enter the data, and a format that has to be used to get them to show.

[2016-12-18 17:34] roramirez commented on #574
Hi @jakovalck

This kind of question or support, please will ask into the forum
https://forum.magicmirror.builders/

The issues here is more related improvement, new feature or  bugs into MagicMirror.

[2016-12-18 17:36] jakovalck commented on #574
Ok Thanks

[2016-12-19 03:58] mattcarrier opened #575 "Electron fails to start due to missing libgtk dependency"
Raspberry PI 3

1. Installed Raspbian Jessie Lite
2. Ran magicmirror curl install
3. Ran start command as listed below

Raspbian Jessie Version
[code]

latest sha: b8167f89e54a71a697cc1e25e2b524ce95a410a5

[code]

[2016-12-19 04:54] mattcarrier commented on #575
I installed raspberrypi-ui-mods, libxss1, libnss3 and now have the following problem.  Is NOOBS or Raspbian with Pixel required, did I miss that somewhere in the docs?

[code]

[2016-12-19 07:48] mrvanes commented on #571
That worked, and thx for the link to the forum! Will pick up furthere inquiries there!

[2016-12-19 07:48] #571 closed

[2016-12-19 08:14] fry0815 commented on #573
@roramirez I dont know, I'm new in this situation on a public project. I try to do this at home.
Thank you :)

[2016-12-19 09:25] MichMich commented on #575
Jessie Lite is not officially supported. For support on this matter, please visit the forum: http:/forum.magicmirror.builders

[2016-12-19 09:27] #574 closed

[2016-12-19 09:28] MichMich commented on #570
Make sure you use a powerfull and stable powersupply. Try an other one to see if that solves the issue.

[2016-12-19 09:30] #562 closed

[2016-12-19 18:03] mattcarrier commented on #575
@MichMich thanks for getting back to me.  That's fine, I was unable to find anything that explicitly states what is required as far as OS dependency.  Anything you would be able to point me to?

[2016-12-20 09:03] dinkybluebug opened #576 "deleted weekly reoccurring calendar items still showing in calendar"
**Platform**: RPI 3

**Node Version**: 6

**MagicMirror Version**: 2

**Description**: Weekly recurring calendar items that have been deleted, are still showing in the calendar - which is odd as when I view my icloud calendar in my phone, my partners phone, online, and in outlook the items are not there.  But they are definitely showing still in my magicmirror calendar.

Ive restarted - but this d

[2016-12-20 11:00] MichMich commented on #575
Check out the regular Raspbian OS (so not the light version)

[2016-12-20 11:33] roramirez commented on #576
When you download the calendar by url the events are still there?

[2016-12-20 15:58] paviro commented on #575
Or try:
sudo apt-get install raspberrypi-ui-mods

[2016-12-20 16:01] paviro commented on #575
Looks like you also need:
sudo apt-get install xinit
Probably easier to do as Michael said 😊

[2016-12-20 18:00] FatBasta commented on #576
I have the same issue.

Platform: RPI 3
Node Version: 6
MagicMirror Version: 2
Ical from google calendar

It seems that if you have a recurring event and remove one from the middle, it still shows in the mirror.
For example a recurring event for weeks 18 - 25, and you delete week 23, google calendar no longer shows it, but the mirror still does.

[2016-12-20 22:21] dinkybluebug commented on #576
Yes that's what's happened to me. One event in the middle of a reoccurring appointment was deleted but it still shows on mirror - even though Apple calendar doesn't show it

[2016-12-20 22:50] roramirez commented on #576
Hi!, some way to debug the problem is what happend with data into url you called. Maybe the events still there and flagged "deleted" or something like data.

I think a good way is downloaded the file .ical the moment this happend.

[2016-12-21 01:30] roramirez commented on #570
Thanks @Jopyth

I 'm testing  the snow module. It's very funny for the time ... well I'm in the other side of world. Here dont snow at this time of year.

@nhubbard I sent a PL for getting the  images from local side. Maybe could be this.

[2016-12-22 22:53] raspberrysauce opened #577 "electron.js issue"
I keep getting the following error when trying to run my MM. I've updated everything multiple times.

pi@HamsMagicMirror:~/MagicMirror $ npm start

npm ERR! Linux 4.4.38-v7+
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "start"
npm ERR! node v7.3.0
npm ERR! npm  v3.10.10
npm ERR! code ELIFECYCLE
npm ERR! magicmirror@2.0.0 start: `electron js/electron.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! F

[2016-12-23 18:32] nhubbard commented on #570
Yeah, I fixed it. Turns out forgetting to install the new dependencies won't break it, but will make it freeze constantly. :-1:

[2016-12-23 18:32] #570 closed

[2016-12-23 18:32] nhubbard commented on #570
It hasn't frozen for about 8 days now.

[2016-12-23 18:35] nhubbard commented on #577
@raspberrysauce Which RPi are you running? One, two, or three?

[2016-12-23 18:41] raspberrysauce commented on #577
Pi 3!

On Dec 23, 2016 1:35 PM, "Nicholas Hubbard" <notifications@github.com>
wrote:

[2016-12-23 22:09] jayrod commented on #577
I am getting the same error messages using Pi 2 Model B v1.1
node v6.9.2
npm v3.10.9

[2016-12-24 06:12] jayrod commented on #577
I also have the same problem on my Pi 3 Model B with the same build process.

[2016-12-24 15:35] roramirez commented on #577
Maybe related with #575

[2016-12-24 17:24] frdteknikelektro commented on #577
I'm just trying MagicMirror2 few days ago, and have same problem.
Okay, here is my temporary solution on commit b8167f8 (Sep 20) master branch. Hope this will fix on new commit.

If you install it from curl, and failed,
[code]
Change grunt dependency
[code]
reinstall dependency, and then built electron
[code]
this will take a long time, and finally
[code]

[2016-12-24 17:50] jayrod commented on #577
My issue is fixed. Raspian lite doesn't come with x11 installed :/  so no gui means no worky.

[2016-12-24 23:08] Dom1n1c opened #578 "Wheater Forecast can not be proxied"
All Addons, that i use, can be proxied using nginx, to use the mm on another device, or to access it from another site.
But: the Weather Elements won't load behind nginx.
Maybe there are some paths that need to be adjusted within the mm installation?

Thanks.

[2016-12-25 11:13] MichMich commented on #578
There currently is no proxy support. Feel free to send a PR.

[2016-12-25 11:13] #578 closed

[2016-12-25 16:42] Dom1n1c commented on #578
The ApiBase needs to be proxied in order to allow https access.
This could be done via nginx or similar.
Then you just need to change the apibase in the two configs for current and the weather forecast,

apiBase: "https://nginx.de/openweathermap/",
which will serve the API via https

[2016-12-28 21:34] henglert commented on #568
As I wrote in the forum:

`--- a/modules/default/calendar/calendar.js
+++ b/modules/default/calendar/calendar.js
@@ -126,7 +126,7 @@ Module.register("calendar",{
                                repeatingCountTitle = this.countTitleForUrl(event.url);

                                if(repeatingCountTitle !== '') {
-                                       var thisYear = new Date().getFullYear(),
+

[2016-12-29 04:45] HungoverRex opened #581 "MagicMirror v2 - electron js/electron.js [sh: 1: electron: not found]"
**Platform**: Raspbian installed from NOOBS running on Raspberry Pi 3

**Node Version**: v7.3.0
**NPM Version**: v3.10.10

**MagicMirror Version**:  v2

**Description**:
Cannot get MagicMirror to start up, I keep getting the error shown in the image attached. I have updated my node version and believe my NPM an acceptable verison.

**Steps to Reproduce**: List the step by step process to reproduce

[2016-12-29 10:49] MichMich commented on #568
Please send  PR. Thanks!

[2016-12-29 10:50] MichMich commented on #581
Please use the forum for support questions like this: http://forum.magicmirror.builders

Thanks.

[2016-12-29 10:50] #581 closed

[2016-12-29 12:07] qistoph commented on #466
Accepting self-signed certificates blindly poses a security risk. It would be like not using HTTPS at all and any data transmitted over the connection can be manipulated or intercepted.

I would suggest you to try and get a proper certificate. Have a look at [Let's Encrypt](https://letsencrypt.org/) for a free certificate that is properly signed and authenticated.

If MichMich thinks the way forwa

[2016-12-29 16:01] BlockiceI opened #583 "Problem with installation"
Hey guys :)
I am very new to this hole Raspberry Pi thing and especially the MagicMirror...
Sadly i don't know much about programming which is why i cant resolve my probleme without help...

When i try "npm start"
i get an error which is:
 magicmirror@2.0.0 start /home/pi/MagicMirror
 electron js/electron.js

npm ERR! Linux 4.4.34-v7+
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "start"
npm ERR!

[2016-12-29 19:01] #583 closed

[2016-12-31 11:32] morozgrafix commented on #576
I believe skipped recurring events (ones that have EXDATE timestamp) aren't skipped in ical.js https://github.com/peterbraden/ical.js/issues/75 which leads to problem in rrule dependency (which may be unmaintaned).

Here is a part of my ics file that has 2 skipped events from the recurring series. They still show up in MM (note the EXDATE values for 12/24 and 12/31 which were "deleted" events):
[c

[2017-01-01 23:55] njwilliams commented on #472
The regular expression in rrule.js requires there to be a trailing 'Z' at the end of the datestring, even though it's not required. If there is no 'Z' at the end of the string then this library will throw the exception. You can fix this by making the Z optional (i.e. add an '?' character after the Z) on line 207 of node_modules/rrule/lib/rrule.js.

[2017-01-02 11:18] bjornarfonn opened #587 "ipWhitelist - cant be whitelisted"
After updating to v2.1.0, i cant access this from remote location anymore. Normally accessing devices via VPN to home network, but gives me the default error message on the MM pi.
Also tried adding the IP from remote location without success.
Simply adding "::" or "0.0.0.0" in config.js doesnt give me access to it.. VNC works, so its running fine on localhost

Is there a way to disable this featur

[2017-01-02 12:04] MichMich commented on #587
Check your node console output, it should show the blocked ip.

[2017-01-02 12:22] bjornarfonn commented on #587
Access denied to IP address: ::ffff:10.8.0.6
(VPN adds the extra number "8" on my local ip pool)
But even trying to add "::ffff:10.8.0.6" or "10.8.0.6" its still displaying the same msg,

[2017-01-02 15:12] roramirez commented on #587
You need add `::ffff:10.8.0.6` . Will not work if only put the Ip address in IPV4 format.

[2017-01-02 15:50] bjornarfonn commented on #587
Tried this. And tried on my normal local network using ::ffff:10.0.0.(my device) and ::ffff:10.0.0.2/100 to make all local devices whitelisted, still nothing. Could this be a router issue? Otherwise, i dont know what else to try..

[2017-01-03 22:13] DRAZINED opened #593 "MM Freezes up after ......."
I stumble with these MMirror projects and got hook..........I had to have one. Period, so my many thanks to the community.

Project config/set up was fairly easy ....just a matter of careful reading.

My Variables:
RB Pi 3
Install: 2016-11-25-raspbian-jessie
Modules: Defaults, Email Notification, MM Globe,

My issue: after rebooting MM goes frozen (after 8-11 min)
No scrolling  (RSS) and or Calend

[2017-01-03 22:24] roramirez commented on #593
Hi @DRAZINED

If you desactivate the modules Email Notification, MM Globe or other not included into default modules still happen?

[2017-01-03 22:45] DRAZINED commented on #593
If you deactivate the modules Email Notification, MM Globe or other not included into default modules still happen?: Yes, I ran it on its original version and froze up regardless.

[2017-01-03 23:10] roramirez commented on #593
Read this #570
Sometime is problem with dependencies or power supply.

[2017-01-03 23:54] DRAZINED commented on #593
Safe to say a "known issue" then?
I don't want to trash it, it came out nice and already have a place to display it (heartbroken !)

[2017-01-04 07:57] MichMich commented on #593
My best guess is that it's your power supply. Had the same issue a few times.

[2017-01-04 08:32] xdker commented on #587
`ipWhitelist: ["127.0.0.1", "::ffff:127.0.0.1", "::1","192.168.99.103","192.168.99.202"],`

`Access denied to IP address: ::ffff:192.168.99.202
Access denied to IP address: ::ffff:192.168.99.202
Access denied to IP address: ::ffff:192.168.99.103
Access denied to IP address: ::ffff:192.168.99.103
`

why?

[2017-01-04 08:46] bjornarfonn commented on #587
@xdker; was able to get access following some advice from the forum.
ipWhitelist: ["::fff:0.0.0.0/1", "::fff:0.8.0.0/1", "::fff:128.0.0.0/2", "::fff:192.0.0.0/3", "::fff:224.0.0.0/4", "127.0.0.1", "::ffff:127.0.0.1", "::1"]

This bacially allows all variations of IP pools to access the mirror. Im comfortable with having MM accessible on my network. So if you feel the same way, please copy and add

[2017-01-04 08:46] #587 closed

[2017-01-04 12:09] ManikandanET opened #595 "how many module can add with magic mirror at a time, bcz i want to add default and camera, music , voice command and my custom module is it possiable add this all modules...? i tryed but only 8 module is run there is any way run the all module"
Please only submit reproducible issues.

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)
Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.builders/category/10/troubleshooting](https://forum.magicmir

[2017-01-04 18:09] DRAZINED commented on #593
Ok, so I remove the "compliments" from config file, RSS no longer static (scrolling w/o stopping), however not updating as desired.

??

[2017-01-05 02:42] morozgrafix commented on #595
It maybe worth opening a topic on forum.magicmirror.builders instead of filing an issue here

[2017-01-05 08:31] Jopyth commented on #576
Related issue and another example: #565

[2017-01-05 17:31] roramirez commented on #595
@morozgrafix  you're right.

The number of modules running is relative, The use of CPU or resource need for run for every these. So, is difficult determinated the "numbers" of module can be run. Other factor is the system you are using.

If you have a determinated issue or more details problem, some light, if dont run the modules -wrong configuration, crash the system, some working wrong, etc.. is

[2017-01-06 02:42] DRAZINED commented on #593
Solved!
Removed "compliments" and teak up RSS weather and RSS ".js" files.

[2017-01-06 02:43] #593 closed

[2017-01-06 13:51] roramirez commented on #593
That's interesting. Did you use compliments from remoteFile?

[2017-01-06 14:09] nhubbard commented on #595
#close @MichMich

[2017-01-06 14:12] nhubbard commented on #575
We now have an official guide to installing on Jessie Lite [here](https://github.com/MichMich/MagicMirror/wiki/Jessie-Lite-Installation-Guide). I highly recommend that you use that if you want to use Jessie Lite.

[2017-01-06 14:13] nhubbard commented on #573
@fry0815 I can make a pull request if you wish to allow me to.

[2017-01-06 15:37] DRAZINED commented on #593
Default modules, non server configuration

[2017-01-06 15:38] DRAZINED commented on #593
My appreciation; too many modules maintaining RAM busy.

[2017-01-06 16:51] roramirez commented on #568
Hey @MichMich  this issue need be closed.

[2017-01-06 20:43] dolanmiu opened #602 "[Proposal] config.js should be config.json"
I am unconfortable with these lines in the config.js file: https://github.com/MichMich/MagicMirror/blob/master/config/config.js.sample#L81-L82

[code]

This will be resolved if the config file is correctly and aptly named `config.json`

Just to be clear, `.js` aka `JavaScript` files contain **logic**, `.json` files only contain data, and should be used for configuration.

[2017-01-06 22:07] roramirez commented on #602
Hi @dolanmiu

The json format is not powerfull like a dict in Javascript. The design to use js file versus a json file have you sense. Please [read this](572), there are a lot explain why dont use a json file

[2017-01-06 23:32] #568 closed

[2017-01-07 02:05] dolanmiu commented on #602
you can also have javascript dict in `.json`

[2017-01-07 10:26] 96Octavian commented on #145
Hi guys, I had this exact issue since this morning: make sure you have libgconf-2-4 and libxss1. I don't know how I figured this out but I installed those two and know in my RPi 2 MagicMirror runs perfectly

[2017-01-07 23:07] issagak commented on #215
Thanks Paviro

[2017-01-08 00:04] nhubbard commented on #602
@dolanmiu I also agree with @roramirez for another reason. Node likes to cache static JSON files, which makes Node forget that they have changed. This makes configuration very tough to fix if there is an issue. The only way that I have found to fix this is to export a JSON object from a JavaScript file. I get that it bothers you, but even if we did change it, this would require every module to hav

[2017-01-08 04:40] mzawlocki commented on #577
Thank you @frdteknikelektro. This fixed my issue.

[2017-01-08 05:11] raspberrysauce commented on #577
I realized it doesn't work through SSH. When I ran it directly from the pi
terminal it worked just fine
Very strange ! For now , I'm going to continue running it directly .

On Jan 7, 2017 11:40 PM, "mzawlocki" <notifications@github.com> wrote:

[2017-01-08 15:41] frdteknikelektro commented on #577
Seems like new release [v2.1.0](https://github.com/MichMich/MagicMirror/releases/tag/v2.1.0) has fixed this issue, better to close this issue. Happy new year! (?)

it says

[2017-01-08 17:03] RBM-PITT commented on #577
Does anything have to change in the install to include the new release - I did an install yesterday using the jessielite install guide, it installedl the new 2.1.0; yet I'm getting this ELIFECYCLE error on electron.js

[2017-01-08 19:31] roramirez commented on #577
@RBM-PITT Are you try this guide [Jessie-Lite-Installation-Guide](https://github.com/MichMich/MagicMirror/wiki/Jessie-Lite-Installation-Guide)?

[2017-01-08 19:33] roramirez commented on #577
... and ... please check this comment https://github.com/MichMich/MagicMirror/issues/145#issuecomment-271075358

[2017-01-08 21:30] bh commented on #602
:-1: for JSON because there is no support for comments unless you use https://hjson.org/.

[2017-01-08 22:52] RBM-PITT commented on #577
Roramirez - thank you for the reply. Yes - I used the Jessie-Lite-Installation-Guide.

I read the comment #145 and decided to try the full install from this tutorial:
https://forum.magicmirror.builders/topic/236/complete-setup-tutorial

I was successful getting it to run with the full install. I look forward to learning more about this application and building my magic mirror!

[2017-01-08 23:56] roramirez commented on #577
@raspberrysauce through SSH you need run
`DISPLAY=:0 nohup npm start`

So, this issue it seems need to close.

[2017-01-09 00:29] dolanmiu commented on #602
@bh Why would you want comments in the config? Isn't the documentation enough?

For example, if I want to configure something, I would refer to the documentation, README, Wiki, or help pages. I would not look at a comment

[2017-01-09 00:52] roramirez commented on #602
@dolanmiu Hey, there a lot other technical stuff in pro for use a config like we use versus a JSON.  Asignate properties, functions, callback, "exotic content",  etc..

If you have a technical pro of JSON format can be send us a list about this, the "unconfortable" thing  is not a valid argument to me.

In the previous link I sended you before.  There a lot arguments why dont use a JSON format int

[2017-01-10 09:03] mrvanes opened #606 "New 3rd party module"
I've created a pvoutput.org module. How do I get this mentioned in the 3rd party module wiki?
https://github.com/mrvanes/MMM-PVoutput

I already mentioned it on the forum:
https://forum.magicmirror.builders/topic/1218/pvoutput-widget-module

[2017-01-10 09:20] qistoph commented on #606
You can just edit the Wiki-page yourself, by clicking the Edit button on the page.

https://github.com/MichMich/MagicMirror/wiki/Home/_edit

[2017-01-10 09:22] fry0815 commented on #573
Oh sry, atm i have no time. @nhubbard yes can do it! Thank you! :)

[2017-01-10 13:20] mrvanes commented on #606
Duh...

[2017-01-10 13:20] #606 closed

[2017-01-10 18:55] MichMich commented on #602
I think other explained it. It will not be a json file due to the limitations of JSON.

Feel free to reopen if you have additional questions.

[2017-01-10 18:55] #602 closed

[2017-01-10 18:55] #595 closed

[2017-01-10 18:56] MichMich commented on #576
Somebody willing to send a PR?

[2017-01-10 18:56] #575 closed

[2017-01-10 18:57] #573 closed

[2017-01-10 18:58] MichMich commented on #567
@nhubbard Still willing to fix this? :)

[2017-01-10 18:58] MichMich commented on #565
Somebody willing to send a PR? :)

[2017-01-10 19:05] roramirez commented on #573
Hi @MichMich, I think this issue need stay open ;)

[2017-01-11 06:11] Jyrol opened #610 "Please Create a config file"
While following the steps, I enabled the auto-start of the mm app using pm2. But I forgot to rename the sample config file beforehand. So now I'm stuck on the "Please create a config file", but I don't know how to access the desktop because the mm app is full screen and if I alt-F4 out of it, pm2 kicks it back up preventing me from accessing the console. Any idea?

[2017-01-11 06:18] #610 closed

[2017-01-11 06:18] Jyrol commented on #610
I was being dumb. Sorry.

[2017-01-11 09:21] 3vidar opened #611 "Analog Clock face got scrambled"
Hi,
After the update to V2.1.0 it got scrambled analog clock face. I resize analogSize to 150px and 300px and then it looks nice but after one day its again scrambled. Before the update i had 550px and it was fine. I disabled also all modules beside the analog clock and nothing changed, my analog face is still scrambled. I tested other faces and all are also scrambled. Someone know why this happen

[2017-01-11 23:50] nhubbard commented on #567
@MichMich Sorry, exams have got me looking left, right and center on studying. I'll try to get to it this weekend if I have time.

[2017-01-12 04:45] deadherring commented on #404
@MichMich please explain your comment "the news item will be repeated until they are outdated anyway".what makes it outdated? I am finding that news items stay (so far up to 20 days) and the news feeds do not update.  Please explain if I am doing something wrong, I can't get answers in the forum.

Thanks!

Nathan

[2017-01-12 18:53] MichMich commented on #611
It seems to work fine here ... could you share thes cononfig section of your clock module so I can try it?

[2017-01-12 18:54] MichMich commented on #576
Please continue the discussion in #565

[2017-01-12 18:54] #576 closed

[2017-01-12 18:57] MichMich commented on #557
This seems as a PulseAudio to me. Since it's hardware related., there is not much we can do. Feel free to reopen if nessecery.

[2017-01-12 18:57] #557 closed

[2017-01-12 18:57] MichMich commented on #549
pm2 is now part of the install script. pm2 allows auto restarting. (check the docs of pm2 for more info)

[2017-01-12 18:58] #549 closed

[2017-01-12 18:58] #544 closed

[2017-01-12 18:58] MichMich commented on #472
Continue in #565

[2017-01-12 18:58] #472 closed

[2017-01-13 09:41] berlincount commented on #565
Willing, yes, able anytime soon, no ;)

https://www.npmjs.com/package/rrule-alt is the replacement package for rrule, and basically rrule with a few open PRs merged and someone maintaining it. It should be a drop-in replacement that already fixes some issues, but not all of the mentioned ones.

Recommended course of action is writing test cases against rrule-alt (or otherhow ensure the mentioned i

[2017-01-13 09:59] 3vidar commented on #611
Hi, thats my config part for the clock module:
`{
			module: 'clock',
			position: 'top_center',
				config: {

							displayType: 'analog',
							analogSize: '300px',
							analogFace: 'face-001', // options: 'none', 'simple', 'face-###' (where ### is 001 to 012 inclusive)
							analogPlacement: 'right', // options: 'top', 'bottom', 'left', 'right'
							analogShowDate: 'bottom', // options:

[2017-01-13 22:38] NewRasNoClue opened #618 "Using Magic Mirror in Landscape, Weather forecast is too wide"
I'm new to all of this.

I was able to set up and configure my magic mirror how i want it. I am using my screen in landscape. The only problem is that the default weather forecast table is too wide. I assume this is due to the landscape orientation width ratios.

How do I make the weather forecast table more narrow/tight?

I left it positioned top_right.

[2017-01-14 13:51] nhubbard commented on #618
@NewRasNoClue Do you know how to use the custom CSS file? If so, I can tell you how to expand the top_right container.

[2017-01-14 18:17] MichMich commented on #618
Yeas, check out the css file like @nhubbard says.

[2017-01-14 18:18] MichMich commented on #611
could you try it without your custom.css?

[2017-01-14 18:35] MichMich commented on #565
I switched to `rrule-alt` in the `develop` branch. Please let me know if this works for you. Make sure you run `npm install` after pulling the latest commits.

[2017-01-14 18:37] 3vidar commented on #611
Hi,
I try it without my custom.css, but the clock looks the same. I try it also to fetch and reset again but its still the same.

[2017-01-14 21:24] NewRasNoClue commented on #618
I do not know how to use the custom CSS file for this. Can you reference an example, or explain? Thanks!

[2017-01-15 11:06] MichMich commented on #618
In the file: `css/custom.css` put something like:

[code]

[2017-01-15 11:08] #567 closed

[2017-01-15 11:09] MichMich commented on #466
Since I don't think anyone will work on this, I close this issue for now. Feel free to reopen.

[2017-01-15 11:09] #466 closed

[2017-01-15 11:11] MichMich commented on #404
It will just repeat the items in the RSS feed. So if the RSS feed if updated (with old stories removed), they won't show up anymore.

[2017-01-15 11:12] MichMich commented on #357
I close this issue for now. Feel free to reopen.

[2017-01-15 11:12] #357 closed

[2017-01-15 14:27] NewRasNoClue commented on #618
@MichMich that worked! thanks!
the table is narrow now, it is aligned toward the middle, rather than the right side.
any tips on how to fix it so that it is aligned against the far right?
thanks!

[2017-01-15 18:32] MichMich commented on #611
Ah, indeed... got the same issue in Electron. Not in Safari.

[2017-01-15 18:40] MichMich commented on #611
I just pushed a fix to the `develop` branch. Goed you give it a try?

NB. Make sure you run `npm install` after pulling the develop branch, since it needs some new node modules.

[2017-01-15 19:04] 3vidar commented on #611
You're a genius!!!! It works know like a charm. Thank you for your help and work!

[2017-01-15 19:05] MichMich commented on #611
Cool, thanks for testing.

[2017-01-15 19:05] #611 closed

[2017-01-15 20:55] NewRasNoClue commented on #618
I had a MMMstocks in the top right position. it was controlling the width of the top right region.
for now i removed the stocks and the region looks cleaner.
but for future reference, how do i set the module to align to the right of the region rather than to the left?

[2017-01-17 10:00] MichMich commented on #618
There are many ways to accomplish that with each their own pros and cons.
Take a look at some online css tutorials to know more about this topic, since it isn't MM specific.

I close this issue for now. Feel free to reopen.

[2017-01-17 14:35] tosti007 opened #626 "Newsfeed README video link broken"
In the README.md file of the default newsfeed module there are references to `[VIDEO]`. However this variable is not set anywhere, so no video link is displayed. I do not know to where it is supposed to link to so I could not change it myself. Anyone who does?

[2017-01-17 16:25] MichMich commented on #626
No idea ... just send a PR where you remove the [VIDEO] 👍

[2017-01-17 16:25] #626 closed

[2017-01-17 16:25] #618 closed

[2017-01-17 17:21] deadherring commented on #404
@MichMich Sorry if I'm being dense, but I'm not following.  Right now my MM news feed does not update.  It is showing news headlines from 20+ days ago.  If I reboot the pi it will update the headlines for a few days and then display old headlines going forward.

Is that expected behavior?  A bug?  Something in the way I've configured it?

Thanks,

Nathan

[2017-01-17 18:42] MichMich commented on #404
Maybe this helps for you? https://forum.magicmirror.builders/topic/1429/mmm-newsfeed

[2017-01-17 20:59] deadherring commented on #404
@MichMich Cool, I'll give that a try.  BTW, thanks so much for developing and releasing the software.  Everyone who sees my MM goes googly eyed.  Somehow my wife agreed to let me cut a hole in the bathroom wall and install it so it's flush with the wall and it came out great (I have a woodworking shop in my basement so I was set on the woodworking side).  Here's how it came out, if you are interes

[2017-01-18 08:14] MichMich commented on #404
@deadherring Could you talk to my wife about cutting a hole in our wall? ;)

[2017-01-18 08:14] #404 closed

[2017-01-19 19:13] MichMich commented on #565
Did anyone manage to test the develop branch? @berlincount? @Jopyth?

[2017-01-19 19:14] MichMich commented on #443
I don't think this is going anywhere soon. Fee free to reopen if necessary.

[2017-01-19 19:14] #443 closed

[2017-01-19 19:14] MichMich commented on #411
I don't think this is going anywhere soon. Fee free to reopen if necessary.

[2017-01-19 19:14] #411 closed

[2017-01-19 19:15] MichMich commented on #246
Didn't got any more reports of this issue. I close it for now. Fee free to reopen if necessary.

[2017-01-19 19:15] #246 closed

[2017-01-19 19:15] MichMich commented on #117
I don't think this is going anywhere soon. Fee free to reopen if necessary.

[2017-01-19 19:15] #117 closed

[2017-01-19 19:16] MichMich commented on #233
I don't think this is going anywhere soon. Fee free to reopen if necessary.

[2017-01-19 19:16] #233 closed

[2017-01-20 10:23] Jopyth commented on #565
@MichMich I will finally be able to upgrade to the new development version (including 2.1.0 stuff) over the weekend, so I can test if it works.

[2017-01-20 16:45] schuesslerf opened #632 "npm start is only showing Windows IIS"
I just tried to use your app but somehow somethings seems to be wrong. I downloaded the github repo, ran npm install and then ran npm start, what happened is that an electron window started, within there was the Microsoft IIS (Internet Information Services). Is this the expected behaviour? How can I switch to the normal view if yes? Or did something went wrong when installing?

I'm trying it on wi

[2017-01-20 18:57] MichMich commented on #632
Please open a support topic on http://forum.magicmirror.builders, Github Issues should only be used for reproducible issues. Thanks!

[2017-01-20 18:57] #632 closed

[2017-01-20 19:36] berlincount commented on #565
Just tested, UNTIL works correctly now, EXDATEs (e.g. individual events moved for an hour or cancelled) still don't. I'd still consider it a worthwhile improvement, albeit not closing the issue completely - yet. Still want & need to find time to address this upstream, probably end of this quarter.

[2017-01-21 13:40] Jopyth commented on #565
Yup, definitely not working correctly for me either.

[2017-01-21 14:20] Jopyth commented on #565
I think the problem lies within `ical.js` not `rrule`. It parses the feed, and only passes selected values to `rrule`, `EXDATE` are missing.

[2017-01-21 15:15] Jopyth commented on #565
@berlincount Can you verify, that #636 works for you, too?

[2017-01-21 15:33] Caraballo114 commented on #215
Thanks shivanraptor!!

[2017-01-21 16:06] lucallmon opened #637 "Calendar Module Help"
This is more of a request for help as opposed to a needed fix for an issue. However, this may fit here anyway.

See the attached photos: what I'm trying to do is to get all of the calendars in my google calendar to show up under one single module window. I've gotten it to add two separate calendars by adding a second calendar module in the config.json file. As you can see, I have several sport tea

[2017-01-21 17:47] nhubbard commented on #637
@lucallmon Just get all the ICS URLs for each calendar and add each calendar individually in the references. You can use multiple calendars. For icons, see here: https://fontawesome.io/icons

[2017-01-21 18:19] lucallmon commented on #637
Can you give me an example of the code to put in the config file?

[2017-01-21 18:26] MichMich commented on #637
Try something like this. :)

[code]

For future support requests, please open a topic on http://forum.magicmirror.builders

Thanks!

[2017-01-21 18:26] MichMich commented on #637
And to add: everything you need to know about the calendar can be found here: https://github.com/MichMich/MagicMirror/tree/master/modules/default/calendar

[2017-01-21 18:32] lucallmon commented on #637
I think I figured it out.

[2017-01-21 20:13] roramirez commented on #565
Hi everyone,

Maybe a good idea will be a test case for this issue. I don't to much about this issue and I'm not figured out about the real problem here. Apparently is not a trivial problem.

[2017-01-21 23:49] lucallmon commented on #637
Yep. Figured it out before you posted the help. thanks @MichMich.

Also, I'm having trouble adding all my calendars from Gmail. Have you thought about adding support for RSS feed calendars?

the reason I'm having trouble is because my "other calendars" don't allow sharing. Any ideas on how to fix this? As you can see in the attached picture, I have a ton of other "non-ical" calendars that I'd like

[2017-01-22 08:14] Jopyth commented on #565
Test case is not a bad idea, however I think this is not the right project for it. Such test cases are implemented in the rrule-alt package (https://github.com/arolson101/rrule-alt/blob/master/test/rrulestr.js#L189). The real prolem was a supoptimal use of this package within (the old version of) `ical.js`. They kind of changed it there (https://github.com/peterbraden/ical.js/blob/master/ical.js#L

[2017-01-22 11:25] MichMich commented on #637
I can't help you with this since I only use iCal, you might have better luck on: https://forum.magicmirror.builders/category/10/troubleshooting

Since this is a support ticket, I close it for now. Please continue ton the forum. Thanks! :)

[2017-01-22 11:25] #637 closed

[2017-01-22 16:24] berlincount commented on #565
I've been testing with a shared Google calendar, which I consider common enough to be relevant.

Testcase, without PR:
- create event for today 13h, repeating forever, restart MM for immediate reload -> works, shows correctly
- limit events to 5 repeats, restart, works, 5 appointments show
- remove limit, add end-date in two days, restart, works, 3 appointments show
- change middle event to take p

[2017-01-22 17:44] ostfilinchen opened #639 "Blank Black screen when using MS Edge"
If I open the MirrorPage on my PC via http://raspberrypi:8080 i get a blank Black screen, But only with MS Edge. With a third Party Browser like Chrome or Opera i didn't have the issue. Also on the smartphonebrowser it works without issues.

[2017-01-23 02:53] roramirez commented on #639
Do have any log some inspector tool on MS Edge?

[2017-01-24 00:54] nhubbard commented on #639
@ostfilinchen MS Edge is known to not work. It has to do with Edge's rendering engine.

[2017-01-24 09:07] simplearetenir commented on #577
Hello,

I have the same issue :
`npm ERR! Linux 4.4.38-v7+
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "start"
npm ERR! node vXXX
npm ERR! npm vXXX
npm ERR! code ELIFECYCLE
npm ERR! magicmirror@2.1.0 start: electron js/electron.js
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the magicmirror@2.0.0 start script 'electron js/electron.js'.
npm ERR! Make sure you have the latest version of nod

[2017-01-24 13:42] MichMich commented on #577
@simplearetenir What version of Jessie are you running?

Maybe we should include a test in the Installer to check of it's the right OS (no Jessie Lite), to make sure everything is ok ... @roramirez Are you interested in setting this up?

[2017-01-24 13:44] MichMich commented on #639
@nhubbard Is this something we should solve in your opinion?

[2017-01-24 13:51] gjb2048 commented on #577
Hi I'm not sure its related...

I've been trying Magic Mirror on Xubuntu 16.10 with the 'serveronly' option and found that the debian package was out of date in terms of npm version.  As the raspberry Pi is also debian based (I think) then could try installing 7.4 another way.  I found that uninstalling npm then using the Node.js v7 way here: https://nodejs.org/en/download/package-manager/#debian-

[2017-01-24 14:11] simplearetenir commented on #577
@MichMich : I run the las version of Jessie (no Jessie lite)

[2017-01-24 14:42] roramirez commented on #577
Yes @MichMich I can do it.

[2017-01-25 02:28] roramirez commented on #577
To remember me... please reopen it and assign to me.

[2017-01-25 09:02] MichMich commented on #577
@roramirez Somehow GitHub wont let me assign it to you.

[2017-01-25 11:57] lucallmon opened #651 "Module size..."
Is there a way to change the size of the module? I'm looking at trying to shrink the size of the calendar module--make it more narrow. I would like it to be the size of the weather update. Thanks.

[2017-01-25 12:44] Jopyth commented on #577
@MichMich I think you can only assign to collaborators or whatever they are called. Or @roramirez can do it by himself I think. [Source](https://help.github.com/articles/assigning-issues-and-pull-requests-to-other-github-users/)

[2017-01-25 13:41] MichMich commented on #651
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-01-25 13:41] #651 closed

[2017-01-25 18:19] roramirez commented on #577
Yes, only can set to collaborators or by default user who is open the issue. It's enough with open state with this I can remember ;)

[2017-01-25 22:46] alostvagabond commented on #577
Ran into the same problem earlier, my solution to it was to just add "sudo" before the actual installer

`sudo curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh | bash`

[2017-01-26 10:49] marf147 opened #655 "Cant add two Calendars"
Hey,

I wont to add 2 Calendars, is this possible?

This is my config.jp:
[code]

Thank you for the creat opensource software!!

[2017-01-26 14:05] roramirez commented on #655
Hi @marf147

Yes, is possible.  You can try this one configuration
[code]
The documentation about calendar module you can find in https://github.com/MichMich/MagicMirror/tree/master/modules/default/calendar

For future request like this use the forum  http://forum.magicmirror.builders

Related issue #637

[2017-01-26 15:03] simplearetenir commented on #577
I can not do it :
 - I mount a SD card with the latest version of Jessie (11/01/2017).
 - I put it in a raspberry 3 (I also tried in a raspberry 2)
 - I connect ssh to the raspberry
 - I launch the command : "sudo curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh | bash"
Then I launch directly on the raspberry, the CLI command line (not in PIXEL) :
 - I

[2017-01-26 15:06] simplearetenir commented on #577
Maybe someone can share with me a backup of an SD card with MM running on a PI3

[2017-01-26 15:20] roramirez commented on #577
What Raspberry ISO did you download?

[2017-01-26 15:52] simplearetenir commented on #577
@roramirez RASPBIAN JESSIE WITH PIXEL : https://www.raspberrypi.org/downloads/raspbian/

[2017-01-26 17:00] roramirez commented on #577
I just already finished a test on Jessie Little. About of HowTo [Jessie Lite Installation Guide ](https://github.com/MichMich/MagicMirror/wiki/Jessie-Lite-Installation-Guide)  I think is missing some packages to install, I added these :
 xinit xserver-xorg

The log trace about the process, but curious can find in Pastebin http://pastebin.com/YBDW2CB7

[2017-01-26 17:01] roramirez commented on #577
... so, I'll hope soon finish the test for RASPBIAN JESSIE WITH PIXEL

[2017-01-26 18:58] roramirez commented on #577
Ok, I tested the Raspbian with Pixel and MagicMirror work by default with the script of installation

**Raspbian with Pixel**
**Version**: January 2017
**Release date**: 2017-01-11

Can find the log of the all process here:  http://pastebin.com/8ftthQqf

Two thing, if used Jessie Little feel free to follow https://github.com/MichMich/MagicMirror/wiki/Jessie-Lite-Installation-Guide

If MagicMirror

[2017-01-27 08:03] MichMich commented on #655
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-01-27 08:03] #655 closed

[2017-01-27 08:05] #577 closed

[2017-01-27 08:10] simplearetenir commented on #577
@roramirez : I followed the tutorial for Jessie Lite and it works correctly, thank you very much. Just one thing: **the screen saver does not disable** (perhaps due to the addition of xinit xserver-xorg).

I think I know why, I could not make it work with Jessie with Pixel : I started the "npm start" from the raspberry command line and not from a command line from PIXEL.

[2017-01-27 14:05] roramirez commented on #577
@simplearetenir  if you remove xscreensaver? or remove by desktop setting into Pixel

[2017-01-27 22:18] nhubbard commented on #639
@MichMich I don't know. We write our code for Chrome, and if you have noticed, there are significant differences in Edge vs Chrome. It's like trying to run your code on Google Chrome when it only ran on Netscape Navigator.

[2017-01-28 18:34] Binog opened #662 "TypeError: Cannot read property 'split' of undefined"
**Platform**: Raspberry pi3,
**Node Version**: v6.9.4
**MagicMirror Version**: ppm mm -v = 3.10.10   /   MM 2.1.0
**Description**: First of all I get a full white page. the console says:
´./mm.sh`

Starting MagicMirror: v2.1.0
Loading config ...
Loading module helpers ...
No helper found for module: alert.
Initializing new module helper ...
No helper found for module: clock.
Initializing new modul

[2017-01-28 18:41] Binog commented on #662
If I uncomment current weather I get the black: create a config file-Screen... so something is wrong either with my config file or - preferrable AND - the current weather module.

[2017-01-28 20:57] nhubbard commented on #662
@Binog This seems to be a problem with the MMM-Fuel module. I can't help as much, but I am willing to help. You need to put an Array of Strings in the types section, like so:

[code]

[2017-01-29 01:42] KilianB opened #664 "MM.getModules returns undefined object if module is disabled in config file"
If a module is disabled in the config file disabled: true
`MM.getModules()` will return an array with the length equal of all modules defined in the config files. If a module is marked as inactive (`disabled: true`) no class but rather an undefined object will be returned.

https://github.com/MichMich/MagicMirror/blame/8010e6220d4cc68e9f9e3c1029998cc47df0f193/js/main.js#L480-L483

[2017-01-29 09:09] icbinaunap4t opened #665 "Current Weather giving wrong time and weather"
Platform: Raspberry Pi 3 Raspbian Jessie with Pixel. Kernel ver. 4.4
Node version is the latest node version
MagicMirror version: JavaScript version (v2)

I have the current weather module on my screen but it is showing the incorrect time and temperature as if the location was incorrect. However, I went to http://openweathermap.org/help/city_list.txt. I’m trying to display the weather for Madison

[2017-01-29 09:24] icbinaunap4t commented on #665
Platform: Raspberry Pi 3 Raspbian Jessie with Pixel. Kernel ver. 4.4
Node version is the latest node version
MagicMirror version: JavaScript version (v2)

I have the current weather module on my screen but it is showing the incorrect time and temperature as if the location was incorrect. However,  I went to http://openweathermap.org/help/city_list.txt. I’m trying to display the weather for Madison

[2017-01-29 09:27] Jopyth commented on #664
This is indeed a strange behavior in my opinion, but what I did in my remote control is: I switched to iterating via index to the `enumerate(fn () {...})` method, which fixes that.

However an array with `length = 7`, but the following elements still looks kind of strange to me. But apparently this is allowed in javascript
[code]

[2017-01-29 10:38] MichMich commented on #665
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-01-29 10:38] #665 closed

[2017-01-29 10:41] MichMich commented on #662
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-01-29 10:41] #662 closed

[2017-02-02 03:16] stanchanpsu opened #680 "loader.js cannot console.log() or Log.log()"
I'm working on a PR to prevent custom.css from trying to load if it doesn't exist. While trying to debug my code, I noticed nothing written inside the immediately invoked function Loader can be logged to console via console.log or Log.log. Does anyone know why?

[2017-02-02 12:05] MichMich commented on #680
Could you share some code?

[2017-02-02 23:02] stanchanpsu commented on #680
I added this to line 23 of loader.js and it never prints out:

[code]

I also noticed I have never seen any of the other Log.log() appear in console.

[2017-02-03 00:44] roramirez commented on #680
Seems you are out-date on git. What is the last commit id?

[2017-02-03 02:14] stanchanpsu commented on #680
What makes you think I am out of date? I git pulled on my contribution branch just now.

Git commit: commit fd738e5c8b6938d2097d91eac836e4b025c463d1

Logs are still not showing form loader.js

[2017-02-03 04:56] celianmissud commented on #577
Same problem like @simplearetenir. I follow the Jessie Lite Installation guide and it works correctly  but the screensaver doesn't disable with :

@xset s noblank
@xset s off
@xset -dpms

into etc/xdg/lxsession/LXDE/autostart and :

xserver-command=X -s 0 -dpms

into sudo nano /etc/lightdm/lightdm.conf

Any idea ?

[2017-02-03 09:24] morozgrafix commented on #680
I wasn't able to reproduce it on the latest version of the master and develop branches.
Added to line 23 of the `loader.js`:
[code]

4th line in the Chrome console.log while running `node serveronly` had my expected string:
[code]

[2017-02-03 13:29] olovskos opened #682 "Analog clock not scaling correct the faces"
I don't know why and I`m not interested in digging deeper into but if you use the analog clock, you cannot resize it. It just shows multiple of the face selected

[2017-02-03 13:53] Smartiesbehindproxy opened #683 "Can't fetch URL's"
I'm currently working on the MagicMirror at the School for a Project.
Everything worked fine at first, but after a few times it stopped working i'm getting two errors :
[code]
The School acts behind a proxy, but I export the proxy already.
And i'm  also able to ping the IP address shown in the error.

next Error :
[code]
So I assume, because im not able to fetch the URL i get a socket hang up. Not

[2017-02-03 14:36] roramirez commented on #680
@stanchanpsu I mentioned you because if dont have you this fix https://github.com/MichMich/MagicMirror/commit/ee0418e7197547765d9427f6ed6f9531d85f9a32 the Logs will be not working.

[2017-02-03 15:12] stanchanpsu commented on #680
@morozgrafix, I will try to reproduce with `node serveronly`. I am unable to see any logs form loader.js from within the terminal when I run `npm start` and use the electron frontend. Could you try to reproduce with `npm start`?

[2017-02-03 15:13] stanchanpsu commented on #680
@roramirez I will make sure to pull develop again and check for that hotfix.

[2017-02-03 16:54] morozgrafix commented on #682
@olovakos can you please provide relevant snippets of your `config.js`? Thanks

[2017-02-03 19:11] morozgrafix commented on #683
It's very possible that your request isn't going through the proxy. What happens when you run following command from terminal of your RasPi?

`curl -v -L 151.101.193.164`

[2017-02-03 19:20] morozgrafix opened #684 "Unable to start electron with dev option on develop branch"
@roramirez I believe that after PR #652 `npm start dev` is no longer working on develop branch, because `run-start.sh` doesn't process `dev` parameter.

[2017-02-03 19:48] qistoph commented on #684
Suggestion, when it's fixed. Add a test case to verify it too ;-)

[2017-02-03 20:22] olovskos commented on #682
Yes of course I can :)

{
        module: "clock",
        position: "top_left",
        config: {
            displayType: 'analog',
            analogSize: '300px',
            analogFace: 'face-002'
        }
}

[2017-02-03 21:33] morozgrafix commented on #682
I wasn't able to reproduce it in Chrome or Electron on my mac on both latest version of master and develop branches. I don't have access to RasPi until later to test it out. Here is what I get when I use settings that you've provided:

![image](https://cloud.githubusercontent.com/assets/1007608/22609256/5526d08a-ea15-11e6-8301-e586d29d1ddc.png)

[2017-02-03 22:33] roramirez commented on #684
I pushed #685  to resolv this case.

@morozgrafix @qistoph do you have any approach how test this case?

[2017-02-03 22:55] Smartiesbehindproxy commented on #683
@morozgrafix I will try that on Monday and let you know about the result, thanks.

[2017-02-03 23:00] olovskos commented on #682
This is how it looks like
![untitled](https://cloud.githubusercontent.com/assets/7429904/22611742/9cf7a9fa-ea6c-11e6-9c9b-1c89396e9282.png)

BUT
I changed the size of the fonts by changeing the custom.css regarding this link
[https://forum.magicmirror.builders/topic/74/adjust-modules-size-to-match-each-other-weather-calendar/2](url)

And now it looks fine but this can't be the solution of the prob

[2017-02-03 23:58] morozgrafix commented on #682
Seems that few people on the forum are [having issues with it](https://forum.magicmirror.builders/search?term=analog%20clock&in=titlesposts) scaling correctly

[2017-02-04 02:54] roramirez commented on #682
Maybe @KirAsh4 can help with this. He introduced the feature for analog clock ;)

[2017-02-04 03:04] stanchanpsu commented on #680
I'm going to close this because I realized that only in `serveronly` mode does it log everything. I will open a new issue for help with checking if a file exists before loading.

[2017-02-04 03:04] #680 closed

[2017-02-04 03:12] stanchanpsu commented on #680
Here is the forum post if you guys are interested in helping me out: https://forum.magicmirror.builders/topic/1646/check-to-see-if-file-ex-custom-css-exists-before-trying-to-load-it

[2017-02-05 10:42] qistoph commented on #684
I was thinking something like this:
https://github.com/qistoph/MagicMirror/commit/42f22119f2c2564314279b640ca0bd6884e31ed5

However, just found out that this does not include run-start.sh in the e2e-test...

[2017-02-05 16:04] roramirez commented on #684
Yes, this is work in  layer inside the electron not the script run-start.sh. I seems good this test to me, later we can include a new for run-start.sh

[2017-02-06 07:32] Smartiesbehindproxy commented on #683
@morozgrafix
I used your command and got the following :

[code]
and then i tried to use the proxy by `--proxy`.
so : `curl --proxy http://proxyip:port -v -L 151.101.193.164 `
and then i got :
[code]

[2017-02-06 07:57] morozgrafix commented on #683
It seems that your proxy is not configured to allow connection and not the issue with the MagicMirror code

[2017-02-06 08:29] Smartiesbehindproxy commented on #683
So i have no chance to avoid this? Maybe get information, store them somewhere and then implement them somehow?

[2017-02-06 08:56] morozgrafix commented on #683
The issue that you seem to experience has to do with proxy not allowing http traffic from your machine to that specific host. It's not really an issue with MagicMirror code itself. Talk to your network administrator and see why your proxy restricts that access and if there is anything that can be done.

[2017-02-06 10:40] Smartiesbehindproxy commented on #683
Thanks for the help, I talked to the network administrator and we figured out that he can't do anything, because our school is configured  by a company from the state. But I managed to avoid the problem by using VPN with another RasPi.
And it works all fine, they will talk to the company and solve this problem.

[2017-02-06 10:40] #683 closed

[2017-02-06 14:07] Bruce17 opened #690 "Move default modules into own repositories (git submodules)."
Hi,

I'm just wondering why the default modules are added to the main magic mirror project.

Is it an option for you to move them into own repositories and add them again via [git submodules](https://git-scm.com/book/en/v2/Git-Tools-Submodules)? I've worked with git submodules in the past and have made some good experiences with it.

[2017-02-06 14:09] paviro commented on #690
Makes sense I approve!

[2017-02-06 14:35] Bruce17 opened #691 "Load fonts and vendor libraries via bower."
Hi,

I noticed you included a lot of fonts and vendor libraries directly into your project. How about loading them via [bower](https://bower.io/)?

[2017-02-06 15:17] paviro commented on #691
npm would make more sense wouldn't it? Most are available there too and it needs to be use anyway for the node dependencies.

[2017-02-06 15:22] Bruce17 commented on #691
Yeah sure can use npm too. Personally I like to use bower for frontend stuff only to separate them a little bit.

If you like, I can try to remove some libraries and add them via npm (or bower, what you prefer).

[2017-02-06 15:59] roramirez commented on #690
Sound good but for this I think we need create a organization where it's pushed all modules and core splitted way like part  of a ecosystem  like NodeJs

[2017-02-06 16:01] paviro commented on #690
I approve. One repo for every module would be ideal in my opinion :)

[2017-02-06 16:10] roramirez commented on #691
There a related discussion about the vendor directory #592.

Bower is greats for keep externals libs into the a project without tracking the files in version control system.

Why not try a send a Pull Request about this?

[2017-02-06 16:37] Bruce17 commented on #690
Sounds good. Let me know if I can help you.

[2017-02-07 11:20] MichMich commented on #690
What would be the added benefit for doing this? I don't want to overcomplicate things.

[2017-02-07 11:22] MichMich commented on #691
If we gonna use a package manager, let's stick to NPM. I don't want to overcomplicate things.

The reason why some things are in the vendor folder is because they are modified versions because of a bug in the current version. This, of course, could use a better solution.

[2017-02-07 11:24] MichMich commented on #682
@olovskos what branch/version are you running? I used a fix for this a while ago.

[2017-02-07 11:25] Bruce17 commented on #690
TL;DR separation of concerns

* You get rid of hard coded modules in your code.
* Improve maintainability of modules.
  => In my opinion, you can solve the issue https://github.com/MichMich/MagicMirror/issues/565 by moving it into an external module. There is an issue with `rrule`, because it is not properly installed via npm (see https://github.com/MichMich/MagicMirror/blob/master/modules/default

[2017-02-07 11:40] MichMich commented on #690
Thanks for you input. I really appreciate your contribution.

Though I don't think the mentioned benefits validate the big change. We're not running into big issues caused by hard coded modules. Having an separate issue/pr feed is a personal preference. And honestly, I'd like to keep all MagicMirror related stuff together.

Biggest issue would be that I need to move it to an organisation account.

[2017-02-07 11:52] fewieden commented on #690
On the one hand I agree with Michael, as long as there not many issues about the modules, there is no need to have a seperate issue/feed, but on the other hand in my oppinion it would be a benefit if the user doesn't like a module update to stay on the current version and is still able to update the code of MagicMirror without having to touch any code to make changes.

[2017-02-07 11:56] MichMich commented on #690
@fewieden I think that's an edge case. Users that worry about those kinds of thing are probably able to make a fork and solve it that way. My biggest focus in this project is to keep things simple. Ripping it apart would, IMHO, make things unnecessary complicated.

[2017-02-07 12:02] fewieden commented on #690
I just can tell from my experience as I helped a lot of users on the forum with remote desktop sessions, that they modified stuff and were unable to update. Those who contribute here could do it without the submodules. I'm neutral on this topic I can understand both sides.

[2017-02-07 18:00] #691 closed

[2017-02-07 19:57] Mar-85 opened #694 "Midori on Pi Zero doesnt support ES6 Arrow Functions (line 51)"
Please only submit reproducible issues.

**Platform**: Pi Zero - latest Midori

**Node Version**: 7.4.0

**MagicMirror Version**: Latest MM2

**Description**: Midori is the only browser that reliably and without issues/slowdown can run on the pi zero with MM2. It unfortunately doesnt support ES6 Arrow Functions and causes errors in the pm2 logs and wont load the module. I had this issue with a 3rd

[2017-02-07 20:04] Mar-85 commented on #694
Changed the line to the following at all is back to working now.
                if (this.config.remoteFile != null) {
                        this.complimentFile(
                                function(response){
                                        this.config.compliments = JSON.parse(response);
                        });
                }

[2017-02-07 20:08] fewieden commented on #694
thats not working correctly because in the function this has a new context, you have to save the var this first  like it is in line 57

[2017-02-07 20:14] Mar-85 commented on #694
oooh sorry! I had that in mine, forgot to add it in there above in the copy and paste. Thanks for noticing!

[2017-02-08 08:12] MichMich commented on #694
Interesting. I thinks it's a good point to discuss if we fully switch to ES6 or complete remove all ES6 functions to support older versions.

[2017-02-08 12:42] nhubbard commented on #694
@MichMich We could use a middle ground. Convert the project to all ES6, add Webpack with Uglify, Concat and Babel, and then run it through there.

[2017-02-08 13:18] MichMich commented on #694
@nhubbard I thought about this a while back, but it would make the project MUCH more complex. Since you end up with compiled files and source files. And while this might be solvable, it is a HUGE issue for issue for people starting with development.

[2017-02-08 13:24] Mar-85 commented on #694
@MichMich @nhubbard that does sound as though it would make it quite a bit more complex. I was thinking more along the lines of removing ES6 functions or just labelling the modules to say whether they are compatible with older ES6 functions or not. At least that way those in the know would easily be able to remove them before installing...though I suppose this second way doesnt make it very end us

[2017-02-08 13:40] MichMich commented on #694
Well, the "support focus" is on Electron. So in that case, ES6 should be supported. But I do understand the issue with Midori.

[2017-02-08 13:51] fewieden commented on #694
a research for es6 compatible pi zero browser could solve the problematic

[2017-02-08 13:53] Mar-85 commented on #694
@fewieden I don't think the issue is that the browsers arent compatible because they are, the issue is using some of the other browsers slows the pi down to the point its not very usable. Midori seems to be the only one (that I've found...not saying there arent others) works.

I suppose reaching out to Midori to see if they will support ES6 is another option.

[2017-02-08 15:35] nhubbard commented on #694
@MichMich I agree, it would make the project more complicated.

[2017-02-08 15:52] fewieden commented on #694
lets see the response on this https://answers.launchpad.net/midori/+question/452559

[2017-02-08 16:12] Mar-85 commented on #694
@fewieden yeah I just opened that after my previous message hoping it would get a response. Maybe should have called it a bug citing the errors from the code run from a module here?

[2017-02-09 05:52] KirAsh4 commented on #682
Since released, I have not doing any scaling tests with subsequent updates to electron, but it appears to be broken now. I'll have to go dig into the CSS a bit and figure out why it's failing.

[2017-02-09 07:43] MichMich commented on #682
@KirAsh4, are you testing the develop branch, or the master branch?

[2017-02-09 07:55] KirAsh4 commented on #682
I like living on the edge.
develop branch.

[2017-02-09 12:29] MichMich commented on #682
Then it should be solved ... it isn't?

[2017-02-09 17:08] nhubbard commented on #694
@MichMich Could we use a custom polyfill like this?

[code]

[2017-02-09 20:55] Phoenxi131178 opened #707 "Can´t see openweather module currentweather and forecast"
Hello Michael
At first thx for the MagicMirror Software. For me it is the first time to check the Raspberry and Linux.
I installed the Ras3 with raspbian jessie and then i installed your Magic Mirror with
curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh | bash
I used complete your manual.
I got an account from openweather.org and filled my appid in the

[2017-02-09 23:20] fewieden commented on #707
Hey Jan, do you get any errors in the terminal or electron console (npm start dev)? Probably some syntax errors in your config, you can check your config.js for example on jshint.com

[2017-02-10 08:19] MichMich commented on #707
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-02-10 08:19] #707 closed

[2017-02-10 08:22] MichMich commented on #694
@nhubbard It's all so over complicated. Maybe we should make an overview of the ES6 things we use to see if it's nessecery at all.

[2017-02-10 11:02] fewieden commented on #694
Node can handle es6, it's just about the default module frontend stuff. Most of the time just the use of arrow functions which can be replaced by `var self = this;` and then use function(){}

[2017-02-10 11:20] Phoenxi131178 commented on #707
Thank you for your help !!! I got it.
One wrong Nummer in the APPID. npm start dev showed me what was wrong.

Greeting Jan

2017-02-10 0:20 GMT+01:00 fewieden <notifications@github.com>:

[2017-02-10 20:14] nhubbard opened #709 "[TRACKING ISSUE] Engine.io, and by extent, Socket.io, has a vulnerability"
**Platform**: Affects all platforms.

**Node Version**: Affects all versions.

**MagicMirror Version**: v2

**Description**: Engine.io, the stack behind Socket.io, has a vulnerability caused by an out-of-date version of the `ws` module. Tracking issue in socketio/engine.io is available [here](https://github.com/socketio/engine.io/issues/479)

cc @MichMich @roramirez

[2017-02-10 23:10] roramirez commented on #709
I can see. Its in the planning to fix soon.

I think is need it before release a new version add this fix from the new version of `ws` module.

By other hand, If is release soon the patch of this. How w'll process to apply a patch on master branch?

[I've mentioned before](https://github.com/MichMich/MagicMirror/pull/591#discussion_r94590779) about release label, we using [Semantic Versioning](htt

[2017-02-10 23:23] fewieden opened #710 "Enabling private messages between modules"
I added the possibility to share private messages between modules.

What do you think about it? https://github.com/fewieden/MagicMirror/commit/c2d9656e4ec2461a8cd5f6c8f5f59b8c98b51316

[2017-02-11 00:02] roramirez commented on #710
What is the context where can use?. I think can be more clean create new methods to send/receive private notifications instead of same functions with new parameters.

[2017-02-11 03:48] celianmissud commented on #577
Problem solved.
It works fine when I add the 3 parameters into /home/pi/.config/lxsession/LXDE/autostart
Instead of /etc/xdg/lxsession/LXDE/autostart

[2017-02-11 11:40] fewieden commented on #710
A lot of modules listen on some generic broadcasts, but i want to inform just one module about it.

I thought adding a new parameter is the best, because everything will work as it was before and if you want to send it private you just add an receiver to it

[2017-02-11 12:09] qistoph opened #712 "Error in clock_es_spec.js"
Travis fails today: https://travis-ci.org/MichMich/MagicMirror/jobs/200630365

Seems like the regex is looking for "sabado" while the clock displays "sábado" (with acute accent on the first a).

[2017-02-11 15:14] nhubbard commented on #709
@roramirez When they release a newer version with an updated `ws` module, we can release it with the next new version.

[2017-02-11 16:29] roramirez commented on #709
@nhubbard My question is more related, what will happened in the future if we need add only one patch on master branch?, What version name will be?

[2017-02-11 16:32] roramirez commented on #577
@celianmissud Please add note in wiki to help new users.

[2017-02-11 20:40] morozgrafix commented on #709
If you patch current version with a backwards compatible bug fix or patch, v2.1.0 would become v2.1.1 if I'm not mistaken. As far as I recall Semantic Versioning follows `vMajor.Minor.Patch` scheme.

[2017-02-11 20:42] morozgrafix commented on #684
I think we can close this one after PR #711 goes through.

[2017-02-11 21:17] roramirez commented on #709
Yes, I understand the version semantic that way. The main point is next planning name version is **2.1.1** I think should be **2.2.0**

[2017-02-11 21:28] nhubbard commented on #709
@morozgrafix Spot on.

[2017-02-11 21:39] #712 closed

[2017-02-11 21:42] MichMich commented on #710
This is how most notifications systems work. You listen to a specific notification and if it is any interest to you, you do something with it. We don't create any real overhead by doing it this way.

By making notifications semi-private (because it's JS, it will not be secure anyway). you'll only limit the possibilities for other modules.

I dont see any good reason to enable private messages.

[2017-02-11 21:44] MichMich commented on #709
2.2.0 will be used whenever there is a breaking change in the API. (like 2.1.0 was)...

2.1.1 will include this security patch.

[2017-02-12 14:19] #710 closed

[2017-02-12 23:35] likeadoc opened #717 "Current Weather Module 0° Bug"
**Platform**: Rpi3

**MagicMirror Version**:  JavaScript version (v2).

**Description**: If the temperature is exactly 0.0° the currentweather module is suspended due to the poor checking mechanics of the initial if statement in processWeather (!data.main.temp).
It would be better to check for the pressure (data.main.pressure) instead of the temperature.

[2017-02-13 02:21] roramirez commented on #717
This should be fix in commit 93c07b2b1e2e4218d17ceead43b63509b6beb7e0

What version and branch are you using?

The previous change is in the develop branch. Are you using from the master branch?

[2017-02-13 06:51] likeadoc commented on #717
sorry for your inconvenience ! I´m on the master branch - so yeah:D

[2017-02-13 06:51] #717 closed

[2017-02-14 18:32] nhubbard commented on #694
@MichMich I'll try and come up with a Webpack-based solution that may or may not be less complicated... it may be the same.

[2017-02-15 02:14] robozera commented on #145
I get all work with a fresh new Raspbian Jessie install and running all the install since from the beggining in my RPI3 and worked like a charm.

Even though the grunt still warns me about not being installed.

[2017-02-15 10:54] MichMich commented on #694
@nhubbard Don't put to much effort in it. I'd rather use vanilla JS without any script generation.

[2017-02-17 20:40] bh opened #723 "It is not possible to start MM with latest node/npm versions (clean install)"
**Steps to Reproduce**
[code]
**Platform**: Raspberry Pi 2 (Arch Linux ARM)
**Node Version**: 7.5.0
**NPM Version**: 4.2.0

**MagicMirror Version**: devel branch (11c0221f8172e9043473d4e42ae5c0cd994b9d59)

**Issue**:
It is not possible to start the electron magic with latest node/npm versions:

`$ npm start`

[2017-02-17 21:44] roramirez commented on #723
Seems a Electron issue not of the MagicMirror.

I can see the last Electron support is Node 7.4.0
![screenshot at 2017-02-17 18-42-25](https://cloud.githubusercontent.com/assets/2161075/23084406/e4912b7c-f540-11e6-8f1d-11c0a4ba5b49.png)

Did you try ask there?

[2017-02-17 21:57] bh commented on #723
Ohhh, than the Readme.rd is not really correct ("install the latest version of NodeJS") ;-)Am 17.02.2017 22:44 schrieb Rodrigo Ramírez Norambuena <notifications@github.com>:Seems a Electron issue not of the MagicMirror.
I can see the last Electron support is Node 7.4.0

Did you try ask there?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub,

[2017-02-19 01:01] nhubbard commented on #709
@MichMich They released version 2.0.2 of Engine.io... but I don't see any new version of Socket.io :cry:

[2017-02-19 01:03] #709 closed

[2017-02-19 02:41] roramirez commented on #709
This  https://github.com/socketio/socket.io/releases/tag/1.7.3 ?

[2017-02-19 14:31] Binog opened #724 "install problems for several times,.."
**Platform**: Raspberry Pi 3

**Node Version**: v4.3.0

**MagicMirror Version**: Guess the the newer JavaScript version (v2).

**Description**: I followed this guide after having it a third or fourth time installed:
`https://forum.magicmirror.builders/topic/236/complete-setup-tutorial/6`

**Steps to Reproduce**: Auto installation like in the guide above.

**Expected Results**: a clean install and

[2017-02-19 19:56] nhubbard commented on #724
@Binog You can ignore the unmet peer dependency; it is a result of our development process. Your mirror should work with any of the errors above.

[2017-02-19 22:33] nhubbard commented on #709
@roramirez Yup. 1.7.3 bumped engine.io-client to 1.8.3, which contained the bugfix.

[2017-02-19 23:49] roramirez commented on #709
So we should be moved this in package.json. I pushed  a PR.

[2017-02-20 00:07] roramirez commented on #723
I pushed a PL #727 to include Node7 in Travis CI. The tests are passing with Node v7.5.0
https://travis-ci.org/roramirez/MagicMirror/jobs/203279630

What electron version version did install?
` ./node_modules/electron-prebuilt/dist/electron -v `

[2017-02-20 14:44] Binog commented on #724
Thanks for replying. Well I installed it as mentioned several times, cause the mirror quits unexpectedly after several minutes. now it seems to work. except that some modules do not work,. which worked in the first place. Wonderground, airquality, pinhole-stats,.. could those errors above be the cause. didn't change the config...

[2017-02-20 14:47] karlholst opened #730 "How to (get to) edit config? (Noob)"
I dont know how to open the config.js file ... :( I want to change the properties but idk how

[2017-02-20 14:48] karlholst commented on #730
I dont know how to open the config.js file ... :(

[2017-02-20 14:54] karlholst opened #731 "What do I do now?"
1)Duplicate config/config.js.sample to config/config.js.
   2) Modify your required settings.

The following properties can be configured:

[2017-02-20 14:55] karlholst commented on #731
I see every new module is starting by opening config. I want to add new modules, but i dont know how :,(

[2017-02-20 15:07] roramirez commented on #730
Please use the forum for these kind of help https://forum.magicmirror.builders/

If you want add new feature, bugfix or something related with development add here.

[2017-02-20 15:23] autt87 opened #732 "Umlauts in Compliments"
I am new to the MagicMirror (got it set up using default configs 4 days ago) and have found something I need help with that hasn't been talked about anywhere I can find.

I need to be able to write Umlauts äöüß in the compliments module. I have seen it asked in another issue regarding the newsfeed and even there when I try to use it it causes a 'crash' where MagicMirror doesn't recognize the confi

[2017-02-20 15:31] fewieden commented on #732
I don't have issues with those umlauts, is your config.js file utf-8 encoded? With the wrong encoding the config is still valid and should show up but not displaying them correctly.

I guess that the issue is based on quotation marks (only ```"``` and ```'``` are valid), wrong brackets (did you close all brackets that got opened) or comma (forgot about seperating with comma). You can check your co

[2017-02-20 15:34] autt87 commented on #732
Where in the config.js so I need to put the UTF-8 in?

[2017-02-20 17:22] MichMich commented on #731
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-02-20 17:22] #731 closed

[2017-02-20 17:22] MichMich commented on #730
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-02-20 17:22] #730 closed

[2017-02-20 17:22] MichMich commented on #724
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-02-20 17:22] #724 closed

[2017-02-20 18:43] Binog commented on #724
well, I still don't know weither I should install the npm packages (grant,..) manually, or if I can totally ignore this. If so, I think there shouldn't be an error message during installation,.. even if this is a result of you development process.. it really confuses me (and I guess others,..)

[2017-02-21 09:19] Jopyth commented on #732
If it is really an encoding thing, you can always use HTML escapes, for example `&Auml;` becomes `Ä`. See a full list, e.g. [this](http://designerzone.de/html-umlaute-und-sonderzeichen/).

[2017-02-21 11:21] autt87 commented on #732
I would like to have the ability to put in a encoding value somewhere in the config files so that it does the rest of the work for me. I just can't seem to get the placement right or when I follow the other examples the config file breaks. If someone has the encoding working on their mirror i'd simply like to now where they put the encoding argument in their modules. Examples or snippets/screensho

[2017-02-21 11:27] autt87 commented on #732
This is what I am looking at now :/

![screen shot 2017-02-21 at 12 26 32](https://cloud.githubusercontent.com/assets/25904358/23163020/090059e0-f831-11e6-82ba-68c4dd8e8216.png)

[2017-02-21 11:30] fewieden commented on #732
You don't put that in the config, you have to save the file as utf8 encoded. But as I said I guess that is not the problem that the mirror doesn't start, this is only affecting not disoplaying characters correctly.

[2017-02-21 11:31] autt87 commented on #732
And yet, if I look at this:
![screen shot 2017-02-21 at 12 31 07](https://cloud.githubusercontent.com/assets/25904358/23163192/ae5ff63e-f831-11e6-86bd-c3995c06e1a6.png)

I get:
![screen shot 2017-02-21 at 12 30 35](https://cloud.githubusercontent.com/assets/25904358/23163199/b2cd842a-f831-11e6-8055-9dd52c81aef7.png)

[2017-02-22 20:45] bh commented on #723
OMG, all work fine now. I think it was not an Electron issue but much more a config issue. The chromium got a 403 Forbidden when requesting localhost:8080.  Here is my config patch:
[code]

[2017-02-22 20:45] #723 closed

[2017-02-22 20:46] bh commented on #723
FYI: Node 7.6.0 works fine ;-)

[2017-02-23 08:36] MichMich commented on #723
Thanks for reporting @bh, greatly appreciated!

[2017-02-23 17:56] Binog opened #735 "ERROR! Could not find main module js file."
**Platform**: (Raspberry Pi 3).

**Node Version**:

**MagicMirror Version**: 201).

**Description**: By starting MM I get the following dialogue
[code]
**Steps to Reproduce**: Actually it ofter works till the ERROR! Could not... message. seems kind of unstable. often crashes,.. Any idea?

**Expected Results**: No Error at all, actually,....

**Actual Results**: White or black full screen...no info

[2017-02-23 18:09] yesyesuk commented on #735
"Error: listen EADDRINUSE :::8080"

some other application seem to already use port 8080.

[2017-02-23 18:47] Binog commented on #735
Yeah I thought so, how can I find out which one it is? I didn't install any other webserver on purpose.

[2017-02-23 19:21] roramirez commented on #735
Did you installed by installer script or manually?

[2017-02-23 19:25] MichMich commented on #735
Maybe, try rebooting. That's the easy way to solve it. ;)

[2017-02-23 20:15] Binog commented on #735
Yes I did couple of time,. rebooting. Did installed automatically. Found one reason: two crontab files,.. deleted one,. but now I do have 3 left,..don't know why...
![bildschirmfoto 2017-02-23 um 21 13 10](https://cloud.githubusercontent.com/assets/11355616/23277125/1c4cd48c-fa0d-11e6-89d2-192632dd5a4c.jpg)

[2017-02-26 19:50] nhubbard commented on #735
@Binog The processes you're showing are the Chromium and Electron processes. You shouldn't normally need to kill them. It's okay if there is more than one of them.

[2017-02-26 20:30] Binog commented on #735
Thank You for replying. I thought so, but wasn't sure, cause had the port 8080 is in use by another instance error. And the hud is still crashing. although,. I ruled out a lot of errors. If I start by cronjob pm2 then it crashes,. if I do this manually it doesn't,.. don't understand that,..

[2017-02-26 21:15] KX900 commented on #732
I have the same problem with umlauts in Compliments.
MM2 works, but it doesn't display the Compliments when i type in:
encoding: "ISO-8859-1"
This was the solution for the same problem in newsfeed.
So what to do in compliments?

[2017-02-26 21:16] KX900 commented on #176
And how to solve the same problem in compliements?
When i add this in compliments, magic mirror doesnt show the module anymore.

[2017-02-27 17:39] nhubbard commented on #735
@Binog Can you post the output of this command?

[code]

[2017-03-05 13:04] deg0nz opened #748 "Add option for digest authentication in default calendar module"
This isn't an issue, but more an enhancement.

The `ical.js` used by default calendar module supports digest authentication by default, since it uses the `request` module internally. It's just the [sendImmediately option in calendarFetcher.js](https://github.com/MichMich/MagicMirror/blob/8010e6220d4cc68e9f9e3c1029998cc47df0f193/modules/default/calendar/calendarfetcher.js#L39) that needs to be set

[2017-03-05 15:14] roramirez commented on #567
Note:  This warning should disappear with the last update of grunt-yamllint
https://github.com/geedew/grunt-yamllint/commit/55652f65e7d112ff23d34eb6e6dc4d6166b719b4

[2017-03-05 16:15] MichMich commented on #748
Feel free to send a PR to the develop branch! :)

[2017-03-05 22:00] deg0nz commented on #748
`request` also supports OAuth/Bearer authentication. This could be useful for Google calendars. Also, `sabre/dav` [implements Bearer tokens with version 3.1](http://sabre.io/dav/upgrade/3.0-to-3.1/).

Do you want me to add this as well?

[2017-03-06 14:07] MichMich commented on #748
If it isn't a large refactor of the whole system (an no breaking api changes), please do.  Thanks!

[2017-03-06 17:55] BerndKohl opened #752 "Missing translation for weather forecast"
When setting language to 'de' in global config.js the table header of weather forecast module still says 'WEATHER FORECAST'

Should be something like 'Wettervorhersage' in case 'appendLocationNameToHeader' is not set and 'Wettervorhersage für' if 'appendLocationNameToHeader' is set to true.

[2017-03-06 17:59] BerndKohl opened #753 "Possibility to add '°C' to temperature values"
It would be very much appreciated if there was a setting allowing the configuration of the displayed temperature values in modules weather forecast and current weather.

Currently only ° is display (in current weather) or nothing at all (in forecast).

It would like to have °C displayed after the temperature. e.g. 8°C or 45°F.

[2017-03-07 11:29] fewieden commented on #752
there is no header set, you have to do it yourself

[code]

in case you set ```appendLocationNameToHeader``` the location will be appended to your string you defined in the header

[2017-03-07 12:28] BerndKohl commented on #752
Thank you, missed that somehow.

[2017-03-07 12:28] #752 closed

[2017-03-07 12:29] deg0nz commented on #748
The pull request for this issue is #754

[2017-03-09 18:22] Speedy-one commented on #753
Just open the currentweather.js and search for

`temperature.innerHTML =" " + thies.temperature + "&deg;";`

and add an **C** after &deg;

`temperature.innerHTML =" " + thies.temperature + "&deg;C";`

[2017-03-09 20:11] BerndKohl commented on #753
Thanks you.
But wouldn't that be overwritten when this module gets an update?
I would prefer a configurable solution...

[2017-03-12 20:24] jdallasschwartz opened #771 "Electron js/electron.js fails after firmware upgrade (Jessie Feb 20 release)"
Please only submit reproducible issues.

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)
Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.builders/category/10/troubleshooting](https://forum.magicmir

[2017-03-12 23:57] roramirez commented on #771
This ISO included Pixel?

Please read the follow link https://github.com/MichMich/MagicMirror/issues/577#issuecomment-275478334

[2017-03-13 01:10] amcolash opened #772 "Calendar issues with All Day events [DST]"
I have been having some issues with the calendar module showing incorrect dates for all day events. Below is an example for an event that should start at 12am (CST) on March 13, but it instead is showing as happening today (3/12/2017, one day before). I am assuming it is something to do with the iCal parsing that is happening. I think I actually patched this in an older version of my own repo I ha

[2017-03-13 01:11] amcolash commented on #772
Looking at the dates, they seem to be in order 3/13/2017 to 3/14/2017. Not entirely sure how the time stamp works

[2017-03-13 01:58] amcolash commented on #772
With some investigation, I am finding the event object made. What is interesting from this is that the start and end are separated and also have a timezone, where it appears the original didn't have the -5 timezone (cst).

[code]

[2017-03-13 02:40] amcolash commented on #772
Logging the actual timestamp for the event gives me: `1489381200000`.

Passing this into [Epoch Converter](https://www.epochconverter.com/) gives me:
[code]

which does not make sense, as it says that the event is today.

"today" looks to be defined as `1489298400000`
[code]

I am stumped. I wonder if it is because DST changed today (sigh, I wish there was not DST).

[2017-03-13 10:38] amcolash commented on #772
Well, thinking about all of this I understand now what is going on. When we ask for the "start" of the day, it is 0:00 that day. We then add 24 hours to make it 1 day of time. The issue is then with DST itself, where at 2:00am an hour is removed (or added). Therefore, I was effectively both time traveling :wink:  and also changing time zones.

I don't think that you can specify a timezone on an al

[2017-03-13 11:31] amcolash commented on #753
See #773. Once pulled it should be in develop branch. Otherwise you can use the patch until merged.

[2017-03-13 12:05] BerndKohl commented on #753
Thanks a lot, that sounds very promising.

[2017-03-13 12:05] #753 closed

[2017-03-13 14:34] amcolash commented on #753
Glad to help!

[2017-03-13 15:09] jdallasschwartz commented on #771
Hi roramirez. Yes, it appears that I am now running Pixel. I bought the Pi last year and updated it in early February 2017 before I started my Magic Mirror project. I had it all working and, like a dummy, decided to run another update a couple weeks ago which produced the error message above.

Thank you for posting that link. For some reason I couldn't find that before I posted this.

[2017-03-13 22:28] xbmcnut opened #774 "Clarification of PM2 startup script for Jessie Lite"
**Platform**:  Raspberry Pi2

**Node Version**: v6.10.0

**MagicMirror Version**: V2

**Description**: The instructions for Jessie Lite indicate the code required to input after running `pm2 startup` is `sudo su -c "env PATH=$PATH:/usw/bin pm2 startup linux -u pi --hp /home/pi"` but when I run `pm2 startup` on my instance, it asks me to enter `sudo env PATH=$PATH:/usr/bin /usr/lib/node_modules/pm2

[2017-03-14 09:59] mkings007 commented on #735
I am also having same issue, please help...
![image](https://cloud.githubusercontent.com/assets/20538468/23895196/f4e4d850-08ca-11e7-893c-d1f7984a3b37.png)

[2017-03-14 21:05] olikami opened #776 "Calendar 24 hours"
Infos

**Platform**: Raspberry Pi 3

**Node Version**: v6.10.0

**MagicMirror Version**: v2

**Description**: The calendar shows times as am/pm instead even if timeformat is set to 24.

**Steps to Reproduce**: Display any calendar with the calendar module.

[2017-03-15 00:00] roramirez commented on #776
I can see, this feature is not include into calendar module. I mean, the variable set `timeFormat` in global configuration variable isn't have effect the format how the  times are showing.

The config for `timeFormat` of **calendar module** have totally different behavior than global variable.

It's not difficult implement the behavior expected. I think this issue can be open until a contributor (

[2017-03-15 03:25] xbmcnut commented on #774
I have now tried a full rebuild with a clean install of the full Jessie build now then leaned it out using [this guide](https://forum.magicmirror.builders/topic/236/complete-setup-tutorial). As before, once I start going through with the PM2 stuff, everything seems to work OK until a reboot and MM does not start. Surely someone else has seen this? Am I making a simple NOOB mistake here or does it

[2017-03-15 06:56] BerndKohl commented on #774
I can confirm this running MM2.1 on Jessie (NOT Lite).
Setting up MM according to the documentation does NOT restart MM after a reboot.

[2017-03-15 07:30] xbmcnut commented on #774
@BerndKohl Thank you for the confirmation. Glad to know I'm not going mad.

[2017-03-15 10:10] jnphilipp commented on #774
I had the same problem. I ended up adding the line `pm2 start /home/pi/mm.sh` to `~/.config/lxsession/LXDE-pi/autostart`. Autostart works fine now.

[2017-03-15 10:27] BerndKohl commented on #774
Seems to be related to: https://github.com/Unitech/pm2/issues/2765

[2017-03-15 14:26] roramirez commented on #774
Well, Wiki page have a wrong sentence

It said the next sentence:
`sudo su -c "env PATH=$PATH:/usw/bin pm2 startup linux -u pi --hp /home/pi"`

The correct sentence will be /usr/bin path not /usw/bin
`sudo su -c "env PATH=$PATH:/usr/bin pm2 startup linux -u pi --hp /home/pi"`

If somebody can test this and fix the wikipage will be good.

[2017-03-15 23:37] xbmcnut commented on #774
@f-hj nailed this on the PM2 repository.
#https://github.com/Unitech/pm2/issues/2765#issuecomment-286778941

Changed pm2-root.service timeout from 8 to 15s at `/etc/systemd/system/pm2-root.service` and that resolved my issue on Pi2.

[2017-03-16 01:54] dmrowe84 opened #777 "weather not displaying"
ive input all my information correctly (as far as i can tell), however i still cannot get the weather to display.
any advice at all would be helpfull :)

![2017-03-15-203011_1920x1080_scrot](https://cloud.githubusercontent.com/assets/26317586/23978320/5ad30d66-09c1-11e7-947e-c41f5aa73a44.png)
![20170315_204115](https://cloud.githubusercontent.com/assets/26317586/23978324/5f347700-09c1-11e7-8967-16

[2017-03-17 15:26] MichMich commented on #777
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-03-17 15:26] #777 closed

[2017-03-17 15:28] MichMich commented on #774
Can I close this issue?

[2017-03-17 15:29] MichMich commented on #771
Can I close this issue, or is it still relevant?

[2017-03-17 15:30] MichMich commented on #748
Merged!

[2017-03-17 15:30] #748 closed

[2017-03-17 15:33] MichMich commented on #690
Since I don't see this happening anytime soon, I close the issue for now. Feel free to reopen this issue.

[2017-03-17 15:33] #690 closed

[2017-03-17 15:45] roramirez commented on #771
I have not tested the Raspbian Febrary 2017. I think the issue can be try use without Pixel or other X window system.

@jdallasschwartz Should be add more information about that.

Many problems like this is related I mentioned before. https://github.com/MichMich/MagicMirror/issues/577#issuecomment-275478334

@MichMich  You can close.  If @jdallasschwartz can provide more information in the future

[2017-03-17 15:49] roramirez commented on #774
I'm fix the wrong path in wiki page
https://github.com/MichMich/MagicMirror/wiki/Jessie-Lite-Installation-Guide

if @xbmcnut can add a note how He fixed your problem in wiki page I think we can close this.

[2017-03-17 15:55] #771 closed

[2017-03-18 09:05] BerndKohl commented on #774
As far as I can tell the file is named
`/etc/systemd/system/pm2-pi.service`
not
`/etc/systemd/system/pm2-root.service`

[2017-03-19 00:32] xbmcnut commented on #774
@roramirez Done.

[2017-03-19 11:21] nevido opened #786 "don't work voice command after sleep mode"
command "go to sleep" -> ok

command "smart mirror"  or "wake up" -> ok

and then ... do not work any voice command ...

it's ok before sleep mode

[2017-03-19 11:22] fewieden commented on #786
this isnt a feature of the magicmirror itself, you should create an issue in the github repo of the specific voice module

[2017-03-19 14:26] #786 closed

[2017-03-19 16:54] roramirez commented on #774
Thanks @xbmcnut !

@MichMich you can close this issue.

[2017-03-22 02:40] roramirez commented on #732
@KX900 Can you share your config?

[2017-03-22 14:52] autt87 commented on #732
@roramirez So I found a work around that worked for me. I took the compliments.js file and scp'd it to my computer. I then used different editors to view the file. All was looking about the same so I took my editor of choice: Atom.app and re-wrote all umlauts the sentences the way I wanted it to look.
Using Terminal I nano'd the .js file on the pi and removed the morning, afternoon, and evening fi

[2017-03-25 06:05] amcolash opened #791 "Errors with dates before Jan 1, 1970"
I think that I have some calendar events that somehow start before Jan 1, 1970 - can't say I know which of them is to blame here but I am assuming that this is a birthday. I was looking through the logs and kept seeing:

[code]

I think that we should probably gracefully change their start dates to Jan 1, 1970 (if we are not calculating ages when showing B-Days). I might have some time in the next

[2017-03-25 09:28] pawpawsoswag opened #792 "Cant configure/change the calendar"
I want to change the calendar events from US Events to PH Calendar events :(

[2017-03-25 15:38] roramirez commented on #792
Please go to forum http://forum.magicmirror.builders for support and troubleshooting.

[2017-03-25 16:19] roramirez commented on #791
Here is a thing related.
https://github.com/jakubroztocil/rrule/pull/125

I don't if the rrule project  include this into and what kind impact can will be. Are you propose keep a rrule patched for this kind of case?

[2017-03-25 16:30] Richard238 commented on #776
Same issue here. Added event to Google calendar for 26/03/2017 at 22:35
MM calendar shows it, incorrectly, as 10:35PM
MM `timeFormat` is set to 24
MM clock shows 24hr format as expected

[2017-03-25 19:27] roramirez commented on #776
HI @Richard238
This is something we knowed. You can read in my previous comment.
The issue is open at someone can resolve it. If you or someone else are interested to fix go ahead with a Pull Request.

[2017-03-26 17:13] amcolash commented on #791
Interesting. I am not sure of the impact of changing dates we try and parse. If that causes issues I think that it would be best to have a patched rrule version if that PR is not merged.

[2017-03-26 18:01] amcolash commented on #791
Doing some more research into the issue, looks like JS is more than capable of dealing with dates before 1970 (since the min/max dates able to be defined are much larger than that). http://stackoverflow.com/questions/27093130/how-to-get-the-minimum-and-maximum-date

[2017-03-26 18:30] amcolash commented on #776
There was a previous issue on this #412. It looks like the easiest way to do this is by changing your language configuration to `en-gb`. I am not sure if there is a need to actually build this functionality out.

Just for those interested in git and version control, check out https://git-scm.com/book/en/v1/Getting-Started
A pull request is basically a request to the repository owners to include ne

[2017-03-26 18:54] amcolash commented on #776
This is a hackish way of working things out. It won't work for languages other than english (not sure if there are a lot of non-english users). Moment has these formats associated with languages, so it might be a bit tricky to have it work internationally.

`calendar.js`

[code]

[2017-03-26 18:58] amcolash commented on #791
I edited my local version of rrule by changing `dateUtil.ORDINAL_BASE = new Date(1970, 0, 1);` to `dateUtil.ORDINAL_BASE = new Date(1900, 0, 1);` which works for me. I am assuming that there is a better way. Without this hack however, I am not able to see some of my calendar events because rrule kills the calendar thread early.

[2017-03-26 21:45] xy86 opened #797 "Unable to select timezone"
Not able to choose timezone.

Tried:
- timezone: Etc/GMT+01
- timezone: Etc/UTC+02

....for Oslo - Norway.

The clock disappears whenever a timezone-value is added (besides "null" or missing parameter).

Any help appreciated :)

[2017-03-28 10:50] JakobA-88 opened #798 "Can't get it to work on win10 device"
Hey. I'm a totally newbie, so I've tried to get it to work on my windows 10 laptop.
When i roll the programe in the CMD it shows the black mirror screen, on the monitor. But it says that it can't load the config. How can that be? I'm a totally newbie, and have followed a guide to install it.
I would also like to change the calender and overall language to Danish, if that is possible to? :)
I bough

[2017-03-29 14:51] Richard238 commented on #776
@amcolash That works perfectly, thank you! :-)

[2017-03-30 05:42] winstonma opened #804 "[newsfeed module]: Minor typo problem"
Very minor typo problem.

Typo on newsfeed.js line 189 & 234. The function should be called generateFeed and titleForFeed respectively.

[2017-03-30 22:05] johanhammar commented on #776
The problem is that moment.js defines the longDateFormat as "LT : 'h:mm A'" for en (United States, the default locale), which is what is used by the calendar()-function.

There are different approaches on how to fix the problem:
1. Don't use moment calendar()-function, instead implement the functionality in the Calendar Module.
2. Use something like

        moment.locale(config.language);

		if (

[2017-03-31 07:29] #804 closed

[2017-03-31 14:49] yawnsde opened #807 "fulldayevents from outlook.com calendar"
I'm not quite sure if I should mention this as an issue or submit a pull request. I use an outlook.com calendar and noticed that fullDayEvents are not marked as fulldayevent by calendarfetcher.js

This is because of the `isFullDayEvent` function.

Example: I have a fullDayEvent on my calendar for holiday, starting on April 1st ending on April 10th, marked as a fullDayEvent. isFullDayEvent now chec

[2017-03-31 16:44] #774 closed

[2017-03-31 16:44] #792 closed

[2017-03-31 16:47] amcolash commented on #776
I think we could safely assuming that all configs that use 24 hour format could just use the following. I am not sure if there are other ways of expressing time in other locales?

[code]

[2017-03-31 17:51] johanhammar commented on #776
I think that is good enough. It should also handle the opposite, i.e. using a locale that defaults to 24 hour format, i.e. sv or en-gb, and setting the timeformat configuration to 12.

[2017-03-31 23:05] hahrens opened #808 "[Feature] Digest-Auth for ical URLs"
Currently it's only possible to use Basic-Authentication for ical-URLs. By setting `sendImmediately` to false (as described [in the request documentation](https://github.com/request/request#http-authentication)), the request library will use digest-auth.

(Running on Raspberry PI 3B, Raspbian 8, Node 6.9.4, MagicMirror 2)

[2017-04-01 09:19] MichMich commented on #807
Yes, please send a PR (including updated Changelog)

[2017-04-01 09:20] MichMich commented on #798
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-04-01 09:20] #798 closed

[2017-04-01 16:12] hahrens commented on #808
I've seen that ist's already supported in the develop branch. Sorry.

[2017-04-01 16:12] #808 closed

[2017-04-01 18:02] roramirez commented on #808
Yes, Is added in https://github.com/MichMich/MagicMirror/pull/754

[2017-04-02 16:30] cowboysdude opened #813 "2.1.1 will not run under Windows 10"
Upon updating to 2.1.1 it will not start.

Windows does not recognize the bash or sh command and will error out because it cannot start electron.

see here: https://forum.magicmirror.builders/topic/2191/won-t-start-on-windows-after-upgrade

Doing this makes it work under Windows at the moment.

[2017-04-02 19:15] amcolash commented on #776
Here is an example handling many different cases 12 hour / 24 hour and also handling the reverse in cases where a normally 24 hour location would want 12 hour format. I am almost thinking that having a custom time formatting that is user defined might be more useful than these edge cases.

[code]

[2017-04-03 14:30] McFoggy opened #819 "[RFE] provide possibility to relocate a module node"
**Platform**: not relevant, working on windows targetting RaspberryPi

**Node Version**: not relevant, working on v6.10.0

**MagicMirror Version**: v2, forked

**Description**:

as a _module designer_ I would like that, at runtime , my module has the possibility to relocate itself in a new predefined location ; example from `bottom_center` to `fullscreen_above`.

I would probably require an API li

[2017-04-03 18:24] MichMich commented on #819
The position is currently up to the user. Can you give any use cases in which this is interesting?

[2017-04-04 05:38] McFoggy commented on #819
the position is up to the integrator of the system, for me the user is the one in front of the mirror using it.
Depending on what you use the library for this makes a big difference. I am working in healthcare for a software company, we want to use your framework to deliver new functionnalities to our end users (physicians, nurse, surgeon, hospital members), so we do the integration and the users

[2017-04-04 09:13] fewieden commented on #819
@McFoggy I made voice recognition modules for MM where I do some similar action.

On the command OPEN HELP there is a list with the voice commands for this module on top of all other modules and the background (all modules) get blurred behind it

[2017-04-04 10:04] McFoggy commented on #819
@fewieden thanks , I looked at your module and indeed it is a lot easier to use a fixed additonal DOM element than relocating a changing module DOM element.

[2017-04-04 10:05] McFoggy commented on #819
@MichMich I'll use @fewieden technic instead, it is a lot easier than relocating, forget the RFE.

[2017-04-04 10:05] #819 closed

[2017-04-04 11:59] jobsdonn opened #823 "Automatic Installer"
Raspberry.sh file in the installer:
Syntax error on line 153/4.
Missing ";" after the if statment.

[2017-04-04 14:11] roramirez commented on #823
Try the follow sentence

`bash -c "$(curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh)"`

[2017-04-05 06:59] BerndKohl opened #826 "Module calendar: titleReplace not working anymore?"
**Platform**: Raspberry Pi 3

**Node Version**: 6

**MagicMirror Version**: 2.1.1

**Description**: I am using titleReplace in calendar module to shorten some title (e.g. "Geburtstag" to "Geb."). This worked for some time but suddenly (cannot tell if it relates to the upgrade of MM from 2.1 to 2.1.1) it stopped working. Now no title gets replaced by its substitution - no changes done to config.js.

[2017-04-05 11:06] ajay17141994 opened #827 "how to add geolocation on map and marker as per location in magicmirror(curent location)"
Please only submit reproducible issues.

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)
Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.builders/category/10/troubleshooting](https://forum.magicmir

[2017-04-05 16:18] McFoggy commented on #819
@MichMich For the help scenario I used @fewieden technic, which worked perfectly.

But now I have new business scenarios in which using above technic is a total hack.

My setup is the following (simplified):
- a non visual module for voice recognition
- a module A for a particular business case  (that is a workflow with long duration), shown normally centrally in mirror with icons & texts to expla

[2017-04-05 18:15] MichMich commented on #827
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-04-05 18:15] #827 closed

[2017-04-05 18:18] MichMich commented on #826
I noticed the same on my calendar with the Facebook birthdays recently. I haven't yet upgraded to 2.1.1 though. Maybe it's a Facebook specific issue. I'd need to investigate this further.

If somebody discovers the issue, feel free to send a PR.

[2017-04-05 18:19] MichMich commented on #813
Windows is not a supported platform. Feel free to send a PR which solves this. Unfortunately the Core team won't focus on supporting it.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-04-05 18:19] #813 closed

[2017-04-05 18:20] MichMich commented on #797
Merged. Closing this issue.

[2017-04-05 18:21] MichMich commented on #682
Closing due to inactivity.

[2017-04-05 18:21] #682 closed

[2017-04-05 18:22] MichMich commented on #639
Since Edge/Windows is a non supported platform, and this issue is inactive I'm closing this for now ...
If you feel this issue should remain open, please let me know.

[2017-04-05 18:22] #639 closed

[2017-04-05 18:23] MichMich commented on #735
Most of these issues are discussed on the forum. I'm closing this issue for now.
If you feel this issue should remain open, please let me know.

[2017-04-05 18:23] #735 closed

[2017-04-05 18:23] #684 closed

[2017-04-05 18:25] MichMich commented on #664
Closing due to inactivity.
If you feel this issue should remain open, please let me know.

[2017-04-05 18:25] #664 closed

[2017-04-05 19:17] KirAsh4 commented on #682
I don't think this was an actual issue after it was fixed (by you). I haven't had any problems with it.

[2017-04-05 19:29] MichMich commented on #682
Good to hear! Thanks.

[2017-04-05 19:32] MichMich commented on #819
I think it's an extreme edge-case which you can solve using other techniques. I personally don't think it's worth an API change.

[2017-04-05 19:35] BerndKohl commented on #826
I am using a calendar in iCloud.
Correction: I am running NodeJS 6.10.2

[2017-04-05 20:28] fewieden commented on #694
Doesn't look like Midori will support this in the future and based on this comment https://github.com/MichMich/MagicMirror/issues/813#issuecomment-291950505

Do we bother on supporting midori or not?

[2017-04-05 21:19] Mar-85 commented on #694
Unless there's a more lightweight browser than MM nothing else runs well on the pi zero. Would be cutting out a lot of people, especially now that the new pi zero w/ wifi is out also. If all you wanted to run was MM a Pi3 is a bit over the top.

[2017-04-06 01:12] roramirez commented on #797
This issue I think need re-open, there a little thing I'm under investigation about mentioned in
review https://github.com/MichMich/MagicMirror/pull/803#pullrequestreview-30370685

[2017-04-06 04:27] PengchengWang commented on #561
It's ok when I add  this url http://news.baidu.com/n?cmd=1&class=technnews&tn=rss with
`encoding: "gb2312"`
in my config.js ,you can try it again!

[2017-04-06 04:28] ajay17141994 commented on #827
kindly keep this issue open as i want to know the various solution for this.

Thank you,

On Wed, Apr 5, 2017 at 11:45 PM, Michael Teeuw <notifications@github.com>
wrote:

[2017-04-06 05:48] winstonma opened #831 "[Module: Current Weather] Add support for daily Min & Max Temperature"
The OpenWeather API call returns the Max and Min temperature ("main.temp_max" & "main.temp_min"). It would be great if Daily Min/Max is being displayed on Magic Mirror.

Thanks

[2017-04-06 06:45] McFoggy commented on #819
No problem, I understand.

do you have things in mind? I probably missed easier techniques.

[2017-04-06 07:18] MichMich commented on #797
Reopened.

[2017-04-06 08:42] fewieden commented on #819
you could do this with css classes
class video -> transition on position and size
then add the thumbnail class
class thumbnail -> new position, new size

[2017-04-06 09:24] McFoggy commented on #819
changing the dom css classes would not be enough, would it?

Below the clock is inserted in the `top left` bar
![image](https://cloud.githubusercontent.com/assets/1119660/24746801/a19635ac-1aba-11e7-90a4-d569623ae00e.png)

If I want it `bottom right` at runtime, it is not enough to change the dom css classes. From what I understand of the MM layouting, regions are layed-out via `absolute` position

[2017-04-06 14:22] #823 closed

[2017-04-06 14:46] MichMich commented on #826
I tried it on may side and it is working on the current develop branch. Could you share the configuration section of your calendar (minus the private details). Thanks!

[2017-04-06 18:24] Beginner88888 opened #834 "after update black Screen"
hi guys,

today i had made first time an update. From the directory of MagicMirror with git pull.
after them i had a black screen.
When i start npm out of the MagicMirror Folder is got following issue record.

WARNING! Could not load config file. Starting with default configuration. Error found: Error: Cannot find module 'rrule-alt'
Loading module helpers ...
No helper found for module: alert.
Ini

[2017-04-06 18:44] BerndKohl commented on #826
module: "calendar",
      header: "Bevorstehende Ereignisse",
      position: "top_left",
      titleReplace: {
          "Geburtstag": "Geb.",
          "DTV Diespeck": "DTV"
        },
      config: {
        maximumEntries: 7,
        colored: true,
        dateFormat: "D.M.",
        calendars: [
          {
            symbol: "clock-o", //calender
            color: "#ffff00",
            ur

[2017-04-06 19:23] fewieden commented on #834
did you install the dependencies? ```npm install```

[2017-04-06 20:06] khassel opened #835 "Docker Setup"
Hi,

trying to setup docker in server only mode. Executing

`docker run  -d --publish 80:8080 --restart always --volume ~/magic_mirror/config:/opt/magic_mirror/config --volume ~/magic_mirror/modules:/opt/magic_mirror/modules --name magic_mirror MichMich/MagicMirror
`

results in

`docker: Error parsing reference: "MichMich/MagicMirror" is not a valid repository/tag: repository name must be lowerca

[2017-04-07 07:25] yomgdf commented on #834
Hello,

Same thing happen to me.
I try to install dependencies as fewieden asks and its works.

[2017-04-07 07:27] Beginner88888 commented on #834
Hi

I switched into the folder magic mirror and execute
"Npm install"

No changes.

[2017-04-07 08:10] fewieden commented on #834
can you double check if you entered the correct directory `cd ~/MagicMirror`, then `npm install` as it should install `"rrule-alt": "^2.2.3",` as listed in the package.json. If this still doesn't work I suggest to create a topic in the forum

[2017-04-07 10:30] Beginner88888 commented on #834
Ok, after installing npm, i get now following mesage by starting "npm start" out of folder "Magic Mirror"

Sockets connected & modules started ...
Whoops! There was an uncaught exception...
{ Error: listen EADDRINUSE :::8080
    at Object.exports._errnoException (util.js:1026:11)
    at exports._exceptionWithHostPort (util.js:1049:20)
    at Server._listen2 (net.js:1253:14)
    at listen (net.js:1

[2017-04-07 14:03] Beginner88888 commented on #834
i have found the error.
my wunderlist was at position left.
after change to top_left everything was fine

[2017-04-07 14:03] #834 closed

[2017-04-07 14:53] DutchDynamics commented on #826
I noticed that none of the setting on the calendar module is working anymore.
For example changing the fadePoint value, did not work. But also the config for displayRepeatingCountTitle and colored are not working.
Only when changing the default value in calendar.js it starts working. The individual values on calendar level are working correct.

[2017-04-07 15:02] MichMich commented on #826
@BerndKohl Your titleReplace setting should be part of the config object.

[2017-04-07 15:03] MichMich commented on #826
@DutchDynamics: Please share your config. I'm 99% sure its a config error.

[2017-04-07 15:11] BerndKohl commented on #826
@MichMich Thank you, that did the trick! Up and running!

[2017-04-07 16:08] DutchDynamics commented on #826
module: "calendar",
			header: "What's Next",
			position: "top_right",
			displayRepeatingCountTitle: true,
			classes: "default everyone",
			getRelative: 48,
			fadePoint: 0.1,
			colored: true,
			config: {
				calendars: [
					{
						color: "#FFFFFF",
						symbol: "calendar-check-o ",
						url: "https://outlook.office365.com/owa/c..."
					},
					{
						color: "#FF8888",
						symbol: "

[2017-04-07 16:14] MichMich commented on #826
Same issue. All your config settings should be part of the config object.

[2017-04-07 16:54] DutchDynamics commented on #826
Dank je wel (Thanks)

[2017-04-07 18:33] #826 closed

[2017-04-09 11:03] athuldevin opened #838 "error in npm start"
root@athuldevin:~/Desktop/magic mirror/MagicMirror-master# npm start

run-start.sh: 4: run-start.sh: electron: not found

npm ERR! magicmirror@2.1.1 start: `sh run-start.sh`
npm ERR! Exit status 127
npm ERR!
npm ERR! Failed at the magicmirror@2.1.1 start script.
npm ERR! This is most likely a problem with the magicmirror package,
npm ERR! not with npm itself.
npm ERR! Tell the author that this fai

[2017-04-09 11:10] fewieden commented on #838
did you run npm install?

[2017-04-09 11:19] athuldevin commented on #838
yes i did by opening terminal in that folder

On Sun, Apr 9, 2017 at 4:41 PM, fewieden <notifications@github.com> wrote:

[2017-04-09 11:34] fewieden opened #839 "Some calendars won't load"
Lately a lot of users complain about that some of their calendar files wont be loaded anymore in v2.1.1

https://forum.magicmirror.builders/topic/2221/after-upgrade-v2-1-1-multiple-calendars-not-displaying
https://forum.magicmirror.builders/topic/2208/calendar-shows-no-entries-after-mm-update

[2017-04-09 14:30] xaviruvpadhiyar98 opened #840 "Default Modules not working"

[2017-04-09 14:31] xaviruvpadhiyar98 commented on #840
when i start npm start
then the screen goes black

[2017-04-09 15:45] fewieden commented on #840
did you run npm install before?

[2017-04-09 15:51] BerndKohl commented on #838
Try a reboot, helped for me.

[2017-04-09 15:55] MaengMarco opened #841 "Microphone is not working"
I did it(npm install && npm start)
But microphone was not working.
on the other hand, If I access '192.168.0.11:8080' on another computer, microphone is working.
What should I do?

[2017-04-09 18:42] roramirez commented on #838
Node  v4.7.2? I'm sure if it working there.  Try update you node version and try again.

[2017-04-10 14:39] athuldevin commented on #838
i started from beginning all the outputs are given below

`
C:\Users\win-7\Downloads\magic mirror\MagicMirror-master>node -v
v6.9.5

C:\Users\win-7\Downloads\magic mirror\MagicMirror-master>npm -v
4.4.4

C:\Users\win-7\Downloads\magic mirror\MagicMirror-master>npm install
npm WARN prefer global coffee-script@1.10.0 should be installed with -g
npm WARN prefer global jsonlint@1.6.2 should be install

[2017-04-10 14:47] athuldevin commented on #838
is the problem due to eletron installation .i don't know well

[2017-04-10 15:00] robertoOk opened #842 "update errors"
hi, i've just update magic mirror to version 2.1.1 and it gave me those errors, what can i do with this?

pi@raspberrypi:~/MagicMirror2 $ npm start

Starting MagicMirror: v2.1.1
Loading config ...
Loading module helpers ...
No helper found for module: alert.
No helper found for module: clock.
Initializing new module helper ...
Module helper loaded: calendar
No helper found for module: compliments.

[2017-04-10 17:35] fewieden commented on #838
'sh' is not recognized as an internal or external command,

you cant run sh scripts out of the box in windows

[2017-04-11 03:06] alexf4 commented on #838
I'm getting the same error. Fresh install

[2017-04-11 08:46] MichMich commented on #842
There is an issue with the 'mm-music-player' module. Not with the Mirror's Core.

Please refer to the builder of that module or http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-04-11 08:46] #842 closed

[2017-04-11 08:47] MichMich commented on #841
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-04-11 08:47] #841 closed

[2017-04-11 08:47] MichMich commented on #840
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-04-11 08:47] #840 closed

[2017-04-11 12:16] howroyd opened #843 "Position: fullscreen_below_middle"
Suggestion:

The position identifier "fullscreen_below" is very useful for backgrounds however it is justified left.  It would be useful to be able to do something like, "fullscreen_below_middle"

Keep up the good work,

Many thanks

[2017-04-11 12:27] fewieden commented on #843
you could achieve that in custom.css

[2017-04-11 21:54] coderaaron commented on #839
So, here is what I'm getting when I do `npm start dev`

[code]

[2017-04-12 02:34] fuzzylogic725 opened #844 "Icloud Calendar isn't loading"
Raspberry PI 3
Magic Mirror 2.2

I have three calendars modules running on the MM interface.
The first one is a personal calendar from ical, this works perfectly, the second is a publicly available holiday calendar, and the third is a second personal calendar concerning something different.

The first two calendars work flawlessly, however, the third when using the same coding as the first two rem

[2017-04-12 15:06] athuldevin commented on #838
i installed sh globally using "npm install -g sh"  no use

[2017-04-12 17:43] gioblu opened #845 "Support PJON"
Ciao @MichMich, how its going?
Recently PJON has been ported to RPI: https://github.com/gioblu/PJON/wiki/Raspberry-Pi-interfacing
Would be nice to see it used here, because it could open up many new possibilities!

Here the link to v8 release: https://github.com/gioblu/PJON/releases/tag/8.0

Compliments for this amazing work!

[2017-04-12 18:38] bastilimbach commented on #835
@khassel Take a look at my PR (#846). I fixed the overwriting of the modules folder and changed the README. Now, @MichMich only needs to publish this image on Docker Hub/Store and it should all work. Hopefully 👍

[2017-04-12 18:47] coderaaron commented on #839
After a little more digging, it looks like this is caused by recurring events that have more than one `exdate` (exception date)...I started debugging the ical.js and node-ical.js, but need to do some work so I can't go any further today

[2017-04-12 20:23] MichMich commented on #845
Thanks man! Awesome work.

I don't se how PJON could be integrated into the MagicMirror core, but of course you could develop a module yourself which leverages PJON!

Check out the forum if you need any help! http://forum.magicmirror.builders

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-04-12 20:23] #845 closed

[2017-04-12 20:23] MichMich commented on #844
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-04-12 20:23] #844 closed

[2017-04-12 20:25] MichMich commented on #843
Indeed. As said, that's what the custom.css is for. Also, a module could leverage it's own css file.

I'll be closing this issue for now since I think thats the appropriate solution. Let me know if I need to reopen it.

[2017-04-12 20:25] #843 closed

[2017-04-12 20:26] MichMich commented on #831
I might be confused, but the weather forecast already shows these values?

[2017-04-13 02:33] winstonma commented on #831
I guess the weather forecast should show today's min max but it didn't.

[2017-04-13 05:10] BerndKohl commented on #831
You got me confused: @winstonma is relating to Current Weather module (according to the title of the thread) whereas @MichMich is talking about weather forecast.
If I get it right @winstonma wants to be able to show todays min and max in Current Weather, NOT in Weather Forecast (where it is already being shown.). This would allow showing todays min/max/current without enabling Weather Forecast mod

[2017-04-13 07:09] winstonma commented on #831
Thanks @BerndKohl you are right but I am not really mind as long as one of them shows the min/max.

But I can't see today's min/max in any of the modules so I created this issue.

[2017-04-13 09:09] rpinyxxjoe opened #847 "Meeting subjects don't fully display if they contain apostrophes"
Please only submit reproducible issues.

If you're not sure if it's a real bug or if it's just you, please open a topic on the forum: [https://forum.magicmirror.builders/category/15/bug-hunt](https://forum.magicmirror.builders/category/15/bug-hunt)
Problems installing or configuring your MagicMirror? Check out: [https://forum.magicmirror.builders/category/10/troubleshooting](https://forum.magicmir

[2017-04-13 23:29] Steakschen opened #849 "Current Weather not working/showing"
Hi,

i installed it on raspi 3.

I Cant see current weather, i synced the git code, but it dosent show up.
Weather Forecast works

`                        module: "currentweather",
                        position: "top_left",
                        colored: "true",
                        config: {
                                location: "Illingen",
                                locationID:

[2017-04-15 15:32] roramirez commented on #791
This is related with  #839. Some calendar are not loaded maybe containt events before Jan 1, 1970

[2017-04-15 17:24] roramirez commented on #835
Nice work @bastilimbach

I've thinking about an idea. It wold be cool if we can integrate an arm image like Debian + Pixel and run the test suite there integrated directly in Travis or other CI.

Are you have some idea how we can do it this?

[2017-04-15 17:34] bastilimbach commented on #835
Thanks @roramirez 😊
Correct me if I'm wrong. So you want to run the testing within the docker container/build process?

[2017-04-15 17:46] roramirez commented on #835
Yes. the idea is to equals architecture and OS for "supported system", example Raspbian Jessie + Pixel.

[2017-04-15 17:54] bastilimbach commented on #835
Ok but I don't get the point, why this is needed. If the OS has Docker installed, the application will work. There is just one possible event, where the application doesn't work and that's when the CPU architecture is ARM or x86 and the Docker Image uses a non ARM or x86 base os. Or what do you mean with `"equals architecture"`?

[2017-04-15 18:01] roramirez commented on #835
I mean with "equals architecture"  for example, have a Docker Image with _Raspbian Jessie + Pixel_  and  run the test suite in this  defined container like as we are doing in Travis.

[2017-04-15 18:24] bastilimbach commented on #835
Ah, I think I get it. So we create different Dockerfiles which have all different kinds of OS, right? Then we run a little test suit and see if electron is starting correctly etc. And on every new release, we run these Docker Images to test different operating systems and we can have a little "supported operation systems" section in the readme.

I think we can accomplish this within travis ci. I n

[2017-04-15 18:43] bastilimbach commented on #835
@roramirez Take a look at this: https://docs.travis-ci.com/user/multi-os/
You can choose between Linux and macOS and what they have installed. But the linux version is always Ubuntu, which isn't optimal. I don't see a way of changing the Linux distro in a travis build. Do you?

[2017-04-15 21:30] HawkingJan commented on #849
Just a guess, but is there a reason that you put both modules at "position: "top left" and used different appids (I would recommend to remove them anyway in the post)?
Greetings to Illingen.

[2017-04-16 07:28] DutchDynamics commented on #839
Hi, I also have the same problem. It looks like there are different ways to deal with multiple EXDATA in the ics file.
Some calendars return it like this:
EXDATE;TZID=South Africa Standard Time:20170403T060000,20170410T060000,20170417T060000,20170501T060000

others return it like:
EXDATE;TZID=South Africa Standard Time:20170403T060000
EXDATE;TZID=South Africa Standard Time:20170410T060000
EXDATE;T

[2017-04-16 08:43] winstonma commented on #831
I just checked this afternoon and it shows today's weather forecast. So I am not sure what happened.

Does TimeZone affect the result?

[2017-04-17 15:46] coderaaron commented on #839
So this is SUPER hacky but it got my calendar to load.  The only thing is it takes just the first exdate and ignores the rest so consider it an alpha-version, not sure if I'll have to time make it better so if anyone else has the time I'd appreciate the help:

MagicMirror/modules/default/calendar/vendor/ical.js:200

[code]

[2017-04-18 11:45] Projekt95 opened #857 "'node ./download-chromedriver.js' fails while installing MagicMirror²"
[magic_mirror_debug.txt](https://github.com/electron/chromedriver/files/923713/magic_mirror_debug.txt)

I don't know why this happens.
NPM version: 4.5.0
Node Version: 6.10.2
Raspbian with Pixel + newest Firmware & Updates

Last lines after install fails, full debug.txt is attached:

[code]

I tried to install it manually but that didn't work as intended:
I could avoid the errormessage after I man

[2017-04-18 19:49] DutchDynamics commented on #839
Hi,

Took your example and played around a bit. This is loading my calendar, and it's including all exceptions not only the first one

`
// EXDATE is an entry that represents exceptions to a recurrence rule (ex: "repeat every day except on 7/4").
    // There can be more than one of these in a calendar record, so we create an array of them.
    // The index into the array is the ISO string of the

[2017-04-18 20:16] tgeimer commented on #791
Thank you! changing the ORDINAL_BASE worked for me.

[2017-04-19 15:59] ExxonLIVE commented on #857
Hi, i have exactly the same problem.

[2017-04-19 16:40] mirko3000 opened #859 "Newsfeed - Issue with expiration"
Hello,

I think there is a bug in the newsfeed expiration calculation in newsfeed.js(generateFeed):

if (!(this.config.ignoreOldItems && ((Date.now() - new Date(item.pubdate)) > this.config.ignoreOlderThan))) {

Should be:
if (!(this.config.ignoreOldItems && ((Date.now() - new Date(item.pubdate)) **<** this.config.ignoreOlderThan))) {

Best regards,
Mirko

[2017-04-19 17:13] BerndKohl opened #860 "Missing translation for 'Week' in module 'clock' when showWeek is set to true"
**Platform**: Raspberry Pi 3
**Node Version**: 6.10.2
**MagicMirror Version**: 2.1.1
**Description**: Missing translation of "Week" in module 'clock' when showWeek is set to true.
**Steps to Reproduce**: Enable display of calendar week in module 'clock'
**Expected Results**: Display "Woche 16" when language is set to 'de' in config.js
**Actual Results**: "Week 16" is displayed

[2017-04-19 23:01] roramirez commented on #860
Send a Pull Request with this change for de language.

[2017-04-20 06:09] BerndKohl commented on #860
Would love to, simply don't know how to do this. Is there a short tutorial/introduction available?

[2017-04-20 06:17] BerndKohl commented on #860
As I can see this has already been fixed in development branch. Sorry for the hussle.

[2017-04-20 06:17] #860 closed

[2017-04-20 09:14] MrXfree11 commented on #839
Hi, any chance to give me an hint which file to edit, to apply that super hacky workarround? The publicly published .ical file from my Exchange 2016 Calendar creates exactly the same error since the MM upgrade:

`Create new news fetcher for url: http://www.faz.net/rss/aktuell/ - Interval: 300000
Whoops! There was an uncaught exception...
TypeError: curr.exdates[i].toISOString is not a function
`

[2017-04-20 13:36] coderaaron commented on #839
The file to edit is `MagicMirror/modules/default/calendar/vendor/ical.js`

[2017-04-20 14:19] MrXfree11 commented on #839
AWESOME! works like a charm. Thanks a lot.

Cheers.

[2017-04-20 15:13] fewieden commented on #859
I did a small test on jsfiddle and it looks good to me https://jsfiddle.net/0g541k8b/

[2017-04-20 16:06] ExxonLIVE commented on #857
I think that you can try the server-only version and use your own browser. I'll try that right now.

[2017-04-20 19:41] Projekt95 commented on #857
@ExxonLIVE Did it work for you?

[2017-04-20 19:47] #835 closed

[2017-04-21 04:46] ExxonLIVE commented on #857
No, it did not. I still had to use "npm install", thats where the error is triggered.

[2017-04-21 06:05] mirko3000 commented on #859
Yes you are right, the expression was correct. I found the issue: I did not set ignoreOldItems to true.

[2017-04-21 06:05] #859 closed

[2017-04-21 17:17] Hermpi opened #864 "Timezone setting in Office 365 causes error in calendar module"
Hi,

I have is some troubles to get my private calendar displaying on the MM and I think there is something wrong with Ical handler. For all additional information see my discussion with Cohron on the forum:
https://forum.magicmirror.builders/topic/2347/office-365-calendar-issues/8

I'm able to get all my appointment showing up at the screen but the they all have a invalid value: "End in Invalid d

[2017-04-21 22:19] josgab opened #866 "magicmirror 2"
0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/bin/node', '/usr/local/bin/npm', 'start' ]
2 info using npm@2.14.7
3 info using node@v4.2.1
4 verbose config Skipping project config: /home/pi/.npmrc. (matches userconfig)
5 verbose run-script [ 'prestart', 'start', 'poststart' ]
6 info prestart magicmirror@2.1.1
7 info start magicmirror@2.1.1
8 verbomose unsafe-perm in lifecycle true

[2017-04-22 11:24] fewieden commented on #847
Can you give more details about your issue please, as you didn't fill out any required information.

[2017-04-22 11:26] fewieden commented on #866
which os are you using?

[2017-04-22 11:28] ExxonLIVE commented on #857
It is working.

Have you been running as root all the time? I tried it with the "normal" "pi"-user and it worked. (I did it on a  not clean system. I tried some different stuff before. I'll try this on a clean system now.)

[2017-04-22 12:09] ExxonLIVE commented on #857
It IS working.

Clean Raspberry Pi IMG, downloaded a week ago. Just run the auto install as PI-user, no update/upgrade. It worked.

[2017-04-22 12:18] rpinyxxjoe commented on #847
Platform: Place your platform here... give us your web browser/Electron version and your hardware Raspberry Pi 3

Node Version: version 0.12.13

MagicMirror Version: newer JavaScript version (v2)

Description: when connecting to Google Calendar's API, user-generated meetings/appointments stop parsing once an apostrophe is detected in the meeting subject. However, system-generated meetings/appointm

[2017-04-22 15:04] ghost opened #868 "ETA of calendar module is not displayed correctly"
Some events (more than a month in the future) doesnt get displayed correctly..
Its a google calendar!

**Picture:**
http://i.imgur.com/5xyeN2p.jpg

**Data:**

BEGIN:VEVENT
DTSTART:20170627T080000Z
DTEND:20170627T090000Z
DTSTAMP:20170422T145944Z
UID: .....
CREATED:20170410T094531Z
DESCRIPTION:
LAST-MODIFIED:20170417T185228Z
LOCATION:
SEQUENCE:1
STATUS:CONFIRMED
SUMMARY: Test
TRANSP:OPAQUE
END:VEVEN

[2017-04-22 16:35] nhubbard commented on #791
This issue is called [epoch time](https://en.wikipedia.org/wiki/Unix_time). It is how Unix (and by extent, Linux) systems count time. It starts on January 1<sup>st</sup>, 1970. This issues makes complete sense, considering that negative time doesn't exist.

[2017-04-22 16:59] MichMich commented on #866
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-04-22 16:59] #866 closed

[2017-04-22 17:00] MichMich commented on #849
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-04-22 17:00] #849 closed

[2017-04-22 20:29] Projekt95 commented on #857
@ExxonLIVE
Nice! Yes I was running the install with sudo.
I'll try your solution ASAP! :)

[2017-04-22 21:02] mitch1138 commented on #839
_tgeimer_ suggested editing
`ORDINAL_BASE: new Date(1970, 0, 1),`
in
`/home/pi/MagicMirror/node_modules/rrule-alt/lib/rrule.js`
to an earlier date.  I used 1000 and it resolved my issue.

[2017-04-22 21:05] Projekt95 commented on #857
Without sudo it works like a charm!
I don't even know how I thought that I have to run the Installer with sudo permissions... lol
Well, thanks. You really helped me out!

[2017-04-22 21:05] #857 closed

[2017-04-22 22:08] roramirez commented on #839
I think to be this we need fork the actual repository and apply the patch or create a rules for add this path. cc @fewieden @amcolash

[2017-04-22 22:10] berlincount commented on #791
Sorry, but I don't think limited representability in one of the underlying formats is a good reason to not support times outside that formats range ;)

[2017-04-22 22:15] roramirez commented on #791
@berlincount
Recently I added  comment here about that
https://github.com/MichMich/MagicMirror/issues/839#issuecomment-296404724

[2017-04-22 23:44] nhubbard commented on #791
@berlincount I mean, yes, JavaScript supports going before that, but it doesn't make sense unless you patch the kernel. Which is annoying and weird. In this case, you *can* edit the ORDINAL_BASE as said above.

[2017-04-23 17:24] amcolash commented on #839
I made an issue on the rrule repo [here](https://github.com/arolson101/rrule-alt/issues/4), maybe we can get official change instead of a local version. I was looking into the code and it doesn't look like it would be easy to inject our own `ORDINAL_BASE`. Seems like a patch, fork or local copy are the options.

[2017-04-23 17:26] amcolash commented on #791
Seems like ruule-alt isn't much more supported than just rrule. I wonder if there are other repeating rule js libraries out there (haven't checked but might be worth it).

[2017-04-24 18:53] MichMich commented on #839
I think the best approach is indeed forking one of the libs and maintaining it ourselves. Any volunteer? 😄

[2017-04-24 20:52] Arkkimaagi opened #871 "The wind directions can be confusing in written form."
The abbreviations for wind directions do not work similarly in Finnish as in English.

| English         | Finnish compass direction |
|-----------------|---------------------------|
| North           | pohjoinen                 |
| Northnortheast  | _no word_                 |
| Northeast       | koillinen                 |
| Eastnortheast   | _no word_                 |
| East            | itä

[2017-04-24 21:00] Arkkimaagi commented on #871
One happy coincidence with my mirror project is that my mirror happens to be on a wall where I can see it from direction South towards North, makes translating the arrow direction to my home extra handy.

[2017-04-25 15:04] Swagielka opened #874 "Clock Module - German "Week" Translation"
Greetings!
Would you kindly add the german translation for "Week" in the Clock Module?
"Week" = "Woche"

Sincerely,
Kukielka

[2017-04-25 15:10] fewieden commented on #874
Merged 3 weeks ago, you have to wait for the next release or use the develop branch.

https://github.com/MichMich/MagicMirror/pull/817

[2017-04-25 15:32] Dup0n7 commented on #839
Where in MagicMirror/modules/default/calendar/vendor/ical.js do you add those lines @DutchDynamics  ?

[2017-04-25 16:54] DutchDynamics commented on #839
Hi,

I attached the versions of ical.js and node-ical.js that i'm currently using
The change I made is in the method 'exdateParam' in the ical.js
From line 182 till 202

[ical.js.zip](https://github.com/MichMich/MagicMirror/files/955847/ical.js.zip)

[2017-04-25 20:42] Arkkimaagi opened #876 "Improve translation flexibility"
String joining can get us only so far regarding translations. In some cases it would be easier to reorder words with the translation strings.

I'd suggest that we'd add support for something like string literals that are coming in future version of js.

For example calendar could support Finnish way of saying the `RUNNING` a bit better
en.js:
[code]
fi.js:
[code]
Notice the `{timeUntilEnd}` variab

[2017-04-26 01:27] amolpagar commented on #150
Hi MichMich

I reached to till below point  after complete installation, I see a black screen on Pi, none of the applications are loaded, can you please let me know what could be the issue?

pi@raspberrypi ~/MagicMirror $ npm start

Starting MagicMirror: v2.1.1
Loading config ...
Loading module helpers ...
No helper found for module: alert.
Initializing new module helper ...
Module helper loaded:

[2017-04-26 01:39] amolpagar commented on #150
https://github.com/MichMich/MagicMirror/issues/222
I checked at above url and tried removing module one by one, it looks like only newsfeed might work :(

[2017-04-26 01:43] amolpagar commented on #150
I **cant** see such lines after launching application, does it take too much time to load? looking at interval??

Create new calendar fetcher for url: http://calendar.google.com/calendar/ical/de.german%23holiday%40group.v.calendar.google.com/public/basic.ics - Interval: 300000
Create new news fetcher for url: http://www.tagesschau.de/xml/rss2 - Interval: **300000**

[2017-04-26 01:50] roramirez commented on #839
Note: I've testing the patch proposed before
https://github.com/roramirez/rrule-alt/commit/7e1cd5892384c5f92c5b9294d72353322767ff72
and  the tests of rrule-alt  are broke inside the lib.

[2017-04-26 20:09] superfino commented on #838
Suffered the same problem with a fresh MM installation on a Rpi III. After starting MM the default modules are obviously running but MM struggles with additional modules like MMM-MotionEye.
Are there any ideas or solutions for this ???

`npmnpm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! magicmirror@2.1.1 start: `sh run-start.sh`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the magicmirro

[2017-04-27 22:28] markuzSchmidt opened #878 "resume(): documentation <-> behavior mismatch"
### Description
[Documentation](https://github.com/MichMich/MagicMirror/tree/master/modules) of `resume()` states:

Minimal example (see below) shows, that `resume()` actually gets called regardles of the previous hidden status, which doesn't match the expectation implied by "after it was previously hidden".

### Example
[code]

### Result
Log shows "hidden status before call: false" followed by "

[2017-04-29 07:53] ar84 opened #880 "My Mirror broke at startup with pm2"
Hey Guys.

I had a Problem starting my MM.

Anyone knows what To do??

/home/pi/.pm2/logs/mm-error-0.log last 15 lines:
0|mm       |     at loadModules (/home/pi/MagicMirror/js/app.js:172:3)
0|mm       |     at /home/pi/MagicMirror/js/app.js:218:4
0|mm       |     at loadConfig (/home/pi/MagicMirror/js/app.js:77:4)
0|mm       |     at App.start (/home/pi/MagicMirror/js/app.js:206:3)
0|mm       | T

[2017-04-29 09:11] fewieden commented on #880
Please refer to https://forum.magicmirror.builders for support and troubleshooting.

[2017-04-29 12:59] clemy49 commented on #185
@MichMich how can I use the birthday calender? I created the googl events as mentioned above but I dont get the right format on my mirror.

thanks for your help and this awesome project :)

[2017-05-01 03:24] amolpagar commented on #150
I found a solution after digging a lot,

The problem was a warning during npm install as below
pi@raspberrypi ~/MagicMirror $ sudo npm install
npm WARN lifecycle magicmirror@2.1.1~install: cannot run in wd %s %s (wd=%s) magicmirror@2.1.1 cd vendor && npm install /home/pi/MagicMirror
npm WARN lifecycle magicmirror@2.1.1~postinstall: cannot run in wd %s %s (wd=%s) magicmirror@2.1.1 sh installers/pos

[2017-05-01 07:43] fewieden commented on #150
cannot run in wd %s %s (wd=%s)

can be avoided by `npm install --unsafe-perm`

[2017-05-01 09:10] GobleSt commented on #839
Edits by coderaaron and DutchDynamics fixed this for me also as I had the same exact issue.

Thanks all!!!

[2017-05-01 19:59] Arkkimaagi commented on #871
It seems that this has been merged into development. So, if I understand correctly, this issue can be closed now?

[2017-05-01 20:00] Arkkimaagi commented on #876
Seems that this has been merged into develop, maybe this issue can be closed? Or do you close these only when merged into master?

[2017-05-03 07:28] ar84 commented on #880
can be closed

[2017-05-03 07:28] #880 closed

[2017-05-03 19:05] JoDa92 commented on #868
The data is correctly parsed:

pi@raspberrypi:~/MagicMirror/modules/default/calendar$ node debug.js
Create fetcher ...
Create fetcher done!
[ { title: 'Test1',
    startDate: '1498550400000',
    endDate: '1498554000000',
    fullDayEvent: false,
    class: undefined,
    location: false,
    geo: false,
    description: false },
  { title: 'Test2',
    startDate: '1501495200000',
    endDate: '15

[2017-05-03 19:56] JoDa92 commented on #868
If i try to use the console.log function in the calendar.js file it doesnt show me any info on the screen. Im starting it with npm start dev.

[2017-05-03 20:22] JoDa92 commented on #868
The line
moment(event.startDate, "x").fromNow()
is making the startDate 1504821600000 to "in %s Mon."

[2017-05-04 01:11] deadherring commented on #839
Thanks @coderaaron and @DutchDynamics!!  I've been having the same problem with the exchange calendar and copied your files to my magic mirror and now it's working!

[2017-05-04 05:49] JoDa92 commented on #868
Check this out:
http://jsfiddle.net/rLjQx/1094/
without the "x" its working!!

Its also working if i use a "X" for the normal unix timeformat.

Im gonna test it later on my pi

[2017-05-05 02:21] roramirez commented on #876
Hi @Arkkimaagi you should be close this issue.

[2017-05-05 04:02] Arkkimaagi commented on #876
Closing the issue as it was merged.

[2017-05-05 04:02] #876 closed

[2017-05-05 04:03] Arkkimaagi commented on #871
Closing the issue as it was merged.

[2017-05-05 04:03] #871 closed

[2017-05-05 19:02] elmerito25 commented on #839
Same here!  Thanks a lot!

[2017-05-06 01:50] roramirez commented on #874
This is  need to  close it. @Swagielka Can you'll close it?

[2017-05-06 18:27] z0diak opened #884 "bash syntax problem with installer"
Installer in https://github.com/MichMich/MagicMirror/blob/master/installers/raspberry.sh doesn't work correctly on a brand-new RPI with raspbian-jessie.
Syntax error
[code]

Going to propose PR to fix that.

Just thinking, maybe we should have tests running for installer? Just like: exit code is 0

[2017-05-07 13:50] puluter opened #886 "stuck in 'node:install.js'"
[code]

I've been stuck in this page for such a long time,is there a solution?
Huge tks if there is one.

[2017-05-07 14:36] fewieden commented on #886
your node version is 3 years old update it and it will work fine

[2017-05-07 14:46] bogdanabadi opened #887 "Automatic Installer & npm start (No widgets, not finding resources)"
**Platform**: Raspberry Pi 3
**MagicMirror Version**: (v2).

**Description**: When I try automatic installer it and start with electron-chromedriver.js, it shows that electron-chromedriver.js registry 404. When manually downloading and performing npm install no widgets are displayed. After npm start dev (Development mode) it shows multiple errors that the modules are not found, even though its all

[2017-05-07 15:01] tgabben commented on #864
I'm seeing the same symptom. I tried to feed the calendar module an O365 .ics file, and it's showing me a string of appointments in the past as 'upcoming' and all with the 'Ends in Invalid Date'.

It does appear that all of these unwanted (and long passed) events were created in a time zone other than my own (I've even noticed that there is one 'legitimate' event which is actually in the future, m

[2017-05-07 16:17] fewieden commented on #887
in the latest version there is a npm install task in the vendor folder as well which gets executed automatically after a successful install, yours wasn't successful so this was never executed

[2017-05-08 00:10] roramirez commented on #884
There are a workaround where you can using the script installer like this.

`bash -c "$(curl -sL https://raw.githubusercontent.com/MichMich/MagicMirror/master/installers/raspberry.sh)"`

If you want adding test for installer script ...go ahead.

[2017-05-08 06:43] #874 closed

[2017-05-08 10:21] bogdan1133 commented on #887
@fewieden So how can this be solved ? By performing a manual npm install in the vendor folder ? Cause I have tried multiple times to make it work, with manual and automatic installation.

[2017-05-08 10:30] Hermpi commented on #864
They have already did a Pull request to fix this issue.  My O365 calendar works perfect now.

See: https://github.com/MichMich/MagicMirror/pull/875

I think they will implement it with the next update for MM. I replace the two files (ical.js & node-ical.js) manually.

[2017-05-08 15:17] twosix6 opened #888 "Error Create Config File"
So, I am getting a warning run my mirror, and it boots to the Create Config page.  I was told to deconstruct my config, which I did.  I figured out I get this error because of my calendar link.  I am using and icloud calendar and cannot figure out the problem to this.  Thanks!  Link to my troubleshooting on the Forum w/ my config file: https://forum.magicmirror.builders/topic/2516/trouble-with-con

[2017-05-08 23:04] tgabben commented on #864
Unfortunately, those modified ical.js & node-ical.js files don't address the issue I'm having with events persisting in the display with "Ends in Invalid date". The original issue does appear to have been related to Exchange calendars, but I'm not seeing any relief from what appears to be an issue with the TZID format.

[2017-05-09 06:25] Hermpi commented on #864
Okay I get what your problem is. I delete all events in the past from my calendar to be sure this doesn't cause a problem. I my case there were upcoming and past events displayed with the invalid date error. I will add a event in the past in my calendar and when I come home from work I will check what the MM displayed.

[2017-05-09 10:16] tgabben commented on #864
Ah - unfortunately, clearing all past events isn't entirely practical or feasible for me.

Additionally - as you've acknowledged - the problem exists for upcoming events as well as past events. Not only are there past meetings junking up the list, but there are one or two upcoming meeting invites in there, too - showing as "Ends in Invalid date" because they were created in Eastern Time by a colle

[2017-05-11 22:37] HawkingJan commented on #868
I've the same problem. I think it might be an issue of an old moments.js version.
In your "working" example you use
http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.2.1/moment.min.js
as external resource.

If I use
http://momentjs.com/downloads/moment.min.js
or
http://momentjs.com/downloads/moment.js
(which is currently equivalent to version 2.18.1)
instead
also

[code]
results in "in 4 months" a

[2017-05-14 13:14] tshort opened #889 "Hidden module isn't completely hidden"
I have an MM setup with modules that overlap using the MMM-ProfileSwitcher and MMM-TouchNavigation modules. Here's a [forum link](https://forum.magicmirror.builders/topic/2566/fridge-mounted-display) on my touch-based, not-a-mirror setup.

I have two or more IFrames in the same area. When I hide the top one, the underlying module hides, but mouse clicks and touch don't work on any of the links sho

[2017-05-14 13:57] andreicioromila commented on #857
Isn't it weird that the MagicMirror install script changes user to root if this is causing problems?

[2017-05-15 18:29] MichMich commented on #889
I understand the issue and your approach probably saves it, but is indeed not the best way to do it. This needs a bit of a cleaner solution. Unfortunately, "touch" functionality is not a supported part of the core, so I don't expect anyone to solve this soon. Of course, you can send a PR with a clean solution. If it's well thought thru, I'll merge it in the develop branch.

Let me know if this ans

[2017-05-15 18:30] MichMich commented on #888
Please only submit reproducible issues. For other issues, please use the support forums. Thanks!

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-05-15 18:30] #888 closed

[2017-05-15 18:31] MichMich commented on #887
Did you try the develop branch, or the master branch?

[2017-05-15 18:32] MichMich commented on #886
As fewieden says: please update node. Should be solved.

[2017-05-15 18:32] #886 closed

[2017-05-15 18:32] MichMich commented on #884
Fix merged.

[2017-05-15 18:32] #884 closed

[2017-05-15 18:32] MichMich commented on #878
Please send a PR! Thanks.

[2017-05-15 18:32] #878 closed

[2017-05-15 18:34] MichMich commented on #868
IS this still an issue? Or can I close this?

[2017-05-15 18:45] tshort commented on #889
That answers it. Thanks.

[2017-05-15 18:54] #889 closed

[2017-05-15 20:51] HawkingJan commented on #868
Yes, it is still an issue (for me). However it might depend on the moments version. I used a puplic calender that has only few entries so some are a few month in the future and erroneously shown as "in %s Mon.".

[code]

Maybe this example helps you to reproduce this issue.

[2017-05-17 06:26] PooLP commented on #735
Hi,
I have the same error.
I change the port and reboot the application too often ... it is not very practical to code a module.

[2017-05-17 09:01] JanLoebel opened #891 "[Suggestion] Move custom.css to /config/"
Hi,

what do you think about moving the "_/css/custom.css_" file to "_/config/custom.css_" and only load it if it exists? This would be great to have the possibility to use Docker and only specify the local config- and module-folder.

Any suggestions?

Best regards,
Jan

[2017-05-17 11:45] Arkkimaagi commented on #847
It seems that the default calendar module removes certain strings:
[code]
I do not know why it does this by default but if you specifically set your config to have `titleReplace: {},` like this:
[code]
After that it should not remove the strings.

I'd probably change the default behaviour to *not* include these string stripping features. What do the maintainers think?

[2017-05-18 02:33] roramirez commented on #891
There not possible to mount css directory into volume of docker?

[2017-05-18 08:23] JanLoebel commented on #891
Not really, because in the css directory there is also the _main.css_ which you would have to copy in the mounted local directory.

[2017-05-18 09:05] winstonma commented on #831
I don't know why but seems it is working now.

I think it is better to close this.

[2017-05-18 09:05] #831 closed

[2017-05-18 13:43] MichMich commented on #891
What could be an option, is to make the main.css path configurable. With the default set to the current location. This way, you can modify it in your config, and it won't be a breaking change.

Feel free to send a PR for this. Make sure to update the CHANGELOG & README accordingly.

[2017-05-19 09:55] priya99 commented on #440
Hi,

I am new to node.js.I am trying to create new sample module "test".I am sending notification from test module to node_helper and trying to receive notification back to test module.From test module to node_helper notification works fine, but test module does not receive any notification from node_helper.

Any help appreciated
Here is my module code:
test.js:

Module.register("test",{

	default

[2017-05-19 13:38] priya99 opened #894 "sendSocketNotification is not working from node_helper to main module"
Hi,

I am new to node.js.I am trying to create new sample module "test".I am sending notification from test module to node_helper and trying to receive notification back to test module.From test module to node_helper notification works fine, but test module does not receive any notification from node_helper.

Any help appreciated.
Here is my module code:
test.js:

Module.register("test",{

default

[2017-05-19 13:39] MichMich commented on #894
Make sure you first send one message from the module to the helper. After that the communication channel is created and you can send a message from the helper to the module.

[2017-05-19 13:55] priya99 commented on #894
Thanks for quick reply.I have created communication channel by sending notification from test module to node_helper.

`start:function(){
	this.sendSocketNotification("main",{message:"test1"});
},`

[2017-05-19 20:18] mamoun21 opened #896 "why can't i have two seprate calenders?"
i want to have a calender for holidays on the top right and another one as a personnal agenda on the bottom left but when i do that its like a have an error or something..

[2017-05-19 21:04] #896 closed

[2017-05-21 09:31] JoDa92 commented on #868
Still an issue. I switched to absolute dates for the moment. Will have a look at it again in a few days!

[2017-05-22 00:05] dpapathanasiou opened #901 "Model B+ supported?"
I've seen issues and troubleshooting posts referring to getting MM running on a Model B+, so I'm not sure if it is officially supported.

The automated installer fails with this message:

<pre>Sorry, your Raspberry Pi is not supported.
Please run MagicMirror on a Raspberry Pi 2 or 3.
If this is a Pi Zero, you are in the same boat as the original Raspberry Pi.
You must run in server only mode.</pre

[2017-05-22 06:32] priya99 commented on #894
I am stuck there since last 3-4 days.If something is missing or wrong please correct me.Any help appreciated.

[2017-05-22 09:06] cxlwill opened #902 "Installation stuck at chromedriver download"
My fresh installation has been stucking at `node ./download-chromedrive.js` for about 3 hours. No errors but just nothing happened except two warn that coffee-script and jsonlint is preferred installed globally. The former process worked well. I have searched the relevant topics on the forum, not much help. Anyone can help me? Should I keep waiting?

My little guess is that the download process ne

[2017-05-22 10:35] #902 closed

[2017-05-22 11:57] fewieden commented on #894
There is no issue, you just did not understand that the module doesn't log in the same place as the node helper.

Node helper -> server -> logs into terminal
Module -> client -> logs into browser/electron

![test](https://cloud.githubusercontent.com/assets/9334168/26307772/8a01a664-3ef6-11e7-9380-7b6127696623.PNG)

[2017-05-22 15:08] Lausbuab1 opened #903 "Can't install NPM"
When submitting a new issue, please supply the following information:

**Platform**: Raspberry Pi Zero (Debian Jessie)

**Node Version**: v7.10.0 (latest)

**MagicMirror Version**: newest Java version

**Description**: Can't install NPM, always getting the same error

**Steps to Reproduce**: npm install && npm start

**Expected Results**: should be installed.

**Actual Results**: getting error.

E

[2017-05-23 07:57] priya99 commented on #894
Thanks  for the reply.

[2017-05-23 13:02] nhubbard commented on #901
@dpapathanasiou The difference is mostly hardware changes, like more USB ports and better board arrangement. Unfortunately, that does place you within the same spectrum as the original Raspberry Pi.

[2017-05-25 15:21] roramirez commented on #901
@dpapathanasiou What output show you the command?

`uname -a`

The issue is  if the electron is available for the architecture of your device. If not only the only way is run [as _serveronly_ option](https://github.com/MichMich/MagicMirror#server-only)

You can follow and try the instructions in the installer script. If it work for you  send a PullRequest to fix this.

[2017-05-25 15:43] aramaki87 commented on #884
Please also fix at https://magicmirror.builders

[2017-05-26 02:30] AFDM74 commented on #901
@roramirez, Can you please explain more about the server mode?

I'm not sure if I got this right, correct me if I'm wrong.

As I'm understanding to make MagicMirror run in the RaspberryPi 1 (My model is the same as @dpapathanasiou) I will have to run it in server mode, because the Electron App is not available to this RPi model architecture. @MichMich writes that installations on the RPi 1 must be

[2017-05-26 02:40] CatherineMG opened #905 "I ran the Automatic Installer (Raspberry Pi Only!) and now T'm not sure what to do next"
\e[92mWe're ready! Run \e[1m\e[97mDISPLAY=:0 npm start\e[0m\e[92m from the ~/MagicMirror directory to start your MagicMirror.\e[0m"

[2017-05-26 05:26] z0diak commented on #884
@aramaki87 what do you mean?

[2017-05-26 12:51] MichMich commented on #905
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-05-26 12:51] #905 closed

[2017-05-26 12:51] MichMich commented on #903
Please refer to http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain open, please let me know.

[2017-05-26 12:51] #903 closed

[2017-05-26 12:53] MichMich commented on #901
The guide you are referring to is talking about version 1. (As stated above the guide). This is version 2 which focusses on RPi 3 but might work on the Pi2 B+. If you need help getting it up and running (for example using the server only mode), please check out http://forum.magicmirror.builders for support and troubleshooting.

I'm closing this issue for now. If you feel this issue should remain o

[2017-05-26 12:53] #901 closed

[2017-05-26 12:54] MichMich commented on #894
I guess it's solved :) Closing it for now ...

[2017-05-26 12:54] #894 closed

[2017-05-26 12:55] MichMich commented on #887
Closing due to inactivity.

[2017-05-26 12:55] #887 closed

[2017-05-26 12:56] MichMich commented on #868
Did this approach solve the issue for you? (In other words: can I close this issue?)

[2017-05-26 12:57] MichMich commented on #847
I think I agree. Feel free to send a PR.

[2017-05-26 12:58] MichMich commented on #839
@roramirez Can I close this issue?

[2017-05-26 12:59] MichMich commented on #838
All mentioned issues are non MagicMirror specific. Therefor I close this issue. If I need to reopen it, feel free to let me know.

[2017-05-26 13:00] #838 closed

[2017-05-27 13:45] athuldevin commented on #838
then can you tell me where is the problem

[2017-05-28 19:54] ezar opened #906 "MMM-voice sendSocketNotification is not a function"
1|mm       | MMM-voice: Checking files.
1|mm       | MMM-voice: Starting pocketsphinx.
1|mm       | Whoops! There was an uncaught exception...
1|mm       | TypeError: this.sendSocketNotification is not a function
1|mm       |     at fs.appendFile (/home/pi/MagicMirror/modules/MMM-voice/node_helper.js:311:22)
1|mm       |     at /home/pi/MagicMirror/modules/MMM-voice/node_modules/graceful-fs/gracef

[2017-05-28 20:41] HawkingJan commented on #868
I wouln't call the switch to absolute dates a real solution for an issue that occurs on relative dates. So for me this issue is not solved.

[2017-05-29 16:46] peterrobie opened #907 "StyleLint and Moments causing errors"
**Platform**: Mac OS

**Node Version**: 6.1.3

**MagicMirror Version**: v2

**Description**: Clone repo and get console errors on stylelint missing. Fixed those by changing the package.json to use the latest version and then received errors that moment was not a function. Tried installing moment globally and updating the local version with no success.

**Steps to Reproduce**: Clone repo to Mac OS

[2017-05-29 17:29] fewieden commented on #907
the install script is running another installation after success in the vendor folder where the magicmirror is looking for the moment script, if your installation failed you probably don't have the dependencies in the vendor folder

[2017-05-30 19:12] saraalvin commented on #440
Same problem as @priya99 here!

[2017-05-31 03:56] roramirez commented on #440
Here are a module create example where you can use the notices in both ways

https://github.com/roramirez/MagicMirror-Module-Template

[2017-05-31 11:18] fewieden commented on #440
@saraalvin he didn't had an issue with the code, it was a problem of understanding how the system works see #894

[2017-05-31 17:38] saraalvin commented on #440
Hi! Thanks for the quick reply :)

I think I'm following the general rules:
- I send a notification from module to node_helper in the start function.
- I understand that module and node_helper logs appear in different consoles.
- As suggested [here](https://github.com/MichMich/MagicMirror/issues/196), I avoid calling directly to sendSocketNotification from start() in the module, using an intermedi

[2017-06-04 08:40] wbleek opened #910 "Clock: showWeek does not honor language setting"
When switching week display on in the Clock module (showWeek: true) the word "Week" displays even though German / de is set as language and all other modules use German.

When submitting a new issue, please supply the following information:

**Platform**: Raspberry Pi 3, Raspberrian Jessie Light.

**Node Version**: v6.10.3

**MagicMirror Version**: 2.1.1 (2017-04-01).

[2017-06-04 12:43] fboulegue opened #911 "iCloud Cal Wrong times"
I added my iCloud Calendars but these events always have +2h in it anyway to fix this?

[2017-06-04 12:46] #911 closed

[2017-06-05 14:36] develuxe commented on #884
@z0diak He probably meant the tutorial here -> https://forum.magicmirror.builders/topic/236/complete-setup-tutorial/6

[2017-06-05 14:40] z0diak commented on #884
@develuxe Yes, I also thought this way, but since we've changed the code in way to keep execution command the same (not what was suggested by roramirez) there is no need to update tutorial

[2017-06-05 14:45] develuxe commented on #884
@z0diak I've found this thread because I had the exact same problem. I followed the linked tutorial. With the posted workaroung I dont get this error. Just fyi

[2017-06-05 18:19] QNimbus commented on #910
This has been fixed in the 'development' branch, so it seems. I was only able to reproduce your issue on 'master'.

[2017-06-06 03:25] roramirez commented on #910
Hi @wbleek

Please, close this issue.

[2017-06-06 21:45] #891 closed

[2017-06-08 13:36] Moggels opened #914 "Zoom-Error"
Hi,
I have some issues with the zoom-function in the config.txt.
I set the zoom for testing to a value of 0.7 like this:

`zoom: 0.7,
`
After this i wanted to set it back with deleting the code-line but nothing happened.
I tried to reset it with:
`zoom: 1.0,
`
but nothing changes. It doesnt even mather if the number is 0 or 100, the size of everything stays the same. My problem now is that the zoo

[2017-06-08 16:24] fewieden commented on #914
Can't reporduce your issue.

Setting `zoom: 0.25,` gives a zoom factor of 4.
By deleting this line again it's back to default.
Also when setting `zoom: 1,`.

[2017-06-11 10:41] wbleek commented on #910
I took a look at the current implementation and in my opinion it does not work for German.

English: "Week 32"
German: "32. Kalenderwoche", "32. Woche", "32. KW"

It is not idiomatic to write "Woche 32". You would use an ordinal number and put it at the start.

In rare instances "KW 32" would be acceptable (e.g. not enough space).